Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Added new cards' scripts
  pre-release/c101109032.lua
  pre-release/c101109034.lua
  pre-release/c101109035.lua
  pre-release/c101109036.lua
  pre-release/c101109038.lua
  pre-release/c101109048.lua
  pre-release/c101109068.lua
  pre-release/c101109078.lua
  pre-release/c101109080.lua
Owners: @pyrQ

"Branded Exile" fix
  official/c6763530.lua
Owners: @pyrQ

Fix Dark Factory of Mass Production (Rush)
  rush/c160310003.lua
Owners: @ClementLouis

Hydralander Orbit fix
  pre-release/c101109039.lua
  rush/c160310003.lua
Owners: @pyrQ, @ClementLouis

Multiple POTE card fixes
  pre-release/c100290001.lua
  pre-release/c101109017.lua
  pre-release/c101109020.lua
  pre-release/c101109026.lua
Owners: @pyrQ

update "Rikka" cards
  card_counter_constants.lua
  cards_specific_functions.lua
  official/c32557233.lua
  official/c33491462.lua
  official/c60880471.lua
  official/c68941332.lua
  official/c69164989.lua
  official/c71002019.lua
  pre-release/c101109027.lua
  pre-release/c101109066.lua
Owners: @pyrQ

"Rikka" small fix
  cards_specific_functions.lua
Owners: @pyrQ

Add Rush card constant
  card_counter_constants.lua
Owners: @pyrQ

Add Rush card constant
  card_counter_constants.lua
  constant.lua
Owners: @pyrQ

fix "Mysterune of the Raging Storm"
  cards_specific_functions.lua
  official/c93229151.lua
Owners: @pyrQ

fixes v1
  rush/c160009052.lua
  rush/c160203032.lua
Owners: @ClementLouis

Necromaid Nana fix
  rush/c160406003.lua
Owners: @ClementLouis

Add files via upload
  pre-release/c100428024.lua
  pre-release/c100428025.lua
  pre-release/c100428026.lua
  pre-release/c100428027.lua
  pre-release/c100428030.lua
  pre-release/c100428031.lua
  pre-release/c100428033.lua
  pre-release/c100428034.lua
  pre-release/c100428035.lua
  pre-release/c100428036.lua
Owners: @pyrQ

Add files via upload
  card_counter_constants.lua
  cards_specific_functions.lua
Owners: @pyrQ

"Accel Synchro Stardust Dragon" fix
  official/c30983281.lua
Owners: @pyrQ

Update "Drone Pawn"
  unofficial/c511009741.lua
Owners: @larry126

Update "Ash Blossom & Joyous Spring" to detect PossibleOperationInfo
  official/c14558127.lua
Owners: @pyrQ

Batch 1
  official/c29913783.lua
  official/c40591390.lua
  official/c82321037.lua
  official/c85431040.lua
  official/c96746083.lua
Owners: @pyrQ

Batch 2
  official/c1409474.lua
  official/c20191720.lua
  official/c35488287.lua
  official/c52566270.lua
  official/c62742651.lua
  official/c85431040.lua
Owners: @pyrQ

Batch 3
  official/c20579538.lua
  official/c26118970.lua
  official/c51570882.lua
  official/c52566270.lua
  official/c56401775.lua
  official/c60037599.lua
  official/c62560742.lua
  official/c66752837.lua
  official/c91272072.lua
  official/c97631303.lua
Owners: @pyrQ

Update Toadally Awesome
  official/c90809975.lua
Owners: @pyrQ

Batch 5
  official/c11228035.lua
  official/c12571621.lua
  official/c12940613.lua
  official/c15721392.lua
  official/c16674846.lua
  official/c19828680.lua
  official/c20426176.lua
  official/c20590784.lua
  official/c22747316.lua
  official/c22900598.lua
  official/c24050692.lua
  official/c24590232.lua
  official/c27503418.lua
  official/c32120116.lua
  official/c32441317.lua
  official/c32828635.lua
  official/c34230233.lua
  official/c34293667.lua
  official/c3775068.lua
  official/c44889144.lua
  official/c4998619.lua
  official/c53291093.lua
  official/c58012707.lua
  official/c60158866.lua
  official/c60461804.lua
  official/c6459419.lua
  official/c65664792.lua
  official/c66127916.lua
  official/c78161960.lua
  official/c82045034.lua
  official/c86483512.lua
  official/c90809975.lua
  official/c9287078.lua
  official/c93191801.lua
  official/c95953557.lua
  official/c96729612.lua
  official/c99049589.lua
Owners: @pyrQ

Last batch with Ghost Belle-related cards
  official/c34293667.lua
  official/c60037599.lua
  official/c73082255.lua
  pre-release/c100428024.lua
  pre-release/c100428026.lua
Owners: @pyrQ

Batch 1 (Ash Blossom-related cards)
  official/c20248754.lua
  official/c21915012.lua
  official/c25862681.lua
  official/c3040496.lua
  official/c41114306.lua
  official/c47674738.lua
  official/c49088914.lua
  official/c49158617.lua
  official/c49776811.lua
  official/c61027400.lua
  official/c64804316.lua
  official/c75014062.lua
  official/c75311421.lua
  official/c76794549.lua
  official/c84425220.lua
  official/c85497611.lua
  official/c87897777.lua
  official/c91903221.lua
  official/c91953000.lua
  official/c94253655.lua
  official/c96026108.lua
  official/c98093548.lua
Owners: @pyrQ

Rename pre-release/c100200217.lua to official/c96084564.lua
  official/c96084564.lua
Owners: @pyrQ

Rename pre-release/c100284001.lua to official/c3103067.lua
  official/c3103067.lua
Owners: @pyrQ

Rename pre-release/c100284002.lua to official/c38105306.lua
  official/c38105306.lua
Owners: @pyrQ

Update and rename pre-release/c100284003.lua to official/c85758066.lua
  official/c85758066.lua
Owners: @pyrQ

"Aileron" + "25th Anniversary Ultimate Kaiba Set" official release script updates
  official/c3103067.lua
  official/c38105306.lua
  official/c85758066.lua
  official/c96084564.lua
Owners: @pyrQ

Fixes
  official/c1621413.lua
  official/c76794549.lua
  official/c82045034.lua
Owners: @pyrQ

Update "Adamancipator Friends"
  official/c99927991.lua
Owners: @pyrQ

Fix "Ash Blossom and Joypous Spring"
  official/c14558127.lua
Owners: @pyrQ

Update "Ghost Belle & Haunted Mansion" to detect PossibleOperationInfo
  official/c73642296.lua
Owners: @pyrQ

Update "Underworld Goddess of the Closed World"
  official/c98127546.lua
Owners: @pyrQ

More updates to match "Ghost Belle & Haunted Mansion)
  official/c13048472.lua
  official/c13117073.lua
  official/c1322368.lua
  official/c17688543.lua
  official/c18666161.lua
  official/c23837054.lua
  official/c25415161.lua
  official/c25726386.lua
  official/c27693363.lua
  official/c32671443.lua
  official/c32768230.lua
  official/c34834619.lua
  official/c37313338.lua
  official/c39185163.lua
  official/c4017398.lua
  official/c46271408.lua
  official/c50277355.lua
  official/c51208046.lua
  official/c51227866.lua
  official/c57511992.lua
  official/c6186304.lua
  official/c62383431.lua
  official/c66386380.lua
  official/c68223137.lua
  official/c7142724.lua
  official/c71587526.lua
  official/c72881007.lua
  official/c73414375.lua
  official/c81172176.lua
  official/c83116692.lua
  official/c90290572.lua
  official/c9070454.lua
  official/c95286165.lua
  official/c96546575.lua
  official/c98020526.lua
  official/c98787535.lua
  official/c99243014.lua
  official/c99315585.lua
Owners: @pyrQ

G Golem Subborn Menhir
  pre-release/c100290043.lua
Owners: @pyrQ

Update cards related to Ash Blossom
  official/c12148078.lua
  official/c12289247.lua
  official/c21903613.lua
  official/c22555834.lua
  official/c30241314.lua
  official/c34124316.lua
  official/c36637374.lua
  official/c37750912.lua
  official/c39238953.lua
  official/c52553471.lua
  official/c56673112.lua
  official/c6186304.lua
  official/c77565204.lua
  official/c86937530.lua
Owners: @pyrQ

Update "Fusion Over"
  official/c52553471.lua
Owners: @pyrQ

Update "Lubellion the Searing Dragon"
  official/c70534340.lua
Owners: @pyrQ

Batch 1: Fusion effects that interact with Belle
  official/c37961969.lua
  official/c47705572.lua
  official/c572850.lua
  official/c59123937.lua
  official/c72291412.lua
  official/c73360025.lua
  official/c74078255.lua
  official/c87746184.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
