Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

updated some cards for new rulings
  rush/c160005024.lua
  rush/c160201015.lua
  rush/c160421012.lua
  rush/c160421112.lua
Owners: @ClementLouis

Fix to Pyro Clock of Destiny
  official/c1082946.lua
Owners: @pyrQ

Updated some cards for a new Rush ruling
  rush/c160005024.lua
  rush/c160201015.lua
  rush/c160421012.lua
  rush/c160421112.lua
Owners: @ClementLouis

added Rogue of Archfiend
  rush/c160206035.lua
Owners: @ClementLouis

Update c160206035.lua
  rush/c160206035.lua
Owners: @ClementLouis

added Rush script (#919)
  rush/c160206035.lua
Owners: @ClementLouis

"Dai Dance" fix
  official/c50696588.lua
Owners: @pyrQ

Update cards to include listed names
  official/c4162088.lua
  official/c51085303.lua
  official/c58054262.lua
  official/c66607691.lua
Owners: @pyrQ

Fix Scapegoat (GOAT)
  goat/c504700123.lua
Owners: @pyrQ

Update "Blue-Eyes Ultimate Dragon"
  official/c23995346.lua
  official/c23995347.lua
  official/c23995348.lua
  skill/c300304007.lua
Owners: @pyrQ, @ClementLouis

"Swordsoul Assessment" fix
  official/c78836195.lua
Owners: @pyrQ

Removed incorrect flag from "You and A.I."
  official/c32056070.lua
Owners: @pyrQ

"Lua the Skysavior Angel" fix
  rush/c160012021.lua
Owners: @ClementLouis

Synchro procedure update
  proc_synchro.lua
Owners: @pyrQ

Small fix "Prevention Star"
  official/c94303232.lua
Owners: @pyrQ

"Tearalaments Sulliek" fix
  official/c74920585.lua
Owners: @pyrQ

added Slot Machine PG-7
  rush/c160010044.lua
  rush/c160206038.lua
  rush/c160314001.lua
Owners: @ClementLouis

Update "Giganticastle"
  official/c63422098.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160010044.lua
  rush/c160206038.lua
  rush/c160314001.lua
Owners: @ClementLouis

Small fix Yajiro Invader
  official/c10852583.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100430001.lua
  pre-release/c100430002.lua
  pre-release/c100430003.lua
  pre-release/c100430004.lua
  pre-release/c100430005.lua
  pre-release/c100430006.lua
Owners: @pyrQ

"Grapha, Dragon Overlord of Dark World" fix
  official/c39552584.lua
Owners: @pyrQ

"Eternal Reverse" fix
  unofficial/c100000364.lua
Owners: @larry126

Fix for "Transcendrake Meteoros"
  pre-release/c100430002.lua
Owners: @pyrQ

"Transcendrake Meteoros" fix
  pre-release/c100430002.lua
Owners: @pyrQ

added Pot of Arrogance
  rush/c160206006.lua
Owners: @ClementLouis

Update c160206006.lua
  rush/c160206006.lua
Owners: @ClementLouis

added Rush script (#922)
  rush/c160206006.lua
Owners: @ClementLouis

Update rush scripts
  rush/c160011040.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160011043.lua
  rush/c160011044.lua
  rush/c160011050.lua
  rush/c160011052.lua
  rush/c160011053.lua
  rush/c160011058.lua
  rush/c160011059.lua
  rush/c160012011.lua
  rush/c160012030.lua
  rush/c160012037.lua
  rush/c160012042.lua
  rush/c160012043.lua
  rush/c160012045.lua
  rush/c160012047.lua
  rush/c160012062.lua
  rush/c160205023.lua
  rush/c160205028.lua
  rush/c160205030.lua
  rush/c160205107.lua
  rush/c160402023.lua
  rush/c160437010.lua
Owners: @ClementLouis

Small fix "Prevention Star"
  official/c94303232.lua
Owners: @pyrQ

Small fix "Rapid Trigger"
  official/c67526112.lua
Owners: @pyrQ

"Kashtira Arise-Heart" fix
  official/c48626373.lua
Owners: @pyrQ

Update "Kashtira Arise-Heart"
  official/c48626373.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200230.lua
Owners: @pyrQ

"Superheavy Samurai Constable" official release script update
  official/c5182107.lua
Owners: @pyrQ

Update "Duel Link Dragon, the Duel Dragon"
  official/c60025883.lua
Owners: @pyrQ

Add new auxiliary functions
  cards_specific_functions.lua
Owners: @pyrQ

Update auxiliary function
  cards_specific_functions.lua
Owners: @pyrQ

Added new constant
  card_counter_constants.lua
  cards_specific_functions.lua
Owners: @pyrQ

Added constants
  archetype_setcode_constants.lua
Owners: @pyrQ
