Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Toon Briefcase" fix
  official/c5832914.lua
Owners: @pyrQ

Update c3019642.lua
  official/c3019642.lua
Owners: @pyrQ

Add files via upload
  official/c18967507.lua
  official/c40418351.lua
  official/c41230939.lua
  official/c77625948.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

Update c18967507.lua
  official/c18967507.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

"Cyberdark" functions update
  cards_specific_functions.lua
  official/c18967507.lua
  official/c3019642.lua
  official/c40418351.lua
  official/c41230939.lua
  official/c77625948.lua
Owners: @pyrQ

Misc clean up on some anime cards
  unofficial/c511000148.lua
  unofficial/c511000150.lua
Owners: @larry126

Fix "Number 39: Utopia"
  official/c84013237.lua
Owners: @pyrQ

Fix "Ra (Manga)"
  unofficial/c513000134.lua
Owners: @larry126

Added constant for Kuriboh
  constant.lua
Owners: @pyrQ

Update c20065322.lua
  official/c20065322.lua
Owners: @pyrQ

Update c89086566.lua
  official/c89086566.lua
Owners: @pyrQ

Update c40703222.lua
  official/c40703222.lua
Owners: @pyrQ

Update c511000150.lua
  unofficial/c511000150.lua
Owners: @larry126

Update c511000690.lua
  unofficial/c511000690.lua
Owners: @larry126

Update c511000152.lua
  unofficial/c511000152.lua
Owners: @larry126

Update c511000153.lua
  unofficial/c511000153.lua
Owners: @larry126

Update c511000151.lua
  unofficial/c511000151.lua
Owners: @larry126

Update c511000148.lua
  unofficial/c511000148.lua
Owners: @larry126

Updated old cards to use the new "Kuriboh" constant
  official/c20065322.lua
  official/c40703222.lua
  official/c89086566.lua
  unofficial/c511000148.lua
  unofficial/c511000150.lua
  unofficial/c511000151.lua
  unofficial/c511000152.lua
  unofficial/c511000153.lua
  unofficial/c511000690.lua
Owners: @pyrQ, @larry126

Added new cards' scripts
  pre-release/c100278001.lua
  pre-release/c100278002.lua
  pre-release/c100278003.lua
  pre-release/c100278004.lua
  pre-release/c100278005.lua
  pre-release/c100278006.lua
  pre-release/c100278011.lua
  pre-release/c100278012.lua
  pre-release/c100278041.lua
  pre-release/c100278042.lua
  pre-release/c100341023.lua
  pre-release/c100342021.lua
  pre-release/c100342051.lua
  pre-release/c100342055.lua
Owners: @pyrQ

"Number 99: Utopia Dragner" update
  pre-release/c100342051.lua
Owners: @pyrQ

Complete listed names
  pre-release/c100278005.lua
  pre-release/c100278006.lua
Owners: @pyrQ

Fix "Performapal Miss Director (Manga)"
  unofficial/c511009022.lua
Owners: @larry126

"Dragonroid" fix
  pre-release/c100278011.lua
Owners: @pyrQ

Add files via upload
  official/c35394356.lua
  official/c98204536.lua
  pre-release/c100278025.lua
Owners: @pyrQ

Update c35394356.lua
  official/c35394356.lua
Owners: @pyrQ

Update c100278025.lua
  pre-release/c100278025.lua
Owners: @pyrQ

"Do X instead of 1 of those materials" fix
  official/c35394356.lua
  official/c98204536.lua
  pre-release/c100278025.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101106101.lua
  pre-release/c101106102.lua
  pre-release/c101106103.lua
Owners: @pyrQ

Fix "Hyper-Rank-Up-Magic Hope Force"
  pre-release/c100342055.lua
  unofficial/c511009375.lua
Owners: @pyrQ, @larry126

Fix "Astrograph Sorcerer (Anime)"
  unofficial/c511010507.lua
Owners: @larry126

Fix "Wisel Carrier (TF5)"
  unofficial/c511600405.lua
Owners: @larry126

"Hyper-Rank-Up-Magic Hope Force" fix
  pre-release/c100342055.lua
Owners: @pyrQ

Fixes for "Utopia Beyond (Anime)
  unofficial/c513000060.lua
Owners: @larry126

Rename pre-release/c100341001.lua to official/c79875526.lua
  official/c79875526.lua
Owners: @pyrQ

Update and rename pre-release/c100341022.lua to official/c32768230.lua
  official/c32768230.lua
Owners: @pyrQ

Update and rename pre-release/c100341023.lua to official/c64753988.lua
  official/c64753988.lua
Owners: @pyrQ

Update constant.lua
  constant.lua
Owners: @pyrQ
