Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Added new card scripts
  pre-release/c101208033.lua
  pre-release/c101208034.lua
  pre-release/c101208068.lua
  pre-release/c101208069.lua
  pre-release/c101208080.lua
Owners: @pyrQ

added Silver Red Pulsar
  rush/c160020002.lua
Owners: @ClementLouis

"Rare Metalmorph" fix
  official/c12503902.lua
Owners: @pyrQ

"Lightstorm Dragon" update
  official/c10515412.lua
Owners: @pyrQ

fixed Galactic Chaos Enforcer
  rush/c160020005.lua
Owners: @ClementLouis

added new rush cards
  rush/c160321001.lua
  rush/c160321029.lua
  rush/c160322001.lua
  rush/c160322035.lua
Owners: @ClementLouis

fixed Harpie Lady Sisters Triangle Beauty
  rush/c160322001.lua
Owners: @ClementLouis

fixed Harpie Lady Sisters Triangle Beauty
  rush/c160322001.lua
Owners: @ClementLouis

added script for new alt art
  rush/c160401017.lua
Owners: @ClementLouis

added Space Folnir
  proc_rush.lua
  rush/c160020011.lua
Owners: @pyrQ, @ClementLouis

"Chasmatis, Dragon Ruler of Auroras" fix
  utility.lua
Owners: @pyrQ

added new legend id
  proc_rush.lua
Owners: @pyrQ

"Valkyrie Zweite (Anime)" fix
  unofficial/c100000533.lua
Owners: @larry126

"Malefic Selector" update
  official/c18378992.lua
Owners: @pyrQ

update c18378992.lua
  official/c18378992.lua
Owners: @pyrQ

Some unofficial card fixes
  unofficial/c511000329.lua
  unofficial/c511000366.lua
  unofficial/c511005701.lua
  unofficial/c513000015.lua
Owners: @larry126

added Delirium Polynea
  rush/c160020033.lua
Owners: @ClementLouis

"Bettan Bat" fix
  official/c84079032.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160020040.lua
  rush/c160020050.lua
Owners: @pyrQ, @ClementLouis

Added new constant
  constant.lua
Owners: @pyrQ

Various card fixes
  official/c2772337.lua
  official/c32762201.lua
  official/c42021064.lua
  official/c46412900.lua
  official/c47297616.lua
  official/c48654267.lua
  official/c63526052.lua
  official/c70538272.lua
  official/c82308875.lua
  official/c94845588.lua
Owners: @pyrQ

"Rank-Up-Magic - The Seventh One (Anime)" fix
  unofficial/c513000008.lua
Owners: @larry126

"Rank-Up-Magic - The Seventh One (Anime)" fix
  unofficial/c513000008.lua
Owners: @larry126

Some script fixes
  official/c24557335.lua
  official/c31550470.lua
  official/c35514096.lua
  official/c40921744.lua
  official/c46789706.lua
  official/c69248256.lua
  official/c82556058.lua
  official/c92924317.lua
Owners: @pyrQ

"Beastborg Fusioner" fix
  unofficial/c511001548.lua
Owners: @larry126

added new rush cards
  rush/c160020055.lua
  rush/c160020063.lua
Owners: @ClementLouis

"Verre Magic - Lacrima of Light" + "Volcanic Emission" fix
  official/c58143766.lua
  official/c64756282.lua
  official/c73664385.lua
Owners: @pyrQ

"Verre Magic - Lacrima of Light" fix
  official/c73664385.lua
Owners: @pyrQ

Update "Number 92: Heart-eartH Dragon"
  unofficial/c511000368.lua
Owners: @larry126

Update c511000368.lua
  unofficial/c511000368.lua
Owners: @larry126

"Magikey Mechmusket - Batosbuster" fix
  official/c19489718.lua
Owners: @pyrQ

Fix "Number 92: Heart-eartH Dragon (Anime)"
  unofficial/c511000368.lua
Owners: @larry126

"Number 92: Heart-eartH Dragon (Anime)" fixes
  unofficial/c511000368.lua
Owners: @larry126

added Card Defender
  rush/c160020024.lua
Owners: @ClementLouis

"Destruction Swordsman Fusion" fix
  official/c41940225.lua
Owners: @pyrQ

Script updates
  official/c2602411.lua
  official/c26746975.lua
  official/c34358408.lua
  official/c37663536.lua
  official/c38601126.lua
  official/c65037172.lua
  official/c67030233.lua
  official/c76218313.lua
  official/c80254726.lua
  official/c92428405.lua
  official/c92650749.lua
Owners: @pyrQ

"Number 92: Heart-eartH Dragon (Anime)" fix
  unofficial/c511000368.lua
Owners: @larry126

added Delirium Rosalia
  rush/c160020034.lua
Owners: @ClementLouis

"Despised Reality" fix
  unofficial/c511001214.lua
Owners: @larry126

"Destiny Draw (Skill)" fix
  skill/c300201002.lua
Owners: @ClementLouis
