Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Update "Necrovalley Temple"
  official/c56773577.lua
Owners: @NaimSantos, @pyrQ

Update "Light of Intervention"
  official/c62867251.lua
Owners: @NaimSantos, @pyrQ

Update c62867251.lua
  official/c62867251.lua
Owners: @NaimSantos, @pyrQ

Updated "Necrovalley Temple"
  official/c56773577.lua
Owners: @NaimSantos, @pyrQ

Updated "Necrovalley Temple"
  official/c56773577.lua
Owners: @NaimSantos, @pyrQ

Minor fix "Chaos Grepher"
  official/c18859369.lua
Owners: @NaimSantos, @pyrQ

Update "Light of Intervention"
  official/c62867251.lua
Owners: @NaimSantos, @pyrQ

Small fix "Terminal Countdown"
  unofficial/c511000071.lua
Owners: @larry126

Remove redundancy in "Terminal Countdown"
  unofficial/c511000071.lua
Owners: @larry126

Small fix "Oneiros, the Dream Mirror Erlking"
  pre-release/c101103042.lua
Owners: @NaimSantos, @pyrQ

Fix incorrect parameter order in "Witchcrafter Pittore"
  official/c95245544.lua
Owners: @NaimSantos, @pyrQ

Fix "Black Garden"
  official/c71645242.lua
Owners: @NaimSantos, @pyrQ

Updated "Crystal Conclave"
  official/c87259933.lua
Owners: @NaimSantos, @pyrQ

Small fix "Lunalight Fusion"
  official/c87931906.lua
Owners: @NaimSantos, @pyrQ

Fix tokens sumoned by scapegoat
  goat/c504700123.lua
Owners: @NaimSantos, @pyrQ

Update card searchers that search themselves
  goat/c504700008.lua
  goat/c504700011.lua
  goat/c504700022.lua
  goat/c504700054.lua
  goat/c504700067.lua
  goat/c504700084.lua
  goat/c504700123.lua
  goat/c504700143.lua
  goat/c504700167.lua
Owners: @NaimSantos, @pyrQ

Small fix "Mirror Imagine Secondary 9"
  unofficial/c511009646.lua
Owners: @larry126

Add "Hyper-Ancient Shark Megalodon (Anime)"
  unofficial/c511003207.lua
Owners: @larry126

Update c511003207.lua
  unofficial/c511003207.lua
Owners: @larry126

Small fix "Blessed Winds"
  official/c15177750.lua
Owners: @NaimSantos, @pyrQ

Updated "Starliege Seyfert"
  official/c15381421.lua
Owners: @NaimSantos, @pyrQ

Updated "Meteornis Draitron"
  pre-release/c22398665.lua
Owners: @NaimSantos, @pyrQ

Updated "Armed Dragon Blitz"
  pre-release/c101103052.lua
Owners: @NaimSantos, @pyrQ

Update announce card opcodes
  constant.lua
Owners: @NaimSantos, @pyrQ

Script organization
  official/c21576077.lua
  official/c22398665.lua
  official/c57970721.lua
  official/c58793369.lua
  official/c84965420.lua
  official/c94187078.lua
  official/c95209656.lua
Owners: @NaimSantos, @pyrQ

added new scripts
  rush/c160003020.lua
  rush/c160003039.lua
Owners: @ClementLouis

Add "Ido the Supreme Magical Force (Anime)"
  unofficial/c511003208.lua
Owners: @larry126

Fix Ido the Supreme Magical Force
  official/c35984222.lua
Owners: @NaimSantos, @pyrQ

Fix for "White Aura Whale (Manga)"
  unofficial/c511009635.lua
Owners: @larry126

Update c511009635.lua
  unofficial/c511009635.lua
Owners: @larry126

Fix for "White Aura Whale (Manga)" (#436)
  unofficial/c511009635.lua
Owners: @larry126

Update c511002746.lua
  unofficial/c511002746.lua
Owners: @larry126

Small fix "Synchro Monument"
  unofficial/c511000039.lua
Owners: @larry126

Small fix "Synchro Monument"
  unofficial/c511000039.lua
Owners: @larry126

Update c511009635.lua
  unofficial/c511009635.lua
Owners: @larry126

Update c511002746.lua (#438)
  unofficial/c511002746.lua
Owners: @larry126

Update c511009635.lua (#439)
  unofficial/c511009635.lua
Owners: @larry126

added new scripts
  rush/c160003017.lua
  rush/c160003032.lua
  rush/c160003054.lua
Owners: @ClementLouis

Fix "Eternal Chaos"
  official/c25750986.lua
Owners: @NaimSantos, @pyrQ

added new script
  rush/c160003038.lua
  rush/c160003051.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
