Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

fixed Botonaginata the Music Princess
  rush/c160022009.lua
Owners: @ClementLouis

Script updates
  official/c18158397.lua
  official/c28388296.lua
  official/c33184236.lua
  official/c44874522.lua
  official/c66976526.lua
  official/c81269231.lua
  official/c85541675.lua
  unofficial/c511001262.lua
  unofficial/c511002984.lua
  unofficial/c511018024.lua
  unofficial/c511600133.lua
Owners: @pyrQ, @larry126

fix c511002984.lua
  unofficial/c511002984.lua
Owners: @larry126

Other updates to scripts with wrong setcode constants
  official/c85541675.lua
  unofficial/c100000025.lua
  unofficial/c511001101.lua
Owners: @pyrQ, @larry126

Various card script fixes
  official/c14553285.lua
  official/c21113684.lua
  official/c27556460.lua
  official/c33413279.lua
  official/c34446231.lua
  official/c36668118.lua
  official/c47027714.lua
  official/c4810828.lua
  official/c77700347.lua
  proc_workaround.lua
  utility.lua
Owners: @pyrQ

Update "Relationship"
  unofficial/c511001355.lua
Owners: @larry126

Fix Judgment of Anubis (Anime)
  unofficial/c511002446.lua
Owners: @larry126

Fix Vaccination (#1131)
  unofficial/c511004117.lua
Owners: @larry126

Fix Catapult Turtle (Pre-Errata) (#1189)
  pre-errata/c511000228.lua
Owners: @larry126

Fix Judgment of Anubis (Anime) (#1205)
  unofficial/c511002446.lua
Owners: @larry126

Fix Mask of Dispel and Mask of the Accursed
  official/c20765952.lua
  official/c56948373.lua
Owners: @pyrQ

added script for new alt art
  rush/c160401019.lua
Owners: @ClementLouis

Update "Supreme King Z-ARC (Anime)"
  unofficial/c511009441.lua
Owners: @larry126

fixed Piping Hot Delivery and First Cat Search
  rush/c160022045.lua
  rush/c160022046.lua
Owners: @ClementLouis

Fixed "R.B." monsters
  official/c33438265.lua
  official/c6043161.lua
  official/c79436874.lua
Owners: @pyrQ

"Power Patron Machine Doom-Z" fix
  official/c81650695.lua
Owners: @pyrQ

Update c511001101.lua
  unofficial/c511001101.lua
Owners: @larry126

Update "Performapal Curtain Call"
  unofficial/c511001254.lua
Owners: @larry126

updated Wicked Dragon Knight of Darkness
  rush/c160214042.lua
Owners: @ClementLouis

Added basic handling for tracking the phase that a monster was Normal/Special Summoned in
  proc_workaround.lua
Owners: @pyrQ

Update "Devil Mirage"
  unofficial/c511009650.lua
Owners: @larry126

Update "Junk Dragonlet (Manga)"
  unofficial/c511000738.lua
Owners: @larry126

Update c511000738.lua
  unofficial/c511000738.lua
Owners: @larry126

Update archetype name in scripts
  archetype_setcode_constants.lua
  pre-release/c100446001.lua
  pre-release/c100446002.lua
  pre-release/c100446003.lua
  pre-release/c100446004.lua
  pre-release/c100446005.lua
  pre-release/c100446006.lua
  pre-release/c100446007.lua
  pre-release/c100446009.lua
  pre-release/c100446010.lua
  pre-release/c100446011.lua
Owners: @pyrQ

Various card script fixes and updates
  card_counter_constants.lua
  official/c14087893.lua
  official/c14553285.lua
  official/c1784686.lua
  official/c21113684.lua
  official/c22283204.lua
  official/c22404675.lua
  official/c30998403.lua
  official/c31629407.lua
  official/c31924889.lua
  official/c33413279.lua
  official/c40441990.lua
  official/c44190146.lua
  official/c49033797.lua
  official/c52112003.lua
  official/c56673480.lua
  official/c58811192.lua
  official/c58981727.lua
  official/c59463312.lua
  official/c71413901.lua
  official/c78665705.lua
  pre-release/c100348005.lua
  proc_workaround.lua
  unofficial/c511002984.lua
  utility.lua
Owners: @pyrQ, @larry126

Added new card scripts
  pre-release/c100200278.lua
  pre-release/c100446008.lua
Owners: @pyrQ

Update c511001254.lua
  unofficial/c511001254.lua
Owners: @larry126

Update "Light Dragon @Ignister (Anime)"
  unofficial/c511600298.lua
Owners: @larry126

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new counter constant
  card_counter_constants.lua
Owners: @pyrQ

added scripts for new alt arts
  rush/c160022112.lua
  rush/c160022127.lua
  rush/c160022137.lua
  rush/c160022138.lua
  rush/c160022139.lua
  rush/c160022168.lua
Owners: @ClementLouis

"Metalfoes Vanisher" update
  official/c56518311.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100446016.lua
  pre-release/c100446017.lua
  pre-release/c100446018.lua
  pre-release/c100446019.lua
  pre-release/c100446020.lua
  pre-release/c100446021.lua
  pre-release/c100446022.lua
  pre-release/c100446023.lua
  pre-release/c100446024.lua
  pre-release/c100446025.lua
Owners: @pyrQ

"Enneacraft" fix
  pre-release/c100446016.lua
  pre-release/c100446017.lua
  pre-release/c100446018.lua
  pre-release/c100446019.lua
  pre-release/c100446020.lua
  pre-release/c100446021.lua
  pre-release/c100446022.lua
  pre-release/c100446023.lua
Owners: @pyrQ

"Enneapolis, the Sinquisition City" update
  pre-release/c100446024.lua
Owners: @pyrQ

"Enneacraft" Level 1s update
  pre-release/c100446016.lua
  pre-release/c100446017.lua
  pre-release/c100446018.lua
  pre-release/c100446019.lua
Owners: @pyrQ

"See Me Rolling" fix
  skill/c300309017.lua
Owners: @ClementLouis

Crumble Logos Fixes
  official/c29208536.lua
Owners: @pyrQ

Added new card script
  pre-release/c100444147.lua
Owners: @pyrQ

"Masked Knight" updates
  unofficial/c100004001.lua
  unofficial/c100004002.lua
  unofficial/c100004003.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
