Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

"Esper Girl" update
  official/c99070951.lua
Owners: @pyrQ

Add script for new delta repo
  .github/workflows/commit-delta-puppet-repo.yml
Owners: none

Fixed incorrect evaluations due to operator precedence
  official/c14001430.lua
  official/c16638212.lua
  official/c17132130.lua
  official/c17760003.lua
  official/c17841166.lua
  official/c2055403.lua
  official/c21639276.lua
  official/c22702055.lua
  official/c24521325.lua
  official/c27704731.lua
  official/c31629407.lua
  official/c32841045.lua
  official/c33814281.lua
  official/c34323367.lua
  official/c36361633.lua
  official/c44405066.lua
  official/c46396218.lua
  official/c73391962.lua
  official/c73936388.lua
  official/c7563579.lua
  official/c7934362.lua
  official/c83414006.lua
  official/c84339249.lua
  official/c84343351.lua
  official/c99397762.lua
  official/c99458769.lua
  pre-errata/c7563589.lua
Owners: @pyrQ

Fixed scripts with wrong operator precedence
  official/c15735108.lua
  official/c59197169.lua
  official/c65155517.lua
  official/c68246154.lua
  official/c77189532.lua
  unofficial/c511004003.lua
Owners: @pyrQ, @larry126

"Lunalight Gold Leo" update
  pre-release/c101301005.lua
Owners: @pyrQ

Add support for the DUEL_EXTRA_DECK_RITUAL flag
  constant.lua
  proc_ritual.lua
Owners: @pyrQ

Add new duel constants
  constant.lua
Owners: @pyrQ

"Alien Dog" update
  official/c15475415.lua
Owners: @pyrQ

fixed Explorer of the Temple
  rush/c160323010.lua
Owners: @ClementLouis

added new rush cards
  proc_rush.lua
  rush/c160016047.lua
  rush/c160021000.lua
  rush/c160021002.lua
  rush/c160021003.lua
  rush/c160021004.lua
  rush/c160021005.lua
  rush/c160021025.lua
  rush/c160021026.lua
  rush/c160021032.lua
  rush/c160021033.lua
  rush/c160021034.lua
  rush/c160021050.lua
  rush/c160021065.lua
  rush/c160021066.lua
  rush/c160021068.lua
  rush/c160021168.lua
Owners: @pyrQ, @ClementLouis

Fixed effects that set cards to the opponent's field
  official/c23002292.lua
  official/c47766694.lua
  official/c57314798.lua
  official/c63086455.lua
  official/c64659851.lua
  official/c64961254.lua
  official/c67248304.lua
  unofficial/c511000583.lua
Owners: @pyrQ, @larry126

missing keyword
  official/c64961254.lua
Owners: @pyrQ

"Metaltronus" fix
  official/c64664373.lua
Owners: @pyrQ

Fixed effects that set cards to the opponent's field (#1182)
  official/c23002292.lua
  official/c47766694.lua
  official/c57314798.lua
  official/c63086455.lua
  official/c64659851.lua
  official/c64961254.lua
  official/c67248304.lua
  unofficial/c511000583.lua
Owners: @pyrQ, @larry126

fixed Dedicated Curse of Dragon
  rush/c160021025.lua
Owners: @ClementLouis

Replace deprecated functions
  pre-release/c101301044.lua
  pre-release/c101301074.lua
Owners: @pyrQ

Explorer of the Temple update
  rush/c160323010.lua
Owners: @ClementLouis

Fix wrong comparison in xyz procedure
  proc_xyz.lua
Owners: @pyrQ

Fix "Darkness/Spell A (Darkness)"
  unofficial/c95000003.lua
Owners: @larry126

fixed Dark Sorcerer of Destruction and Harpie Lady 1 & 2 & 3
  rush/c160021004.lua
  rush/c160214032.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101208081.lua
  pre-release/c101208082.lua
  pre-release/c101208083.lua
  pre-release/c101208084.lua
  pre-release/c101208085.lua
  pre-release/c101208086.lua
  pre-release/c101208087.lua
  pre-release/c101208088.lua
  pre-release/c101208089.lua
  pre-release/c101301035.lua
  pre-release/c101301036.lua
  pre-release/c101301063.lua
  pre-release/c101301065.lua
  pre-release/c101301077.lua
Owners: @pyrQ

fixed Explorer of the Temple
  rush/c160323010.lua
Owners: @ClementLouis

"Skull Conductor" fix
  official/c62782218.lua
Owners: @pyrQ

"Phantom of Chaos" fix
  official/c30312361.lua
Owners: @pyrQ

"Sakra Vendirage" update
  pre-release/c101208088.lua
Owners: @pyrQ

"Magic Planter" fix
  official/c1073952.lua
Owners: @pyrQ

"Meklord Astro Dragon Triskelion" fix
  official/c4837861.lua
Owners: @pyrQ

"Triamid Loading" fix
  official/c64576557.lua
Owners: @pyrQ

"Deskbot 009" fix
  official/c25494711.lua
Owners: @pyrQ

"Ghostrick Fairy" fix
  official/c36239585.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101301050.lua
  pre-release/c101301078.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

"Supreme Rage" fix
  official/c84869738.lua
Owners: @pyrQ

Update "Nightmare Tri-Mirror"
  unofficial/c511001561.lua
Owners: @larry126

Update c511001561.lua
  unofficial/c511001561.lua
Owners: @larry126

Fix "Nightmare Tri-Mirror"
  unofficial/c511001561.lua
Owners: @larry126

fixed interaction with Maximum Mode and Ritual Summon
  proc_maximum.lua
Owners: @pyrQ

added scripts for new alt arts
  rush/c160401018.lua
  rush/c160435002.lua
Owners: @ClementLouis

Fixed cards with trigger effects to perform a Fusion Sumon
  official/c50042011.lua
  official/c60822251.lua
  official/c875572.lua
  official/c88919365.lua
  official/c93657021.lua
Owners: @pyrQ

Remove references to xyztempg in booster draft and sealed duel
  unofficial/c511005092.lua
  unofficial/c511005093.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
