Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update "Contagion of Madness"
  unofficial/c511000408.lua
Owners: @larry126

Update c511000408.lua
  unofficial/c511000408.lua
Owners: @larry126

Update "Number 65: Djinn Buster (Anime)"
  unofficial/c511010065.lua
Owners: @larry126

Added new card script
  pre-release/c100200273.lua
Owners: @pyrQ

Add description string to tokens summoned by Scapegoat (GOAT)
  goat/c504700123.lua
Owners: @pyrQ

Fix "Revelation of Hope (Manga)"
  unofficial/c511001631.lua
Owners: @larry126

Update "Tank Corps"
  unofficial/c511000881.lua
Owners: @larry126

added new rush cards
  rush/c160215031.lua
  rush/c160215032.lua
  rush/c160215036.lua
Owners: @ClementLouis

added Blaze Fiend Overlord Zebulth
  rush/c160215033.lua
Owners: @ClementLouis

Update "Tank Corps"
  unofficial/c511000881.lua
Owners: @larry126

Add new constants
  archetype_setcode_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

added Ominous Ogre of Yamimakai
  rush/c101302006.lua
Owners: @ClementLouis

update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

fix a typo
  archetype_setcode_constants.lua
Owners: @pyrQ

Update "Traplin"
  unofficial/c511005041.lua
Owners: @larry126

Update "Gouki Jet Ogre"
  official/c59644128.lua
Owners: @pyrQ

added script for Ominous Ogre of Yaminakai
  rush/c101302006.lua
  rush/c160215006.lua
Owners: @ClementLouis

updated rush cards that take control
  rush/c160015065.lua
  rush/c160019046.lua
  rush/c160020023.lua
  rush/c160205061.lua
  rush/c160323029.lua
  rush/c160455005.lua
Owners: @ClementLouis

added The Sword of Zera
  rush/c160215010.lua
Owners: @ClementLouis

"Juraishin, the Cursed Thunder God" update
  official/c78693036.lua
Owners: @pyrQ

added Wicked Dragon with the Ominous Head
  rush/c160215007.lua
Owners: @ClementLouis

"Hidden Passage" fix
  unofficial/c511000060.lua
Owners: @larry126

added Grace Princess Kaori
  rush/c160215018.lua
Owners: @ClementLouis

added Grace Bird
  rush/c160215021.lua
Owners: @ClementLouis

"Torna the Magician of Whirlwinds" fix
  rush/c160402051.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100445057.lua
  pre-release/c100445058.lua
  pre-release/c100445059.lua
  pre-release/c101302006.lua
  pre-release/c101302012.lua
  pre-release/c101302013.lua
  pre-release/c101302014.lua
  pre-release/c101302015.lua
  pre-release/c101302016.lua
  pre-release/c101302017.lua
  pre-release/c101302020.lua
  pre-release/c101302021.lua
  pre-release/c101302033.lua
  pre-release/c101302034.lua
  pre-release/c101302036.lua
  pre-release/c101302041.lua
  pre-release/c101302050.lua
  pre-release/c101302056.lua
  pre-release/c101302061.lua
  pre-release/c101302062.lua
  pre-release/c101302063.lua
  pre-release/c101302065.lua
  pre-release/c101302066.lua
  pre-release/c101302076.lua
Owners: @pyrQ

"Mystical Space Typhoon" update
  official/c5318639.lua
Owners: @pyrQ

add SET_RB constant
  archetype_setcode_constants.lua
Owners: @pyrQ

added Tamatamagachance
  rush/c160402053.lua
Owners: @ClementLouis

"Magnifistorming Sovereign Tyranny" update
  pre-release/c101302076.lua
Owners: @pyrQ

"Solfachord Happiness" fix
  pre-release/c101302065.lua
Owners: @pyrQ

added new rush cards
  rush/c160215040.lua
  rush/c160215066.lua
Owners: @ClementLouis

"Lubellion the Searing Dragon" update
  official/c70534340.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101301090.lua
  pre-release/c101301091.lua
  pre-release/c101301092.lua
  pre-release/c101301093.lua
  pre-release/c101301094.lua
  pre-release/c101301095.lua
  pre-release/c101301096.lua
Owners: @pyrQ

"R.B. Funk Dock" fix
  pre-release/c101301095.lua
Owners: @pyrQ

Ritual proc update
  proc_ritual.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101301084.lua
  pre-release/c101301085.lua
  pre-release/c101301086.lua
Owners: @pyrQ

fix "Miracle Raven"
  pre-release/c101301084.lua
Owners: @pyrQ

fix "Miracle Raven"
  pre-release/c101301084.lua
Owners: @pyrQ

"Zefrasaber, Swordmaster of the Nekroz" fix
  c84388461.lua
  c90887783.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
