Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Correction
  unofficial/c100004002.lua
  unofficial/c100004003.lua
Owners: @larry126

Update "Necro Shot"
  unofficial/c511000578.lua
Owners: @larry126

Update "Supreme Faceoff"
  unofficial/c511004424.lua
Owners: @larry126

fix Level 9 "Enneacraft" monsters
  pre-release/c100446020.lua
  pre-release/c100446021.lua
  pre-release/c100446022.lua
  pre-release/c100446023.lua
Owners: @pyrQ

add "Killer Tune" archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Enneacraft" monsters + "Deus X-Krawler" fix
  official/c62587693.lua
  pre-release/c100446020.lua
  pre-release/c100446021.lua
  pre-release/c100446023.lua
Owners: @pyrQ

Accidentally reverted some earlier changes
  official/c62587693.lua
  pre-release/c100446020.lua
  pre-release/c100446021.lua
  pre-release/c100446023.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100446031.lua
  pre-release/c100446032.lua
  pre-release/c100446033.lua
  pre-release/c100446035.lua
  pre-release/c100446036.lua
  pre-release/c100446037.lua
  pre-release/c100446038.lua
  pre-release/c100446039.lua
  pre-release/c100446040.lua
  pre-release/c100446041.lua
  proc_synchro.lua
Owners: @pyrQ

Hand reveal workaround fix
  proc_workaround.lua
Owners: @pyrQ

Update "Devil Mirage"
  unofficial/c511009650.lua
Owners: @larry126

added new rush cards
  proc_rush.lua
  rush/c160324001.lua
  rush/c160324002.lua
  rush/c160324023.lua
Owners: @pyrQ, @ClementLouis

fixed Caius the Shadow Monarch
  rush/c160324001.lua
Owners: @ClementLouis

Hand reveal workaround improvements
  proc_workaround.lua
Owners: @pyrQ

update Synchro.CreateHandMaterialEffect function
  proc_synchro.lua
Owners: @pyrQ

Update "Killer Tuner" Synchro monsters
  pre-release/c100446035.lua
  pre-release/c100446036.lua
  pre-release/c100446037.lua
  pre-release/c100446038.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100348004.lua
  pre-release/c100348033.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

"Enneapolis, the Sinquisition City" fix
  pre-release/c100446024.lua
Owners: @pyrQ

Added new card script
  pre-release/c100446026.lua
Owners: @pyrQ

More hand reveal workaround improvements
  proc_workaround.lua
Owners: @pyrQ

Update proc_workaround.lua
  proc_workaround.lua
Owners: @pyrQ

Anime "Advanced Crystal Beast" updates
  unofficial/c511001101.lua
  unofficial/c511001111.lua
  unofficial/c511001114.lua
  unofficial/c511001115.lua
  unofficial/c511001134.lua
  unofficial/c511001135.lua
  unofficial/c511001148.lua
Owners: @larry126

Official Fixes
  official/c13438207.lua
  official/c21558682.lua
  official/c23701465.lua
  official/c34124316.lua
  official/c3657444.lua
  official/c41382147.lua
  official/c49328340.lua
  official/c52675689.lua
  official/c54704216.lua
  official/c63391643.lua
  official/c7672244.lua
  official/c84055227.lua
  official/c86871614.lua
Owners: @pyrQ

Fix Yubel (Anime)
  unofficial/c511001391.lua
Owners: @larry126

"Galaxy Sage" fix
  official/c98263709.lua
Owners: @pyrQ

update c98263709.lua
  official/c98263709.lua
Owners: @pyrQ

Add files via upload
  unofficial/c511027049.lua
Owners: @larry126

Update c511027049.lua
  unofficial/c511027049.lua
Owners: @larry126

Update c511027049.lua
  unofficial/c511027049.lua
Owners: @larry126

Add files via upload
  unofficial/c511027578.lua
Owners: @larry126

Add files via upload
  unofficial/c511027578.lua
Owners: @larry126

Delete unofficial/c511027049.lua
  unofficial/c511027049.lua
Owners: @larry126

Add files via upload
  unofficial/c511027049.lua
Owners: @larry126

Various script updates and fixes
  official/c19733961.lua
  official/c30915572.lua
  official/c5026221.lua
  official/c58481572.lua
  official/c63142001.lua
  official/c67972302.lua
  official/c68468459.lua
  official/c76218643.lua
  pre-release/c100446026.lua
  proc_workaround.lua
  unofficial/c511000738.lua
Owners: @pyrQ, @larry126

Fix Option Hunter
  official/c33248692.lua
Owners: @pyrQ

Update "Elemental HERO Darkbright (Anime)"
  unofficial/c511023005.lua
Owners: @larry126

added The Calculator
  proc_rush.lua
  rush/c160402055.lua
Owners: @pyrQ, @ClementLouis

updated function names
  rush/c160013039.lua
Owners: @ClementLouis

updated Wicked Dragon Knight of Darkness
  rush/c160214042.lua
Owners: @ClementLouis

fixed typo
  rush/c160402022.lua
Owners: @ClementLouis
