Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Make turn player activate the effect instead
  unofficial/c511000121.lua
Owners: @larry126

Unofficial Fixes (#901)
  unofficial/c100000118.lua
  unofficial/c511000121.lua
  unofficial/c511000326.lua
  unofficial/c511001057.lua
  unofficial/c511001151.lua
  unofficial/c511001887.lua
  unofficial/c511002521.lua
  unofficial/c511010511.lua
  unofficial/c511018028.lua
  unofficial/c511023004.lua
  unofficial/c511777006.lua
Owners: @larry126

Add "White Nightmare" script (#904)
  unofficial/c511027676.lua
Owners: @larry126

Update c511001707.lua
  unofficial/c511001707.lua
Owners: @larry126

Update c511001707.lua
  unofficial/c511001707.lua
Owners: @larry126

Update c511001765.lua
  unofficial/c511001765.lua
Owners: @larry126

Updated "Gagaga Illusion" and "Overlay Rebirth" scripts (#914)
  unofficial/c511001707.lua
  unofficial/c511001765.lua
Owners: @larry126

Add Skills from Midterm Paradox Box (#909)
  skill/c300305001.lua
  skill/c300305002.lua
  skill/c300305003.lua
  skill/c300305004.lua
  skill/c300305005.lua
  skill/c300305006.lua
  skill/c300305007.lua
  skill/c300305008.lua
  skill/c300305009.lua
  skill/c300305010.lua
  skill/c300305011.lua
  skill/c300305012.lua
Owners: @ClementLouis

Minor update to Red-Eyes Zombie Dragon Lord
  official/c38192988.lua
Owners: @pyrQ

Unofficial scripts updates
  unofficial/c100000084.lua
  unofficial/c111300001.lua
  unofficial/c511000373.lua
Owners: @larry126

Small fix "Black-Winged Dragon"
  official/c9012916.lua
Owners: @pyrQ

Update "Lyrilusc - Sapphire Swallow"
  official/c60954556.lua
Owners: @pyrQ

Fix "Red-Eyes Zombie Dragon Lord"
  official/c38192988.lua
Owners: @pyrQ

Added new archetype's constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card constant
  card_counter_constants.lua
Owners: @pyrQ

"Mystic Box" fix
  official/c25774450.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100430029.lua
  pre-release/c100430030.lua
  pre-release/c100430031.lua
  pre-release/c100430032.lua
  pre-release/c100430033.lua
  pre-release/c100430034.lua
  pre-release/c100430035.lua
  pre-release/c100430037.lua
  pre-release/c100430038.lua
  pre-release/c100430039.lua
  pre-release/c100430040.lua
Owners: @pyrQ

"Nouvellez Auberge "À Table"" fix
  pre-release/c100430035.lua
Owners: @pyrQ

Add Counterbalance (Manga)
  unofficial/c511027031.lua
Owners: @larry126

Add Counterbalance (Manga) script (#923)
  unofficial/c511027031.lua
Owners: @larry126

Fix CXyz Barian Hope (Anime)
  unofficial/c511001363.lua
Owners: @larry126

Update "Ancient Pixie Dragon (Manga)"
  unofficial/c511002202.lua
Owners: @larry126

Fix "D/D Extra Surveyor"
  unofficial/c511600097.lua
Owners: @larry126

"Destrudo the Lost Dragon's Frisson" fix
  official/c5560911.lua
Owners: @pyrQ

Fix incorrect function name
  official/c5560911.lua
Owners: @pyrQ

Remove `if tc and` usages in effects that target
  official/c15335853.lua
  official/c30118200.lua
  official/c33900648.lua
  official/c34302287.lua
  official/c38192988.lua
  official/c52083044.lua
  official/c61397885.lua
  official/c6311717.lua
  official/c66309175.lua
  official/c72860663.lua
  official/c73632127.lua
  official/c75147529.lua
  official/c83670388.lua
  official/c86379342.lua
  official/c86547356.lua
  official/c97795930.lua
  official/c98806751.lua
Owners: @pyrQ

Replace aux.Next by Group.Iter
  official/c27012990.lua
  official/c30492798.lua
  official/c33145233.lua
  official/c34090915.lua
  official/c34302287.lua
  official/c34358408.lua
  official/c4141820.lua
  official/c52945066.lua
  official/c58844135.lua
  official/c60530944.lua
  official/c69120785.lua
  official/c69529337.lua
  official/c72656408.lua
  official/c77153811.lua
  official/c85747929.lua
  official/c8903700.lua
  official/c92345028.lua
  official/c94303232.lua
Owners: @pyrQ

Use Card.IsFieldSpell
  official/c15248873.lua
  official/c20644748.lua
  official/c25964547.lua
  official/c30680659.lua
  official/c31588572.lua
  official/c32912040.lua
  official/c36239585.lua
  official/c47404795.lua
  official/c48605591.lua
  official/c61264008.lua
  official/c61818176.lua
  official/c95923441.lua
  official/c96100333.lua
Owners: @pyrQ

Use Card.IsSpellTrap and Card.IsEquipSpell
  official/c50237654.lua
  official/c85800949.lua
  official/c8775395.lua
Owners: @pyrQ

Replace other hexadecimal values by constants
  official/c11270236.lua
  official/c20368763.lua
  official/c23790299.lua
  official/c29280589.lua
  official/c30811116.lua
  official/c31629407.lua
  official/c34974462.lua
  official/c36346532.lua
  official/c37649320.lua
  official/c44026393.lua
  official/c4417407.lua
  official/c45675980.lua
  official/c50237654.lua
  official/c50696588.lua
  official/c52709508.lua
  official/c58844135.lua
  official/c6579928.lua
  official/c66309175.lua
  official/c67922702.lua
  official/c68024506.lua
  official/c91027843.lua
  official/c92107604.lua
  official/c94418111.lua
  official/c96073342.lua
  official/c9726840.lua
  official/c98827725.lua
Owners: @pyrQ

Use Duel.GetTargetCards when it is possible
  official/c58054262.lua
  official/c83755611.lua
  official/c94418111.lua
Owners: @pyrQ

Unofficial scripts updates
  unofficial/c511000745.lua
  unofficial/c511000754.lua
  unofficial/c511001957.lua
  unofficial/c511027680.lua
  unofficial/c511600097.lua
Owners: @larry126

Add files via upload
  unofficial/c100000046.lua
  unofficial/c170000207.lua
  unofficial/c511000296.lua
  unofficial/c511001059.lua
  unofficial/c511001294.lua
  unofficial/c511001345.lua
  unofficial/c511001374.lua
  unofficial/c511002011.lua
  unofficial/c511002046.lua
  unofficial/c511002416.lua
  unofficial/c511002599.lua
  unofficial/c511002700.lua
  unofficial/c511002854.lua
  unofficial/c511002898.lua
  unofficial/c511009304.lua
  unofficial/c511009442.lua
  unofficial/c511009517.lua
  unofficial/c511009668.lua
  unofficial/c511010009.lua
  unofficial/c511010039.lua
  unofficial/c511027687.lua
  unofficial/c511030016.lua
  unofficial/c511030061.lua
  unofficial/c511600228.lua
  unofficial/c511600235.lua
  unofficial/c700000031.lua
  unofficial/c80538728.lua
Owners: @larry126

Add files via upload
  unofficial/c100000044.lua
  unofficial/c100000059.lua
  unofficial/c100000152.lua
  unofficial/c511000016.lua
  unofficial/c511600412.lua
  unofficial/c511600416.lua
  unofficial/c511600417.lua
Owners: @larry126

Delete c511005074.lua
  official/c511005074.lua
Owners: @pyrQ

Delete c120000263.lua
  official/c120000263.lua
Owners: @pyrQ

Delete c16625614.lua
  official/c16625614.lua
Owners: @pyrQ

Add files via upload
  unofficial/c100000355.lua
Owners: @larry126

Delete c100000355.lua
  official/c100000355.lua
Owners: @pyrQ

Add files via upload
  unofficial/c51102769.lua
Owners: @larry126
