Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

fix ZS - Arms Sage
  pre-release/c101104102.lua
Owners: @NaimSantos, @pyrQ

Fix "Hand-Holding Genie (Anime)"
  unofficial/c513000087.lua
Owners: @larry126

Updated "ZS - Ascend Sage"
  pre-release/c101104103.lua
Owners: @NaimSantos, @pyrQ

Fix cards that coudl be used as link material in the hand
  official/c2347477.lua
  official/c30114823.lua
  official/c37119142.lua
  official/c59185998.lua
  official/c75130221.lua
Owners: @NaimSantos, @pyrQ

Updated "Holy Night Nativity"
  pre-release/c100272047.lua
Owners: @NaimSantos, @pyrQ

Update "Thunder Unicorn (Anime)"
  unofficial/c511002706.lua
Owners: @larry126

Update c511002706.lua
  unofficial/c511002706.lua
Owners: @larry126

Update "Thunder Unicorn (Anime)" (#481)
  unofficial/c511002706.lua
Owners: @larry126

Update "Thunderforce Attack"
  pre-release/c100273001.lua
Owners: @NaimSantos, @pyrQ

Update "Fist of Fate"
  pre-release/c100273002.lua
Owners: @NaimSantos, @pyrQ

Small fix "Holy Night Advent"
  pre-release/c100272048.lua
Owners: @NaimSantos, @pyrQ

Minor fix
  pre-release/c100272049.lua
Owners: @NaimSantos, @pyrQ

add EFFECT_COUNT_CODE_OATH
  pre-release/c100272049.lua
Owners: @NaimSantos, @pyrQ

Minor fix (#482)
  pre-release/c100272049.lua
Owners: @NaimSantos, @pyrQ

Updated "Holy Night Astel"
  pre-release/c100272043.lua
Owners: @NaimSantos, @pyrQ

Updated "PSY-Framegear" monsters "PSY-Frame Driver" and the monster that special summoned it should be banished during the end phase, even if they became unaffected by card effects.
  official/c1697104.lua
  official/c2810642.lua
  official/c38814750.lua
  official/c74203495.lua
  official/c75425043.lua
Owners: @NaimSantos, @pyrQ

"Negate battle destruction" fixed
  unofficial/c419.lua
Owners: @larry126

added new script
  rush/c160003044.lua
  rush/c160402005.lua
Owners: @ClementLouis

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @NaimSantos, @pyrQ

Update "Radiant Seiyaryu"
  pre-release/c100272041.lua
Owners: @NaimSantos, @pyrQ

update "Radiant Seiyaryu"
  pre-release/c100272041.lua
Owners: @NaimSantos, @pyrQ

Minor update
  cards_specific_functions.lua
  unofficial/c511000993.lua
Owners: @NaimSantos, @pyrQ, @larry126

Fix "Superancient Deepsea King Coelacanth"
  official/c88307361.lua
Owners: @NaimSantos, @pyrQ

Fix Bascule the Moving Fortress
  rush/c160402005.lua
Owners: @ClementLouis

Add AddZWEquipLimit in relevant script
  official/c12927849.lua
  official/c18865703.lua
  official/c2648201.lua
  official/c29353756.lua
  official/c40941889.lua
  official/c45082499.lua
  official/c60992364.lua
  official/c6330307.lua
  official/c76080032.lua
  official/c81471108.lua
  official/c87008374.lua
  pre-release/c101104101.lua
  pre-release/c101104104.lua
  pre-release/c101104105.lua
Owners: @NaimSantos, @pyrQ

Minor fix
  pre-release/c101104105.lua
Owners: @NaimSantos, @pyrQ

Sea Dragon King Granganoth fix
  rush/c160003041.lua
Owners: @ClementLouis

Dragonic Utopia Ray
  pre-release/c101104104.lua
Owners: @NaimSantos, @pyrQ

Fix "Meklord Nucleus Infinity Core"
  official/c77710579.lua
Owners: @NaimSantos, @pyrQ

Update c511027455.lua
  unofficial/c511027455.lua
Owners: @larry126

Fixed "Exchanging Souls"
  pre-release/c100273003.lua
Owners: @NaimSantos, @pyrQ

Updated "Dragonic Utopia Ray" Didn't listed the number in its name in the script (matters for something like "Rank-Up-Magic Quick Chaos").
  pre-release/c101104104.lua
Owners: @NaimSantos, @pyrQ

Updated "Holy Night Sky" Should not miss timing for its trigger effect.
  pre-release/c100272046.lua
Owners: @NaimSantos, @pyrQ

Updated "Dragonic Utopia Ray"
  pre-release/c101104104.lua
Owners: @NaimSantos, @pyrQ

fix
  pre-release/c101104104.lua
Owners: @NaimSantos, @pyrQ

Updated "Cybernetic Hidden Technology"
  official/c92773018.lua
Owners: @NaimSantos, @pyrQ

Fix "negate battle destruction negation"
  unofficial/c419.lua
Owners: @larry126

Update security force "facing" handling
  cards_specific_functions.lua
Owners: @NaimSantos, @pyrQ

Updated "Number F0: Utopic Future Dragon"
  official/c26973555.lua
Owners: @NaimSantos, @pyrQ

Updated "Number F0: Utopic Future Dragon"
  official/c26973555.lua
Owners: @NaimSantos, @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
