Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Super Magitek Deity Magnum Over Road fix
  rush/c160202002.lua
Owners: @ClementLouis

Shield & Sword (Rush) fix
  rush/c160201009.lua
Owners: @ClementLouis

Maximum Proc Fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Update proc_maximum.lua
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Update proc_maximum.lua
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Magitek L/R fix
  rush/c160202001.lua
  rush/c160202003.lua
Owners: @ClementLouis

Update proc_maximum.lua
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

atk reduction fix part 1
  proc_maximum.lua
  rush/c160202024.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Update proc_maximum.lua
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Only cards in mzone can be in maximum mode
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Fix Thrust Dragon Bunker Strike
  rush/c160002022.lua
Owners: @ClementLouis

Maximum proc fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

aux.FilterMaximumSideFunctionEx fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Maximum monster fix
  rush/c160202001.lua
  rush/c160202003.lua
  rush/c160202010.lua
  rush/c160202012.lua
Owners: @ClementLouis

Updated "Arcana Reading"
  official/c11819473.lua
Owners: @NaimSantos, @pyrQ

Updated "Dragon's Tenacity"
  rush/c160405003.lua
Owners: @ClementLouis

Updated cards from SD40 Added the last new cards, renamed existing scripts to official IDs.
  official/c17197110.lua
  official/c18319762.lua
  official/c43256007.lua
  official/c43582229.lua
  official/c44308317.lua
  official/c6075533.lua
  official/c70703416.lua
  official/c70980824.lua
  official/c81825063.lua
Owners: @NaimSantos, @pyrQ

white foam + max proc fix
  proc_maximum.lua
  rush/c160202024.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Maximum battle/tribute handling fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Updated cards Should not be able to target themselves if also using their effects when activating. Following cards were changed: * Unending Nightmare * Virtual World Gate - Chuche
  official/c13364097.lua
  official/c69452756.lua
Owners: @NaimSantos, @pyrQ

Updated "Damage Diet"
  official/c95448692.lua
Owners: @NaimSantos, @pyrQ

Maximum Fix
  proc_maximum.lua
  rush/c160002025.lua
  rush/c160002031.lua
  rush/c160002040.lua
  rush/c160002042.lua
  rush/c160003024.lua
  rush/c160003060.lua
  rush/c160201013.lua
  rush/c160201024.lua
  rush/c160202035.lua
  rush/c160202047.lua
  rush/c160402003.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Add "Infernity Patriarch (Manga)"
  unofficial/c511003213.lua
Owners: @larry126

Update c511003213.lua
  unofficial/c511003213.lua
Owners: @larry126

Update c511003213.lua
  unofficial/c511003213.lua
Owners: @larry126

Update several scripts
  official/c13364097.lua
  official/c69452756.lua
  official/c81038234.lua
  unofficial/c419.lua
  unofficial/c511000995.lua
Owners: @NaimSantos, @pyrQ, @larry126

Update unofficial scripts
  unofficial/c511000174.lua
  unofficial/c810000094.lua
Owners: @larry126

Super Magitek Deity Magnum Over Road fix
  rush/c160202002.lua
Owners: @ClementLouis

Maximum Group Count Fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

maximum battle handling fix
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Updated "Virtual World Gate - Chuche"
  official/c13364097.lua
Owners: @NaimSantos, @pyrQ

Updated proc_maximum
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Updated "T.G. Halberd Cannon (Anime)"
  unofficial/c513000014.lua
Owners: @larry126

Updated "Elechic Ampoule"
  rush/c160201036.lua
Owners: @ClementLouis

Update proc_maximum.lua
  proc_maximum.lua
Owners: @NaimSantos, @pyrQ

Updated "Cat's Eyes"
  rush/c160202029.lua
Owners: @ClementLouis

Added cards from PP21 (scripts)
  pre-release/c100274001.lua
  pre-release/c100274002.lua
  pre-release/c100274004.lua
  pre-release/c100274006.lua
  pre-release/c100274007.lua
  pre-release/c100274008.lua
  pre-release/c100274009.lua
  pre-release/c100274010.lua
  pre-release/c100274011.lua
  pre-release/c100274012.lua
Owners: @NaimSantos, @pyrQ

Right Magic Fix
  rush/c160003042.lua
Owners: @ClementLouis

Updated "Tellus the Little Angel"
  pre-release/c100274002.lua
Owners: @NaimSantos, @pyrQ

Updated "Rear Misfire"
  rush/c160003060.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
