Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update c12081875.lua
  official/c12081875.lua
Owners: @pyrQ

Update "Insect Garden"
  unofficial/c511001352.lua
Owners: @larry126

add "Dragon Ruler" cost helper functions
  cards_specific_functions.lua
Owners: @pyrQ

update "Chasma, Dragon Ruler of Auroras"
  official/c4965193.lua
Owners: @pyrQ

update "Dragon Ruler" monsters that discard themselves
  official/c26400609.lua
  official/c27415516.lua
  official/c53797637.lua
  official/c53804307.lua
  official/c58201062.lua
  official/c89185742.lua
  official/c89399912.lua
  official/c90411554.lua
  official/c91020571.lua
  official/c94655777.lua
Owners: @pyrQ

Update c12081875.lua
  official/c12081875.lua
Owners: @pyrQ

Add Dread Dragon (Anime)
  unofficial/c511027040.lua
Owners: @larry126

Add Twin Photon Lizard (Anime)
  unofficial/c511027041.lua
Owners: @larry126

Add Number Wall (Anime)
  unofficial/c511027042.lua
Owners: @larry126

Add Galaxy Expedition (Anime)
  unofficial/c511027043.lua
Owners: @larry126

Script for "Dragon Queen of Tragic Endings (Anime)"
  unofficial/c511003244.lua
Owners: @larry126

fixed Darkness Doom Giant
  rush/c160015035.lua
Owners: @ClementLouis

"Tellarknight Constellar Caduceus" label fix + "Number C32: Shark Drake Veiss" update
  official/c49221191.lua
  official/c58858807.lua
Owners: @pyrQ

Update "Allure Palace (Anime)" to also use a cost table
  unofficial/c511310036.lua
  utility.lua
Owners: @larry126, @pyrQ

"Thunder Dragon Thunderstormech" updates
  official/c12081875.lua
Owners: @pyrQ

baby ruler cost should be "Cost.SelfDiscard"
  cards_specific_functions.lua
Owners: @pyrQ

DRulers smol updates
  official/c26400609.lua
  official/c4965193.lua
  official/c53804307.lua
  official/c89399912.lua
  official/c90411554.lua
Owners: @pyrQ

Update "Mirror of Duality"
  unofficial/c511000481.lua
Owners: @larry126

Update "Mirror of Duality"
  unofficial/c511000481.lua
Owners: @larry126

Update "Explosive Urchin (Anime)"
  unofficial/c511002915.lua
Owners: @larry126

Updated "Numeron Network" to use "EFFECT_OVERLAY_REMOVE_REPLACE"
  official/c41418852.lua
  utility.lua
Owners: @pyrQ

Update some anime cards to use "Cost.Detach"
  official/c41418852.lua
  unofficial/c511001363.lua
  unofficial/c511001429.lua
  unofficial/c511001659.lua
  unofficial/c511002001.lua
  unofficial/c511002762.lua
  unofficial/c511002855.lua
  unofficial/c511002873.lua
  unofficial/c511003219.lua
  unofficial/c511009340.lua
  unofficial/c511009480.lua
  unofficial/c511009567.lua
  unofficial/c511600284.lua
  unofficial/c513000059.lua
Owners: @pyrQ, @larry126

Use "Card.GetOverlayCount"
  unofficial/c511001429.lua
  unofficial/c511001659.lua
  unofficial/c511002001.lua
  unofficial/c511002762.lua
  unofficial/c511002855.lua
  unofficial/c511002873.lua
  unofficial/c511003219.lua
  unofficial/c511009340.lua
  unofficial/c511009480.lua
  unofficial/c511009567.lua
  unofficial/c511600284.lua
  unofficial/c513000059.lua
Owners: @larry126

Update c511001363.lua
  unofficial/c511001363.lua
Owners: @larry126

Update c511009567.lua
  unofficial/c511009567.lua
Owners: @larry126

Update c511009480.lua
  unofficial/c511009480.lua
Owners: @larry126

Update utility.lua
  utility.lua
Owners: @pyrQ

update some official cards to use Cost.Detach
  official/c12632096.lua
  official/c19369609.lua
  official/c31801517.lua
  official/c32559361.lua
  official/c3989465.lua
  official/c6387204.lua
  official/c78876707.lua
  official/c96592102.lua
  official/c96864105.lua
Owners: @pyrQ

Fix "Mirror of Duality"
  unofficial/c511000481.lua
Owners: @larry126

Update "Kuriphoton (Anime)"
  unofficial/c511806000.lua
Owners: @larry126

Add Saber Shark (Anime)
  unofficial/c511027046.lua
Owners: @larry126

Added new card scripts
  pre-release/c101302030.lua
  pre-release/c101302053.lua
Owners: @pyrQ

"Mitsurugi Magatama" fix
  official/c76725398.lua
Owners: @pyrQ

Update "Spy Hero"
  unofficial/c511000485.lua
Owners: @larry126

Update c511000485.lua
  unofficial/c511000485.lua
Owners: @larry126

Update "Card.UpdateAttack" and "Card.UpdateDefense"
  utility.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101302037.lua
  pre-release/c101302042.lua
Owners: @pyrQ

Update "Odd-Eyes Rebellion Dragon (Anime)"
  unofficial/c511001791.lua
Owners: @larry126

update "Tachyon Unit"
  unofficial/c511002571.lua
Owners: @larry126

"Flower Cardian" updates
  official/c16024176.lua
  official/c16802689.lua
  official/c17141718.lua
  official/c21772453.lua
  official/c30382214.lua
  official/c43413875.lua
  official/c54135423.lua
  official/c5489987.lua
  official/c57261568.lua
  official/c80630522.lua
  official/c81752019.lua
  official/c89818984.lua
  official/c94388754.lua
  unofficial/c511001692.lua
  unofficial/c511001693.lua
  unofficial/c511001694.lua
  unofficial/c511001695.lua
  unofficial/c511001696.lua
  unofficial/c511001697.lua
  unofficial/c511001698.lua
  unofficial/c511001699.lua
  unofficial/c511001700.lua
  unofficial/c511001723.lua
  unofficial/c511001724.lua
  unofficial/c511001725.lua
  unofficial/proc_unofficial.lua
Owners: @pyrQ, @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
