Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Temp backport of Group.Match
  proc_workaround.lua
Owners: @pyrQ

added new rush constants
  card_counter_constants.lua
  rush/c160202004.lua
  rush/c160202005.lua
  rush/c160203010.lua
  rush/c160203018.lua
  rush/c160203048.lua
  rush/c160204018.lua
  rush/c160204019.lua
  rush/c160204037.lua
  rush/c160305006.lua
  rush/c160416005.lua
  rush/c160416006.lua
  rush/c160416007.lua
Owners: @pyrQ, @ClementLouis

Add "Gagaga Cowboy (Anime)"
  unofficial/c511003224.lua
Owners: @larry126

Update "Baroness de Fleur"
  official/c84815190.lua
Owners: @pyrQ

Fix "Bacon Saver (Anime)"
  unofficial/c511013031.lua
Owners: @larry126

"Magician Salvation" fix
  pre-release/c100281062.lua
Owners: @pyrQ

"Sunavalon Melias" update
  official/c44478599.lua
Owners: @pyrQ

"Screams of the Branded" fix
  official/c67100549.lua
Owners: @pyrQ

"Judgment of the Branded" fix
  official/c93595154.lua
Owners: @pyrQ

"Lyrilusc - Ensemblue Robin" fix
  official/c72971064.lua
Owners: @pyrQ

added new cards
  rush/c160204004.lua
  rush/c160204025.lua
  rush/c160204046.lua
  rush/c160402009.lua
Owners: @ClementLouis

remove invalid character from "constant.lua"
  constant.lua
Owners: @pyrQ

remove left-hand zeroes from bitfield constants
  constant.lua
Owners: @pyrQ

"Secret Sect Druid Wid" fix
  official/c97064649.lua
Owners: @pyrQ

Imaginary Ark Turbulence fix
  rush/c160204013.lua
Owners: @ClementLouis

"Chi Xiao, the Grand Swordsoul Swordmaster" fix
  official/c69248256.lua
Owners: @pyrQ

"Number 76: Harmonizer Gradielle" update
  official/c92015800.lua
Owners: @pyrQ

"Psychic Megacyber" fix
  official/c91870448.lua
Owners: @pyrQ

"World Legacy Guardragon" fix
  official/c87571563.lua
Owners: @pyrQ

Fix "Exorsister" main deck monsters
  official/c16474916.lua
  official/c43863925.lua
  official/c5352328.lua
  official/c79858629.lua
Owners: @pyrQ

"Sacred Spirit of the Ice Barrier" fix
  official/c44877690.lua
Owners: @pyrQ

"Sage de Fleur" update
  official/c85032782.lua
Owners: @pyrQ

"Primal Dragon the Primordial Dragon" fix
  official/c64025981.lua
Owners: @pyrQ

Update cards that were using Effect.GetCountLimit
  unofficial/c511000699.lua
  unofficial/c511001363.lua
  unofficial/c511600191.lua
Owners: @larry126

Create Add Rank-up-magic numeron force (Anime)
  Add Rank-up-magic numeron force (Anime)
Owners: @kevinlul

Create Add Battlin' Boxer Veil (Anime)
  Add Battlin' Boxer Veil (Anime)
Owners: @kevinlul

Update Add Battlin' Boxer Veil (Anime)
  Add Battlin' Boxer Veil (Anime)
Owners: @kevinlul

Delete Add Rank-up-magic numeron force (Anime)
  Add Rank-up-magic numeron force (Anime)
Owners: @kevinlul

Create Add Battlin' Boxer Counterpunch (Anime)
  Add Battlin' Boxer Counterpunch (Anime)
Owners: @kevinlul

Update constants to match recent core changes
  constant.lua
Owners: @pyrQ

Fix Selective Reborn
  official/c50213848.lua
Owners: @pyrQ

Fix wrong replacing of hundreds
  official/c31525442.lua
  official/c35817848.lua
  official/c36795102.lua
  official/c5130393.lua
  official/c53871273.lua
  official/c57288708.lua
  official/c60279710.lua
  official/c64202399.lua
  official/c70597485.lua
  official/c83286340.lua
  official/c85692042.lua
  official/c8836329.lua
  official/c94395649.lua
  official/c97677329.lua
  pre-release/c100281062.lua
  pre-release/c100281063.lua
  pre-release/c100340193.lua
  pre-release/c101104004.lua
  pre-release/c101104005.lua
  pre-release/c101104006.lua
  pre-release/c101104009.lua
  pre-release/c101104010.lua
  pre-release/c101104011.lua
  pre-release/c101104012.lua
  pre-release/c101104013.lua
Owners: @pyrQ

Fix wrong replacing of hundreds
  pre-release/c101104017.lua
  pre-release/c101104018.lua
  pre-release/c101104019.lua
  pre-release/c101104020.lua
  pre-release/c101104021.lua
  pre-release/c101104026.lua
  pre-release/c101104033.lua
  pre-release/c101104037.lua
  pre-release/c101104041.lua
  pre-release/c101104042.lua
  pre-release/c101104044.lua
  pre-release/c101104045.lua
  pre-release/c101104047.lua
  pre-release/c101104048.lua
  pre-release/c101104054.lua
  pre-release/c101104055.lua
  pre-release/c101104058.lua
  pre-release/c101104059.lua
  pre-release/c101104068.lua
  pre-release/c101104069.lua
  pre-release/c101104077.lua
  pre-release/c101104108.lua
  pre-release/c101107001.lua
  pre-release/c101107002.lua
  pre-release/c101107003.lua
  pre-release/c101107034.lua
  pre-release/c101107036.lua
  unofficial/c511009743.lua
  unofficial/c511009956.lua
  unofficial/c511009957.lua
  unofficial/c511009958.lua
  unofficial/c511027004.lua
  unofficial/c511027017.lua
  unofficial/c511027019.lua
  unofficial/c511445000.lua
  unofficial/c511600334.lua
  unofficial/c511600341.lua
Owners: @pyrQ, @larry126

Update Link Pressure
  unofficial/c511027100.lua
Owners: @larry126

Update cards using alias
  unofficial/c511009919.lua
  unofficial/c511009951.lua
  unofficial/c511009952.lua
  unofficial/c511009954.lua
  unofficial/c511030023.lua
  unofficial/c511030039.lua
  unofficial/c511030056.lua
  unofficial/c511600201.lua
  unofficial/c511600253.lua
  unofficial/c511600274.lua
  unofficial/c511600280.lua
  unofficial/c511600298.lua
  unofficial/c511600304.lua
  unofficial/c511600308.lua
  unofficial/c511600315.lua
  unofficial/c511600318.lua
  unofficial/c511600351.lua
  unofficial/c511600352.lua
  unofficial/c511600364.lua
Owners: @larry126

Update anime cards that register new effects copying the count limits
  unofficial/c511000699.lua
  unofficial/c511001363.lua
  unofficial/c511600191.lua
Owners: @larry126

Create Add ZW leo arms (Anime)
  Add ZW leo arms (Anime)
Owners: @kevinlul

Create Add V salamander (Anime)
  Add V salamander (Anime)
Owners: @kevinlul

Create Add Xyz Agent (Anime)
  Add Xyz Agent (Anime)
Owners: @kevinlul

"Xing Zhen Hu" fix
  official/c76515293.lua
Owners: @pyrQ
