Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Virtual World System added
  unofficial/c153000000.lua
  unofficial/c153999999.lua
Owners: @larry126

Update c153000000.lua
  unofficial/c153000000.lua
Owners: @larry126

Update c153000000.lua
  unofficial/c153000000.lua
Owners: @larry126

Ecole de Zone (Anime/VG) update
  unofficial/c500000147.lua
  unofficial/c513000084.lua
Owners: @larry126

Added new card's script
  pre-release/c100425006.lua
Owners: @pyrQ

"Nebula Dragon" update
  official/c51786039.lua
Owners: @pyrQ

"Speedroid Roulette" fix
  pre-release/c100425006.lua
Owners: @pyrQ

Updated AC01-related unofficial cards
  unofficial/c500000142.lua
  unofficial/c500000143.lua
  unofficial/c500000147.lua
  unofficial/c511000148.lua
  unofficial/c511000150.lua
  unofficial/c511000151.lua
  unofficial/c511000152.lua
  unofficial/c511000153.lua
  unofficial/c513000084.lua
Owners: @larry126

"C/C Critical Eye" related fixes
  unofficial/c511003050.lua
  unofficial/c511003051.lua
  unofficial/c511003052.lua
Owners: @larry126

"Burst Impact" clean-up
  unofficial/c511000021.lua
Owners: @larry126

"Wisel Attack 5" fix
  unofficial/c100000309.lua
Owners: @larry126

"Orgoth the Relentless" fix
  official/c15744417.lua
Owners: @pyrQ

"Speedroid Roulette" fix
  pre-release/c100425006.lua
Owners: @pyrQ

"Speedroid Roulette" update
  pre-release/c100425006.lua
Owners: @pyrQ

Fix "Emergency Return"
  rush/c160203004.lua
Owners: @ClementLouis

Fx
  unofficial/c511001214.lua
Owners: @larry126

Unofficial scripts fixes
  unofficial/c100000065.lua
  unofficial/c511010207.lua
Owners: @larry126

Added the Virtual World rules and Deck Master System (#603)
  unofficial/c153000000.lua
  unofficial/c153000001.lua
  unofficial/c153000002.lua
  unofficial/c153000003.lua
  unofficial/c153000004.lua
  unofficial/c153000005.lua
  unofficial/c153000006.lua
  unofficial/c153000007.lua
  unofficial/c153000008.lua
  unofficial/c153000009.lua
  unofficial/c153000010.lua
  unofficial/c153000011.lua
  unofficial/c153000012.lua
  unofficial/c153000013.lua
  unofficial/c153000014.lua
  unofficial/c153000015.lua
  unofficial/c153000016.lua
  unofficial/c153000017.lua
  unofficial/c153000018.lua
  unofficial/c153999999.lua
Owners: @larry126

Removed debug messages
  unofficial/c153000001.lua
  unofficial/c153000002.lua
  unofficial/c153000003.lua
  unofficial/c153000004.lua
  unofficial/c153000005.lua
  unofficial/c153000006.lua
  unofficial/c153000007.lua
  unofficial/c153000008.lua
  unofficial/c153000009.lua
  unofficial/c153000010.lua
  unofficial/c153000011.lua
  unofficial/c153000012.lua
  unofficial/c153000013.lua
  unofficial/c153000014.lua
  unofficial/c153000015.lua
  unofficial/c153000016.lua
  unofficial/c153000017.lua
  unofficial/c153000018.lua
Owners: @larry126

Revert "Removed debug messages"
  unofficial/c153000001.lua
  unofficial/c153000002.lua
  unofficial/c153000003.lua
  unofficial/c153000004.lua
  unofficial/c153000005.lua
  unofficial/c153000006.lua
  unofficial/c153000007.lua
  unofficial/c153000008.lua
  unofficial/c153000009.lua
  unofficial/c153000010.lua
  unofficial/c153000011.lua
  unofficial/c153000012.lua
  unofficial/c153000013.lua
  unofficial/c153000014.lua
  unofficial/c153000015.lua
  unofficial/c153000016.lua
  unofficial/c153000017.lua
  unofficial/c153000018.lua
Owners: @larry126

Fix
  unofficial/c153000001.lua
  unofficial/c153000002.lua
  unofficial/c153000003.lua
  unofficial/c153000004.lua
  unofficial/c153000005.lua
  unofficial/c153000006.lua
  unofficial/c153000007.lua
  unofficial/c153000008.lua
  unofficial/c153000009.lua
  unofficial/c153000010.lua
  unofficial/c153000011.lua
  unofficial/c153000012.lua
  unofficial/c153000013.lua
  unofficial/c153000014.lua
  unofficial/c153000015.lua
  unofficial/c153000016.lua
  unofficial/c153000017.lua
  unofficial/c153000018.lua
Owners: @larry126

"Crystal Clear Wing Synchro Dragon" fix
  pre-release/c100425004.lua
Owners: @pyrQ

Use "Check/UseCountLimit" instead of "GetCountLimit" and flags
  proc_fusion_spell.lua
Owners: @pyrQ

Update and rename pre-release/c100425001.lua to official/c50482813.lua
  official/c50482813.lua
Owners: @pyrQ

Rename pre-release/c100425002.lua to official/c86976918.lua
  official/c86976918.lua
Owners: @pyrQ

Update and rename pre-release/c100425003.lua to official/c23361526.lua
  official/c23361526.lua
Owners: @pyrQ

Update and rename pre-release/c100425005.lua to official/c86154370.lua
  official/c86154370.lua
Owners: @pyrQ

Update and rename pre-release/c100425006.lua to official/c12148078.lua
  official/c12148078.lua
Owners: @pyrQ

Rename pre-release/c100425007.lua to official/c58543073.lua
  official/c58543073.lua
Owners: @pyrQ

Update and rename pre-release/c100425004.lua to official/c59765225.lua
  official/c59765225.lua
Owners: @pyrQ

Update and rename pre-release/c100425020.lua to official/c85032782.lua
  official/c85032782.lua
Owners: @pyrQ

Update and rename pre-release/c100425023.lua to official/c84815190.lua
  official/c84815190.lua
Owners: @pyrQ

Update and rename pre-release/c100425024.lua to official/c10204849.lua
  official/c10204849.lua
Owners: @pyrQ

Update and rename pre-release/c100425026.lua to official/c73193552.lua
  official/c73193552.lua
Owners: @pyrQ

Rename pre-release/c100425021.lua to official/c11426487.lua
  official/c11426487.lua
Owners: @pyrQ

Update and rename pre-release/c100425025.lua to official/c47699948.lua
  official/c47699948.lua
Owners: @pyrQ

Update and rename pre-release/c100425022.lua to official/c48421595.lua
  official/c48421595.lua
Owners: @pyrQ

Update and rename pre-release/c100425034.lua to official/c10182251.lua
  official/c10182251.lua
Owners: @pyrQ

Update and rename pre-release/c100425035.lua to official/c46576366.lua
  official/c46576366.lua
Owners: @pyrQ

Update and rename pre-release/c100425036.lua to official/c72971064.lua
  official/c72971064.lua
Owners: @pyrQ
