Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Fix "Trivikarma"
  official/c7436169.lua
Owners: @pyrQ

Minor hint fix
  official/c40460013.lua
  official/c92962242.lua
  official/c9597987.lua
Owners: @pyrQ

Fix "Fierce Tiger Menghu"
  official/c27012717.lua
Owners: @pyrQ

Fix "Abyss Script - Dramatic Story"
  official/c33503878.lua
Owners: @pyrQ

Fix "Kshatri-La Papiyas"
  official/c34447918.lua
Owners: @pyrQ

Fix "Branded Inevitable"
  official/c60442460.lua
Owners: @pyrQ

Fix "Ghoti Fury"
  official/c65898344.lua
Owners: @pyrQ

Fix "Great Icejade Sword Appearance"
  official/c72776252.lua
Owners: @pyrQ

Fix "Plunder Patrollship Jord"
  official/c85969517.lua
Owners: @pyrQ

Fix "Evigishki Nereimanas"
  official/c88926295.lua
Owners: @pyrQ

Rescript "Weights & Zenmaisures"
  official/c42548470.lua
Owners: @pyrQ

Rescript "Zenmaiday"
  official/c83319610.lua
Owners: @pyrQ

Update "Transamu Rainac - War To Zen!"
  rush/c160434001.lua
Owners: @ClementLouis

Card fixes (#817)
  official/c27012717.lua
  official/c33503878.lua
  official/c34447918.lua
  official/c40460013.lua
  official/c60442460.lua
  official/c65898344.lua
  official/c72776252.lua
  official/c7436169.lua
  official/c85969517.lua
  official/c88926295.lua
  official/c897409.lua
  official/c92962242.lua
  official/c9597987.lua
Owners: @pyrQ

added Ultimate Flag Beast Lead Unicorn
  rush/c160205050.lua
Owners: @ClementLouis

Update c160205050.lua
  rush/c160205050.lua
Owners: @ClementLouis

added Rush script (#818)
  rush/c160205050.lua
Owners: @ClementLouis

Update "Progress Potter"
  rush/c160428035.lua
Owners: @ClementLouis

Fix crash caused by Hino-Kagu-Tsuchi (GOAT)
  goat/c504700131.lua
Owners: @pyrQ

Bug fixes
  official/c29884951.lua
  official/c35815783.lua
  official/c36609518.lua
  official/c9205573.lua
  official/c98777036.lua
Owners: @pyrQ

fix typo in "Magikey World"
  official/c35815783.lua
Owners: @pyrQ

Fix High Tide on Fire Island
  official/c32542011.lua
Owners: @pyrQ

Fix "Miracle Moment"
  unofficial/c511000445.lua
Owners: @larry126

Fix typo in Cyber Jar
  official/c34124316.lua
Owners: @pyrQ

Fix Pot of Duality
  official/c98645731.lua
Owners: @pyrQ

added Love Angel
  rush/c160205062.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160205062.lua
Owners: @ClementLouis

"Treasure Panda" update
  official/c45221020.lua
Owners: @pyrQ

Another update to Treasure Panda
  official/c45221020.lua
Owners: @pyrQ

Simplify "Treasure Panda" + move a function [ci skip]
  cards_specific_functions.lua
  official/c45221020.lua
  proc_maximum.lua
Owners: @pyrQ

"Rikka Sheet" fix
  official/c68941332.lua
Owners: @pyrQ

Deprecate Auxiliary.MZFilter
  deprecated_functions.lua
  utility.lua
Owners: @pyrQ

Use Duel.GetMZoneCount in Auxiliary.ChkfMMZ instead of an handrolled version
  utility.lua
Owners: @pyrQ

Update cards using the now deprecated Auxiliary.MZFilter
  official/c1357146.lua
  official/c16943770.lua
  official/c2390019.lua
  official/c4357063.lua
  official/c55623480.lua
  official/c5763020.lua
  official/c70473293.lua
  official/c81146288.lua
  unofficial/c511000310.lua
  unofficial/c511002583.lua
  unofficial/c511002661.lua
  unofficial/c511004113.lua
  unofficial/c511014000.lua
  unofficial/c700000034.lua
  unofficial/c800000000.lua
  unofficial/c95000022.lua
Owners: @pyrQ, @larry126

Function typo
  official/c1357146.lua
  official/c16943770.lua
  official/c70473293.lua
  official/c81146288.lua
  unofficial/c511000310.lua
  unofficial/c511002583.lua
  unofficial/c511002661.lua
  unofficial/c511004113.lua
  unofficial/c511014000.lua
Owners: @pyrQ, @larry126

Update c1357146.lua
  official/c1357146.lua
Owners: @pyrQ

Move debug related functions to their own file
  debug_utility.lua
  utility.lua
Owners: @pyrQ

Update cards
  official/c1357146.lua
  official/c16943770.lua
  official/c2390019.lua
  official/c4357063.lua
  official/c55623480.lua
  official/c5763020.lua
  official/c70473293.lua
  official/c81146288.lua
  unofficial/c511000310.lua
  unofficial/c511002583.lua
  unofficial/c511002661.lua
  unofficial/c511004113.lua
  unofficial/c511014000.lua
  unofficial/c700000034.lua
  unofficial/c800000000.lua
  unofficial/c95000022.lua
Owners: @pyrQ, @larry126

Comment typo [ci skip]
  official/c1357146.lua
Owners: @pyrQ

Update c511014000.lua
  unofficial/c511014000.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
