Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Official Fixes (#1207)
  official/c13438207.lua
  official/c21558682.lua
  official/c23701465.lua
  official/c34124316.lua
  official/c3657444.lua
  official/c41382147.lua
  official/c49328340.lua
  official/c52675689.lua
  official/c54704216.lua
  official/c63391643.lua
  official/c7672244.lua
  official/c84055227.lua
  official/c86871614.lua
Owners: @pyrQ

added new rush cards
  rush/c160220035.lua
  rush/c160220036.lua
  rush/c160220037.lua
  rush/c160220038.lua
  rush/c160220040.lua
  rush/c160220042.lua
  rush/c160220044.lua
  rush/c160220045.lua
  rush/c160220046.lua
Owners: @ClementLouis

Update c34124316.lua
  official/c34124316.lua
Owners: @pyrQ

Update "Circle of Life"
  unofficial/c511003085.lua
Owners: @larry126

Update unofficial scripts
  unofficial/c511000935.lua
  unofficial/c511009534.lua
  unofficial/c511009535.lua
  unofficial/c511009536.lua
Owners: @larry126

Update "En Flowers"
  unofficial/c511009533.lua
Owners: @larry126

Update "Thousand Knives"
  official/c63391643.lua
Owners: @pyrQ

Update "Insect Garden"
  unofficial/c511001352.lua
Owners: @larry126

Added new card script
  pre-release/c100200297.lua
Owners: @pyrQ

Update "Dowsing Burn"
  unofficial/c511000526.lua
Owners: @larry126

Update "Level Copy"
  unofficial/c100000253.lua
Owners: @larry126

fixed Lostream Nepia
  rush/c160220038.lua
Owners: @ClementLouis

Update "Level Copy"
  unofficial/c100000253.lua
Owners: @larry126

"Ib the World Chalice Justiciar" fix
  official/c94677445.lua
Owners: @pyrQ

Update "Synchro Destructor"
  unofficial/c511000851.lua
Owners: @larry126

Added new card scripts
  pre-release/c100459016.lua
  pre-release/c100459017.lua
  pre-release/c100459018.lua
  pre-release/c100459019.lua
  pre-release/c100459020.lua
  pre-release/c100459021.lua
  pre-release/c100459022.lua
  pre-release/c100459023.lua
  pre-release/c100459024.lua
  pre-release/c100459025.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

added Blackland Magic Dragon
  rush/c160220012.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100459002.lua
  pre-release/c101403024.lua
  pre-release/c101403025.lua
  pre-release/c101403026.lua
  pre-release/c101403027.lua
  pre-release/c101403028.lua
  pre-release/c101403055.lua
  pre-release/c101403056.lua
  pre-release/c101403057.lua
  pre-release/c101403058.lua
  pre-release/c101403076.lua
Owners: @pyrQ

Scripts update
  unofficial/c170000116.lua
  unofficial/c511000041.lua
  unofficial/c511000495.lua
  unofficial/c511000919.lua
  unofficial/c511001114.lua
  unofficial/c511001355.lua
  unofficial/c511001477.lua
  unofficial/c511001589.lua
  unofficial/c511001609.lua
  unofficial/c511001692.lua
  unofficial/c511001694.lua
  unofficial/c511001695.lua
  unofficial/c511001696.lua
  unofficial/c511001697.lua
  unofficial/c511001698.lua
  unofficial/c511001699.lua
  unofficial/c511001700.lua
  unofficial/c511001723.lua
  unofficial/c511001724.lua
  unofficial/c511001725.lua
  unofficial/c511001757.lua
  unofficial/c511001791.lua
  unofficial/c511001823.lua
  unofficial/c511002111.lua
  unofficial/c511002371.lua
  unofficial/c511005023.lua
  unofficial/c511005041.lua
  unofficial/c511009066.lua
  unofficial/c511009095.lua
  unofficial/c511009441.lua
  unofficial/c511027101.lua
  unofficial/c511027120.lua
  unofficial/c511600103.lua
  unofficial/c511806000.lua
Owners: @larry126

Update unofficial cards
  unofficial/c511001977.lua
  unofficial/c511001978.lua
  unofficial/c511001979.lua
  unofficial/c511001980.lua
  unofficial/c511002118.lua
  unofficial/c511007015.lua
Owners: @larry126

Added new card scripts
  pre-release/c100461002.lua
  pre-release/c100461003.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101403013.lua
  pre-release/c101403014.lua
  pre-release/c101403048.lua
  pre-release/c101403062.lua
  pre-release/c101403063.lua
  pre-release/c101403148.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Update "Ancient Sunshine"
  unofficial/c511001023.lua
Owners: @larry126

Update Meklord support anime
  unofficial/c100000440.lua
  unofficial/c100000441.lua
  unofficial/c100000442.lua
  unofficial/c100000445.lua
Owners: @larry126

Update "Salamangreat Bastella"
  pre-release/c101403014.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160220033.lua
  rush/c160220041.lua
  rush/c160220047.lua
  rush/c160220048.lua
  rush/c160220049.lua
  rush/c160220060.lua
  rush/c160220061.lua
Owners: @pyrQ, @ClementLouis

Update "Raft Party"
  unofficial/c511005599.lua
Owners: @larry126

Update "Raft Party"
  unofficial/c511005599.lua
Owners: @larry126

Update c511005599.lua
  unofficial/c511005599.lua
Owners: @larry126

Added new card scripts
  pre-release/c101403009.lua
  pre-release/c101403010.lua
  pre-release/c101403011.lua
  pre-release/c101403012.lua
  pre-release/c101403034.lua
  pre-release/c101403037.lua
  pre-release/c101403038.lua
  pre-release/c101403059.lua
  pre-release/c101403077.lua
  pre-release/c101403078.lua
  pre-release/c101403134.lua
Owners: @pyrQ

Update "Freedom Bird"
  unofficial/c511005630.lua
Owners: @larry126

Update "Parasite Factory"
  unofficial/c511009324.lua
Owners: @larry126

added In a Corner of the Underground City
  rush/c160220050.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100460001.lua
  pre-release/c100460002.lua
  pre-release/c100460003.lua
  pre-release/c100460004.lua
  pre-release/c100460006.lua
  pre-release/c100461000.lua
Owners: @pyrQ

added Lostream Nereides
  rush/c160402068.lua
Owners: @ClementLouis

Update "Dragon Piper (Anime)"
  unofficial/c511756001.lua
Owners: @larry126

Added new card script
  pre-release/c100459007.lua
Owners: @pyrQ

Update "Necro Sacrifice"
  unofficial/c511001158.lua
Owners: @larry126
