Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

added Rising Light Angel Esser
  rush/c160014037.lua
Owners: @ClementLouis

spell cards
  official/c1200843.lua
  official/c37406863.lua
  official/c48716139.lua
  official/c73055622.lua
  official/c74115234.lua
  official/c9553721.lua
Owners: @pyrQ

another spell
  official/c99173029.lua
Owners: @pyrQ

ritual monsters
  official/c25415052.lua
  official/c52900000.lua
Owners: @pyrQ

Fix "Welcome to the Jungle"
  skill/c300306004.lua
Owners: @ClementLouis

monsters
  official/c16889337.lua
  official/c24701235.lua
  official/c32181268.lua
  official/c39817919.lua
  official/c43378076.lua
  official/c43543777.lua
  official/c57722593.lua
  official/c6544078.lua
  official/c66815913.lua
  official/c67972302.lua
  official/c82841979.lua
  official/c90365482.lua
  official/c92200612.lua
Owners: @pyrQ

Update "Rising Light Angel Esser"
  rush/c160014037.lua
Owners: @ClementLouis

fix "Rising Light Angel Esser"
  rush/c160014037.lua
Owners: @ClementLouis

Update c511027765.lua
  unofficial/c511027765.lua
Owners: @larry126

Update c511027765.lua
  unofficial/c511027765.lua
Owners: @larry126

Update c511027765.lua
  unofficial/c511027765.lua
Owners: @larry126

Update "Blackwing - Simoon the Poison Wind"
  official/c81470373.lua
Owners: @pyrQ

Update manga "Doll" archetype check
  unofficial/c420.lua
Owners: @larry126

Typo
  unofficial/c420.lua
Owners: @larry126

Update c511027765.lua
  unofficial/c511027765.lua
Owners: @larry126

Fix JP name
  unofficial/c511027765.lua
Owners: @larry126

Fix "Miracle of the Supreme King"
  pre-release/c101202068.lua
Owners: @pyrQ

Update c511027680.lua
  unofficial/c511027680.lua
Owners: @larry126

Add "Three Card Summon" script (#1042)
  unofficial/c511027765.lua
Owners: @larry126

added Galacterial Ore
  rush/c160014038.lua
Owners: @ClementLouis

wrong function
  official/c276357.lua
Owners: @pyrQ

name typo
  official/c37406863.lua
Owners: @pyrQ

name typo
  official/c9553721.lua
Owners: @pyrQ

name typo
  official/c99173029.lua
Owners: @pyrQ

Unofficial cards
  pre-errata/c511003021.lua
  unofficial/c511000213.lua
  unofficial/c511000221.lua
  unofficial/c511000681.lua
Owners: @pyrQ, @larry126

missing space
  pre-errata/c511003021.lua
Owners: @pyrQ

Updated cards that have "Spirit monster" in their text
  official/c1200843.lua
  official/c16889337.lua
  official/c24701235.lua
  official/c25415052.lua
  official/c276357.lua
  official/c30461781.lua
  official/c32181268.lua
  official/c37406863.lua
  official/c39817919.lua
  official/c43378076.lua
  official/c43543777.lua
  official/c48716139.lua
  official/c52900000.lua
  official/c57722593.lua
  official/c6544078.lua
  official/c66815913.lua
  official/c67972302.lua
  official/c73055622.lua
  official/c74115234.lua
  official/c82841979.lua
  official/c90365482.lua
  official/c92200612.lua
  official/c92394653.lua
  official/c9553721.lua
  official/c99173029.lua
  pre-errata/c511003021.lua
  unofficial/c511000213.lua
  unofficial/c511000221.lua
  unofficial/c511000681.lua
Owners: @pyrQ, @larry126

Added new cards' scripts
  pre-release/c100200241.lua
  pre-release/c101202006.lua
  pre-release/c101202007.lua
  pre-release/c101202008.lua
  pre-release/c101202009.lua
  pre-release/c101202010.lua
  pre-release/c101202028.lua
  pre-release/c101202029.lua
  pre-release/c101202031.lua
  pre-release/c101202054.lua
  pre-release/c101202055.lua
  pre-release/c101202056.lua
  pre-release/c101202057.lua
  pre-release/c101202059.lua
  pre-release/c101202061.lua
  pre-release/c101202074.lua
  pre-release/c101202075.lua
Owners: @pyrQ

Fix "The Himorogi where Stars Align"
  pre-release/c101202061.lua
Owners: @pyrQ

fixed Amusi Annoyance
  rush/c160014063.lua
Owners: @ClementLouis

removed useless condition
  rush/c160014063.lua
Owners: @ClementLouis

"Volcanic Emperor" fix
  official/c46412900.lua
Owners: @pyrQ

Amusi Annoyance fix
  rush/c160014063.lua
Owners: @ClementLouis

Dragunity Phalanx
  official/c59755122.lua
Owners: @pyrQ

batch 1
  official/c29253591.lua
  official/c29353756.lua
  official/c32164201.lua
  official/c45082499.lua
  official/c59755122.lua
  official/c66749546.lua
  official/c75290703.lua
Owners: @pyrQ

batch 2
  official/c1295442.lua
  official/c29253591.lua
  official/c38601126.lua
  official/c99249638.lua
Owners: @pyrQ

Update "Catapult Turtle (Anime)"
  unofficial/c511004015.lua
Owners: @larry126

added Automatic Accident Prevention
  rush/c160014066.lua
Owners: @ClementLouis

Add files via upload
  c511027787.lua
Owners: @pyrQ

Add files via upload
  unofficial/c511027787.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
