Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

added new rush cards
  rush/c160013034.lua
  rush/c160013039.lua
  rush/c160013046.lua
  rush/c160013047.lua
  rush/c160013050.lua
  rush/c160013051.lua
  rush/c160013058.lua
  rush/c160013059.lua
Owners: @ClementLouis

Fix Galactiara Fuse Eve
  rush/c160013034.lua
Owners: @ClementLouis

Added new Rush cards' scripts
  rush/c160013034.lua
  rush/c160013039.lua
  rush/c160013046.lua
  rush/c160013047.lua
  rush/c160013050.lua
  rush/c160013051.lua
  rush/c160013058.lua
  rush/c160013059.lua
Owners: @ClementLouis

Fix "Offering to the Immortals"
  official/c82340056.lua
Owners: @pyrQ

update "Mad Hacker"
  official/c86993168.lua
Owners: @pyrQ

Update c89662401.lua
  official/c89662401.lua
Owners: @pyrQ

Update c20618081.lua
  official/c20618081.lua
Owners: @pyrQ

Update c37261776.lua
  official/c37261776.lua
Owners: @pyrQ

Update c9608555.lua
  official/c9608555.lua
Owners: @pyrQ

Update c31313405.lua
  official/c31313405.lua
Owners: @pyrQ

Update c41463181.lua
  official/c41463181.lua
Owners: @pyrQ

Update c87871125.lua
  official/c87871125.lua
Owners: @pyrQ

Fix "Sauge de Fleur"
  official/c85032782.lua
Owners: @pyrQ

Added constant for "Red Dragon Archfiend"
  card_counter_constants.lua
Owners: @pyrQ

Update "Dark Deal"
  official/c65824822.lua
Owners: @pyrQ

Update "Altergeist Memorygant"
  official/c23790299.lua
Owners: @pyrQ

Update "Wannabee!"
  official/c3248469.lua
Owners: @pyrQ

"Eternal Bond" fix
  official/c45283341.lua
Owners: @pyrQ

Use archetype constants
  official/c27870337.lua
  official/c34721681.lua
  official/c74153887.lua
  official/c84442536.lua
Owners: @pyrQ

"Earthbound Greater Linewalker" fix
  official/c45836982.lua
Owners: @pyrQ

added Hallowed Light Sorcerer
  rush/c160402028.lua
Owners: @ClementLouis

added new Rush script (#1009)
  rush/c160402028.lua
Owners: @ClementLouis

Fix "Alien Hypno"
  official/c38468214.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100200236.lua
  pre-release/c100299001.lua
  pre-release/c100299005.lua
  pre-release/c100299015.lua
  pre-release/c100299017.lua
  pre-release/c100299018.lua
  pre-release/c100299019.lua
  pre-release/c100299020.lua
  pre-release/c100299021.lua
  pre-release/c100299022.lua
  pre-release/c100299023.lua
  pre-release/c100299024.lua
  pre-release/c100299025.lua
  pre-release/c100299026.lua
  pre-release/c100346002.lua
  pre-release/c100346033.lua
  pre-release/c100432002.lua
  pre-release/c100432003.lua
  pre-release/c100432004.lua
  pre-release/c100432005.lua
  pre-release/c100432006.lua
  pre-release/c100432007.lua
  pre-release/c100432037.lua
Owners: @pyrQ

Added constant for "Supreme King Z-ARC"
  card_counter_constants.lua
Owners: @pyrQ

Updated old cards for compatibility with "Harmonic Synchro Fusion"
  official/c41209827.lua
Owners: @pyrQ

added new rush cards
  rush/c160208001.lua
  rush/c160208002.lua
  rush/c160208003.lua
  rush/c160208008.lua
  rush/c160208009.lua
  rush/c160208012.lua
Owners: @ClementLouis

added new rush scripts (#1010)
  rush/c160208001.lua
  rush/c160208002.lua
  rush/c160208003.lua
  rush/c160208008.lua
  rush/c160208009.lua
  rush/c160208012.lua
Owners: @ClementLouis

fixed interactions with Harpie Ladies
  proc_maximum.lua
  rush/c160011056.lua
Owners: @pyrQ, @ClementLouis

"Earthbound Prison" fix
  pre-release/c100299024.lua
Owners: @pyrQ

Update c160011056.lua
  rush/c160011056.lua
Owners: @ClementLouis

Rush fixes
  proc_maximum.lua
  rush/c160011056.lua
Owners: @pyrQ, @ClementLouis

Update "Secret Cure"
  unofficial/c152000012.lua
Owners: @larry126

Update "Energizing Elements"
  skill/c300304017.lua
Owners: @ClementLouis

Update "Looking into the Future"
  skill/c300304010.lua
Owners: @ClementLouis

fix "Arcana Force XV - The Fiend"
  pre-release/c100299005.lua
Owners: @pyrQ

fix "Kiriban"
  official/c88346805.lua
Owners: @pyrQ

fix "Salamangreat Wheesel"
  pre-release/c100432002.lua
Owners: @pyrQ

added new rush cards
  rush/c160208038.lua
  rush/c160208039.lua
  rush/c160208040.lua
  rush/c160208041.lua
  rush/c160208043.lua
  rush/c160208052.lua
  rush/c160208053.lua
Owners: @ClementLouis

added new Rush cards (#1012)
  rush/c160208038.lua
  rush/c160208039.lua
  rush/c160208040.lua
  rush/c160208041.lua
  rush/c160208043.lua
  rush/c160208052.lua
  rush/c160208053.lua
Owners: @ClementLouis
