Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

"Fiendsmith's Sanct" update
  official/c35552985.lua
Owners: @pyrQ

"Heart of a Warrior" fix
  skill/c300307010.lua
Owners: @ClementLouis

Update "The Dragon Hunting Swordsman"
  skill/c300307009.lua
Owners: @ClementLouis

added Delirium Calabrone
  rush/c160213056.lua
Owners: @ClementLouis

"Chaos Allure Queen" update
  official/c29925614.lua
Owners: @pyrQ

added new rush cards
  rush/c160213038.lua
  rush/c160213039.lua
Owners: @ClementLouis

Update c511002870.lua
  unofficial/c511002870.lua
Owners: @larry126

Update c511002870.lua
  unofficial/c511002870.lua
Owners: @larry126

Update "Beasts of Phantom"
  skill/c300303014.lua
Owners: @ClementLouis

Update c300303014.lua
  skill/c300303014.lua
Owners: @ClementLouis

Update "Power Bond (Skill Card)"
  skill/c300305008.lua
Owners: @ClementLouis

Added new card script
  pre-release/c100200264.lua
Owners: @pyrQ

added Delirium Drone
  rush/c160213059.lua
Owners: @ClementLouis

Update "Believe in your Bro"
  skill/c300305011.lua
Owners: @ClementLouis

Update c300305011.lua
  skill/c300305011.lua
Owners: @ClementLouis

Update "Slimey Disposition"
  skill/c300307016.lua
Owners: @ClementLouis

Update "HEROES UNITE - FUSION!!"
  skill/c300305001.lua
Owners: @ClementLouis

Update c300305001.lua
  skill/c300305001.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100419001.lua
  pre-release/c100419002.lua
Owners: @pyrQ

added Delirium Larva
  rush/c160213054.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101208029.lua
  pre-release/c101208065.lua
Owners: @pyrQ

Update "Number S38" and "Number S37"
  pre-release/c100441010.lua
  pre-release/c100441011.lua
Owners: @pyrQ

fixed Galactica Tabula Rasa
  rush/c160011011.lua
Owners: @ClementLouis

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new registration flag
  constant.lua
  utility.lua
Owners: @pyrQ

Update "Dragon Ruler" cards
  official/c26400609.lua
  official/c27415516.lua
  official/c53797637.lua
  official/c53804307.lua
  official/c89185742.lua
  official/c89399912.lua
  official/c90411554.lua
  official/c91020571.lua
Owners: @pyrQ

update c511001374.lua
  unofficial/c511001374.lua
Owners: @larry126

Added new card constant
  card_counter_constants.lua
Owners: @pyrQ

Update "Number 8: Heraldic King Genom-Heritage (Anime)"
  unofficial/c511001374.lua
Owners: @larry126

Added new card scripts
  pre-release/c101208018.lua
  pre-release/c101208019.lua
  pre-release/c101208047.lua
  pre-release/c101208048.lua
  pre-release/c101208049.lua
  pre-release/c101208061.lua
Owners: @pyrQ

Fix "Powerful Group of Guys"
  skill/c300304002.lua
Owners: @ClementLouis

Update c300304002.lua
  skill/c300304002.lua
Owners: @ClementLouis

Update c300304002.lua
  skill/c300304002.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101208009.lua
  pre-release/c101208010.lua
  pre-release/c101208045.lua
  pre-release/c101208046.lua
  pre-release/c101208056.lua
Owners: @pyrQ

"Chasmatis, Dragon Ruler of Auroras" fix
  pre-release/c101208047.lua
Owners: @pyrQ

added Hydra Viper
  proc_rush.lua
  rush/c160402047.lua
Owners: @pyrQ, @ClementLouis

"Riryoku" update
  official/c34016756.lua
Owners: @pyrQ

Fix "He Arkho - "Hudor""
  official/c30339825.lua
Owners: @pyrQ

Update "Sabatiel - The Philosopher's Stone (VG)"
  unofficial/c100000247.lua
Owners: @larry126

added Delirium Honeyed Words
  rush/c160213064.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
