Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

muliple locals to increase readability apparently
  unofficial/c511010507.lua
Owners: @larry126

Added new constants
  card_counter_constants.lua
  constant.lua
Owners: @pyrQ

Update "Metagias the Steelstriking Dragon"
  rush/c160006017.lua
Owners: @ClementLouis

added new scripts
  rush/c160204001.lua
  rush/c160204002.lua
  rush/c160204003.lua
  rush/c160204005.lua
  rush/c160204012.lua
  rush/c160204014.lua
  rush/c160204017.lua
  rush/c160204024.lua
  rush/c160204029.lua
  rush/c160204033.lua
  rush/c160204034.lua
  rush/c160204035.lua
  rush/c160204036.lua
  rush/c160204045.lua
  rush/c160204050.lua
  rush/c160402008.lua
  rush/c160417006.lua
Owners: @ClementLouis

Fire Jester & Fusion fix
  rush/c160204005.lua
  rush/c160204050.lua
Owners: @ClementLouis

Great Imperial Dinocarriage Dynarmix fix
  rush/c160203006.lua
Owners: @ClementLouis

Update c160204050.lua
  rush/c160204050.lua
Owners: @ClementLouis

Amusi Howling Performer fix
  rush/c160204029.lua
Owners: @ClementLouis

Permylind Hicrotron & Fearstute Followl fix
  rush/c160204034.lua
  rush/c160204035.lua
Owners: @ClementLouis

Saikyo Flag Beast Rhino Cannon fix
  rush/c160402008.lua
Owners: @ClementLouis

Winged Celestial Dragon of Weal and Woe fix
  rush/c160204036.lua
Owners: @ClementLouis

Fix "Winged Celestial Dragon of Weal and Woe"
  rush/c160204036.lua
Owners: @ClementLouis

Fix "Winged Celestial Dragon of Weal and Woe"
  rush/c160204036.lua
Owners: @ClementLouis

Update "Winged Celestial Dragon of Weal and Woe"
  rush/c160204036.lua
Owners: @ClementLouis

Metallion Eraclestar fix
  rush/c160204003.lua
Owners: @ClementLouis

Update "Evil★Twin's Trouble Sunny"
  official/c93672138.lua
Owners: @pyrQ

"Spirit's Invitation" fix
  official/c92394653.lua
Owners: @pyrQ

Added new race constants
  constant.lua
Owners: @pyrQ

added new script
  rush/c160204015.lua
  rush/c160204022.lua
Owners: @ClementLouis

Permylind Hicrotron fix
  rush/c160204035.lua
Owners: @ClementLouis

Supergeardragon Dragearstar F fix
  rush/c160204022.lua
Owners: @ClementLouis

rush fusion string fix
  rush/c160204015.lua
  rush/c160204022.lua
Owners: @ClementLouis

Dragearstar F fix
  rush/c160204022.lua
Owners: @ClementLouis

Sevens Palladion wrong function name fix
  rush/c160204015.lua
Owners: @ClementLouis

Supergeardragon Dragearstar F multi attack fix
  rush/c160204022.lua
Owners: @ClementLouis

Supergeardragon Dragearstar F requirement fix
  rush/c160204022.lua
Owners: @ClementLouis

Fix "Volcanic Hammerer"
  official/c54514594.lua
Owners: @pyrQ

Supergeardragon Dragearstar F fix
  rush/c160204022.lua
Owners: @ClementLouis

Sevens Palladin fix
  rush/c160204015.lua
Owners: @ClementLouis

"Timaeus the Dragon of Destiny" fix
  pre-release/c101107003.lua
Owners: @pyrQ

Sevens Palladin ruling update
  rush/c160204015.lua
Owners: @ClementLouis

"Spirit Sculptor" fix
  official/c19307353.lua
Owners: @pyrQ

"Victorika the Angel of Courage" official release script update
  official/c79928401.lua
Owners: @pyrQ

Unofficial synchro material metatable update
  official/c12766474.lua
  unofficial/c511000558.lua
  unofficial/c511001982.lua
  unofficial/c511002227.lua
  unofficial/c511002708.lua
  unofficial/c511009416.lua
  unofficial/c511009588.lua
  unofficial/c511027027.lua
  unofficial/c511600105.lua
  unofficial/c513000012.lua
  unofficial/c513000013.lua
  unofficial/c513000078.lua
Owners: @pyrQ, @larry126

Unofficial scripts updates
  unofficial/c511001593.lua
  unofficial/c511027002.lua
Owners: @larry126

Fix "Sunavalon Melias"
  official/c44478599.lua
Owners: @pyrQ

Fix for "Astrograph Sorcerer (Anime)" (#645)
  unofficial/c511010507.lua
Owners: @larry126

Add "Vow of the Sword" (#639)
  unofficial/c511003223.lua
Owners: @larry126

Add "Meklord Emperor Granel (Anime)" (#638)
  unofficial/c511003222.lua
Owners: @larry126

Add "Dark Archetype (Anime)" (#628)
  c511003221.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
