Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

update utility.lua
  utility.lua
Owners: @pyrQ

update "Ultimate Full Burst"
  unofficial/c511003038.lua
Owners: @larry126

update "Utopia Rising"
  unofficial/c511004123.lua
Owners: @larry126

"Constellar" updates
  official/c14759024.lua
  official/c15871676.lua
  official/c16906241.lua
  official/c40143123.lua
  official/c41269771.lua
  official/c42391240.lua
  official/c43513897.lua
  official/c78486968.lua
Owners: @pyrQ

"Allure Queen" updates
  official/c23756165.lua
  official/c87257460.lua
  unofficial/c511310036.lua
Owners: @pyrQ, @larry126

update "XYZ Wings"
  unofficial/c511600191.lua
Owners: @larry126

Update c511003038.lua
  unofficial/c511003038.lua
Owners: @larry126

update "Rank-Up-Magic Cipher Pursuit"
  unofficial/c511018510.lua
Owners: @larry126

Update c511004123.lua
  unofficial/c511004123.lua
Owners: @larry126

update "Raidraptor - Rapid Xyz"
  unofficial/c511002868.lua
Owners: @larry126

update "Overlay Wedge"
  unofficial/c511027118.lua
Owners: @larry126

"tellarknight" updates
  official/c1050186.lua
  official/c13851202.lua
  official/c22617205.lua
  official/c2273734.lua
  official/c26057276.lua
  official/c38667773.lua
  official/c42822433.lua
  official/c58858807.lua
  official/c63274863.lua
  official/c65056481.lua
  official/c75878039.lua
  official/c79210531.lua
  official/c86466163.lua
  official/c96223501.lua
  official/c99668578.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

update "Number F0: Utopic Future Slash"
  official/c43490025.lua
Owners: @pyrQ

Updated some Xyz Monsters that weren't using the "Cost.Detach" function
  official/c10000030.lua
  official/c65301952.lua
  official/c73445448.lua
  official/c83531441.lua
  official/c86532744.lua
Owners: @pyrQ

update "Number C65: King Overfiend"
  official/c49195710.lua
Owners: @pyrQ

Update c12081875.lua
  official/c12081875.lua
Owners: @pyrQ

add "Dragon Ruler" cost helper functions
  cards_specific_functions.lua
Owners: @pyrQ

update "Thunder Dragon Thunderstormech"
  official/c12081875.lua
Owners: @pyrQ

update "Thunder Dragon" monsters
  goat/c504700054.lua
  official/c12081875.lua
  official/c20318029.lua
  official/c29596581.lua
  official/c31786629.lua
  official/c56713174.lua
  official/c83107873.lua
Owners: @pyrQ

update "Chasma, Dragon Ruler of Auroras"
  official/c4965193.lua
Owners: @pyrQ

update "Dragon Ruler" monsters that discard themselves
  official/c26400609.lua
  official/c27415516.lua
  official/c53797637.lua
  official/c53804307.lua
  official/c58201062.lua
  official/c89185742.lua
  official/c89399912.lua
  official/c90411554.lua
  official/c91020571.lua
  official/c94655777.lua
Owners: @pyrQ

"Thunder Dragon Thunderstormech" updates
  official/c12081875.lua
Owners: @pyrQ

Update "Allure Palace (Anime)" to also use a cost table
  unofficial/c511310036.lua
  utility.lua
Owners: @larry126, @pyrQ

"Tellarknight Constellar Caduceus" label fix + "Number C32: Shark Drake Veiss" update
  official/c49221191.lua
  official/c58858807.lua
Owners: @pyrQ

Update c12081875.lua
  official/c12081875.lua
Owners: @pyrQ

baby ruler cost should be "Cost.SelfDiscard"
  cards_specific_functions.lua
Owners: @pyrQ

Updated "Numeron Network" to use "EFFECT_OVERLAY_REMOVE_REPLACE"
  official/c41418852.lua
  utility.lua
Owners: @pyrQ

DRulers smol updates
  official/c26400609.lua
  official/c4965193.lua
  official/c53804307.lua
  official/c89399912.lua
  official/c90411554.lua
Owners: @pyrQ

Use "Card.GetOverlayCount"
  unofficial/c511001429.lua
  unofficial/c511001659.lua
  unofficial/c511002001.lua
  unofficial/c511002762.lua
  unofficial/c511002855.lua
  unofficial/c511002873.lua
  unofficial/c511003219.lua
  unofficial/c511009340.lua
  unofficial/c511009480.lua
  unofficial/c511009567.lua
  unofficial/c511600284.lua
  unofficial/c513000059.lua
Owners: @larry126

Update some anime cards to use "Cost.Detach"
  official/c41418852.lua
  unofficial/c511001363.lua
  unofficial/c511001429.lua
  unofficial/c511001659.lua
  unofficial/c511002001.lua
  unofficial/c511002762.lua
  unofficial/c511002855.lua
  unofficial/c511002873.lua
  unofficial/c511003219.lua
  unofficial/c511009340.lua
  unofficial/c511009480.lua
  unofficial/c511009567.lua
  unofficial/c511600284.lua
  unofficial/c513000059.lua
Owners: @pyrQ, @larry126

update some official cards to use Cost.Detach
  official/c12632096.lua
  official/c19369609.lua
  official/c31801517.lua
  official/c32559361.lua
  official/c3989465.lua
  official/c6387204.lua
  official/c78876707.lua
  official/c96592102.lua
  official/c96864105.lua
Owners: @pyrQ

Update c511001363.lua
  unofficial/c511001363.lua
Owners: @larry126

Update c511009567.lua
  unofficial/c511009567.lua
Owners: @larry126

Update utility.lua
  utility.lua
Owners: @pyrQ

Update c511009480.lua
  unofficial/c511009480.lua
Owners: @larry126

updates/fixes
  official/c12632096.lua
  official/c19369609.lua
  official/c31801517.lua
  official/c32559361.lua
  official/c3989465.lua
  official/c96592102.lua
  official/c96864105.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

update "Primathmech Laplacian"
  official/c88021907.lua
Owners: @pyrQ

update "Starliege Lord Galaxion"
  official/c40390147.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
