Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

added new rush cards
  rush/c160214034.lua
  rush/c160321028.lua
  rush/c160322006.lua
Owners: @ClementLouis

fixed CAN - Eb:D
  rush/c160214034.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100296202.lua
  pre-release/c100442005.lua
Owners: @pyrQ

Added new card script
  pre-release/c100200270.lua
Owners: @pyrQ

fixed Archfiend Spear Soldier
  rush/c160020022.lua
Owners: @ClementLouis

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

added new rush cards
  rush/c160214001.lua
  rush/c160214027.lua
  rush/c160214030.lua
  rush/c160214046.lua
  rush/c160214047.lua
  rush/c160214048.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100442031.lua
  pre-release/c100442032.lua
  pre-release/c100442033.lua
  pre-release/c100442034.lua
  pre-release/c100442035.lua
  pre-release/c100442036.lua
  pre-release/c100442037.lua
  pre-release/c100442038.lua
  pre-release/c100442039.lua
  pre-release/c100442041.lua
Owners: @pyrQ

"K9 - #ØØ "Hound"" fix
  pre-release/c100442036.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101301017.lua
  pre-release/c101301018.lua
  pre-release/c101301061.lua
  pre-release/c101301062.lua
  pre-release/c101301076.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"K9 - #17 "Ripper"" fix
  pre-release/c100442035.lua
Owners: @pyrQ

"Emergency Teleport" update
  official/c67723438.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100442025.lua
  pre-release/c101301013.lua
  pre-release/c101301014.lua
  pre-release/c101301015.lua
  pre-release/c101301016.lua
  pre-release/c101301034.lua
  pre-release/c101301038.lua
  pre-release/c101301039.lua
  pre-release/c101301040.lua
  pre-release/c101301059.lua
  pre-release/c101301060.lua
Owners: @pyrQ

added Elemental HERO Heliosphere
  rush/c160214029.lua
Owners: @ClementLouis

Update "Sky Striker Mecha - Widow Anchor"
  official/c98338152.lua
Owners: @pyrQ

"Divine Serpent Apophis" fix
  pre-release/c100410004.lua
Owners: @pyrQ

"Evilswarm Exciton Knight" fix
  official/c46772449.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101301024.lua
  pre-release/c101301025.lua
  pre-release/c101301068.lua
Owners: @pyrQ

added Road Servant Flare
  rush/c160402050.lua
Owners: @ClementLouis

Fixed some "Super Quantal Mech" monsters
  official/c11646785.lua
  official/c57031794.lua
  official/c57450198.lua
  official/c85252081.lua
Owners: @pyrQ

fixed an incorrect function name in the previous commit
  official/c57031794.lua
  official/c57450198.lua
Owners: @pyrQ

"Card.NegateEffects" update
  utility.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160214050.lua
  rush/c160214052.lua
Owners: @pyrQ, @ClementLouis

Unofficial card script fixes
  official/c21848500.lua
  unofficial/c100000033.lua
  unofficial/c170000171.lua
  unofficial/c511000163.lua
  unofficial/c511000948.lua
  unofficial/c511001586.lua
  unofficial/c511001906.lua
  unofficial/c511002446.lua
  unofficial/c511002456.lua
  unofficial/c511009381.lua
  unofficial/c511247014.lua
Owners: @pyrQ, @larry126

"Grave of the Super Ancient Organism" fix
  official/c83266092.lua
Owners: @pyrQ

"Rebellion of the Monarchs" update
  pre-release/c101301062.lua
Owners: @pyrQ

Update "Secret Mission"
  unofficial/c511001331.lua
Owners: @larry126

Update "Cyber Phoenix (Anime)"
  unofficial/c511007022.lua
Owners: @larry126

Added new card scripts
  pre-release/c100200267.lua
  pre-release/c100200268.lua
  pre-release/c100200269.lua
Owners: @pyrQ

Added new card script
  pre-release/c100442040.lua
Owners: @pyrQ

"Doomking Balerdroch" fix
  official/c39185163.lua
Owners: @pyrQ

"Hallo, the Spirit of Tricks" + "Ween, the Spirit of Treats" fix
  official/c54611591.lua
  official/c81005500.lua
Owners: @pyrQ

Fix "Barrier Resonator"
  official/c89127526.lua
Owners: @pyrQ

fixed cards that activate during a turn you have not drawn a card
  rush/c160017037.lua
  rush/c160213069.lua
  rush/c160214050.lua
Owners: @ClementLouis

"Argostars - Glorious Adra" fix
  official/c91438674.lua
Owners: @pyrQ

Fixes for some cards with cost replacement effects
  cards_specific_functions.lua
  official/c16471775.lua
  official/c25725326.lua
  official/c27693363.lua
  official/c29942771.lua
  official/c30983281.lua
  official/c44509529.lua
  official/c62714453.lua
  official/c84012625.lua
  official/c89264428.lua
  official/c89771220.lua
  official/c93454062.lua
  utility.lua
Owners: @pyrQ

Fixes for some cards with cost replacement effects
  cards_specific_functions.lua
  official/c16471775.lua
  official/c25725326.lua
  official/c27693363.lua
  official/c29942771.lua
  official/c30983281.lua
  official/c44509529.lua
  official/c62714453.lua
  official/c84012625.lua
  official/c89264428.lua
  official/c89771220.lua
  official/c93454062.lua
  utility.lua
Owners: @pyrQ

Rename c100410001.lua to c97522863.lua
  official/c97522863.lua
Owners: @pyrQ

Rename c100410002.lua to c34926568.lua
  official/c34926568.lua
Owners: @pyrQ
