Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update and rename pre-release/c101107010.lua to official/c38628859.lua
  official/c38628859.lua
Owners: @pyrQ

Rename pre-release/c101107011.lua to official/c65626958.lua
  official/c65626958.lua
Owners: @pyrQ

Rename pre-release/c101107012.lua to official/c91011603.lua
  official/c91011603.lua
Owners: @pyrQ

Rename pre-release/c101107013.lua to official/c28406301.lua
  official/c28406301.lua
Owners: @pyrQ

Update and rename pre-release/c101107014.lua to official/c64804316.lua
  official/c64804316.lua
Owners: @pyrQ

Rename pre-release/c101107015.lua to official/c90299015.lua
  official/c90299015.lua
Owners: @pyrQ

Rename pre-release/c101107016.lua to official/c27383719.lua
  official/c27383719.lua
Owners: @pyrQ

Rename pre-release/c101107017.lua to official/c53782828.lua
  official/c53782828.lua
Owners: @pyrQ

Rename pre-release/c101107018.lua to official/c90176467.lua
  official/c90176467.lua
Owners: @pyrQ

Update and rename pre-release/c101107019.lua to official/c26561172.lua
  official/c26561172.lua
Owners: @pyrQ

Rename pre-release/c101107020.lua to official/c52566270.lua
  official/c52566270.lua
Owners: @pyrQ

Update c64804316.lua
  official/c64804316.lua
Owners: @pyrQ

Rename pre-release/c101107021.lua to official/c99054885.lua
  official/c99054885.lua
Owners: @pyrQ

Rename pre-release/c101107022.lua to official/c25449584.lua
  official/c25449584.lua
Owners: @pyrQ

Rename pre-release/c101107023.lua to official/c52843699.lua
  official/c52843699.lua
Owners: @pyrQ

Rename pre-release/c101107024.lua to official/c88232397.lua
  official/c88232397.lua
Owners: @pyrQ

Rename pre-release/c101107025.lua to official/c24226942.lua
  official/c24226942.lua
Owners: @pyrQ

Update and rename pre-release/c101107026.lua to official/c51611041.lua
  official/c51611041.lua
Owners: @pyrQ

Rename pre-release/c101107027.lua to official/c87116749.lua
  official/c87116749.lua
Owners: @pyrQ

Update and rename pre-release/c101107028.lua to official/c14504454.lua
  official/c14504454.lua
Owners: @pyrQ

Rename pre-release/c101107029.lua to official/c50599453.lua
  official/c50599453.lua
Owners: @pyrQ

Rename pre-release/c101107030.lua to official/c86993168.lua
  official/c86993168.lua
Owners: @pyrQ

Rename pre-release/c101107031.lua to official/c13382806.lua
  official/c13382806.lua
Owners: @pyrQ

Rename pre-release/c101107032.lua to official/c49776811.lua
  official/c49776811.lua
Owners: @pyrQ

Rename pre-release/c101107033.lua to official/c86271510.lua
  official/c86271510.lua
Owners: @pyrQ

Rename pre-release/c101107034.lua to official/c12266229.lua
  official/c12266229.lua
Owners: @pyrQ

Update and rename pre-release/c101107035.lua to official/c48654323.lua
  official/c48654323.lua
Owners: @pyrQ

Rename pre-release/c101107036.lua to official/c85059922.lua
  official/c85059922.lua
Owners: @pyrQ

Update and rename pre-release/c101107037.lua to official/c11443677.lua
  official/c11443677.lua
Owners: @pyrQ

Update and rename pre-release/c101107038.lua to official/c48832775.lua
  official/c48832775.lua
Owners: @pyrQ

Update and rename pre-release/c101107039.lua to official/c74936480.lua
  official/c74936480.lua
Owners: @pyrQ

Update and rename pre-release/c101107040.lua to official/c11321089.lua
  official/c11321089.lua
Owners: @pyrQ

"Marincess Aqua Argonaut" fix
  pre-release/c100426034.lua
Owners: @pyrQ

Fix anime Timelord related errors
  unofficial/c513000039.lua
  unofficial/c513000051.lua
Owners: @larry126

Last Day of the Pretty☆Witch fix
  rush/c160005046.lua
Owners: @ClementLouis

added new rush scripts
  rush/c160007023.lua
  rush/c160007030.lua
  rush/c160007042.lua
  rush/c160007049.lua
Owners: @ClementLouis

Update and rename pre-release/c101107041.lua to official/c47710198.lua
  official/c47710198.lua
Owners: @pyrQ

Rename pre-release/c101107042.lua to official/c73104892.lua
  official/c73104892.lua
Owners: @pyrQ

Update and rename pre-release/c101107043.lua to official/c109401.lua
  official/c109401.lua
Owners: @pyrQ

Update and rename pre-release/c101107044.lua to official/c46593546.lua
  official/c46593546.lua
Owners: @pyrQ
