Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

added new script
  rush/c160305030.lua
  rush/c160307026.lua
  rush/c160308004.lua
  rush/c160309027.lua
Owners: @ClementLouis

typo fix
  rush/c160302014.lua
Owners: @ClementLouis

Verdant Vegetation of Spectral Shangri-La fix
  rush/c160309027.lua
Owners: @ClementLouis

King’s Right fix
  rush/c160307026.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101105081.lua
  pre-release/c101105082.lua
  pre-release/c101105083.lua
  pre-release/c101105084.lua
  pre-release/c101105085.lua
  pre-release/c101105086.lua
  pre-release/c101105087.lua
  pre-release/c101105088.lua
  pre-release/c101105089.lua
  pre-release/c101105090.lua
  pre-release/c101105091.lua
Owners: @pyrQ

king's right fix
  rush/c160307026.lua
Owners: @ClementLouis

added new scripts
  rush/c160303032.lua
  rush/c160304022.lua
  rush/c160417001.lua
  rush/c160417002.lua
  rush/c160417003.lua
  rush/c160417004.lua
  rush/c160417005.lua
Owners: @ClementLouis

fix "Super Armored Robot Armed Black Iron "C""
  official/c77754169.lua
Owners: @pyrQ

"Super Armored Robot Armed Black Iron "C"" fix
  official/c77754169.lua
Owners: @pyrQ

"Beetrooper Sting Lancer" fix
  pre-release/c101105087.lua
Owners: @pyrQ

Update c300303009.lua
  skill/c300303009.lua
Owners: @ClementLouis

Update c300303009.lua
  skill/c300303009.lua
Owners: @ClementLouis

"Magician's Act" fix
  skill/c300303009.lua
Owners: @ClementLouis

Small Fix for "Burial from a Different Dimension (Anime)" (#637)
  unofficial/c511002813.lua
Owners: @larry126

Unofficial Scripts Fixes (#618)
  unofficial/c511009136.lua
  unofficial/c511009300.lua
  unofficial/c700000018.lua
  unofficial/c810000096.lua
Owners: @larry126

"Sacred Tree Beast, Hyperyton" fix (#614)
  official/c9349094.lua
Owners: @pyrQ

Sakuretsu armor (rush) fix
  rush/c160417005.lua
Owners: @ClementLouis

small fix for "King of the Sky Prison"
  official/c9822220.lua
Owners: @pyrQ

Add "Meklord Emperor Granel (Anime)"
  unofficial/c511003222.lua
Owners: @larry126

Add "Vow of the Sword"
  unofficial/c511003223.lua
Owners: @larry126

Fiendish Commander Deadly Duel fix
  rush/c160006060.lua
Owners: @ClementLouis

"Amunessia, the Ogdoadic Queen" strings fix
  official/c61160289.lua
Owners: @pyrQ

"Firewall Dragon Darkfluid" fix
  official/c68934651.lua
Owners: @pyrQ

Comments and polish
  official/c68934651.lua
Owners: @pyrQ

Fix "Performage Magic Tactician"
  unofficial/c511002681.lua
Owners: @larry126

"World Legacy Guardragon" fix
  official/c87571563.lua
Owners: @pyrQ

"White Steed of the Floral Knights" fixes
  official/c11426487.lua
Owners: @pyrQ

Fix "Backs to the Wall"
  official/c32603633.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200206.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100312022.lua
  pre-release/c100312033.lua
Owners: @pyrQ

"Proton Blast" fix
  official/c49511705.lua
Owners: @pyrQ

Small update
  official/c49511705.lua
Owners: @pyrQ

"Proton Blast" update
  official/c49511705.lua
Owners: @pyrQ

"Gaia the Fierce Knight Origin" fix
  official/c50354944.lua
Owners: @pyrQ

Fix "Silver Spirit Redirection"
  unofficial/c511000938.lua
Owners: @larry126

Update c511000938.lua
  unofficial/c511000938.lua
Owners: @larry126

Update Counter Cleaner to use the new functions
  official/c38834303.lua
Owners: @pyrQ

Update Rokket Caliber
  official/c67127799.lua
Owners: @pyrQ

Fix Speed Spell - Takeover
  unofficial/c511000978.lua
Owners: @larry126

"Bait Doll" fix
  official/c7165085.lua
Owners: @pyrQ
