Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update c511027787.lua
  unofficial/c511027787.lua
Owners: @larry126

Update c511027109.lua
  c511027109.lua
Owners: @pyrQ

Add "Sacred Defense Barrier (VG)" script (#1049)
  c511027109.lua
Owners: @pyrQ

Update c511027651.lua
  unofficial/c511027651.lua
Owners: @larry126

Update and rename c511027109.lua to unofficial/c511027109.lua
  unofficial/c511027109.lua
Owners: @larry126

Replace reset values by their constants
  official/c19162134.lua
  rush/c160206004.lua
  unofficial/c511000119.lua
  unofficial/c511001410.lua
  unofficial/c511002521.lua
Owners: @pyrQ, @ClementLouis, @larry126

update "Dueltaining"
  official/c19162134.lua
Owners: @pyrQ

added new rush cards
  rush/c160014002.lua
  rush/c160014003.lua
  rush/c160014004.lua
  rush/c160014005.lua
  rush/c160014006.lua
  rush/c160014007.lua
  rush/c160014044.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101202021.lua
  pre-release/c101202022.lua
  pre-release/c101202023.lua
  pre-release/c101202024.lua
  pre-release/c101202025.lua
  pre-release/c101202026.lua
  pre-release/c101202027.lua
  pre-release/c101202066.lua
  pre-release/c101202067.lua
  pre-release/c101202079.lua
  pre-release/c101202080.lua
Owners: @pyrQ

Update "Diabound Kernel (Anime)"
  unofficial/c511000118.lua
Owners: @larry126

Update cards to account the change in EVENT_TOSS_COIN
  official/c19162134.lua
  pre-release/c101202027.lua
  utility.lua
Owners: @pyrQ

Normalized file endings
  unofficial/c511003235.lua
  unofficial/c511003236.lua
  unofficial/c511027109.lua
  unofficial/c511027541.lua
  unofficial/c511027556.lua
  unofficial/c511027765.lua
Owners: @larry126

Update proton blast to use new function to retrieve coins
  official/c49511705.lua
Owners: @pyrQ

Fixed error introduced in the recent coin toss update
  pre-release/c101202027.lua
Owners: @pyrQ

Update "Sacred Defense Barrier"
  unofficial/c511027109.lua
Owners: @larry126

Update "Sacred Defense Barrier (Anime)"
  unofficial/c511000129.lua
Owners: @larry126

Update c511000129.lua
  unofficial/c511000129.lua
Owners: @larry126

Add "Raidraptor Readiness (Anime)" script (#1047)
  unofficial/c511027787.lua
Owners: @larry126

Add "Parallel Select (Anime)" script (#1051)
  unofficial/c511027651.lua
Owners: @larry126

Fix indentation
  unofficial/c511027651.lua
  unofficial/c511027787.lua
Owners: @larry126

fixed Pureglass Spears
  rush/c160013033.lua
Owners: @ClementLouis

Check for line endings in in actions
  .github/workflows/check-scripts.yml
Owners: @kevinlul

Normalize line endings
  unofficial/c511027651.lua
  unofficial/c511027787.lua
Owners: @larry126

"Thestalos the Shadowfire Monarch" fix
  official/c77832858.lua
Owners: @pyrQ

added The Strange Specter of Celestial Severance's alt art script
  rush/c160440005.lua
Owners: @ClementLouis

Update "Diabound Kernel (Anime)"
  unofficial/c511000118.lua
Owners: @larry126

Add files via upload
  c511027621.lua
Owners: @pyrQ

Add files via upload
  unofficial/c511027621.lua
Owners: @larry126

Add files via upload
  unofficial/c511027621.lua
Owners: @larry126

Add files via upload
  unofficial/c511027621.lua
Owners: @larry126

Add files via upload
  unofficial/c511027621.lua
Owners: @larry126

Update c511027621.lua
  unofficial/c511027621.lua
Owners: @larry126

Update c511027621.lua
  unofficial/c511027621.lua
Owners: @larry126

Update c511027621.lua
  unofficial/c511027621.lua
Owners: @larry126

Add files via upload
  unofficial/c511027621.lua
Owners: @larry126

Simplify redundant logic regarding the ternary 'or'
  proc_ritual.lua
  proc_workaround.lua
  unofficial/c151000000.lua
  utility.lua
Owners: @pyrQ, @larry126

Add files via upload
  official/c89023486.lua
  official/c9091064.lua
  official/c9275482.lua
  official/c92812851.lua
  official/c93039339.lua
  official/c94151981.lua
  official/c95095116.lua
  official/c95973569.lua
  official/c9674034.lua
Owners: @pyrQ

constant files
  archetype_setcode_constants.lua
  card_counter_constants.lua
  constant.lua
Owners: @pyrQ

Update c511027621.lua
  unofficial/c511027621.lua
Owners: @larry126

Update c511027621.lua
  unofficial/c511027621.lua
Owners: @larry126
