Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

fix "Lindwurm the Gunhammer Dragon"
  pre-release/c101111034.lua
Owners: @pyrQ

update c777777777.lua
  unofficial/c777777777.lua
Owners: @larry126

Add constants for coin results
  constant.lua
Owners: @pyrQ

Update Head Judging and It's My Lucky Day!
  official/c38143903.lua
  skill/c300102004.lua
Owners: @pyrQ, @ClementLouis

Add CARD_LIGHT_BARRIER constant
  card_counter_constants.lua
  official/c11819473.lua
  official/c23846921.lua
  official/c34568403.lua
  official/c35781051.lua
  official/c5861892.lua
  official/c60953118.lua
  official/c61175706.lua
  official/c62892347.lua
  official/c69831560.lua
  official/c73206827.lua
  official/c8396952.lua
  official/c97452817.lua
  official/c97574404.lua
  unofficial/c100000105.lua
  unofficial/c100000106.lua
  unofficial/c100000116.lua
  unofficial/c511001478.lua
  unofficial/c511003201.lua
  unofficial/c511005639.lua
  unofficial/c511016000.lua
  unofficial/c511016002.lua
  unofficial/c513000126.lua
  unofficial/c513000163.lua
Owners: @pyrQ, @larry126

Add CARD_REVERSAL_OF_FATE constant
  card_counter_constants.lua
  official/c23846921.lua
  official/c34568403.lua
  official/c35781051.lua
  official/c36690018.lua
  official/c5861892.lua
  official/c60953118.lua
  official/c61175706.lua
  official/c62892347.lua
  official/c69831560.lua
  official/c8396952.lua
  official/c97452817.lua
  official/c97574404.lua
  official/c99189322.lua
  unofficial/c100000105.lua
  unofficial/c100000106.lua
  unofficial/c100000116.lua
  unofficial/c511001476.lua
  unofficial/c511001478.lua
  unofficial/c511003201.lua
  unofficial/c511005639.lua
  unofficial/c511016000.lua
  unofficial/c511016001.lua
  unofficial/c511016002.lua
  unofficial/c513000126.lua
  unofficial/c513000163.lua
Owners: @pyrQ, @larry126

Add some utility functions
  cards_specific_functions.lua
  utility.lua
Owners: @pyrQ

Add more utilities for arcana monsters
  cards_specific_functions.lua
  official/c23846921.lua
  official/c34568403.lua
  official/c35781051.lua
  official/c36690018.lua
  official/c5861892.lua
  official/c60953118.lua
  official/c61175706.lua
  official/c62892347.lua
  official/c69831560.lua
  official/c8396952.lua
  official/c97452817.lua
  official/c97574404.lua
  official/c99189322.lua
  unofficial/c100000105.lua
  unofficial/c100000106.lua
  unofficial/c100000116.lua
  unofficial/c511001476.lua
  unofficial/c511003201.lua
  unofficial/c511005639.lua
  unofficial/c511016000.lua
  unofficial/c511016001.lua
  unofficial/c511016002.lua
  unofficial/c513000126.lua
  unofficial/c513000163.lua
Owners: @pyrQ, @larry126

Update again Knight of Pentacles
  unofficial/c511001478.lua
Owners: @larry126

Pre release card using TossCoin
  pre-release/c101111027.lua
Owners: @pyrQ

Fixed new function's name
  utility.lua
Owners: @pyrQ

Add Auxiliary.GetCoinEffectHintString
  cards_specific_functions.lua
Owners: @pyrQ

Anime cards using TossCoin
  rush/c160009000.lua
  rush/c160010042.lua
  rush/c160010044.lua
  rush/c160314001.lua
  rush/c160318001.lua
  unofficial/c100000105.lua
  unofficial/c100000106.lua
  unofficial/c100000114.lua
  unofficial/c100000116.lua
  unofficial/c150000054.lua
  unofficial/c151000000.lua
  unofficial/c511000022.lua
  unofficial/c511000546.lua
  unofficial/c511000769.lua
  unofficial/c511001098.lua
  unofficial/c511001113.lua
  unofficial/c511001477.lua
  unofficial/c511001478.lua
  unofficial/c511001909.lua
  unofficial/c511002118.lua
  unofficial/c511002877.lua
  unofficial/c511003201.lua
  unofficial/c511005633.lua
  unofficial/c511005639.lua
  unofficial/c511007015.lua
  unofficial/c511011004.lua
  unofficial/c511016000.lua
  unofficial/c511016002.lua
  unofficial/c513000126.lua
  unofficial/c513000163.lua
  unofficial/c95200024.lua
  unofficial/c95200025.lua
  utility.lua
Owners: @ClementLouis, @larry126, @pyrQ

Typos
  unofficial/c100000114.lua
  unofficial/c95200024.lua
  unofficial/c95200025.lua
Owners: @larry126

Update cards using Duel.GetCoinResult
  official/c49511705.lua
  official/c96012004.lua
Owners: @pyrQ

Missed change in Arcana Reading
  official/c11819473.lua
  official/c96012004.lua
Owners: @pyrQ

Minor update to Magical Alms
  unofficial/c513000105.lua
Owners: @larry126

Add Rush scripts
  rush/c160205019.lua
  rush/c160205020.lua
  rush/c160205021.lua
  rush/c160205022.lua
  rush/c160205024.lua
  rush/c160205025.lua
  rush/c160205026.lua
  rush/c160205029.lua
  rush/c160205070.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c100345002.lua
  pre-release/c100345027.lua
  pre-release/c100345101.lua
  pre-release/c100345102.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100294001.lua
  pre-release/c100294003.lua
  pre-release/c101111022.lua
  pre-release/c101111023.lua
  pre-release/c101111026.lua
  pre-release/c101111028.lua
  pre-release/c101111029.lua
  pre-release/c101111050.lua
  pre-release/c101111070.lua
  pre-release/c101111078.lua
  pre-release/c101111079.lua
  pre-release/c101111080.lua
Owners: @pyrQ

Fix "Infernity Zero (anime)" (#782)
  c513000124.lua
Owners: @pyrQ

Update c110000010.lua
  unofficial/c110000010.lua
Owners: @larry126

Update c110000012.lua
  unofficial/c110000012.lua
Owners: @larry126

Updated "Vanilla Mode" related (Scripts)
  unofficial/c511004399.lua
  unofficial/c511004400.lua
  unofficial/c511004401.lua
Owners: @larry126

Remove Command duel 25's script from official folder
  official/c95200025.lua
Owners: @pyrQ

Fix file being moved to the wrong folder in 345bc7c6929ac5db9e2b5ef11016803beed2f8f7
  unofficial/c513000124.lua
Owners: @larry126

Update overwrite for Card.RegisterEffect
  utility.lua
Owners: @pyrQ

Update c151000000.lua
  unofficial/c151000000.lua
Owners: @larry126

Other minor fixes
  official/c38143903.lua
  official/c49511705.lua
  official/c62892347.lua
Owners: @pyrQ

Update Big Welcome Labrynth
  pre-release/c101111077.lua
Owners: @pyrQ

Revert "Update Big Welcome Labrynth"
  pre-release/c101111077.lua
Owners: @pyrQ

Fix Slifer & Ra (VG) (#800)
  unofficial/c110000010.lua
  unofficial/c110000012.lua
Owners: @larry126

Fix Guts Guard
  unofficial/c511001656.lua
Owners: @larry126

Fix arcana monsters and lucky chance
  cards_specific_functions.lua
  official/c96012004.lua
Owners: @pyrQ

Update "Sprigans Watch"
  official/c23499963.lua
Owners: @pyrQ

Ritual procedure small update
  proc_ritual.lua
Owners: @pyrQ

Minor fix in action fields
  unofficial/c151000000.lua
Owners: @larry126

Update c62892347.lua
  official/c62892347.lua
Owners: @pyrQ

Update "Sylvan Princessprout"
  official/c20579538.lua
Owners: @pyrQ

Update "Antihuman Intelligence ME-PSY-YA"
  official/c58844135.lua
Owners: @pyrQ
