Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Abyssrhine the Atlantean Spirit" fix
  pre-release/c101206017.lua
Owners: @pyrQ

Fix "Number 4: Stealth Kragen (Anime)"
  unofficial/c511001336.lua
Owners: @larry126

Fix "Rose Blizzard (Anime)"
  unofficial/c511000927.lua
Owners: @larry126

Update "Number 4: Stealth Kragen (Anime)"
  unofficial/c511001336.lua
Owners: @larry126

Update c511001336.lua
  unofficial/c511001336.lua
Owners: @larry126

Added new card script
  pre-release/c101206023.lua
Owners: @pyrQ

Fix "Blowback Dragon"
  official/c25551951.lua
Owners: @pyrQ

Update c511001336.lua
  unofficial/c511001336.lua
Owners: @larry126

added new rush cards
  rush/c160018033.lua
  rush/c160018034.lua
Owners: @ClementLouis

Fix "Rose Blizzard (Anime)"
  unofficial/c511000927.lua
Owners: @larry126

Fix "Guardian Shield"
  unofficial/c511001497.lua
Owners: @larry126

Update c511001497.lua
  unofficial/c511001497.lua
Owners: @larry126

Update c511001497.lua
  unofficial/c511001497.lua
Owners: @larry126

"Proton Blast" fix
  official/c49511705.lua
Owners: @pyrQ

Fix "Blowback Dragon" (#1147)
  official/c25551951.lua
Owners: @pyrQ

"Vaalmonica Chosen Melody" update
  official/c31971040.lua
Owners: @pyrQ

"Cyber Emergency" fix
  official/c60600126.lua
Owners: @pyrQ

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101206021.lua
  pre-release/c101206026.lua
  pre-release/c101206029.lua
  pre-release/c101206044.lua
  pre-release/c101206067.lua
  pre-release/c101206080.lua
Owners: @pyrQ

added new rush cards
  rush/c160018010.lua
  rush/c160018019.lua
  rush/c160018043.lua
  rush/c160018049.lua
  rush/c160018056.lua
Owners: @ClementLouis

"Tyrant's Tantrum" update
  official/c38318146.lua
Owners: @pyrQ

fixed Terrorphone Number
  rush/c160428087.lua
Owners: @ClementLouis

added new rush cards
  rush/c160018009.lua
  rush/c160018011.lua
  rush/c160018046.lua
  rush/c160018047.lua
  rush/c160018050.lua
Owners: @ClementLouis

"Origami Goddess" update
  official/c7930346.lua
Owners: @pyrQ

"Heartless Hound Martial Master Prime Shiba" fix
  rush/c160018011.lua
Owners: @ClementLouis

added script for new alt art
  rush/c160401015.lua
Owners: @ClementLouis

Add files via upload
  official/c20087414.lua
  official/c23920796.lua
  official/c28143384.lua
  official/c29265962.lua
  official/c3859859.lua
  official/c50415441.lua
  official/c55359571.lua
  official/c55537983.lua
  official/c59293853.lua
  official/c66472129.lua
  official/c67694706.lua
  official/c81522098.lua
  official/c86809440.lua
  official/c92744676.lua
  official/c93683815.lua
  official/c93860227.lua
Owners: @pyrQ

"The Infinite Forbidden" official TCG release + "Performapal Sky Magician Girl" official release script updates
  official/c13204145.lua
  official/c20087414.lua
  official/c23920796.lua
  official/c28143384.lua
  official/c29265962.lua
  official/c3859859.lua
  official/c50415441.lua
  official/c55359571.lua
  official/c55537983.lua
  official/c59293853.lua
  official/c66472129.lua
  official/c67694706.lua
  official/c81522098.lua
  official/c86809440.lua
  official/c92744676.lua
  official/c93683815.lua
  official/c93860227.lua
Owners: @pyrQ

added new rush cards
  rush/c160018004.lua
  rush/c160018041.lua
Owners: @ClementLouis

"Proton Blast" update
  official/c49511705.lua
Owners: @pyrQ

added Goodgoo
  rush/c160018032.lua
Owners: @ClementLouis

Fix "Overlay Satellite"
  unofficial/c511001373.lua
Owners: @larry126

Update unofficial cards
  unofficial/c511000553.lua
  unofficial/c511001506.lua
  unofficial/c511001507.lua
Owners: @larry126

Add files via upload
  card_counter_constants.lua
  pre-release/c100200256.lua
  pre-release/c100200257.lua
  pre-release/c100200258.lua
  pre-release/c100295901.lua
  pre-release/c100347002.lua
  pre-release/c100347018.lua
  pre-release/c100347019.lua
  pre-release/c100347032.lua
  pre-release/c100436300.lua
  pre-release/c100438001.lua
  pre-release/c100438002.lua
  pre-release/c100438003.lua
  pre-release/c100438004.lua
  pre-release/c100438005.lua
  pre-release/c100438006.lua
  pre-release/c100438007.lua
  pre-release/c100438008.lua
  pre-release/c100438010.lua
Owners: @pyrQ

added Cross Loader
  rush/c160018016.lua
Owners: @ClementLouis

Update "Damage Capture"
  unofficial/c511001272.lua
Owners: @larry126

"Ancient Gear Ballista" fix
  official/c10547580.lua
  official/c49511705.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100438031.lua
  pre-release/c100438032.lua
  pre-release/c100438033.lua
  pre-release/c100438034.lua
  pre-release/c100438035.lua
  pre-release/c100438036.lua
  pre-release/c100438037.lua
  pre-release/c100438038.lua
  pre-release/c100438039.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ
