Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Xyz proc: Fix material selection if the first selected card had EFFECT_DOUBLE_XYZ_MATERIAL
  proc_xyz.lua
Owners: @pyrQ

Xyz proc: Fix forced material selection being skipped if cards with EFFECT_DOUBLE_XYZ_MATERIAL were selected
  proc_xyz.lua
Owners: @pyrQ

added new rush cards
  rush/c160020012.lua
  rush/c160020013.lua
  rush/c160020014.lua
  rush/c160020015.lua
  rush/c160020016.lua
  rush/c160020053.lua
  rush/c160020054.lua
  rush/c160020058.lua
  rush/c160402048.lua
Owners: @ClementLouis

fixed Evasive Chaos Ninjutsu Art of I Want You
  rush/c160020053.lua
Owners: @ClementLouis

"Rise Rank-Up-Magic Raidraptor's Force" fix
  official/c38044854.lua
Owners: @pyrQ

"Yowie" fix
  official/c33393090.lua
Owners: @pyrQ

added new rush cards
  rush/c160020014.lua
  rush/c160020038.lua
  rush/c160020039.lua
Owners: @ClementLouis

Update "Spirit Shield (Anime)"
  unofficial/c511000116.lua
Owners: @larry126

Fix "Emperor's Armor"
  unofficial/c511000697.lua
Owners: @larry126

Update c511000697.lua
  unofficial/c511000697.lua
Owners: @larry126

fixed Owlchannel
  rush/c160015031.lua
Owners: @ClementLouis

added Sentinel Officer
  rush/c160020003.lua
Owners: @ClementLouis

fixed Machine Inspector
  rush/c160016057.lua
Owners: @ClementLouis

Fix "Magikey Mechmortar - Garesglasser"
  official/c45877457.lua
Owners: @pyrQ

Update "Magikey Mechmusket - Batosbuster"
  official/c19489718.lua
Owners: @pyrQ

"Magikey Mechmortar - Garesglasser" fix
  official/c45877457.lua
Owners: @pyrQ

Added new archetype constants
  archetype_setcode_constants.lua
Owners: @pyrQ

added Dynamajesty Dino Dynakaiser
  rush/c160020019.lua
Owners: @ClementLouis

Update c101208037.lua
  pre-release/c101208037.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100200265.lua
  pre-release/c101207082.lua
  pre-release/c101207084.lua
  pre-release/c101207085.lua
  pre-release/c101207086.lua
  pre-release/c101207087.lua
  pre-release/c101207088.lua
  pre-release/c101207089.lua
  pre-release/c101208004.lua
  pre-release/c101208011.lua
  pre-release/c101208012.lua
  pre-release/c101208013.lua
  pre-release/c101208014.lua
  pre-release/c101208015.lua
  pre-release/c101208016.lua
  pre-release/c101208017.lua
  pre-release/c101208021.lua
  pre-release/c101208025.lua
  pre-release/c101208035.lua
  pre-release/c101208040.lua
  pre-release/c101208041.lua
  pre-release/c101208042.lua
  pre-release/c101208057.lua
  pre-release/c101208058.lua
  pre-release/c101208059.lua
  pre-release/c101208060.lua
  pre-release/c101208063.lua
  pre-release/c101208067.lua
  pre-release/c101208072.lua
  pre-release/c101208073.lua
  pre-release/c101208074.lua
  pre-release/c101208078.lua
Owners: @pyrQ

Added new auxiliary function
  utility.lua
Owners: @pyrQ

"Diabellstar the Sin Adjudicator" fix
  pre-release/c101208011.lua
Owners: @pyrQ

update c101208011.lua
  pre-release/c101208011.lua
Owners: @pyrQ

added new rush cards
  rush/c160020026.lua
  rush/c160020027.lua
  rush/c160020028.lua
  rush/c160020029.lua
  rush/c160020030.lua
  rush/c160020031.lua
  rush/c160020032.lua
  rush/c160020056.lua
  rush/c160020057.lua
Owners: @ClementLouis

fixed cards that gain ATK based on number of monsters on the field
  rush/c160020016.lua
  rush/c160206007.lua
Owners: @ClementLouis

"Sky Striker Mecha - Widow Anchor" fix
  official/c98338152.lua
Owners: @pyrQ

Fix "Cyber Larva (Manga)"
  unofficial/c511005701.lua
Owners: @larry126

"Like the Diabell" fix
  official/c65289956.lua
Owners: @pyrQ

added Awakened Stegoceratops
  rush/c160020018.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101208023.lua
  pre-release/c101208024.lua
  pre-release/c101208064.lua
  pre-release/c101208076.lua
Owners: @pyrQ

added new rush cards
  rush/c160020009.lua
  rush/c160020010.lua
  rush/c160020044.lua
  rush/c160020052.lua
  rush/c160020060.lua
Owners: @ClementLouis

Update "Royal Tribute"
  official/c72405967.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101208022.lua
  pre-release/c101208075.lua
Owners: @pyrQ

added Chaos Sentinel
  rush/c160020041.lua
Owners: @ClementLouis

Add files via upload
  card_counter_constants.lua
  official/c11441009.lua
  official/c12163590.lua
  official/c16110708.lua
  official/c17832359.lua
  official/c20714553.lua
  official/c31969219.lua
  official/c37260677.lua
  official/c42081767.lua
  official/c42104806.lua
  official/c42382265.lua
  official/c43236494.lua
  official/c44459942.lua
  official/c48658295.lua
  official/c48835607.lua
  official/c5574510.lua
  official/c59080.lua
  official/c5997110.lua
  official/c65515667.lua
  official/c65569724.lua
  official/c6696168.lua
  official/c73664385.lua
  official/c74387963.lua
  official/c74820316.lua
  official/c75046994.lua
  official/c79480466.lua
  official/c79509511.lua
  official/c79625003.lua
  official/c80447641.lua
  official/c875572.lua
  official/c88477149.lua
  official/c91019775.lua
  official/c93413793.lua
  official/c97476032.lua
Owners: @pyrQ

"V Jump February/March 2025" promos + "Quarter Century Trinity Box" + "Promotion Pack 2025" + "Premium Pack 2025" official release script updates
  card_counter_constants.lua
  official/c11441009.lua
  official/c12163590.lua
  official/c16110708.lua
  official/c17832359.lua
  official/c20714553.lua
  official/c31969219.lua
  official/c37260677.lua
  official/c42081767.lua
  official/c42104806.lua
  official/c42382265.lua
  official/c43236494.lua
  official/c44459942.lua
  official/c48658295.lua
  official/c48835607.lua
  official/c5574510.lua
  official/c59080.lua
  official/c5997110.lua
  official/c65515667.lua
  official/c65569724.lua
  official/c6696168.lua
  official/c73664385.lua
  official/c74387963.lua
  official/c74820316.lua
  official/c75046994.lua
  official/c79480466.lua
  official/c79509511.lua
  official/c79625003.lua
  official/c80447641.lua
  official/c875572.lua
  official/c88477149.lua
  official/c91019775.lua
  official/c93413793.lua
  official/c97476032.lua
Owners: @pyrQ

added new rush cards
  rush/c160020025.lua
  rush/c160020049.lua
Owners: @ClementLouis

"Supreme Darkness" official TCG release script updates
  official/c17954937.lua
  official/c18176525.lua
  official/c19899073.lua
  official/c20011655.lua
  official/c21147203.lua
  official/c21960890.lua
  official/c45171524.lua
  official/c55397172.lua
  official/c56410769.lua
  official/c57232301.lua
  official/c58354899.lua
  official/c81560239.lua
  official/c82782870.lua
  official/c83404468.lua
  official/c83626916.lua
  official/c94749594.lua
Owners: @pyrQ

"Azamina" fix
  pre-release/c101208035.lua
Owners: @pyrQ

added Aise the Snowmaiden of Sacred Splendor
  rush/c160020036.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
