Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update c160013043.lua
  rush/c160013043.lua
Owners: @ClementLouis

Update c160013043.lua
  rush/c160013043.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160013013.lua
  rush/c160013043.lua
Owners: @ClementLouis

"Pristine Planets Amritara" fix
  pre-release/c101201055.lua
Owners: @pyrQ

"Damage Diet" update
  official/c95448692.lua
Owners: @pyrQ

Script updates
  official/c24557335.lua
  official/c2547033.lua
  official/c2665273.lua
  official/c27693363.lua
  official/c29357687.lua
  official/c31629407.lua
  official/c36239585.lua
  official/c77895328.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101201024.lua
  pre-release/c101201036.lua
  pre-release/c101201042.lua
  pre-release/c101201045.lua
  pre-release/c101201060.lua
  pre-release/c101201065.lua
  pre-release/c101201079.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100432018.lua
  pre-release/c100432019.lua
  pre-release/c100432020.lua
  pre-release/c100432021.lua
  pre-release/c100432022.lua
  pre-release/c100432024.lua
Owners: @pyrQ

"Volcanic Blaze Accelerator" fix
  pre-release/c100432021.lua
Owners: @pyrQ

"Volcanic Emperor" fix
  pre-release/c100432018.lua
Owners: @pyrQ

Unofficial script fixes
  unofficial/c500000051.lua
  unofficial/c511600344.lua
  unofficial/c513000054.lua
Owners: @larry126

Unofficial script fixes
  unofficial/c511000546.lua
  unofficial/c511001191.lua
Owners: @larry126

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

Fix Royal Straight (Anime)
  unofficial/c511000088.lua
Owners: @larry126

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

"Sky Striker Ace - Kaina" fix
  official/c12421694.lua
Owners: @pyrQ

fix Maju Garzetts
  rush/c160206004.lua
  rush/c160206019.lua
Owners: @ClementLouis

fix Maju Garzetts (#972)
  rush/c160206004.lua
  rush/c160206019.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c100299002.lua
  pre-release/c100299003.lua
  pre-release/c100299004.lua
  pre-release/c100299007.lua
  pre-release/c100299008.lua
  pre-release/c100299009.lua
  pre-release/c100299010.lua
  pre-release/c100299011.lua
  pre-release/c100299027.lua
  pre-release/c100299028.lua
  pre-release/c100299029.lua
  pre-release/c100346101.lua
  pre-release/c100346102.lua
  pre-release/c100346103.lua
  pre-release/c101201061.lua
Owners: @pyrQ

"Rainbow Dragon" fix
  official/c79856792.lua
Owners: @pyrQ

"Totem Pole" fix
  pre-release/c100299011.lua
Owners: @pyrQ

Added new function
  utility.lua
Owners: @pyrQ

added new rush cards
  rush/c160013011.lua
  rush/c160013012.lua
  rush/c160013041.lua
  rush/c160013053.lua
  rush/c160013061.lua
Owners: @ClementLouis

added new Rush scripts (#973)
  rush/c160013011.lua
  rush/c160013012.lua
  rush/c160013041.lua
  rush/c160013053.lua
  rush/c160013061.lua
Owners: @ClementLouis

Update "Card.NegateEffects" function
  utility.lua
Owners: @pyrQ

Unofficial AC03 and fixes
  unofficial/c100000034.lua
  unofficial/c100000036.lua
  unofficial/c511000202.lua
  unofficial/c511000893.lua
  unofficial/c511001719.lua
  unofficial/c511002148.lua
  unofficial/c511002599.lua
  unofficial/c511002690.lua
  unofficial/c511009701.lua
Owners: @larry126

Fixes
  unofficial/c511000206.lua
  unofficial/c511002517.lua
  unofficial/c511020008.lua
Owners: @larry126

Fix "The Legendary Exodia Incarnate"
  official/c58604027.lua
Owners: @pyrQ

Fix "Shinato (Deck Master)"
  unofficial/c153000018.lua
Owners: @larry126

Typo
  unofficial/c511000202.lua
Owners: @larry126

added Satellite Soldier
  rush/c160402027.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160402027.lua
Owners: @ClementLouis

Further update "Card.NegateEffects"
  utility.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101201032.lua
  pre-release/c101201044.lua
  pre-release/c101201075.lua
  pre-release/c101201076.lua
Owners: @pyrQ

Update "Purrely Sharely!?"
  pre-release/c101201075.lua
Owners: @pyrQ

Create Pull request lumenize script
  unofficial/Pull request lumenize script
Owners: @larry126

Update Pull request lumenize script
  unofficial/Pull request lumenize script
Owners: @larry126

Fix "Nikotamabot"
  rush/c160436003.lua
Owners: @ClementLouis

Update Rush Fusion monsters
  rush/c160205019.lua
  rush/c160205020.lua
  rush/c160205021.lua
  rush/c160205119.lua
  rush/c160205120.lua
  rush/c160436003.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
