Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Fix typo
  unofficial/c511001725.lua
Owners: @larry126

Remove 421
  unofficial/c421.lua
Owners: @larry126

Update Flower Cardian's tribute cost
  unofficial/c511001692.lua
  unofficial/c511001693.lua
  unofficial/c511001694.lua
  unofficial/c511001695.lua
  unofficial/c511001696.lua
  unofficial/c511001697.lua
  unofficial/c511001698.lua
  unofficial/c511001699.lua
  unofficial/c511001700.lua
  unofficial/c511001723.lua
  unofficial/c511001724.lua
  unofficial/c511001725.lua
Owners: @larry126

Update
  constant.lua
  unofficial/c511001430.lua
  unofficial/c513000063.lua
  unofficial/proc_unofficial.lua
Owners: @pyrQ, @larry126

Rename c101112081.lua to c66736715.lua
  official/c66736715.lua
Owners: @pyrQ

Rename c101112082.lua to c93125329.lua
  official/c93125329.lua
Owners: @pyrQ

Rename c101112083.lua to c29510428.lua
  official/c29510428.lua
Owners: @pyrQ

Rename c101112084.lua to c65914127.lua
  official/c65914127.lua
Owners: @pyrQ

Rename c101112085.lua to c91323605.lua
  official/c91323605.lua
Owners: @pyrQ

Rename c101112086.lua to c92003832.lua
  official/c92003832.lua
Owners: @pyrQ

Update and rename c101112087.lua to c28497830.lua
  official/c28497830.lua
Owners: @pyrQ

Rename c101112088.lua to c65892585.lua
  official/c65892585.lua
Owners: @pyrQ

Rename c101112089.lua to c91286284.lua
  official/c91286284.lua
Owners: @pyrQ

Rename c101112090.lua to c27275398.lua
  official/c27275398.lua
Owners: @pyrQ

Rename c101112091.lua to c54670997.lua
  official/c54670997.lua
Owners: @pyrQ

Rename c101112092.lua to c90164606.lua
  official/c90164606.lua
Owners: @pyrQ

"Cyberstorm Access" official TCG release script updates
  official/c27275398.lua
  official/c28497830.lua
  official/c29510428.lua
  official/c54670997.lua
  official/c65892585.lua
  official/c65914127.lua
  official/c66736715.lua
  official/c90164606.lua
  official/c91286284.lua
  official/c91323605.lua
  official/c92003832.lua
  official/c93125329.lua
Owners: @pyrQ

Miracle Locus (Anime) script update
  unofficial/c511002911.lua
Owners: @larry126

Update Zoma the Spirit (Anime) script
  unofficial/c511000212.lua
Owners: @larry126

added new rush cards + fixed cards that prevent activation on attack declaration
  rush/c160004028.lua
  rush/c160013065.lua
  rush/c160201004.lua
  rush/c160207014.lua
  rush/c160207017.lua
  rush/c160314001.lua
  rush/c160428029.lua
  rush/c160443001.lua
  rush/c160443002.lua
  rush/c160443003.lua
  rush/c160443005.lua
  rush/c160443006.lua
Owners: @ClementLouis

Don't allow ritual summon if a card with EFFECT_EXTRA_RELEASE is facedown
  proc_ritual.lua
Owners: @pyrQ

New 5ds cards
  unofficial/c511600432.lua
  unofficial/c511600433.lua
Owners: @larry126

Effects should be mandatory
  unofficial/c511600432.lua
  unofficial/c511600433.lua
Owners: @larry126

added Transamu Rainac Overwrite
  rush/c160409005.lua
Owners: @ClementLouis

Fix typo
  unofficial/c513000135.lua
Owners: @larry126

Missing clause
  unofficial/proc_unofficial.lua
Owners: @larry126

Added new archetype constants
  archetype_setcode_constants.lua
Owners: @pyrQ

update "Earthbound Immortal" cards
  official/c10875327.lua
  official/c15187079.lua
  official/c33537328.lua
  official/c39967326.lua
  official/c41181774.lua
  official/c44710391.lua
  official/c45836982.lua
  official/c46263076.lua
  official/c64187086.lua
  official/c67987302.lua
  official/c69931927.lua
  official/c79798060.lua
  official/c82340056.lua
  official/c95453143.lua
  official/c96907086.lua
Owners: @pyrQ

update "Earthbound Wave"
  official/c29934351.lua
Owners: @pyrQ

added new Rush scripts (#1006)
  rush/c160004028.lua
  rush/c160013065.lua
  rush/c160201004.lua
  rush/c160207014.lua
  rush/c160207017.lua
  rush/c160314001.lua
  rush/c160409005.lua
  rush/c160428029.lua
  rush/c160443001.lua
  rush/c160443002.lua
  rush/c160443003.lua
  rush/c160443005.lua
  rush/c160443006.lua
Owners: @ClementLouis

Earthbound Immortal-related scripts updated
  unofficial/c100000307.lua
  unofficial/c100000430.lua
  unofficial/c100000431.lua
  unofficial/c100000432.lua
  unofficial/c100100066.lua
  unofficial/c511000239.lua
  unofficial/c511000242.lua
  unofficial/c511000250.lua
  unofficial/c511000252.lua
  unofficial/c511000255.lua
  unofficial/c511000262.lua
  unofficial/c511000263.lua
  unofficial/c511002698.lua
  unofficial/c511247015.lua
Owners: @larry126

Update anime Earthbound-related scripts
  unofficial/c420.lua
  unofficial/c511002712.lua
  unofficial/c511002713.lua
  unofficial/c511002719.lua
  unofficial/c511002720.lua
  unofficial/c511002721.lua
  unofficial/c511002725.lua
  unofficial/c511002987.lua
Owners: @larry126

Scripts cleanup
  unofficial/c511002620.lua
  unofficial/c511002711.lua
  unofficial/c511002715.lua
  unofficial/c511002986.lua
  unofficial/c511002987.lua
Owners: @larry126

Update c511002620.lua
  unofficial/c511002620.lua
Owners: @larry126

No longer use the old script checker
  .github/workflows/check-scripts-old.yml
Owners: @kevinlul

Fix "Valkyrie Vierte"
  official/c81558967.lua
Owners: @pyrQ

"JAM:P Set!" fix
  rush/c160006041.lua
Owners: @ClementLouis

Exclude facedown cards controlled by the opponent in Duel.GetRitualMaterial
  proc_ritual.lua
Owners: @pyrQ

"JAM:P Set!" fix
  rush/c160006041.lua
Owners: @ClementLouis

"Ultimate Earthbound Immortal" fix
  official/c70109009.lua
Owners: @pyrQ
