Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

News Flash Machine Toughroid fix
  rush/c160003032.lua
Owners: @ClementLouis

Small fix "Stairway To The Fabled World"
  pre-release/c101103060.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

small fix "Senkou Rocket"
  rush/c160003051.lua
Owners: @ClementLouis

Retrieve tp before calling GetMustBeMaterialGroup in fusion procedure
  proc_fusion.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Fix wrong parameters being passed in functions called from a material table in the fusion procedure
  proc_fusion.lua
Owners: @NaimSantos, @pyrQ

Small fix "Guard Mines"
  official/c88928798.lua
Owners: @NaimSantos, @pyrQ

Minor update Removed ID substitution by accident, when adding in correct JP name.
  official/c17016362.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

added new script
  pre-release/c101103024.lua
  pre-release/c101103036.lua
Owners: @NaimSantos, @pyrQ

Small fix "Chaos Betrayer"
  official/c34966096.lua
Owners: @NaimSantos, @pyrQ

Fixed ritual summon of nekroz of sophia
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Update proc_ritual.lua
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Update proc_ritual.lua
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Update proc_ritual.lua
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Updated "Chaos Betrayer" Adjusted to match with the fix made by senpaizuri3.
  official/c34966096.lua
Owners: @NaimSantos, @pyrQ

Minor typo
  official/c62517849.lua
Owners: @NaimSantos, @pyrQ

Small fix "Successor Soul"
  official/c69145169.lua
Owners: @NaimSantos, @pyrQ

Fix "Number 103: Ragnazero"
  official/c94380860.lua
Owners: @NaimSantos, @pyrQ

Small fix "The Arrival Cyberse @Ignister"
  official/c11738489.lua
Owners: @NaimSantos, @pyrQ

Updated "Successor Soul"
  official/c69145169.lua
Owners: @NaimSantos, @pyrQ

Small fix "Machina Defense Region"
  official/c13247801.lua
Owners: @NaimSantos, @pyrQ

added new cards
  pre-release/c100200190.lua
  rush/c160003000.lua
  rush/c160003021.lua
  rush/c160003056.lua
  rush/c160202019.lua
  rush/c160202048.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

fix
  pre-release/c100200190.lua
Owners: @NaimSantos, @pyrQ

Updated "Grozer the Thunderclap Tyrant"
  pre-release/c100200190.lua
Owners: @NaimSantos, @pyrQ

Fix "Forbidding Warrior"
  rush/c160201004.lua
Owners: @ClementLouis

Add "Curse of Royal (GOAT)"
  goat/c504700133.lua
Owners: @NaimSantos, @pyrQ

Sentry Boat Eldrain fix
  rush/c160003038.lua
Owners: @ClementLouis

Fix "Forbidding Warrior" (#442)
  rush/c160201004.lua
Owners: @ClementLouis

Fix for "Counter Shield"
  rush/c160003056.lua
Owners: @ClementLouis

Updated "Sentry Boat Eldrain"
  rush/c160003038.lua
Owners: @ClementLouis

Updated "Counter Shield"
  rush/c160003056.lua
Owners: @ClementLouis

Fix for "Yubel - The Ultimate Nightmare (Anime)"
  unofficial/c511600424.lua
Owners: @larry126

Small fix "Elemental HERO Thunder Giant (Anime)"
  unofficial/c511002533.lua
Owners: @larry126

Added new scripts
  pre-release/c101103047.lua
  rush/c160003047.lua
  rush/c160202100.lua
  rush/c160202101.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Update c101103047.lua
  pre-release/c101103047.lua
Owners: @NaimSantos, @pyrQ

Dayu King of Chair fix
  rush/c160202100.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
