Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Apply RESETS_STANDARD_PHASE_END to scripts changed in
  official/c11443677.lua
  official/c12451640.lua
  official/c14577226.lua
  official/c164710.lua
  official/c17330916.lua
  official/c20188127.lua
  official/c20265095.lua
  official/c23265313.lua
  official/c27552504.lua
  official/c28617139.lua
  official/c32065885.lua
  official/c37520316.lua
  official/c38495396.lua
  official/c38606913.lua
  official/c40916023.lua
  official/c41524885.lua
  official/c42741437.lua
  official/c52707042.lua
  official/c62541668.lua
  official/c64002884.lua
  official/c64681432.lua
  official/c66165755.lua
  official/c67196946.lua
  official/c67556500.lua
  official/c71406430.lua
  official/c71564150.lua
  official/c74889525.lua
  official/c77901552.lua
  official/c78135071.lua
  official/c84171830.lua
  official/c84397023.lua
  official/c85668449.lua
  official/c88106656.lua
  official/c88757791.lua
  official/c89113320.lua
  official/c91135480.lua
  official/c98875863.lua
Owners: @pyrQ

fix
  official/c39980304.lua
  official/c39984786.lua
  official/c46565218.lua
  official/c59255742.lua
  official/c78266168.lua
  official/c93983867.lua
  official/c9720537.lua
  unofficial/c511001553.lua
  unofficial/c511002109.lua
  unofficial/c511005068.lua
  unofficial/c511009136.lua
  unofficial/c511600002.lua
  unofficial/c511600140.lua
  unofficial/c700000015.lua
  unofficial/c810000071.lua
Owners: @pyrQ, @larry126

Added new card scripts
  pre-release/c101303101.lua
  pre-release/c101303102.lua
  pre-release/c101303103.lua
  pre-release/c101303104.lua
  pre-release/c101303105.lua
  pre-release/c101303106.lua
  pre-release/c101303107.lua
  pre-release/c101303108.lua
Owners: @pyrQ

Update "Joruri-P.U.N.K. Dangerous Gabu"
  official/c43685562.lua
Owners: @pyrQ

Update "Neo-Spacian Glow Moss (Anime)"
  unofficial/c511600103.lua
Owners: @larry126

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card script
  pre-release/c100444241.lua
Owners: @pyrQ

Update "Overlay Break"
  unofficial/c511001672.lua
Owners: @larry126

fixed Ever-Grace Princess Hina alt art
  rush/c160022138.lua
Owners: @ClementLouis

Declare CheckPillars under IcePillarZone's namespace
  unofficial/c511310021.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Fix stray global variables in utility scripts
  cards_specific_functions.lua
  proc_link.lua
  proc_normal.lua
  proc_skill.lua
  proc_union.lua
  proc_xyz.lua
  unofficial/proc_unofficial.lua
  utility.lua
Owners: @pyrQ, @larry126

Remove ATTRIBUTE_LAUGH and RACE_CHARISMA constants
  unofficial/proc_unofficial.lua
Owners: @larry126

Added new card script
  pre-release/c100444149.lua
Owners: @pyrQ

fixed Chimeratech Fusion monsters
  rush/c160214031.lua
  rush/c160321001.lua
Owners: @ClementLouis

Update "ZW - Phoenix Bow (Anime)"
  unofficial/c511027101.lua
Owners: @larry126

Fix Catapult Turtle
  official/c95727991.lua
Owners: @pyrQ

Fix Shadow Toon (Anime)
  unofficial/c511000549.lua
Owners: @larry126

Update "Dragonic Slayer"
  rush/c160001026.lua
Owners: @ClementLouis

Add SetDescription
  unofficial/c511000549.lua
Owners: @larry126

Update c511600370.lua
  unofficial/c511600370.lua
Owners: @larry126

"Light and Darkness Dragon (Manga)" fix
  unofficial/c511600370.lua
Owners: @larry126

Even more hand reveal workaround improvements
  proc_workaround.lua
Owners: @pyrQ

Update "Rocket Arrow Express (Anime)"
  unofficial/c511027120.lua
Owners: @larry126

Update "Dragon Heart"
  unofficial/c511000441.lua
Owners: @larry126

"Whitebeard, the Plunder Patroll Helm" fix
  official/c31374201.lua
Owners: @pyrQ

"Redbeard, the Plunder Patroll Matey"
  official/c68769900.lua
Owners: @pyrQ

Update "Dragon Heart"
  unofficial/c511000441.lua
Owners: @larry126

Various card script fixes
  official/c10441498.lua
  official/c14553285.lua
  official/c20343502.lua
  official/c21113684.lua
  official/c25311006.lua
  official/c31102447.lua
  official/c31924889.lua
  official/c33413279.lua
  official/c33779875.lua
  official/c43685562.lua
  official/c44968459.lua
  official/c45247637.lua
  official/c47910940.lua
  official/c52860176.lua
  official/c53251824.lua
  official/c55136228.lua
  official/c59094601.lua
  official/c6609736.lua
  official/c68468459.lua
  official/c71413901.lua
  official/c93156774.lua
  official/c9491461.lua
  official/c97342942.lua
  official/c97526666.lua
  proc_workaround.lua
  utility.lua
Owners: @pyrQ

Update c97526666.lua
  official/c97526666.lua
Owners: @pyrQ

Update c10441498.lua
  official/c10441498.lua
Owners: @pyrQ

Update proc_workaround.lua
  proc_workaround.lua
Owners: @pyrQ

Update "Jumbo Drill (Anime)"
  unofficial/c511009061.lua
Owners: @larry126

Update "Evoltile Megachirella"
  official/c13046291.lua
Owners: @pyrQ

Script updates
  official/c14478717.lua
  official/c16699558.lua
  official/c19338434.lua
  official/c21858819.lua
  official/c21903613.lua
  official/c2263869.lua
  official/c24454387.lua
  official/c32175429.lua
  official/c33925864.lua
  official/c35095329.lua
  official/c37531679.lua
  official/c4483598.lua
  official/c48882106.lua
  official/c51849482.lua
  official/c53545926.lua
  official/c53813120.lua
  official/c58589739.lua
  official/c58680635.lua
  official/c58882608.lua
  official/c59900655.lua
  official/c61434639.lua
  official/c69533836.lua
  official/c69540484.lua
  official/c70569684.lua
  official/c7236721.lua
  official/c72578374.lua
  official/c78789356.lua
  official/c84138874.lua
  official/c87804365.lua
  official/c8953369.lua
  official/c91019775.lua
  official/c95474755.lua
  official/c98007437.lua
Owners: @pyrQ

Added new card script
  pre-release/c100446034.lua
Owners: @pyrQ

Update "Neo-Spacian Glow Moss (Anime)"
  unofficial/c511600103.lua
Owners: @larry126

Update c511600103.lua
  unofficial/c511600103.lua
Owners: @larry126

Update "Number 39: Utopia Roots (Anime)"
  unofficial/c511010039.lua
Owners: @larry126

Update c511010039.lua
  unofficial/c511010039.lua
Owners: @larry126

"Killer Tune" fixes
  official/c92092092.lua
  official/c92099232.lua
  pre-release/c100446034.lua
  pre-release/c100446035.lua
  pre-release/c100446036.lua
  pre-release/c100446037.lua
  pre-release/c100446038.lua
  pre-release/c100446039.lua
  pre-release/c100446040.lua
  pre-release/c100446041.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
