Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

"Secret Sword Technique! Refined Ruler Render" fix
  rush/c160009046.lua
Owners: @ClementLouis

Some fixes
  cards_specific_functions.lua
  official/c27693363.lua
  official/c53087962.lua
  official/c80086070.lua
  official/c85059922.lua
Owners: @pyrQ

Added new cards' scripts
  rush/c160009034.lua
  rush/c160009058.lua
  rush/c160009064.lua
Owners: @ClementLouis

Updated "HasLevel" handling and the "Ursarctic" restriction
  cards_specific_functions.lua
  proc_workaround.lua
  unofficial/c511000817.lua
  unofficial/c511001952.lua
Owners: @pyrQ, @larry126

Simplify the previous change
  cards_specific_functions.lua
Owners: @pyrQ

Update "Goukipole"
  official/c17535764.lua
Owners: @pyrQ

Handle cases where a card returns multiple codes + general polishing
  official/c68431965.lua
Owners: @pyrQ

Fix "Shooting Riser Dragon"
  official/c68431965.lua
Owners: @pyrQ

Check the ATK after summoning the monster
  official/c17535764.lua
Owners: @pyrQ

Param name
  official/c17535764.lua
Owners: @pyrQ

"Gokipole" fix
  official/c17535764.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160009042.lua
Owners: @ClementLouis

Fix "Superheavy Samurai Warlord Susanowo (Anime)"
  unofficial/c511000770.lua
Owners: @larry126

Fix to Dinowrestler Systegosaur
  official/c56980148.lua
Owners: @pyrQ

Update "Detonate Deleter"
  official/c24487411.lua
Owners: @pyrQ

Small polish
  official/c56980148.lua
Owners: @pyrQ

"Dinowrestler Systegosaur" fix
  official/c56980148.lua
Owners: @pyrQ

Can use "nil" in the filter to avoid unnecessary function calls
  official/c24487411.lua
Owners: @pyrQ

"Detonate Deleter" fix
  official/c24487411.lua
Owners: @pyrQ

"Leraje the God of Archery" fix
  official/c49922726.lua
Owners: @pyrQ

Update previous fix
  unofficial/c511000770.lua
Owners: @larry126

Update c511000770.lua
  unofficial/c511000770.lua
Owners: @larry126

"Impcantation Chalislime" fix
  official/c65877963.lua
Owners: @pyrQ

The "lose 2500 LP" effect should be applied even if you don't Special Summon
  official/c65877963.lua
Owners: @pyrQ

"Impcantation Chalislime" fix
  official/c65877963.lua
Owners: @pyrQ

Improve there can be only one checking
  official/c24207889.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160009029.lua
Owners: @ClementLouis

"Pholus the Star Knight" fix
  rush/c160421020.lua
Owners: @ClementLouis

Minor update for "Hand Destruction"
  official/c74519184.lua
Owners: @pyrQ

Update c74519184.lua
  official/c74519184.lua
Owners: @pyrQ

Fix handling of greatest field id changing without going first to a zero monsters step
  official/c24207889.lua
Owners: @pyrQ

Added new cards' script
  pre-release/c100427011.lua
Owners: @pyrQ

"Ninjutsu Art of Duplication" fix
  official/c50766506.lua
Owners: @pyrQ

Fix "Chaos Return"
  unofficial/c511001793.lua
Owners: @larry126

"Number 97: Draglubion"
  official/c28400508.lua
Owners: @pyrQ

Balloon Lizard (GOAT) fix
  goat/c504700065.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160009019.lua
Owners: @ClementLouis

Fix Z-ONE (Anime)
  unofficial/c511000279.lua
Owners: @larry126

Remove workaround for Drytron Mu Fanfir
  proc_ritual.lua
Owners: @pyrQ

Various fixes
  official/c14735698.lua
  official/c15001619.lua
  official/c2434862.lua
  official/c3167573.lua
  official/c44822037.lua
  official/c65877963.lua
  official/c68601507.lua
  pre-release/c100427110.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
