Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Add __tostring methods to allow pretty printing Card and Group objects (#811)
  debug_utility.lua
  utility.lua
Owners: @pyrQ

fix "PSY-Framelord Omega"
  official/c74586817.lua
Owners: @pyrQ

Update c74586817.lua
  official/c74586817.lua
Owners: @pyrQ

Update infernoid monsters
  cards_specific_functions.lua
  official/c14799437.lua
  official/c23440231.lua
  official/c25811989.lua
  official/c26034577.lua
  official/c51316684.lua
  official/c52038272.lua
  official/c60551528.lua
  official/c88301393.lua
  official/c89423971.lua
  official/c96055137.lua
Owners: @pyrQ

Missed change
  official/c60551528.lua
Owners: @pyrQ

Minor update to Mecha Phantom Beast monsters
  official/c15335853.lua
  official/c16943770.lua
  official/c20368763.lua
  official/c30811116.lua
  official/c31533704.lua
  official/c44026393.lua
  official/c4417407.lua
  official/c66200210.lua
  official/c67922702.lua
  official/c76902476.lua
  official/c94973028.lua
Owners: @pyrQ

Minor updates to cards using outdated loop constructs
  official/c25173686.lua
  official/c33900648.lua
  official/c51838385.lua
  official/c62312469.lua
  official/c83094004.lua
  unofficial/c511001182.lua
  unofficial/c511002552.lua
Owners: @pyrQ, @larry126

Update c51316684.lua
  official/c51316684.lua
Owners: @pyrQ

Update Rule of the day
  unofficial/c777777777.lua
Owners: @larry126

"Curious, the Lightsworn Dominion" fix
  official/c98095162.lua
Owners: @pyrQ

Fix "Celestial Knightlord Parshath"
  official/c48589580.lua
Owners: @pyrQ

"Celestial Knightlord Parshath" fix
  official/c48589580.lua
Owners: @pyrQ

Small typo in a constant's name
  official/c48589580.lua
Owners: @pyrQ

Small updates/fixes/polishing for recently updated scripts
  official/c30811116.lua
  official/c31533704.lua
  official/c4357063.lua
  official/c44026393.lua
  official/c4417407.lua
  official/c55623480.lua
  official/c60551528.lua
  official/c66200210.lua
  official/c67922702.lua
  official/c76902476.lua
  official/c94973028.lua
  unofficial/c511002661.lua
  unofficial/c511004113.lua
  unofficial/c511014000.lua
Owners: @pyrQ, @larry126

"JAM:P Check!" fix
  rush/c160011054.lua
Owners: @ClementLouis

Update constant definition for LOCATION_ONFIELD and LOCATION_PUBLIC
  constant.lua
Owners: @pyrQ

Update Swordsoul Sinister Sovereign - Qixing Longyuan
  official/c47710198.lua
Owners: @pyrQ

added new rush cards
  rush/c160205007.lua
  rush/c160205008.lua
  rush/c160205009.lua
  rush/c160205010.lua
  rush/c160205011.lua
  rush/c160205012.lua
  rush/c160205013.lua
  rush/c160205014.lua
  rush/c160205015.lua
  rush/c160205016.lua
  rush/c160205017.lua
Owners: @ClementLouis

"Card of Sacrifice (Anime)" and "Neutrino Dowsing" fixes
  unofficial/c511001182.lua
  unofficial/c511002552.lua
Owners: @larry126

Extra "and"
  unofficial/c511001182.lua
Owners: @larry126

Added new Rush cards' scripts
  rush/c160205007.lua
  rush/c160205008.lua
  rush/c160205009.lua
  rush/c160205010.lua
  rush/c160205011.lua
  rush/c160205012.lua
  rush/c160205013.lua
  rush/c160205014.lua
  rush/c160205015.lua
  rush/c160205016.lua
  rush/c160205017.lua
Owners: @ClementLouis

fixed Return of the Blaze Fiends (#821)
  rush/c160205015.lua
Owners: @ClementLouis

fixed Return of the Blaze Fiends
  rush/c160205015.lua
Owners: @ClementLouis

Update "Heavenly Rest"
  rush/c160421033.lua
Owners: @ClementLouis

Maximum monsters fix
  proc_maximum.lua
Owners: @pyrQ

Add newly added constants
  constant.lua
Owners: @pyrQ

Update anime cards needing EFFECT_FLAG2_FORCE_ACTIVATE_LOCATION
  constant.lua
  unofficial/c511000061.lua
  unofficial/c511000244.lua
  unofficial/c513000127.lua
Owners: @pyrQ, @larry126

Use new constants in Card.IsInMainMZone and Card.IsInExtraMZone
  utility.lua
Owners: @pyrQ

Update Loki, Lord of the Aesir (Anime)
  unofficial/c511000260.lua
Owners: @larry126

Forbidden Trapezohedron script cleanup
  official/c49033797.lua
Owners: @pyrQ

Update cards in delta-puppet
  official/c14799437.lua
  official/c23440231.lua
  official/c25173686.lua
  official/c25811989.lua
  official/c26034577.lua
  official/c48589580.lua
  official/c49033797.lua
  official/c52038272.lua
  official/c62312469.lua
  official/c74586817.lua
  official/c83094004.lua
  official/c88301393.lua
Owners: @pyrQ

Fix brandead expulsion
  official/c1041278.lua
Owners: @pyrQ

"Forbidden Trapezohedron" fix
  official/c49033797.lua
Owners: @pyrQ

"Summon Cloud" fix
  official/c55375684.lua
Owners: @pyrQ

"Infernoid Patrulea" update
  official/c89423971.lua
Owners: @pyrQ

Update "Dinomist Rex"
  official/c63251695.lua
Owners: @pyrQ

"Copy Plant" fix
  official/c66457407.lua
Owners: @pyrQ

added new Rush cards + fixed Heavenly Rest
  rush/c160205003.lua
  rush/c160205031.lua
  rush/c160205032.lua
  rush/c160205033.lua
  rush/c160421033.lua
Owners: @ClementLouis

New Rush scripts + Heavenly Rest fix (#822)
  rush/c160205003.lua
  rush/c160205031.lua
  rush/c160205032.lua
  rush/c160205033.lua
  rush/c160421033.lua
Owners: @ClementLouis

"Mind Tuner" fix
  official/c30291086.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
