Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Small fix "Thunder Dragon"
  goat/c504700054.lua
Owners: @NaimSantos, @pyrQ

fix The Absolute Divine Beast erroring out
  pre-release/c100273004.lua
Owners: @NaimSantos, @pyrQ

Updated "Plunder Patroll Parrrty"
  official/c43004235.lua
Owners: @NaimSantos, @pyrQ

Small fix "The Absolute Divine Beast"
  pre-release/c100273004.lua
Owners: @NaimSantos, @pyrQ

Small fix "Speedroid Marble Machine (manga)"
  unofficial/c511009632.lua
Owners: @larry126

Final Small fix "Thunder Dragon (GOAT)" (hopefully)
  goat/c504700054.lua
Owners: @NaimSantos, @pyrQ

Small fix "Thunder Dragon (GOAT)"
  goat/c504700054.lua
Owners: @NaimSantos, @pyrQ

Update c504700054.lua
  goat/c504700054.lua
Owners: @NaimSantos, @pyrQ

Fix for "Jewelry Trap Hole"
  rush/c160004059.lua
Owners: @ClementLouis

Small fix "Redeemable Jar"
  official/c84404797.lua
Owners: @NaimSantos, @pyrQ

Fix for "Jewelry Trap Hole" (#508)
  rush/c160004059.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
