Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Updated "Valkyrie's Embrace"
  official/c45584727.lua
Owners: @NaimSantos, @pyrQ

Added new Script (Rush)
  rush/c160202006.lua
  rush/c160202007.lua
  rush/c160202049.lua
Owners: @ClementLouis

Fix for "Guardian Force"
  unofficial/c511000284.lua
Owners: @larry126

Updated "Shrinker Shrimp"
  rush/c160202049.lua
Owners: @ClementLouis

Fix for "Guardian Force" (#498)
  unofficial/c511000284.lua
Owners: @larry126

Updated "Blockman"
  official/c48115277.lua
Owners: @NaimSantos, @pyrQ

Ancient Arise and Shield & Sword Rush Fix
  rush/c160003024.lua
  rush/c160201009.lua
Owners: @ClementLouis

Updated "10sion MAX!!!"
  rush/c160202007.lua
Owners: @ClementLouis

Unofficial script fixes
  unofficial/c511001926.lua
  unofficial/c511004014.lua
Owners: @larry126

Cleanup some cards using EFFECT_EXTRA_MATERIAL
  official/c2347477.lua
  official/c30114823.lua
  official/c37119142.lua
  official/c59185998.lua
  official/c71095768.lua
  official/c75130221.lua
  unofficial/c511009952.lua
  unofficial/c511600358.lua
Owners: @NaimSantos, @pyrQ, @larry126

Updated cards from SLT1 (scripts)
  official/c21985407.lua
  official/c22007085.lua
  official/c23220533.lua
  official/c27946124.lua
  official/c28168762.lua
  official/c28346136.lua
  official/c30013902.lua
  official/c30303854.lua
  official/c3292267.lua
  official/c39468724.lua
  official/c39680372.lua
  official/c39880350.lua
  official/c4918855.lua
  official/c53618293.lua
  official/c54340229.lua
  official/c58374502.lua
  official/c58406094.lua
  official/c59228631.lua
  official/c64730881.lua
  official/c65285459.lua
  official/c65563871.lua
  official/c65953423.lua
  official/c66407907.lua
  official/c66675911.lua
  official/c67797569.lua
  official/c85590798.lua
  official/c86613346.lua
  official/c90835938.lua
  official/c91135480.lua
  official/c91557476.lua
  official/c91957038.lua
  official/c92079625.lua
  official/c92770064.lua
  official/c93896655.lua
Owners: @NaimSantos, @pyrQ

Updated "Laval Archer"
  official/c30303854.lua
Owners: @NaimSantos, @pyrQ

Update c511000730.lua
  unofficial/c511000730.lua
Owners: @larry126

Fix for "Valkyrie's Embrace (Anime)"
  unofficial/c100000529.lua
Owners: @larry126

Fix for "Valkyrie's Embrace (Anime)" (#499)
  unofficial/c100000529.lua
Owners: @larry126

Updated "Sunavalon Dryas"
  official/c93896655.lua
Owners: @NaimSantos, @pyrQ

Updated "Infernoble Knight Captain Roland"
  official/c40251688.lua
Owners: @NaimSantos, @pyrQ

Updated "Royal Demon’s Heavymetal"
  rush/c160002031.lua
Owners: @ClementLouis

Updated "Nephshaddoll Genius"
  official/c66675911.lua
Owners: @NaimSantos, @pyrQ

Updated "ZEXAL Construction"
  pre-release/c101104107.lua
Owners: @NaimSantos, @pyrQ

Updated "Chaos Grepher"
  official/c18859369.lua
Owners: @NaimSantos, @pyrQ

Update unofficial scripts
  unofficial/c100005002.lua
  unofficial/c419.lua
  unofficial/c511000406.lua
  unofficial/c511001603.lua
  unofficial/c511247000.lua
  unofficial/c511600039.lua
  unofficial/c810000046.lua
Owners: @larry126

Update official scripts
  official/c31706048.lua
  official/c40854824.lua
  proc_workaround.lua
Owners: @NaimSantos, @pyrQ

Fix "Blockman"
  official/c48115277.lua
Owners: @NaimSantos, @pyrQ

Typo fixed
  official/c40854824.lua
  official/c84482694.lua
Owners: @NaimSantos, @pyrQ

Update c170000120.lua
  unofficial/c170000120.lua
Owners: @larry126

Fixed unofficial scripts
  unofficial/c511000361.lua
  unofficial/c511015118.lua
Owners: @larry126

Updated "Draculea Vampire"
  official/c4918855.lua
Owners: @NaimSantos, @pyrQ

Added new cards (scripts)
  pre-release/c100200192.lua
  pre-release/c100273006.lua
  pre-release/c100273007.lua
  pre-release/c100274003.lua
  pre-release/c100274005.lua
  pre-release/c100274013.lua
  pre-release/c100274016.lua
  pre-release/c100274017.lua
  pre-release/c100274018.lua
  pre-release/c100274019.lua
  pre-release/c100274020.lua
Owners: @NaimSantos, @pyrQ

Updated "Doll Happiness"
  pre-release/c100274017.lua
Owners: @NaimSantos, @pyrQ

Updated "Doll Happiness"
  pre-release/c100274017.lua
Owners: @NaimSantos, @pyrQ

Update c170000120.lua
  unofficial/c170000120.lua
Owners: @larry126

Update c170000120.lua
  unofficial/c170000120.lua
Owners: @larry126

Update "Doll Happiness"
  pre-release/c100274017.lua
Owners: @NaimSantos, @pyrQ

.. Actual changes from previous commit
  pre-release/c100274017.lua
Owners: @NaimSantos, @pyrQ

Updated "Grandpa Demetto" Wasn't checking if the detached material was originally a normal monster.
  pre-release/c100274016.lua
Owners: @NaimSantos, @pyrQ

Updated "Doll Happiness" Was only applying the attack protection to normal monsters.
  pre-release/c100274017.lua
Owners: @NaimSantos, @pyrQ

Updated "Sublimation Knight" Was able to activate its second trigger effect if control of the card was changed.
  official/c54485355.lua
Owners: @NaimSantos, @pyrQ

Updated "Sunavalon Daphne"
  pre-release/c100274018.lua
Owners: @NaimSantos, @pyrQ

Fix "Grandpa Demetto"
  pre-release/c100274016.lua
Owners: @NaimSantos, @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
