Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Upddate "Earthbound Servant Geo Grasha"
  pre-release/c100299021.lua
Owners: @pyrQ

added new rush cards
  rush/c160208018.lua
  rush/c160208019.lua
  rush/c160208025.lua
  rush/c160208034.lua
Owners: @ClementLouis

Added new Rush cards' scripts
  rush/c160208018.lua
  rush/c160208019.lua
  rush/c160208025.lua
  rush/c160208034.lua
Owners: @ClementLouis

Pendulum procedure fix
  proc_pendulum.lua
Owners: @pyrQ

Fix "Ghost Mourner & Moonlit Chill"
  official/c52038441.lua
Owners: @pyrQ

Update unofficial Synchros that require Synchros
  unofficial/c511000076.lua
  unofficial/c511001603.lua
  unofficial/c511001658.lua
  unofficial/c511001949.lua
  unofficial/c513000015.lua
  unofficial/c513000031.lua
Owners: @larry126

Fix Vrains skills proc
  proc_skill.lua
Owners: @pyrQ

Update proc_skill.lua
  proc_skill.lua
Owners: @pyrQ

Unofficial card fixes
  unofficial/c511000350.lua
  unofficial/c511000614.lua
Owners: @larry126

Missing return
  unofficial/c513000015.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100296002.lua
  pre-release/c100432023.lua
  pre-release/c101202001.lua
  pre-release/c101202002.lua
  pre-release/c101202030.lua
  pre-release/c101202047.lua
  pre-release/c101202048.lua
  pre-release/c101202068.lua
  pre-release/c101202069.lua
Owners: @pyrQ

"Cyber Tactical Dragon" fix
  rush/c160013044.lua
Owners: @ClementLouis

update Metaphys Horus
  official/c36898537.lua
Owners: @pyrQ

Fix Dragon Unit Ritual
  unofficial/c511000350.lua
Owners: @larry126

Update c511009634.lua
  unofficial/c511009634.lua
Owners: @larry126

"Ohime the Manifested Mikanko" fix
  official/c81260679.lua
Owners: @pyrQ

Update c511003219.lua
  unofficial/c511003219.lua
Owners: @larry126

Fix "White Arbitration"
  unofficial/c511009634.lua
Owners: @larry126

Update c511009634.lua
  unofficial/c511009634.lua
Owners: @larry126

Update c511027294.lua
  unofficial/c511027294.lua
Owners: @larry126

Update c511027294.lua
  unofficial/c511027294.lua
Owners: @larry126

Fix "Superdreadnought Rail Cannon Juggernaut Liebe"
  official/c26096328.lua
Owners: @pyrQ

Update c511027294.lua
  unofficial/c511027294.lua
Owners: @larry126

Update c511027294.lua
  unofficial/c511027294.lua
Owners: @larry126

Add Lumenize (Anime) (#982)
  unofficial/c511027294.lua
Owners: @larry126

"Harpie's Full Dress" fix
  rush/c160208012.lua
Owners: @ClementLouis

Add files via upload
  unofficial/c511027469.lua
Owners: @larry126

Update c511027469.lua
  unofficial/c511027469.lua
Owners: @larry126

Update c511027469.lua
  unofficial/c511027469.lua
Owners: @larry126

Update c511027469.lua
  unofficial/c511027469.lua
Owners: @larry126

Update c511027469.lua
  unofficial/c511027469.lua
Owners: @larry126

Small modernization changes (7 cards)
  official/c34721681.lua
  official/c39978267.lua
  official/c48768179.lua
  official/c61587183.lua
  official/c6967870.lua
  official/c71583486.lua
  official/c74153887.lua
Owners: @pyrQ

Update c511027469.lua
  unofficial/c511027469.lua
Owners: @larry126

"Advance Impact" fix
  rush/c160013046.lua
Owners: @ClementLouis

added Triangle Ecstasy Spark
  rush/c160208013.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160208013.lua
Owners: @ClementLouis

"Traptrix Pinguicula" fix
  official/c1688285.lua
Owners: @pyrQ

"The True Name" fix
  official/c39913299.lua
Owners: @pyrQ

"Chimera the Phantom Beast King" fix
  official/c1769875.lua
Owners: @pyrQ

"Tsumuha-Kutsunagi the Lord of Swords" fix
  official/c78098950.lua
Owners: @pyrQ
