Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

added new rush cards
  rush/c160216030.lua
  rush/c160216036.lua
  rush/c160216054.lua
  rush/c160216065.lua
  rush/c160216066.lua
  rush/c160216067.lua
  rush/c160216068.lua
  rush/c160216070.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101303010.lua
  pre-release/c101303011.lua
  pre-release/c101303012.lua
  pre-release/c101303013.lua
  pre-release/c101303039.lua
  pre-release/c101303040.lua
  pre-release/c101303055.lua
  pre-release/c101303056.lua
  pre-release/c101303057.lua
  pre-release/c101303058.lua
  pre-release/c101303071.lua
  pre-release/c101303072.lua
Owners: @pyrQ

fixed Legend Possessed
  rush/c160216068.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100447018.lua
  pre-release/c100447019.lua
  pre-release/c100447020.lua
  pre-release/c100447021.lua
Owners: @pyrQ

"Junora the Power Patron of Tuning" fix
  pre-release/c101303039.lua
Owners: @pyrQ

Update "Spectral Ice Floe"
  unofficial/c511000809.lua
Owners: @larry126

Update "Number C1: Numeron Chaos Gate Sunya (Anime)"
  unofficial/c511000277.lua
Owners: @larry126

Added new card script
  pre-release/c101303069.lua
Owners: @pyrQ

Added new card script
  pre-release/c101303068.lua
Owners: @pyrQ

updated Vengeful Dragon's Counterattack
  rush/c160302014.lua
Owners: @ClementLouis

"Mitsurugi Prayers" fix
  official/c45171524.lua
Owners: @pyrQ

added new rush cards
  rush/c160023002.lua
  rush/c160023003.lua
  rush/c160023004.lua
  rush/c160023006.lua
  rush/c160023007.lua
  rush/c160023008.lua
  rush/c160023009.lua
  rush/c160023010.lua
  rush/c160023034.lua
  rush/c160023039.lua
  rush/c160023040.lua
  rush/c160023046.lua
  rush/c160023047.lua
  rush/c160023048.lua
Owners: @ClementLouis

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Update Rule of the Day
  unofficial/c777777777.lua
Owners: @larry126

Added new card scripts
  pre-release/c100448001.lua
  pre-release/c100448002.lua
  pre-release/c101303042.lua
Owners: @pyrQ

"Dogmatikalamity" fix
  official/c31002402.lua
Owners: @pyrQ

added new rush cards
  rush/c160402057.lua
Owners: @ClementLouis

Added new card script
  pre-release/c101303078.lua
Owners: @pyrQ

"Zaren the Chainbound Dragon" fix
  pre-release/c101303042.lua
Owners: @pyrQ

added script for new alt art
  rush/c160216003.lua
Owners: @ClementLouis

"Marshmao☆Yummy" fix
  official/c10966439.lua
Owners: @pyrQ

Archetype constants updates
  archetype_setcode_constants.lua
Owners: @pyrQ

Remove leftover scripts from removed cards
  unofficial/c511002787.lua
  unofficial/c511002791.lua
  unofficial/c511002792.lua
  unofficial/c511002885.lua
  unofficial/c511009202.lua
  unofficial/c511030063.lua
Owners: @larry126

Update c300309010.lua
  skill/c300309010.lua
Owners: @ClementLouis

Update "Doom Virus Dragon (Anime)"
  unofficial/c170000150.lua
Owners: @larry126

Added new card scripts
  pre-release/c101303004.lua
  pre-release/c101303005.lua
  pre-release/c101303006.lua
  pre-release/c101303020.lua
  pre-release/c101303021.lua
  pre-release/c101303022.lua
  pre-release/c101303025.lua
  pre-release/c101303034.lua
  pre-release/c101303045.lua
  pre-release/c101303046.lua
  pre-release/c101303053.lua
  pre-release/c101303064.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101303027.lua
  pre-release/c101303035.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101303044.lua
  pre-release/c101303066.lua
Owners: @pyrQ

Update "Number 95: Galaxy-Eyes Dark Matter Dragon (Manga)"
  unofficial/c511000515.lua
Owners: @larry126

Anime "Magnet" support cards updates
  unofficial/c420.lua
  unofficial/c450000350.lua
  unofficial/c450000351.lua
  unofficial/c450000352.lua
  unofficial/c450000353.lua
  unofficial/c450000357.lua
Owners: @larry126

"Magnet Warrior Ω＋" official release script update
  official/c86289475.lua
Owners: @pyrQ

Add files via upload
  official/c14457896.lua
  official/c21977828.lua
  official/c36870345.lua
  official/c38450736.lua
  official/c45078193.lua
  official/c58257569.lua
  official/c79875526.lua
  official/c81951640.lua
  official/c82562802.lua
  official/c94573223.lua
Owners: @pyrQ

Add files via upload (#1239)
  official/c14457896.lua
  official/c21977828.lua
  official/c36870345.lua
  official/c38450736.lua
  official/c45078193.lua
  official/c58257569.lua
  official/c79875526.lua
  official/c81951640.lua
  official/c82562802.lua
  official/c94573223.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101303023.lua
  pre-release/c101303051.lua
Owners: @pyrQ

fixed Dark Hole Device
  rush/c160014050.lua
Owners: @ClementLouis

added new double tribute constant
  proc_rush.lua
Owners: @pyrQ

"Guardragon Andrake" update
  official/c6990577.lua
Owners: @pyrQ

"Exosister Karmael" fix
  pre-release/c101303044.lua
Owners: @pyrQ

added new rush cards
  rush/c160023012.lua
  rush/c160023013.lua
  rush/c160023014.lua
  rush/c160023016.lua
  rush/c160023017.lua
  rush/c160023018.lua
  rush/c160023031.lua
  rush/c160023032.lua
  rush/c160023033.lua
  rush/c160023037.lua
  rush/c160023044.lua
  rush/c160023045.lua
  rush/c160023049.lua
  rush/c160023050.lua
  rush/c160023051.lua
  rush/c160023052.lua
  rush/c160023068.lua
Owners: @ClementLouis

fixed some rush cards
  rush/c160023018.lua
  rush/c160023032.lua
Owners: @ClementLouis
