Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update "Forest Wolf"
  unofficial/c511001418.lua
Owners: @larry126

Update "Power Spirit
  unofficial/c511001927.lua
Owners: @larry126

Update "Aleister the Invoker"
  official/c86120751.lua
Owners: @pyrQ

Update "Last Tusk Mammoth (Anime)"
  unofficial/c100000316.lua
Owners: @larry126

Update "Chaos Core (Anime)"
  unofficial/c100000257.lua
Owners: @larry126

Update "Ring of Fiendish Power"
  unofficial/c511001377.lua
Owners: @larry126

Update c511001377.lua
  unofficial/c511001377.lua
Owners: @larry126

Added new card scripts
  pre-release/c101402027.lua
  pre-release/c101402069.lua
Owners: @pyrQ

Update "Alert"
  unofficial/c511001911.lua
Owners: @larry126

Update "Wonder Cloud"
  unofficial/c511000381.lua
Owners: @larry126

Update "Last Tusk Mammoth (Anime)"
  unofficial/c100000316.lua
Owners: @larry126

Added new card scripts
  pre-release/c100200295.lua
  pre-release/c101402033.lua
  pre-release/c101402038.lua
  pre-release/c101402067.lua
Owners: @pyrQ

Add new archetype constants
  archetype_setcode_constants.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Script updates
  official/c34800281.lua
  official/c48469380.lua
  official/c57448410.lua
  official/c72258771.lua
  pre-release/c101402027.lua
Owners: @pyrQ

Update "Raging Sacred Curse"
  unofficial/c511000956.lua
Owners: @larry126

Update constant.lua
  constant.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101402017.lua
  pre-release/c101402018.lua
  pre-release/c101402019.lua
  pre-release/c101402020.lua
  pre-release/c101402048.lua
  pre-release/c101402061.lua
  pre-release/c101402065.lua
  pre-release/c101402066.lua
  pre-release/c101402077.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

added scripts for new alt arts
  proc_rush.lua
  rush/c160219002.lua
  rush/c160219101.lua
Owners: @pyrQ, @ClementLouis

Update "Clear Wing Synchro Dragon (Anime)"
  unofficial/c511002034.lua
Owners: @larry126

Update c511002034.lua
  unofficial/c511002034.lua
Owners: @larry126

Added new card scripts
  pre-release/c100457105.lua
  pre-release/c101402005.lua
  pre-release/c101402006.lua
  pre-release/c101402007.lua
  pre-release/c101402008.lua
  pre-release/c101402026.lua
  pre-release/c101402028.lua
  pre-release/c101402042.lua
  pre-release/c101402043.lua
  pre-release/c101402044.lua
  pre-release/c101402055.lua
  pre-release/c101402056.lua
  pre-release/c101402064.lua
  pre-release/c101402072.lua
Owners: @pyrQ

Added overframe alt. art script
  pre-release/c101402144.lua
Owners: @pyrQ

"Spell Shattering Sword" fix
  pre-release/c101402064.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

added new rush function 'Card.AddTributeSubstitute'
  proc_rush.lua
  rush/c160020055.lua
Owners: @pyrQ, @ClementLouis

revert unwanted changes
  proc_rush.lua
Owners: @pyrQ

added new rush cards
  rush/c160026003.lua
  rush/c160026004.lua
  rush/c160026005.lua
  rush/c160026006.lua
  rush/c160026010.lua
  rush/c160026011.lua
  rush/c160026036.lua
  rush/c160026037.lua
  rush/c160026039.lua
  rush/c160026045.lua
  rush/c160026047.lua
Owners: @ClementLouis

"Spell Shattering Sword" fix
  pre-release/c101402064.lua
Owners: @pyrQ

updated Royal Rebel's Extreme hint message
  rush/c160026006.lua
Owners: @ClementLouis

"Barian's Seal" fix
  pre-release/c101402072.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100458001.lua
  pre-release/c100458002.lua
  pre-release/c100458003.lua
  pre-release/c100458004.lua
  pre-release/c100458005.lua
  pre-release/c100458006.lua
  pre-release/c100458007.lua
  pre-release/c100458009.lua
  pre-release/c100458010.lua
  pre-release/c100458011.lua
Owners: @pyrQ

fixed XY-Tank Dragon
  rush/c160219007.lua
Owners: @ClementLouis

added Chaoskampf Beast Leviatriton
  rush/c160402066.lua
Owners: @ClementLouis

"Evolved Daneen" fix
  official/c1595137.lua
Owners: @pyrQ

added Neo-Spacian Grand Mole
  rush/c160026067.lua
Owners: @ClementLouis

"Sennet Per Akh" fix
  pre-release/c100458007.lua
Owners: @pyrQ

added Elemental HERO Earth Neos
  rush/c160026068.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
