Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

"Witchcrafter Gennie" fix
  official/c64756282.lua
Owners: @pyrQ

fixed Jinzo #7.7
  rush/c160016026.lua
Owners: @ClementLouis

"Disablaster the Negation Fortress" fix
  official/c58707981.lua
Owners: @pyrQ

added Harpie Cara Charming Dress
  rush/c160322005.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101301001.lua
  pre-release/c101301002.lua
  pre-release/c101301003.lua
  pre-release/c101301004.lua
  pre-release/c101301042.lua
  pre-release/c101301043.lua
  pre-release/c101301044.lua
  pre-release/c101301052.lua
  pre-release/c101301074.lua
Owners: @pyrQ

"Shadow Severing Strike" fix
  official/c57232301.lua
Owners: @pyrQ

"True King Lithosagym, the Disaster" update
  official/c30539496.lua
Owners: @pyrQ

"Number F0: Utopic Future Zexal" fix
  pre-release/c101301042.lua
Owners: @pyrQ

added Outer Chaostellime
  rush/c160322003.lua
  rush/c160402049.lua
Owners: @ClementLouis

fixed interaction between Elemental HERO Prisma and Harpie Lady 2&3
  rush/c160019065.lua
  rush/c160322003.lua
Owners: @ClementLouis

"Double Spell (Anime)" fix
  unofficial/c513000055.lua
Owners: @larry126

"Dodododwarf Gogogoglove" fix
  official/c59724555.lua
Owners: @pyrQ

added Dark Paladin
  rush/c160214002.lua
Owners: @ClementLouis

Add files via upload
  rush/c160214005.lua
  rush/c160214008.lua
  rush/c160214009.lua
  rush/c160214023.lua
  rush/c160214024.lua
Owners: @ClementLouis

Update "Arduous Decision"
  unofficial/c511000182.lua
Owners: @larry126

fixed Void Dust Fusion
  rush/c160020052.lua
Owners: @ClementLouis

Update "Wild Half"
  unofficial/c511001353.lua
Owners: @larry126

Update "Wild Half"
  unofficial/c511001353.lua
Owners: @larry126

added Cyber Dragon Nachster
  rush/c160321009.lua
Owners: @ClementLouis

"Chaos Allure Queen" fix
  official/c29925614.lua
Owners: @pyrQ

added functionality for change type and attributes of rush cards
  proc_rush.lua
  rush/c160002043.lua
  rush/c160003036.lua
  rush/c160004039.lua
  rush/c160009030.lua
  rush/c160010022.lua
  rush/c160010035.lua
  rush/c160020032.lua
  rush/c160020033.lua
  rush/c160209002.lua
  rush/c160213057.lua
  rush/c160213058.lua
  rush/c160213059.lua
  rush/c160303010.lua
Owners: @pyrQ, @ClementLouis

Update proc_rush.lua
  proc_rush.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

added Excutie Prouty Frontiere
  rush/c160214033.lua
Owners: @ClementLouis

Update utility.lua
  utility.lua
Owners: @pyrQ

added Animagica Shooter
  rush/c160020032.lua
Owners: @ClementLouis

Update "Train connection
  unofficial/c450000001.lua
Owners: @larry126

Update "Litmus Doom Swordsman"
  official/c72566043.lua
Owners: @pyrQ

fixed Excutie Prouty Frontiere
  rush/c160214033.lua
Owners: @ClementLouis

Fix missing space in "Judgment of the Rising Light"
  rush/c160005052.lua
Owners: @ClementLouis

"Skypalace Gangaridai" update
  official/c3814632.lua
Owners: @pyrQ

"Evilswarm Exciton Knight" update
  official/c46772449.lua
Owners: @pyrQ

"Darktellarknight Batlamyus" update
  official/c64414267.lua
Owners: @pyrQ

Cost helper functions updates
  official/c3814632.lua
  official/c46772449.lua
  official/c64414267.lua
  utility.lua
Owners: @pyrQ

"Soulicer Crystal" official release script update
  official/c24514503.lua
Owners: @pyrQ

Fix "Final Question"
  unofficial/c511002028.lua
Owners: @larry126

added Harpie Regina Splendid Armor
  rush/c160322004.lua
Owners: @ClementLouis

Updated some card scripts to use the new "Cost.AND" function
  official/c11441009.lua
  official/c78693036.lua
  official/c97476032.lua
Owners: @pyrQ

"Evil HERO Neos Lord" fix
  official/c13708888.lua
Owners: @pyrQ

"Tearlaments Kaleido-Heart" fix
  official/c28226490.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
