Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Updated "Raidraptor - Nest"
  official/c8559793.lua
Owners: @NaimSantos, @pyrQ

Add "Revibubble"
  unofficial/c511027095.lua
Owners: @larry126

fix "The Regulation of Tribe"
  official/c296499.lua
Owners: @NaimSantos, @pyrQ

"Cost Down (Anime)" script update
  unofficial/c511002540.lua
Owners: @larry126

Updated "Born from Draconis"
  official/c96699830.lua
Owners: @NaimSantos, @pyrQ

update Number 81
  official/c49032236.lua
Owners: @NaimSantos, @pyrQ

Updated various scripts Make them display client hints.
  official/c32231618.lua
  official/c44663232.lua
  official/c80630522.lua
  official/c82697428.lua
Owners: @NaimSantos, @pyrQ

Updated "Electro-Magnetic Railgun"
  official/c17427333.lua
Owners: @NaimSantos, @pyrQ

Update Ruthless Denial
  official/c73148972.lua
Owners: @NaimSantos, @pyrQ

Unofficial cards script updates
  unofficial/c511000336.lua
  unofficial/c511010239.lua
Owners: @larry126

Add Group.Iter as alias for aux.Next
  utility.lua
Owners: @NaimSantos, @pyrQ

update "Saros Eresh Kurnugias"
  official/c98127546.lua
Owners: @NaimSantos, @pyrQ

Update c48150362.lua
  official/c48150362.lua
Owners: @NaimSantos, @pyrQ

Update c48150362.lua (#468)
  official/c48150362.lua
Owners: @NaimSantos, @pyrQ

"Odd-Eyes Mirage Dragon (Manga)" fix
  unofficial/c511600039.lua
Owners: @larry126

Update "Revibubble"
  unofficial/c511027095.lua
Owners: @larry126

"Pendulum Transfer (Manga)" fix
  unofficial/c511015126.lua
Owners: @larry126

Add "Falling Current (Anime)" script (#466)
  unofficial/c511027094.lua
Owners: @larry126

"Falling Current (Anime)" script clean-up
  unofficial/c511027094.lua
Owners: @larry126

Add "Toy Parade" script (#464)
  unofficial/c511003210.lua
Owners: @larry126

Fix Unchained Soul of Disaster
  official/c89019964.lua
Owners: @NaimSantos, @pyrQ

Update c511027113.lua
  unofficial/c511027113.lua
Owners: @larry126

Fix "Toy Parade" script
  unofficial/c420.lua
  unofficial/c511003210.lua
Owners: @larry126

Minor update
  official/c87910978.lua
Owners: @NaimSantos, @pyrQ

Unofficial cards script updates
  unofficial/c100000250.lua
  unofficial/c511000798.lua
Owners: @larry126

Update "Afterglow (Anime)"
  unofficial/c511050013.lua
Owners: @larry126

Fix Saros Eresh Kurnugias
  official/c98127546.lua
Owners: @NaimSantos, @pyrQ

Added "Attendant of the Ice Barrier" by Kohana
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

change
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

banish
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

banish 2
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

format
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

format 2
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

format 3
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

format 4
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

format 5
  pre-release/c100200191.lua
Owners: @NaimSantos, @pyrQ

added new script
  rush/c160003019.lua
  rush/c160003060.lua
Owners: @ClementLouis

Updated cards from PHRA (scripts) Beta cards now have their official IDs.
  official/c31855260.lua
  official/c34572613.lua
  official/c34695290.lua
  official/c36539330.lua
  official/c42577802.lua
  official/c43709490.lua
  official/c545781.lua
  official/c5466615.lua
  official/c60967717.lua
  official/c61089209.lua
  official/c6182103.lua
  official/c62201847.lua
  official/c72924435.lua
  official/c7574904.lua
  official/c79072916.lua
  official/c79194594.lua
  official/c8200556.lua
Owners: @NaimSantos, @pyrQ

Added "Daikaminari Gyclops" by kohana
  pre-release/c17241941.lua
Owners: @NaimSantos, @pyrQ

Fix "Afterglow (Anime)" script
  unofficial/c511050013.lua
Owners: @larry126
