Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

pass base effect to extracon
  utility.lua
Owners: @pyrQ

fix spellbinding circle not preventing flip summons
  official/c18807108.lua
Owners: @pyrQ

move extracon checking back to the value function
  utility.lua
Owners: @pyrQ

update "S-Force Chase"
  official/c55049722.lua
Owners: @pyrQ

update Ursarctic functions
  cards_specific_functions.lua
Owners: @pyrQ

update "Ursarctic" cards
  official/c16471775.lua
  official/c27693363.lua
  official/c28715905.lua
  official/c29537493.lua
  official/c54700519.lua
  official/c55936191.lua
  official/c62714453.lua
  official/c80086070.lua
  official/c81108658.lua
  official/c81321206.lua
  official/c89264428.lua
  official/c89771220.lua
Owners: @pyrQ

update Drytron functions
  cards_specific_functions.lua
Owners: @pyrQ

remove aux.StardustCost
  cards_specific_functions.lua
Owners: @pyrQ

update "Stardust" cards
  official/c30983281.lua
  official/c44508094.lua
  official/c61257789.lua
  official/c74892653.lua
  official/c76636978.lua
  official/c84012625.lua
  unofficial/c513000075.lua
Owners: @pyrQ, @larry126

fixed Maximum.battlecon
  proc_maximum.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

Update "Dragonic Contract"
  unofficial/c511002256.lua
Owners: @larry126

Update utility.lua
  utility.lua
Owners: @pyrQ

update Vernusylph functions
  cards_specific_functions.lua
Owners: @pyrQ

update "Vernusylph" cards
  official/c14108995.lua
  official/c36745317.lua
  official/c62133026.lua
  official/c81519836.lua
  official/c9238125.lua
  official/c9350312.lua
Owners: @pyrQ

update "Power Patron" cards
  official/c10266279.lua
  official/c17473466.lua
  official/c43871165.lua
  pre-release/c101305055.lua
Owners: @pyrQ

update "Prank-Kids" cards
  official/c25725326.lua
  official/c43886072.lua
  official/c44509529.lua
  official/c70875686.lua
  official/c81997228.lua
Owners: @pyrQ

update "Naturia" cards
  official/c16940215.lua
  official/c19605133.lua
  official/c29942771.lua
  official/c7478431.lua
  official/c84905691.lua
  official/c93454062.lua
Owners: @pyrQ

update cards "Fur Hire"
  official/c1527418.lua
  official/c38916526.lua
  official/c53557529.lua
  official/c67466547.lua
Owners: @pyrQ

Vernusylph Corolla
  official/c14108995.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100455023.lua
  pre-release/c100455025.lua
  pre-release/c100455027.lua
  pre-release/c100455028.lua
  pre-release/c100455029.lua
  pre-release/c101305024.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

added new rush cards
  rush/c160025003.lua
  rush/c160025004.lua
  rush/c160025015.lua
  rush/c160025016.lua
  rush/c160025017.lua
  rush/c160025018.lua
  rush/c160025019.lua
  rush/c160025020.lua
  rush/c160025021.lua
  rush/c160025025.lua
  rush/c160025026.lua
  rush/c160025038.lua
  rush/c160025039.lua
  rush/c160025040.lua
  rush/c160025041.lua
  rush/c160025042.lua
  rush/c160025046.lua
  rush/c160025047.lua
  rush/c160025051.lua
  rush/c160025052.lua
  rush/c160025062.lua
Owners: @ClementLouis

fixed Lightclad Dragon Egg
  rush/c160025041.lua
Owners: @ClementLouis

update utility.lua
  utility.lua
Owners: @pyrQ

"Witchcrafter Genni" fix
  official/c64756282.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100455024.lua
  pre-release/c100455026.lua
Owners: @pyrQ

"Witchcrafter Pupils" update
  pre-release/c100455026.lua
Owners: @pyrQ

added Beacon of the Dark Titan
  rush/c160025065.lua
Owners: @ClementLouis

Fix Apex Polymerization interaction with fusion monsters requiring "n + n or more" materials
  official/c44886582.lua
Owners: @pyrQ

Skip fusion material selection in Apex Polymerization
  official/c44886582.lua
Owners: @pyrQ

"Witchcrafter Celebration" fix
  pre-release/c100455027.lua
Owners: @pyrQ

Fix forced material check in fusion procedure of "n+m+..." monsters
  proc_fusion.lua
Owners: @pyrQ

add and load chain.lua
  chain.lua
  utility.lua
Owners: @pyrQ

update cards that use TRIGGERING_SETCODES
  cards_specific_functions.lua
  official/c11464648.lua
  official/c11688916.lua
  official/c1340142.lua
  official/c15001940.lua
  official/c17473466.lua
  official/c26223582.lua
  official/c35371948.lua
  official/c44293356.lua
  official/c46174776.lua
  official/c52495649.lua
  official/c53589300.lua
  official/c53618197.lua
  official/c53782828.lua
  official/c55049722.lua
  official/c56208713.lua
  official/c56322832.lua
  official/c58153103.lua
  official/c6636319.lua
  official/c79755671.lua
  official/c82699999.lua
  official/c88890658.lua
  official/c89016236.lua
  pre-release/c101304092.lua
  pre-release/c101304093.lua
  pre-release/c101305055.lua
  pre-release/c101305074.lua
Owners: @pyrQ

"Hieroglyph Lithograph" update
  official/c10248192.lua
Owners: @pyrQ

"Dark Hole Device" update
  rush/c160014050.lua
Owners: @ClementLouis

Update chain.lua
  chain.lua
Owners: @pyrQ

fix darklord uprising not being able to sent as cost a monster on the field with a full field
  official/c54527349.lua
Owners: @pyrQ

"Fallen Paradise of the Sacred Beasts" update
  pre-release/c101305048.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
