Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Updated "Number 38: Hope Harbinger Dragon Titanic Galaxy"
  official/c63767246.lua
Owners: @NaimSantos, @pyrQ

Minor change
  official/c63767246.lua
Owners: @NaimSantos, @pyrQ

Removed Speed World scripts
  unofficial/c110000000.lua
  unofficial/c511002094.lua
Owners: @larry126

Small fix "Speed World 2"
  unofficial/c110000000.lua
Owners: @larry126

Update c71095768.lua
  official/c71095768.lua
Owners: @NaimSantos, @pyrQ

Updated 3 of the magibullets
  official/c5230799.lua
  official/c68024506.lua
  official/c94418111.lua
Owners: @NaimSantos, @pyrQ

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Update Magical Musketeer Doc and Caspar
  official/c32841045.lua
  official/c68246154.lua
Owners: @NaimSantos, @pyrQ

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Update c511003207.lua
  unofficial/c511003207.lua
Owners: @larry126

added new scripts
  rush/c160003033.lua
  rush/c160003045.lua
  rush/c160003046.lua
  rush/c160202042.lua
  rush/c160202043.lua
  rush/c160202046.lua
  rush/c160202047.lua
Owners: @ClementLouis

Cosmic String Noodle-Druidess fix
  rush/c160202042.lua
Owners: @ClementLouis

Small fix "Mermail Abyssocea"
  official/c28577986.lua
Owners: @NaimSantos, @pyrQ

Fix "Traplin"
  unofficial/c511005041.lua
Owners: @larry126

Small fix "Cosmic String Noodle-Druidess"
  rush/c160202042.lua
Owners: @ClementLouis

Update c511005041.lua
  unofficial/c511005041.lua
Owners: @larry126

Update c511005041.lua
  unofficial/c511005041.lua
Owners: @larry126

Update c511005041.lua
  unofficial/c511005041.lua
Owners: @larry126

Fix "Traplin" (#458)
  unofficial/c511005041.lua
Owners: @larry126

Fix "Contact Soul"
  official/c37818794.lua
  unofficial/c100000551.lua
Owners: @NaimSantos, @pyrQ, @larry126

Turbo Duel update
  unofficial/c100000551.lua
  unofficial/c110000000.lua
  unofficial/c511600371.lua
  unofficial/c511600372.lua
  unofficial/c511600373.lua
  unofficial/c511600374.lua
Owners: @larry126

Speed World 2 fix
  unofficial/c511600372.lua
  unofficial/c511600374.lua
Owners: @larry126

Performapal Handstandacoon (Anime) script clean-up
  unofficial/c511009162.lua
Owners: @larry126

Update c511003209.lua
  unofficial/c511003209.lua
Owners: @larry126

Update c511003209.lua
  unofficial/c511003209.lua
Owners: @larry126

Add "Zero Potential" script (#455)
  unofficial/c511003209.lua
Owners: @larry126

Add "Hyper-Ancient Shark Megalodon (Anime)" script (#434)
  unofficial/c511003207.lua
Owners: @larry126

Add "Ido the Supreme Magical Force (Anime)" script (#435)
  unofficial/c511003208.lua
Owners: @larry126

Chaos Form (GX) fix + Handstandaccoon
  unofficial/c100000258.lua
  unofficial/c511009162.lua
Owners: @larry126

Update Thunder King, the Lightningstrike Kaiju
  official/c48770333.lua
Owners: @NaimSantos, @pyrQ

Fix Pacifis, the Phantasm City
  official/c2819435.lua
Owners: @NaimSantos, @pyrQ

Fix "Speed Spell - The End of the Storm"
  unofficial/c100100104.lua
  unofficial/c513000147.lua
Owners: @larry126

Update c513000147.lua
  unofficial/c513000147.lua
Owners: @larry126

Fix "Speed Spell - Deceased Synchron (Anime)"
  unofficial/c513000149.lua
Owners: @larry126

Update c110000000.lua
  unofficial/c110000000.lua
Owners: @larry126

Updated "Blackbeard, the Plunder Patroll Captain"
  official/c67647362.lua
Owners: @NaimSantos, @pyrQ

"Dark Contract with Summoning Surplus" script clean-up
  unofficial/c511009417.lua
Owners: @larry126

Unofficial scripts updates
  unofficial/c511600370.lua
  unofficial/c511600371.lua
  unofficial/c511600372.lua
  unofficial/c511600373.lua
  unofficial/c511600374.lua
  unofficial/c511600375.lua
Owners: @larry126

Revert change to Altergeist Multifaker
  official/c42790071.lua
Owners: @NaimSantos, @pyrQ

Update Duel.RemoveCounter
  proc_workaround.lua
Owners: @NaimSantos, @pyrQ
