Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update c51102769.lua
  unofficial/c51102769.lua
Owners: @larry126

Update c51102769.lua
  unofficial/c51102769.lua
Owners: @larry126

added new rush cards
  rush/c160206016.lua
  rush/c160206033.lua
  rush/c160206036.lua
  rush/c160206039.lua
  rush/c160206045.lua
Owners: @ClementLouis

Add files via upload
  unofficial/c511027692.lua
Owners: @larry126

Update c511027692.lua
  unofficial/c511027692.lua
Owners: @larry126

Add files via upload
  unofficial/c511027693.lua
Owners: @larry126

Update c511027693.lua
  unofficial/c511027693.lua
Owners: @larry126

Added new cards' scripts
  constant.lua
  pre-release/c100418001.lua
  pre-release/c100418002.lua
  pre-release/c101201101.lua
  pre-release/c101201102.lua
  pre-release/c101201103.lua
  pre-release/c101201104.lua
  pre-release/c101201105.lua
  pre-release/c101201106.lua
  pre-release/c101201107.lua
  proc_synchro.lua
Owners: @pyrQ

Added new Rush cards' scripts
  rush/c160206016.lua
  rush/c160206033.lua
  rush/c160206036.lua
  rush/c160206039.lua
  rush/c160206045.lua
Owners: @ClementLouis

"Cosmic Quasar Dragon" fix
  pre-release/c101201103.lua
Owners: @pyrQ

Update c511027692.lua
  unofficial/c511027692.lua
Owners: @larry126

Add "White Barrier" script (#928)
  unofficial/c511027692.lua
Owners: @larry126

Update "Steel Steed Martin Vinary"
  rush/c160206016.lua
Owners: @ClementLouis

"Cosmic Quasar Dragon" fix
  pre-release/c101201103.lua
Owners: @pyrQ

Fix incorrect effect number
  pre-release/c101201103.lua
Owners: @pyrQ

Rever change to "Cosmic Quasar Dragon"
  pre-release/c101201103.lua
Owners: @pyrQ

"Blaze Cannon" fix
  official/c4059313.lua
Owners: @pyrQ

"Trap Mole" fix
  rush/c160206039.lua
Owners: @ClementLouis

Fix "Graveyard Rebound"
  unofficial/c513000080.lua
Owners: @larry126

"Cosmic Quasar Dragon" fix
  pre-release/c101201103.lua
Owners: @pyrQ

"Magical Musket Mastermind Zakiel" fix
  official/c30907810.lua
Owners: @pyrQ

Delete pre-release directory
  pre-release/c100200230.lua
  pre-release/c100418001.lua
  pre-release/c100418002.lua
  pre-release/c100430001.lua
  pre-release/c100430002.lua
  pre-release/c100430003.lua
  pre-release/c100430004.lua
  pre-release/c100430005.lua
  pre-release/c100430006.lua
  pre-release/c100430029.lua
  pre-release/c100430030.lua
  pre-release/c100430031.lua
  pre-release/c100430032.lua
  pre-release/c100430033.lua
  pre-release/c100430034.lua
  pre-release/c100430035.lua
  pre-release/c100430037.lua
  pre-release/c100430038.lua
  pre-release/c100430039.lua
  pre-release/c100430040.lua
  pre-release/c101111081.lua
  pre-release/c101111082.lua
  pre-release/c101111083.lua
  pre-release/c101111084.lua
  pre-release/c101111085.lua
  pre-release/c101111087.lua
  pre-release/c101111088.lua
  pre-release/c101111089.lua
  pre-release/c101111090.lua
  pre-release/c101111091.lua
  pre-release/c101111092.lua
  pre-release/c101111101.lua
  pre-release/c101201101.lua
  pre-release/c101201102.lua
  pre-release/c101201103.lua
  pre-release/c101201104.lua
  pre-release/c101201105.lua
  pre-release/c101201106.lua
  pre-release/c101201107.lua
Owners: @pyrQ

Add files via upload
  archetype_setcode_constants.lua
  official/c21677871.lua
  official/c22390469.lua
  official/c23512906.lua
  official/c24634594.lua
  official/c58884063.lua
  official/c59900655.lua
  official/c60622305.lua
  official/c61845881.lua
  official/c95283172.lua
  official/c96127902.lua
  official/c96305350.lua
  official/c97240499.lua
  pre-release/c100200230.lua
  pre-release/c100418001.lua
  pre-release/c100418002.lua
  pre-release/c100430001.lua
  pre-release/c100430002.lua
  pre-release/c100430003.lua
  pre-release/c100430004.lua
  pre-release/c100430005.lua
  pre-release/c100430006.lua
  pre-release/c100430029.lua
  pre-release/c100430030.lua
  pre-release/c100430031.lua
  pre-release/c100430032.lua
  pre-release/c100430033.lua
  pre-release/c100430034.lua
  pre-release/c100430035.lua
  pre-release/c100430037.lua
  pre-release/c100430038.lua
  pre-release/c100430039.lua
  pre-release/c100430040.lua
  pre-release/c101201101.lua
  pre-release/c101201102.lua
  pre-release/c101201103.lua
  pre-release/c101201104.lua
  pre-release/c101201105.lua
  pre-release/c101201106.lua
  pre-release/c101201107.lua
Owners: @pyrQ

"Photon Hypernova" official TCG release script updates
  archetype_setcode_constants.lua
  official/c21677871.lua
  official/c22390469.lua
  official/c23512906.lua
  official/c24634594.lua
  official/c58884063.lua
  official/c59900655.lua
  official/c60622305.lua
  official/c61845881.lua
  official/c95283172.lua
  official/c96127902.lua
  official/c96305350.lua
  official/c97240499.lua
Owners: @pyrQ

Fix "Phoenix Battle Wings"
  unofficial/c511000745.lua
Owners: @larry126

"Green Ninja" fix
  official/c15198996.lua
Owners: @pyrQ

update c15198996.lua
  official/c15198996.lua
Owners: @pyrQ

added new rush cards
  proc_maximum.lua
  rush/c160206002.lua
  rush/c160206003.lua
  rush/c160206020.lua
  rush/c160206023.lua
  rush/c160206041.lua
Owners: @pyrQ, @ClementLouis

Synchro procedure update
  proc_synchro.lua
Owners: @pyrQ

"Cupid Pitch" fixes
  official/c21915012.lua
Owners: @pyrQ

Added new Rush cards' scripts
  proc_maximum.lua
  rush/c160206002.lua
  rush/c160206003.lua
  rush/c160206020.lua
  rush/c160206023.lua
  rush/c160206041.lua
Owners: @pyrQ, @ClementLouis

Fix "Eve of the Big March"
  rush/c160206023.lua
Owners: @ClementLouis

Update cards
  official/c1041278.lua
  official/c1259814.lua
  official/c1295442.lua
  official/c1357146.lua
  official/c1688285.lua
  official/c2390019.lua
  official/c2547033.lua
  official/c2625939.lua
  official/c2645637.lua
  official/c2665273.lua
Owners: @pyrQ

Update Rush cards to use new functions
  rush/c160011035.lua
  rush/c160011046.lua
  rush/c160011057.lua
  rush/c160011060.lua
  rush/c160012045.lua
  rush/c160012049.lua
  rush/c160012053.lua
  rush/c160205005.lua
  rush/c160205007.lua
  rush/c160205009.lua
  rush/c160205011.lua
  rush/c160205039.lua
  rush/c160205052.lua
  rush/c160205067.lua
  rush/c160205109.lua
  rush/c160205152.lua
  rush/c160428035.lua
Owners: @ClementLouis

"Scareclaw Kashtira" fix
  official/c78534861.lua
Owners: @pyrQ

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Update "Amazement Administrator - Arlechino"
  official/c94821366.lua
Owners: @pyrQ

fix a typo
  official/c94821366.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
