Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Vaalmonica Disarmonia" fix
  official/c65496951.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101205021.lua
  pre-release/c101205063.lua
  pre-release/c101205075.lua
Owners: @pyrQ

Update c1248895.lua
  official/c1248895.lua
Owners: @pyrQ

Update c1248895.lua
  official/c1248895.lua
Owners: @pyrQ

Prevent "Chain Destruction" from activating if monster left the field before activation
  official/c1248895.lua
Owners: @pyrQ

added Auspicious Arrival of Divine Doubt
  rush/c160017065.lua
Owners: @ClementLouis

added new rush cards
  rush/c160017063.lua
  rush/c160401014.lua
Owners: @ClementLouis

Various card updates and fixes
  official/c21546416.lua
  official/c34090915.lua
  official/c52119435.lua
  official/c57030525.lua
  official/c58153103.lua
  official/c66518509.lua
  official/c87025064.lua
  official/c90500169.lua
  official/c94141712.lua
Owners: @pyrQ

Added new constant
  archetype_setcode_constants.lua
Owners: @pyrQ

added Fadronir the Pure
  rush/c160017037.lua
Owners: @ClementLouis

added new rush cards
  rush/c160017029.lua
  rush/c160017030.lua
Owners: @ClementLouis

"Dreamland" fix
  official/c26920296.lua
Owners: @pyrQ

Added "Card.IsTrapMonster"
  utility.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101205029.lua
  pre-release/c101205030.lua
  pre-release/c101205031.lua
  pre-release/c101205052.lua
  pre-release/c101205065.lua
  pre-release/c101205066.lua
  pre-release/c101205067.lua
  pre-release/c101205078.lua
  pre-release/c101205079.lua
Owners: @pyrQ

Fix "Gorgonic Guardian (Anime)"
  unofficial/c511027117.lua
Owners: @larry126

"Periallis, Empress of Blossoms" fix
  official/c72924435.lua
Owners: @pyrQ

added Dragon Remover
  rush/c160017035.lua
Owners: @ClementLouis

Fix Curse of Fiend
  official/c12470447.lua
Owners: @pyrQ

"Number C39: Utopia Ray" fix
  official/c56840427.lua
Owners: @pyrQ

added new rush cards
  rush/c160017034.lua
  rush/c160017036.lua
Owners: @ClementLouis

added new rush cards
  proc_rush.lua
  rush/c160017040.lua
  rush/c160017041.lua
  rush/c160017043.lua
Owners: @pyrQ, @ClementLouis

Move TCG exclusives out of prerelease
  official/c1607603.lua
  official/c34813443.lua
  official/c35035985.lua
  official/c35151572.lua
  official/c36974120.lua
  official/c37006702.lua
  official/c48228390.lua
  official/c61434639.lua
  official/c62156277.lua
  official/c63378869.lua
  official/c73490417.lua
  official/c74213995.lua
  official/c8540986.lua
  official/c885016.lua
  official/c9763474.lua
  official/c98828338.lua
Owners: @pyrQ

"Legacy of Destruction" official TCG release script updates
  official/c1607603.lua
  official/c34813443.lua
  official/c35035985.lua
  official/c35151572.lua
  official/c36974120.lua
  official/c37006702.lua
  official/c48228390.lua
  official/c61434639.lua
  official/c62156277.lua
  official/c63378869.lua
  official/c73490417.lua
  official/c74213995.lua
  official/c8540986.lua
  official/c885016.lua
  official/c9763474.lua
  official/c98828338.lua
Owners: @pyrQ

fixed God Maju Garzett
  rush/c160017043.lua
Owners: @ClementLouis

"Shif, Fairy of the Ghoti" update
  official/c73421698.lua
Owners: @pyrQ

fixed Maju Garzett
  rush/c160206004.lua
Owners: @ClementLouis

added Spice Cross Secret Recipe
  rush/c160017060.lua
Owners: @ClementLouis

Rename c100200253.lua to c19316241.lua
  official/c19316241.lua
Owners: @pyrQ

Rename c100200245.lua to c26857786.lua
  official/c26857786.lua
Owners: @pyrQ

Rename c100200246.lua to c53246495.lua
  official/c53246495.lua
Owners: @pyrQ

Rename c100200247.lua to c70117791.lua
  official/c70117791.lua
Owners: @pyrQ

"V Jump Spring 2024 subscription bonus" promos + "Galaxy War Drake" official release script updates
  official/c19316241.lua
  official/c26857786.lua
  official/c53246495.lua
  official/c70117791.lua
Owners: @pyrQ

added new rush cards
  rush/c160017028.lua
  rush/c160017038.lua
Owners: @ClementLouis

added Dark Matter Eliminate
  rush/c160017062.lua
Owners: @ClementLouis

"Courageous Crimson Chevalier Bradamante" fix
  official/c91479482.lua
Owners: @pyrQ

Update "Servant of Endymion" and "Lyrilusc - Turquoise Warbler"
  official/c92559258.lua
  official/c97949165.lua
Owners: @pyrQ

"Blessed Winds" fix
  official/c15177750.lua
Owners: @pyrQ

added Defrostrooper Mk-II
  rush/c160017039.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c100200254.lua
Owners: @pyrQ

"Mementotlan Mystical Sheep" fix
  pre-release/c101205020.lua
Owners: @pyrQ
