Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update Auxiliary.CostWithReplace
  utility.lua
Owners: @pyrQ

Update Soul Servant
  official/c23020408.lua
Owners: @pyrQ

Fix "Line Monster K Horse"
  unofficial/c511005006.lua
Owners: @larry126

Fix "Shooting Star Dragon (Anime)"
  unofficial/c513000012.lua
Owners: @larry126

Updates
  utility.lua
Owners: @pyrQ

Change cancel logic
  utility.lua
Owners: @pyrQ

Update "Satellite Cannon (Anime)"
  unofficial/c511777001.lua
Owners: @larry126

Update c511777001.lua
  unofficial/c511777001.lua
Owners: @larry126

Update c511777001.lua
  unofficial/c511777001.lua
Owners: @larry126

Simplified a bit to use "effCard" as the loop condition
  utility.lua
Owners: @pyrQ

Add FUSPROC_CANCELABLE parameter for Duel.SelectFusionMaterial
  constant.lua
  proc_fusion.lua
Owners: @pyrQ

Update Vernusylph Corolla (proposal)
  official/c14108995.lua
Owners: @pyrQ

Use "id" for the flag effect rather than "id+1"
  official/c14108995.lua
Owners: @pyrQ

Update "Auxiliary.CostWithReplace"
  official/c14108995.lua
  utility.lua
Owners: @pyrQ

Update proc_fusion_spell.lua
  proc_fusion_spell.lua
Owners: @pyrQ

Make effects that include "preselect" uncancellable
  proc_fusion_spell.lua
Owners: @pyrQ

Make Fusion Party! and Super Polymerization (Anime) use "extraop"
  skill/c300302001.lua
  unofficial/c511003010.lua
Owners: @ClementLouis, @larry126

Minor readibility update
  proc_fusion.lua
Owners: @pyrQ

Updated GX Magnet cards
  unofficial/c170000116.lua
  unofficial/c170000122.lua
  unofficial/c170000123.lua
  unofficial/c419.lua
Owners: @larry126

Updated cards triggered by costs
  official/c2511.lua
  official/c98020526.lua
Owners: @pyrQ

"Majestic Mirage" fix
  official/c98020526.lua
Owners: @pyrQ

Minor readibility update
  proc_fusion.lua
Owners: @pyrQ

Update c511777001.lua
  unofficial/c511777001.lua
Owners: @larry126

Update "Auxiliary.CostWithReplace"
  official/c14108995.lua
  utility.lua
Owners: @pyrQ

Add FUSPROC_CANCELABLE parameter for Duel.SelectFusionMaterial
  constant.lua
  proc_fusion.lua
Owners: @pyrQ

Update "Satellite Cannon (Anime)"
  unofficial/c511777001.lua
Owners: @larry126

Fix "Line Monster K Horse"
  unofficial/c511005006.lua
Owners: @larry126

Update Soul Servant
  official/c23020408.lua
Owners: @pyrQ

Fix "Shooting Star Dragon (Anime)"
  unofficial/c513000012.lua
Owners: @larry126

"Majestic Mirage" fix
  official/c98020526.lua
Owners: @pyrQ

Updated GX Magnet cards
  unofficial/c170000116.lua
  unofficial/c170000122.lua
  unofficial/c170000123.lua
  unofficial/c419.lua
Owners: @larry126

Updated cards triggered by costs
  official/c2511.lua
  official/c98020526.lua
Owners: @pyrQ

Update c511777001.lua
  unofficial/c511777001.lua
Owners: @larry126

fix "Prank-Kids Weather Washer"
  official/c44509529.lua
Owners: @pyrQ

Fix "Labrynth Labyrinth"
  official/c33407125.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100293273.lua
  pre-release/c100293274.lua
  pre-release/c100293275.lua
Owners: @pyrQ

Fix "Runick Fountain"
  official/c92107604.lua
Owners: @pyrQ

Fix "Labrynth Labyrinth"
  official/c33407125.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100293273.lua
  pre-release/c100293274.lua
  pre-release/c100293275.lua
Owners: @pyrQ

Fix "Runick Fountain"
  official/c92107604.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
