Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Shouldering a Destiny" fix
  skill/c300308012.lua
Owners: @ClementLouis

Remove some unused/commented lines of code
  skill/c300308012.lua
Owners: @ClementLouis

"Magikey Mechmusket - Batosbuster" fix
  official/c19489718.lua
Owners: @pyrQ

"Lord British Space Fighter" fix
  official/c35514096.lua
Owners: @pyrQ

added Giftarist - Speedy Mix
  rush/c160020017.lua
Owners: @ClementLouis

"Trickstar Vision" fix
  unofficial/c511009609.lua
Owners: @larry126

Script updates
  official/c11790356.lua
  official/c11827244.lua
  official/c12289247.lua
  official/c12652643.lua
  official/c1278431.lua
  official/c13030280.lua
  official/c14466224.lua
  official/c14735698.lua
  official/c14957440.lua
  official/c15155568.lua
Owners: @pyrQ

"Barrier Resonator" fix
  official/c89127526.lua
Owners: @pyrQ

Added new utility function
  utility.lua
Owners: @pyrQ

Some card fixes
  official/c11802691.lua
  official/c15866454.lua
  official/c28903523.lua
  official/c31539614.lua
  official/c82134632.lua
  official/c89127526.lua
  unofficial/c511000368.lua
Owners: @pyrQ, @larry126

Added new card scripts
  pre-release/c100295101.lua
  pre-release/c100409001.lua
  pre-release/c100409002.lua
Owners: @pyrQ

"EN Shuffle" fix
  official/c10186633.lua
Owners: @pyrQ

Added new card script
  pre-release/c100200266.lua
Owners: @pyrQ

Some script fixes
  official/c10805153.lua
  official/c43845801.lua
  official/c64756282.lua
  official/c8198620.lua
Owners: @pyrQ

Update "Otoshidamashi"
  official/c14957440.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Update archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100442001.lua
  pre-release/c100442002.lua
  pre-release/c100442003.lua
  pre-release/c100442004.lua
  pre-release/c100442006.lua
  pre-release/c100442007.lua
  pre-release/c100442008.lua
  pre-release/c100442009.lua
  pre-release/c100442010.lua
  pre-release/c100442011.lua
Owners: @pyrQ

"Dragontail Flame" fix
  pre-release/c100442011.lua
Owners: @pyrQ

"Mysterion the Dragon Crown" fix
  official/c13735899.lua
Owners: @pyrQ

Script updates
  official/c19974580.lua
  official/c21011044.lua
  official/c21082832.lua
  official/c21179143.lua
  official/c22211622.lua
  official/c24566654.lua
  official/c24590232.lua
  official/c2542230.lua
Owners: @pyrQ

"Rahu Dragontail" fix
  pre-release/c100442009.lua
Owners: @pyrQ

"Take One Chance" fixes
  unofficial/c511001499.lua
Owners: @larry126

"Sacred Sword Thanatos" fix
  unofficial/c511009160.lua
Owners: @larry126

"Shaddoll Schism" update
  official/c21011044.lua
Owners: @pyrQ

"Number C79: Battlin' Boxer General Kaiser" fix
  official/c10300821.lua
Owners: @pyrQ

added scripts for new alt arts
  proc_rush.lua
  rush/c160020107.lua
  rush/c160020128.lua
  rush/c160020136.lua
  rush/c160020145.lua
  rush/c160020161.lua
Owners: @pyrQ, @ClementLouis

added new rush cards
  rush/c160321006.lua
  rush/c160321007.lua
  rush/c160322002.lua
  rush/c160322003.lua
Owners: @ClementLouis

Unofficial script fixes
  unofficial/c511002723.lua
  unofficial/c511002903.lua
  unofficial/c511002904.lua
  unofficial/c511002905.lua
  unofficial/c511002906.lua
Owners: @larry126

Add files via upload
  unofficial/c511002903.lua
  unofficial/c511002904.lua
Owners: @larry126

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

"Woes of the White Forest" fix
  official/c62995268.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Desrook Archfiend" fix
  official/c72192100.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100442016.lua
  pre-release/c100442017.lua
  pre-release/c100442018.lua
  pre-release/c100442019.lua
  pre-release/c100442020.lua
  pre-release/c100442021.lua
  pre-release/c100442022.lua
  pre-release/c100442023.lua
  pre-release/c100442024.lua
  pre-release/c100442026.lua
Owners: @pyrQ

"Yummy" Synchro Monsters fix
  pre-release/c100442019.lua
  pre-release/c100442020.lua
  pre-release/c100442021.lua
Owners: @pyrQ

Some card fixes
  official/c35798491.lua
  official/c35975813.lua
  official/c61370518.lua
  official/c73219648.lua
  official/c8581705.lua
  official/c9603356.lua
Owners: @pyrQ

Small unofficial script update
  unofficial/c511027680.lua
Owners: @larry126

"Penguin Squire" fix
  official/c14761450.lua
Owners: @pyrQ
