Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update "Trap Eater (Anime)"
  unofficial/c511013002.lua
Owners: @larry126

Update "Maliss" Trap cards
  official/c20726052.lua
  official/c57111661.lua
  official/c94722358.lua
Owners: @pyrQ

update "Doctor D"
  official/c32671443.lua
Owners: @pyrQ

update c32671443.lua
  official/c32671443.lua
Owners: @pyrQ

"Number 18: Heraldry Patriarch" fix
  official/c23649496.lua
Owners: @pyrQ

Update "Trap Eater (Anime)"
  unofficial/c511013002.lua
Owners: @larry126

Update c511013002.lua
  unofficial/c511013002.lua
Owners: @larry126

fixed Invitation to a Delirious Dream
  rush/c160017066.lua
Owners: @ClementLouis

added new rush cards
  rush/c160213012.lua
  rush/c160213062.lua
  rush/c160213068.lua
Owners: @ClementLouis

"Aiwass, the Magistus Spell Spirit" fix
  official/c35877582.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Enlilgirsu, the Orcust Mekk-Knight" fix
  pre-release/c100419034.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Use alphabetical order for card constants
  card_counter_constants.lua
Owners: @pyrQ

Update "Magical Academy"
  unofficial/c810000095.lua
Owners: @larry126

Added new card constant
  card_counter_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101207090.lua
  pre-release/c101207091.lua
  pre-release/c101207092.lua
  pre-release/c101207093.lua
  pre-release/c101207094.lua
  pre-release/c101207095.lua
  pre-release/c101207096.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160020004.lua
  rush/c160020005.lua
  rush/c160020006.lua
  rush/c160020008.lua
  rush/c160020042.lua
  rush/c160020043.lua
  rush/c160020051.lua
  rush/c160020065.lua
  rush/c160213016.lua
  rush/c160213017.lua
  rush/c160213041.lua
  rush/c160213049.lua
Owners: @pyrQ, @ClementLouis

added Variable Stellarizer
  proc_fusion_spell.lua
  rush/c160020007.lua
Owners: @pyrQ, @ClementLouis

Add Fusion.SummonEffect and handle new parameter in EFFECT_FUSION_MATERIAL
  proc_fusion.lua
Owners: @pyrQ

Update to use new approach
  proc_fusion_spell.lua
  rush/c160020007.lua
Owners: @pyrQ, @ClementLouis

Add Fusion.SummonEffect and handle new parameter in EFFECT_FUSION_MATERIAL (#1164)
  proc_fusion.lua
Owners: @pyrQ

added Variable Stellarizer script (#1163)
  rush/c160020007.lua
Owners: @ClementLouis

"Dogmatika Punishment" fix
  official/c82956214.lua
Owners: @pyrQ

"Primite Howl" fix
  official/c41488249.lua
Owners: @pyrQ

added Pliage the Sacred Shooting Star
  rush/c160213069.lua
Owners: @ClementLouis

Ryu-Ge
  official/c20904475.lua
  official/c28669235.lua
  official/c29882827.lua
  official/c55154344.lua
  official/c55276522.lua
  official/c56499179.lua
  official/c81549048.lua
  official/c82661630.lua
  official/c92487128.lua
  official/c93509766.lua
Owners: @pyrQ

Ryzeal
  official/c33787730.lua
  official/c34022970.lua
  official/c34909328.lua
  official/c35844557.lua
  official/c60394026.lua
  official/c61116514.lua
  official/c6798031.lua
  official/c72238166.lua
  official/c7511613.lua
  official/c8633261.lua
Owners: @pyrQ

added Confronting the Black Dragon
  rush/c160213030.lua
Owners: @ClementLouis

Maliss
  official/c20726052.lua
  official/c21848500.lua
  official/c32061192.lua
  official/c57111661.lua
  official/c68059897.lua
  official/c68337209.lua
  official/c69272449.lua
  official/c95454996.lua
  official/c96676583.lua
Owners: @pyrQ

some others
  official/c92962242.lua
  official/c9396662.lua
  official/c95784714.lua
  official/c9597987.lua
  official/c96030710.lua
  official/c96235944.lua
  official/c9627468.lua
  official/c96352712.lua
  official/c96402918.lua
  official/c9674034.lua
  official/c96795312.lua
  official/c9709452.lua
  official/c97223101.lua
  official/c97864322.lua
  official/c98007437.lua
  official/c98167225.lua
  official/c98385955.lua
  official/c98567237.lua
  official/c98986900.lua
  official/c99289828.lua
  official/c99529628.lua
  official/c99748883.lua
  official/c99801464.lua
  official/c99989863.lua
Owners: @pyrQ

"Ryu-Ge Rivalry" fix
  official/c71100270.lua
  official/c71187462.lua
  official/c71456737.lua
  official/c71545247.lua
  official/c71768839.lua
  official/c71818935.lua
  official/c71832012.lua
  official/c71858682.lua
  official/c72233469.lua
  official/c72554664.lua
  official/c72578374.lua
  official/c77313225.lua
  official/c77543769.lua
  official/c77573354.lua
  official/c77765207.lua
  official/c81549048.lua
Owners: @pyrQ

Update c300308012.lua
  skill/c300308012.lua
Owners: @ClementLouis

added Dicemite Gyame Fire Laps
  rush/c160020045.lua
Owners: @ClementLouis

use aux.SelfRevealCost in cards that reveal themselves as a cost
  official/c27268998.lua
  official/c27704731.lua
  official/c38648860.lua
  official/c67972302.lua
  official/c80870883.lua
  official/c81260679.lua
  official/c81418467.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101208000.lua
  pre-release/c101208006.lua
  pre-release/c101208007.lua
  pre-release/c101208008.lua
  pre-release/c101208026.lua
  pre-release/c101208027.lua
  pre-release/c101208028.lua
  pre-release/c101208036.lua
  pre-release/c101208039.lua
  pre-release/c101208052.lua
  pre-release/c101208055.lua
  pre-release/c101208071.lua
  pre-release/c101208077.lua
Owners: @pyrQ

Update "Cyberdark Wurm"
  pre-release/c101208027.lua
Owners: @pyrQ

Salamangreat Burst Gryphon fix
  official/c10140443.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
