Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Fix D/D Vice Typhon (Anime)
  unofficial/c511009540.lua
Owners: @larry126

added new Rush cards
  rush/c160011051.lua
  rush/c160011053.lua
Owners: @ClementLouis

added scripts for Supreme Machine Magnum Overlord alt arts
  rush/c160205004.lua
  rush/c160205005.lua
  rush/c160205006.lua
Owners: @ClementLouis

Add dummy script
  unofficial/c777777777.lua
Owners: @larry126

Update "Scareclaw Kshatri-La"
  pre-release/c101111007.lua
Owners: @pyrQ

Fix "Scareclaw Kshatri-La"
  pre-release/c101111007.lua
Owners: @pyrQ

Update Scareclaw Kshatri-La
  pre-release/c101111007.lua
Owners: @pyrQ

Update "Vaylantz Genesis Grand Duke"
  official/c76075139.lua
Owners: @pyrQ

Fix "Inzektor Dragonfly"
  official/c68184115.lua
Owners: @pyrQ

Update "Kshatri-La Shangri-La"
  official/c68184115.lua
  official/c73542331.lua
Owners: @pyrQ

Script updates
  official/c38528901.lua
  official/c76075139.lua
  official/c83269557.lua
  official/c90965652.lua
  unofficial/c511009540.lua
Owners: @pyrQ, @larry126

"Scareclaw Kshatri-La" fix
  pre-release/c101111007.lua
Owners: @pyrQ

"Gishki Emilia" fix
  official/c73551138.lua
Owners: @pyrQ

Update "Jackie Jumper"
  unofficial/c511000742.lua
Owners: @larry126

Add Rush scripts (#787)
  rush/c160011051.lua
  rush/c160011053.lua
  rush/c160205004.lua
  rush/c160205005.lua
  rush/c160205006.lua
Owners: @ClementLouis

Update rush scripts
  rush/c160205004.lua
  rush/c160205006.lua
Owners: @ClementLouis

fix "Scareclaw Kshatri-La"
  pre-release/c101111007.lua
Owners: @pyrQ

Updated AC02 unofficial counterparts scripts
  unofficial/c100000223.lua
  unofficial/c420.lua
  unofficial/c511000405.lua
  unofficial/c511000933.lua
  unofficial/c511001301.lua
  unofficial/c511001339.lua
  unofficial/c511001410.lua
  unofficial/c511001648.lua
  unofficial/c511001649.lua
  unofficial/c511002685.lua
  unofficial/c511002892.lua
  unofficial/c511009134.lua
  unofficial/c511009135.lua
  unofficial/c511009427.lua
  unofficial/c511009580.lua
  unofficial/c511600220.lua
  unofficial/c511600224.lua
  unofficial/c511600230.lua
Owners: @larry126

Added new unofficial cards scripts
  unofficial/c511003228.lua
  unofficial/c511003230.lua
  unofficial/c511003231.lua
Owners: @larry126

added Watchman of the Apocalypse
  rush/c160011034.lua
Owners: @ClementLouis

used IsMonster
  rush/c160011034.lua
Owners: @ClementLouis

used Card.IsMonster in the condition too
  rush/c160011034.lua
Owners: @ClementLouis

Fix Gift Exchange
  official/c82257940.lua
Owners: @pyrQ

added Combustion Oni Bunsel
  rush/c160402020.lua
Owners: @ClementLouis

added Rush card script (#788)
  rush/c160011034.lua
Owners: @ClementLouis

added Rush card script (#789)
  rush/c160402020.lua
Owners: @ClementLouis

Update unofficial cards
  unofficial/c100000223.lua
  unofficial/c511000405.lua
  unofficial/c511000933.lua
  unofficial/c511001301.lua
  unofficial/c511001339.lua
  unofficial/c511001410.lua
  unofficial/c511001648.lua
  unofficial/c511001649.lua
  unofficial/c511002685.lua
  unofficial/c511002892.lua
  unofficial/c511003228.lua
  unofficial/c511003230.lua
  unofficial/c511003231.lua
  unofficial/c511009134.lua
  unofficial/c511009135.lua
  unofficial/c511009427.lua
  unofficial/c511009580.lua
  unofficial/c511600220.lua
  unofficial/c511600224.lua
  unofficial/c511600230.lua
  unofficial/c777777777.lua
Owners: @larry126

Update Rule of the Day
  unofficial/c777777777.lua
Owners: @larry126

Replace some Debug.Message calls with ``error``
  proc_synchro.lua
  unofficial/c419.lua
  utility.lua
Owners: @pyrQ, @larry126

"Laevateinn, Generaider Boss of Shadows" fix
  pre-release/c101111047.lua
Owners: @pyrQ

Add scripts
  rush/c160011011.lua
  rush/c160011018.lua
  rush/c160011019.lua
  rush/c160011033.lua
  rush/c160011035.lua
  rush/c160011037.lua
  rush/c160011038.lua
  rush/c160011048.lua
  rush/c160011049.lua
  rush/c160011061.lua
  rush/c160011065.lua
Owners: @ClementLouis

Update 3 rush cards to use Duel.GetDeckbottomGroup
  rush/c160007048.lua
  rush/c160011018.lua
  rush/c160011035.lua
Owners: @ClementLouis

Fixed great long nose
  official/c2356994.lua
Owners: @pyrQ

Fix "Kshatri-La Fenrir"
  official/c32909498.lua
Owners: @pyrQ

Fix Terrorsaur Sternptera
  rush/c160203011.lua
Owners: @ClementLouis

Fix Fearstute Followl
  rush/c160204034.lua
Owners: @ClementLouis

Update string for Metallion Vritrastar
  rush/c160204002.lua
Owners: @ClementLouis

"Card.SelectAdjacent" and "Card.MoveAdjacent" update
  utility.lua
Owners: @pyrQ

"Nazuki the Vaylantz Ninja" fix
  official/c41525660.lua
Owners: @pyrQ

Corrected Bonfire effect (#780)
  unofficial/c170000121.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
