Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update "Abyss Actor - Wild Hope (Anime)"
  unofficial/c511009066.lua
Owners: @larry126

added new rush cards
  rush/c160216010.lua
  rush/c160216011.lua
  rush/c160216012.lua
  rush/c160216013.lua
  rush/c160216014.lua
  rush/c160216017.lua
  rush/c160216018.lua
  rush/c160216025.lua
  rush/c160216026.lua
  rush/c160216029.lua
Owners: @ClementLouis

fixed Gateway to the Wooly Wunderworld
  rush/c160216025.lua
Owners: @ClementLouis

Update "Fire Whip"
  unofficial/c511000672.lua
Owners: @larry126

Update "Gouki Sheik Ogre"
  official/c7382007.lua
Owners: @pyrQ

"Yummy☆Surprise" fix
  official/c29369059.lua
Owners: @pyrQ

"Elemental HERO Divine Neos" fix
  official/c31111109.lua
Owners: @pyrQ

"Doom of Dimensions-EN" official release script updates
  official/c13023431.lua
  official/c16066654.lua
  official/c17188206.lua
  official/c18300894.lua
  official/c23249029.lua
  official/c43450363.lua
  official/c44573911.lua
  official/c50643638.lua
  official/c54399598.lua
  official/c55421040.lua
  official/c79859067.lua
  official/c80071619.lua
  official/c81794107.lua
  official/c81916745.lua
  official/c86038337.lua
  official/c87750925.lua
Owners: @pyrQ

Update "Soldier Revolt"
  unofficial/c511001897.lua
Owners: @larry126

Update "Defrostrooper"
  rush/c160402029.lua
Owners: @ClementLouis

Added new card script
  pre-release/c101303028.lua
Owners: @pyrQ

"Fire Whip" fix
  unofficial/c511000672.lua
Owners: @larry126

"Destiny HERO - Denier" update
  official/c16605586.lua
Owners: @pyrQ

fixed Legendary Sparkseed
  rush/c160212061.lua
Owners: @ClementLouis

added The Battle Bump
  rush/c160216075.lua
Owners: @ClementLouis

"D/D/D Zero Doom Queen Machinex" fix
  official/c20715411.lua
Owners: @pyrQ

updated Debug.AddMaximumCard
  proc_maximum.lua
Owners: @pyrQ

Fix proc_maximum.lua
  proc_maximum.lua
Owners: @pyrQ

Fix Debug.AddMaximumCard
  proc_maximum.lua
Owners: @pyrQ

Added new card script
  pre-release/c101303067.lua
Owners: @pyrQ

updated Debug.AddMaximumCard
  proc_maximum.lua
Owners: @pyrQ

added scripts for new alt arts
  rush/c160452031.lua
  rush/c160452032.lua
  rush/c160452033.lua
  rush/c160452034.lua
  rush/c160452035.lua
Owners: @ClementLouis

Update "Dark Magic Curtain (Anime)"
  unofficial/c511002532.lua
Owners: @larry126

Added new card script
  pre-release/c101303033.lua
Owners: @pyrQ

Update "Full Moon Mirror"
  unofficial/c511000919.lua
Owners: @larry126

"Radiant Typhoon" Quick-Play Spells fix
  official/c20508881.lua
  official/c67115133.lua
  official/c94103142.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101303037.lua
  pre-release/c101303043.lua
  pre-release/c101303049.lua
  pre-release/c101303065.lua
  pre-release/c101303076.lua
Owners: @pyrQ

Added new card script
  pre-release/c100200280.lua
Owners: @pyrQ

"Dupe Frog" fix
  official/c46239604.lua
Owners: @pyrQ

update c46239604.lua
  official/c46239604.lua
Owners: @pyrQ

"Assault Mode Activate" script update + updated some functions
  official/c80280737.lua
  proc_workaround.lua
Owners: @pyrQ

Fix
  proc_workaround.lua
Owners: @pyrQ

"Darklord Djehuty" fix
  pre-release/c101303019.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101303007.lua
  pre-release/c101303008.lua
  pre-release/c101303009.lua
  pre-release/c101303029.lua
  pre-release/c101303038.lua
  pre-release/c101303054.lua
Owners: @pyrQ

fixed Jest of the Cosmos Princess
  rush/c160017058.lua
Owners: @ClementLouis

added new rush cards
  rush/c160216042.lua
  rush/c160216058.lua
  rush/c160216059.lua
  rush/c160216060.lua
  rush/c160216061.lua
  rush/c160216062.lua
Owners: @ClementLouis

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

update Duel.SwapSequence function
  proc_workaround.lua
Owners: @pyrQ

Update constant.lua
  constant.lua
Owners: @pyrQ

fixed Space Folnir
  rush/c160020011.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
