Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Fix "Number 48: Shadow Lich (Manga)"
  unofficial/c511015118.lua
Owners: @larry126

Update c511015118.lua
  unofficial/c511015118.lua
Owners: @larry126

Update c511015118.lua
  unofficial/c511015118.lua
Owners: @larry126

Fix "Flash Effect"
  unofficial/c100000228.lua
Owners: @larry126

Update c100000228.lua
  unofficial/c100000228.lua
Owners: @larry126

Unofficial card script fixes
  unofficial/c100100507.lua
  unofficial/c511000139.lua
  unofficial/c511000634.lua
  unofficial/c511000854.lua
  unofficial/c511000991.lua
  unofficial/c511001332.lua
  unofficial/c511002821.lua
  unofficial/c511005701.lua
  unofficial/c511009567.lua
  unofficial/c513000055.lua
Owners: @larry126

"Elemental HERO Nebula Neos" update
  official/c40080312.lua
Owners: @pyrQ

Rush scripts updates
  rush/c160001031.lua
  rush/c160002036.lua
  rush/c160002043.lua
  rush/c160003014.lua
  rush/c160003018.lua
  rush/c160003024.lua
  rush/c160003025.lua
  rush/c160003039.lua
  rush/c160003047.lua
Owners: @ClementLouis

Update official cards
  official/c18954366.lua
  official/c2102065.lua
  official/c28806532.lua
  official/c33103459.lua
  official/c34449261.lua
  official/c34884015.lua
Owners: @pyrQ

"Maliss <Q> Red Ransom" update
  official/c68059897.lua
Owners: @pyrQ

"Regenesis Dragon Vayikra" update
  official/c59323650.lua
Owners: @pyrQ

"Proton Blast" fix
  official/c49511705.lua
Owners: @pyrQ

Update c49511705.lua
  official/c49511705.lua
Owners: @pyrQ

Update c33103459.lua
  official/c33103459.lua
Owners: @pyrQ

added Cybernetic Overflow
  rush/c160321037.lua
Owners: @ClementLouis

Update c160002043.lua
  rush/c160002043.lua
Owners: @ClementLouis

Unofficial card script fixes
  unofficial/c511000476.lua
  unofficial/c511002446.lua
  unofficial/c511004431.lua
  unofficial/c511009738.lua
  unofficial/c511009939.lua
  unofficial/c511024010.lua
Owners: @larry126

Update "Performapal Corn"
  official/c33103459.lua
Owners: @pyrQ

fixed Elemental HERO Heat Neos
  rush/c160018066.lua
Owners: @ClementLouis

"Black-Winged Dragon" update
  official/c9012916.lua
Owners: @pyrQ

"Blackwing - Nothung the Starlight" update
  official/c95040215.lua
Owners: @pyrQ

added Harpie Belle
  rush/c160322007.lua
Owners: @ClementLouis

fixed CanChangeIntoTypeRush and CanChangeIntoAttributeRush
  proc_rush.lua
Owners: @pyrQ

Update "Blackfeather Darkrage Dragon (Manga)"
  unofficial/c100000282.lua
Owners: @larry126

Update "Blackwing - Hillen the Tengu-wind (Anime)"
  unofficial/c511247014.lua
Owners: @larry126

added Cyber Kirin
  rush/c160321008.lua
Owners: @ClementLouis

Added constant for "Temple of the Kings"
  card_counter_constants.lua
Owners: @pyrQ

Added new archetype constants
  archetype_setcode_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update "Dark Psycho Eye"
  unofficial/c100000033.lua
Owners: @larry126

Update "Zero Gazer"
  unofficial/c511001586.lua
Owners: @larry126

"Jurrac Volcano" fix
  official/c89948817.lua
Owners: @pyrQ

Update c89948817.lua
  official/c89948817.lua
Owners: @pyrQ

"Lightstorm Dragon" fix
  official/c10515412.lua
Owners: @pyrQ

Update "Dark Psycho Eye"
  unofficial/c100000033.lua
Owners: @larry126

Update "Dark Psycho Eye"
  unofficial/c100000033.lua
Owners: @larry126

Added new card scripts
  pre-release/c100410001.lua
  pre-release/c100410002.lua
  pre-release/c100410003.lua
  pre-release/c100410004.lua
  pre-release/c100410005.lua
  pre-release/c100410006.lua
  pre-release/c100410007.lua
  pre-release/c100410008.lua
  pre-release/c100410009.lua
  pre-release/c100410010.lua
Owners: @pyrQ

Update "Seal of Serket"
  unofficial/c511001305.lua
Owners: @larry126

Update "Cup of Sealed Soul"
  unofficial/c511001306.lua
Owners: @larry126

Update c511001305.lua
  unofficial/c511001305.lua
Owners: @larry126

fixed Spectress of Heaven's Eternity
  rush/c160018049.lua
Owners: @ClementLouis
