Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Small fix "Sunavalon Dryanome"
  pre-release/c100272112.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunvine Shrine"
  pre-release/c100272117.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunavalon Bloom"
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Type "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Anime Sunvine/Sunavalon script update
  unofficial/c511009666.lua
  unofficial/c511009667.lua
  unofficial/c511009668.lua
  unofficial/c511009669.lua
  unofficial/c511009670.lua
  unofficial/c511009671.lua
  unofficial/c511009672.lua
  unofficial/c511009673.lua
  unofficial/c511009675.lua
  unofficial/c511009677.lua
  unofficial/c511009682.lua
  unofficial/c511027002.lua
  unofficial/c511027012.lua
  unofficial/c511027013.lua
  unofficial/c511600207.lua
Owners: @larry126

Fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Fix "Reporter Soul"
  rush/c160003054.lua
Owners: @ClementLouis

Fix "Sunavalon Bloom"
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Updated "3K Bolt"
  rush/c160003047.lua
Owners: @ClementLouis

Small fix "Sunavalon Bloom"
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

added new scripts
  pre-release/c101103006.lua
  pre-release/c101103007.lua
  pre-release/c101103008.lua
  pre-release/c101103009.lua
  pre-release/c101103010.lua
  pre-release/c101103038.lua
  pre-release/c101103046.lua
  pre-release/c101103054.lua
  pre-release/c101103056.lua
  pre-release/c101103068.lua
Owners: @NaimSantos, @pyrQ

Updated "Skull Servant"-related cards Now indicate that their text lists the card "Skull Servant".
  constant.lua
  official/c22339232.lua
  official/c31339260.lua
  official/c36021814.lua
  official/c40991587.lua
  official/c57473560.lua
  official/c58528964.lua
  official/c90243945.lua
Owners: @NaimSantos, @pyrQ

Small fix "Galaxy-Eyes Cipher Ex Dragon"
  pre-release/c100272103.lua
Owners: @NaimSantos, @pyrQ

added new scripts
  pre-release/c101103055.lua
  pre-release/c101103069.lua
  pre-release/c101103070.lua
  pre-release/cc101103035.lua
Owners: @NaimSantos, @pyrQ

added new scripts
  rush/c160003027.lua
  rush/c160003028.lua
  rush/c160003029.lua
  rush/c160003030.lua
  rush/c160003031.lua
  rush/c160003048.lua
Owners: @ClementLouis

Rename script "Wight Baking"
  pre-release/c101103035.lua
Owners: @NaimSantos, @pyrQ

Fix for "Orichalcos Kyutora"
  unofficial/c170000166.lua
Owners: @larry126

Small fix "Vast Desert Gold Golgonda"
  pre-release/c101103055.lua
Owners: @NaimSantos, @pyrQ

Small fix "Vast Desert Gold Golgonda"
  pre-release/c101103055.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunavalon Bloom"
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sprigguns Pede"
  pre-release/c101103007.lua
Owners: @NaimSantos, @pyrQ

Small fix "Trishula, Subzero Dragon of the Ice Barrier"
  pre-release/c100340103.lua
Owners: @NaimSantos, @pyrQ

Fixed "Sunvine Maiden"
  pre-release/c100272107.lua
Owners: @NaimSantos, @pyrQ

Fix Sprigguns Blast! and Sprigguns Ship Exblower
  pre-release/c101103046.lua
  pre-release/c101103069.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Fix for "Orichalcos Kyutora" (#456)
  unofficial/c170000166.lua
Owners: @larry126

Updated "Sunavalon Bloom"
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

einroid fix
  unofficial/c511002242.lua
Owners: @larry126

fix "Sunavalon Dryanome"
  pre-release/c100272112.lua
Owners: @NaimSantos, @pyrQ

Small fix "Nyanto, the Forest Traveler"
  unofficial/c100000345.lua
Owners: @larry126

Typo fix "Nyanto, the Forest Traveler"
  unofficial/c100000345.lua
Owners: @larry126

Small fix "Ancient Pixie Dragon (manga)"
  unofficial/c511002202.lua
Owners: @larry126

Revert "Small fix "Ancient Pixie Dragon (manga)""
  unofficial/c511002202.lua
Owners: @larry126

Small fix "Battlewasp - Dart the Hunter"
  official/c91283212.lua
Owners: @NaimSantos, @pyrQ

Small fix "Onomatopickup"
  official/c85119159.lua
Owners: @NaimSantos, @pyrQ

Add script "Red-Eyes Spirit (Anime)"
  unofficial/c511017003.lua
Owners: @larry126

Unofficial script fixes
  unofficial/c150000070.lua
  unofficial/c511002235.lua
  unofficial/c511003050.lua
  unofficial/c511015113.lua
  unofficial/c511600069.lua
  unofficial/c511600358.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
