Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Added new card scripts
  pre-release/c100447064.lua
  pre-release/c101303024.lua
  pre-release/c101303041.lua
Owners: @pyrQ

"Lore Leimey" fix
  rush/c160023037.lua
Owners: @ClementLouis

updated Amusi Annoyance
  rush/c160014063.lua
Owners: @ClementLouis

updated Amusi Annoyance
  rush/c160014063.lua
Owners: @ClementLouis

added new rush cards
  proc_rush.lua
  rush/c160023000.lua
  rush/c160023036.lua
Owners: @pyrQ, @ClementLouis

Added new card scripts
  pre-release/c101303026.lua
  pre-release/c101303030.lua
  pre-release/c101303077.lua
  pre-release/c101303079.lua
  pre-release/c101303080.lua
Owners: @pyrQ

Update "Pulling The Strings"
  skill/c300309012.lua
Owners: @ClementLouis

Update "Pulling the Strings"
  skill/c300309012.lua
Owners: @ClementLouis

Update c300309012.lua
  skill/c300309012.lua
Owners: @ClementLouis

updated Amusi Annoyance
  rush/c160014063.lua
Owners: @ClementLouis

Some card fixes
  official/c70491413.lua
  official/c93481594.lua
  pre-release/c101303035.lua
Owners: @pyrQ

"Gladiator Beast Gyzarus" update
  official/c48156348.lua
Owners: @pyrQ

"Gladiator Beast Gaiodiaz" update
  official/c90957527.lua
Owners: @pyrQ

added Ultimate Flag
  rush/c160023019.lua
Owners: @ClementLouis

Added new card script
  pre-release/c100447044.lua
Owners: @pyrQ

added Power Shockborg
  rush/c160023022.lua
Owners: @ClementLouis

added new rush cards
  rush/c160023023.lua
  rush/c160023042.lua
  rush/c160023054.lua
  rush/c160023055.lua
  rush/c160023056.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100447062.lua
  pre-release/c100447063.lua
  pre-release/c100447066.lua
  pre-release/c100448003.lua
  pre-release/c100448004.lua
  pre-release/c100448005.lua
  pre-release/c100448006.lua
Owners: @pyrQ

added Dragonic Peace Bomber
  rush/c160023062.lua
Owners: @ClementLouis

fixed Demolition Fusegate Scrapgate
  rush/c160018053.lua
Owners: @ClementLouis

Update "Number 6: Chronomaly Atlandis (Anime)"
  unofficial/c511002090.lua
Owners: @larry126

Update c511002090.lua
  unofficial/c511002090.lua
Owners: @larry126

"Tohushaddoll Grysta" update
  pre-release/c100447062.lua
Owners: @pyrQ

added Udzue the Frost-Purifying Purebreed
  rush/c160456001.lua
Owners: @ClementLouis

added Eye of the Storm
  rush/c160023020.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100447005.lua
  pre-release/c100449001.lua
  pre-release/c100449002.lua
  pre-release/c100449003.lua
  pre-release/c100449004.lua
  pre-release/c100449005.lua
  pre-release/c100449101.lua
Owners: @pyrQ

Added new card script
  pre-release/c100200281.lua
Owners: @pyrQ

added new rush cards
  rush/c160023021.lua
  rush/c160023043.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100444301.lua
  pre-release/c100444302.lua
Owners: @pyrQ

"Insect Queen" fix
  official/c91512835.lua
Owners: @pyrQ

Update "The Dragon that Devours the Dogma"
  official/c76666602.lua
Owners: @pyrQ

added new rush cards
  rush/c160023024.lua
  rush/c160023025.lua
  rush/c160023026.lua
  rush/c160023041.lua
  rush/c160023053.lua
  rush/c160023064.lua
  rush/c160023065.lua
Owners: @ClementLouis

fixed Hyper Speed
  rush/c160023053.lua
Owners: @ClementLouis

fixed Vic Viper Beginning
  rush/c160023026.lua
Owners: @ClementLouis

Update "Cost.SelfChangePosition"
  official/c28454232.lua
  official/c62587693.lua
  official/c81237046.lua
  official/c82359538.lua
  utility.lua
Owners: @pyrQ

Updates
  official/c81237046.lua
  official/c82359538.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101304101.lua
  pre-release/c101304102.lua
  pre-release/c101304103.lua
  pre-release/c101304104.lua
  pre-release/c101304105.lua
  pre-release/c101304106.lua
  pre-release/c101304107.lua
  pre-release/c101304108.lua
Owners: @pyrQ

added By Order of the Monarch
  rush/c160023060.lua
Owners: @ClementLouis

Update "Crimson Call"
  pre-release/c101304107.lua
Owners: @pyrQ

Added new card script
  pre-release/c100447022.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
