Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Re-script "Hero Soul"
  unofficial/c511000317.lua
Owners: @larry126

Update "Parasite Maneuver"
  unofficial/c511009341.lua
Owners: @larry126

Update "Parasite Maneuver"
  unofficial/c511009341.lua
Owners: @larry126

Update "Amazoness Trainer"
  unofficial/c511001907.lua
Owners: @larry126

Update c511001907.lua
  unofficial/c511001907.lua
Owners: @larry126

Update "Crime and Punishment"
  unofficial/c511001389.lua
Owners: @larry126

Update "Royal Sword"
  unofficial/c100000370.lua
Owners: @larry126

"Sennet Per Akh" fix
  pre-release/c100458007.lua
Owners: @pyrQ

Revert ""Sennet Per Akh" fix"
  pre-release/c100458007.lua
Owners: @pyrQ

added new rush cards
  rush/c160220051.lua
  rush/c160220052.lua
  rush/c160220053.lua
  rush/c160220054.lua
Owners: @ClementLouis

"Old Mind" fix
  official/c54239282.lua
Owners: @pyrQ

Update c54239282.lua
  official/c54239282.lua
Owners: @pyrQ

"Old Mind" fix
  official/c54239282.lua
Owners: @pyrQ

Add files via upload
  pre-release/c100200292.lua
  pre-release/c100200293.lua
  pre-release/c100200294.lua
  pre-release/c100200297.lua
  pre-release/c100458001.lua
  pre-release/c100458002.lua
  pre-release/c100458003.lua
  pre-release/c100458004.lua
  pre-release/c100458005.lua
  pre-release/c100458006.lua
  pre-release/c100458007.lua
  pre-release/c100458008.lua
  pre-release/c100458009.lua
  pre-release/c100458010.lua
  pre-release/c100458011.lua
  pre-release/c100458016.lua
  pre-release/c100458017.lua
  pre-release/c100458018.lua
  pre-release/c100458019.lua
  pre-release/c100458020.lua
  pre-release/c100458021.lua
  pre-release/c100458022.lua
Owners: @pyrQ

Delete pre-release/c101402136.lua
  pre-release/c101402136.lua
Owners: @pyrQ

Delete pre-release/c101402144.lua
  pre-release/c101402144.lua
Owners: @pyrQ

"Destiny HERO - Dreadmaster" update
  official/c40591390.lua
Owners: @pyrQ

Updated english names for cards from BETB
  official/c1280391.lua
  official/c17020474.lua
  official/c1710647.lua
  official/c24203749.lua
  official/c25158975.lua
  official/c2906939.lua
  official/c3129527.lua
  official/c37839434.lua
  official/c38114652.lua
  official/c38331244.lua
  official/c38391684.lua
  official/c41570943.lua
  official/c43419178.lua
  official/c4663194.lua
  official/c4881365.lua
  official/c54641720.lua
  official/c62542673.lua
  official/c64455720.lua
  official/c64603351.lua
  official/c65325949.lua
  official/c76630812.lua
  official/c76660178.lua
  official/c77482666.lua
  official/c91444835.lua
Owners: @pyrQ

added new rush cards
  rush/c160220026.lua
  rush/c160220028.lua
Owners: @ClementLouis

"Snake-Eyes Doomed Dragon"
  official/c58071334.lua
Owners: @pyrQ

"Radiant Typhoon Mandate" update
  official/c53813120.lua
Owners: @pyrQ

"Gemini Imps" fix
  official/c1475311.lua
  official/c67688478.lua
Owners: @pyrQ

Update "Battle Eater"
  unofficial/c511002898.lua
Owners: @larry126

Update "Gagaga x Gagaga"
  unofficial/c511001249.lua
Owners: @larry126

Update "Shutter Layer 1"
  unofficial/c810000080.lua
Owners: @larry126

Update "Exhaust Note"
  unofficial/c150000088.lua
Owners: @larry126

Update "Instant Freeze"
  unofficial/c511002089.lua
Owners: @larry126

Add new constants for EFFECT_OPPO_CHOOSES_SPSUMMON_ZONE effect
  constant.lua
Owners: @pyrQ

added Koumori Dragon the Magical Dragon
  rush/c160220011.lua
Owners: @ClementLouis

Update "Down Burst"
  unofficial/c511000884.lua
Owners: @larry126

Update "Illusion Destruction"
  unofficial/c511000201.lua
Owners: @larry126

Update "Eternal Reverse"
  unofficial/c100000364.lua
Owners: @larry126

Update "Dragon's Roar"
  unofficial/c511002168.lua
Owners: @larry126

Added new card scripts
  pre-release/c100459001.lua
  pre-release/c100459003.lua
  pre-release/c100459010.lua
  pre-release/c101402082.lua
  pre-release/c101402083.lua
  pre-release/c101402084.lua
  pre-release/c101402085.lua
  pre-release/c101402086.lua
  pre-release/c101402087.lua
  pre-release/c101402088.lua
  pre-release/c101402089.lua
  pre-release/c101402090.lua
  pre-release/c101402091.lua
  pre-release/c101402092.lua
  pre-release/c101402093.lua
  pre-release/c101402094.lua
  pre-release/c101402095.lua
  pre-release/c101402096.lua
  pre-release/c101403071.lua
Owners: @pyrQ

"Angelechy Enlisted" fix
  official/c81797573.lua
Owners: @pyrQ

Script updates
  official/c81797573.lua
  unofficial/c100000333.lua
  unofficial/c511001136.lua
Owners: @pyrQ, @larry126

added new rush cards
  rush/c160220039.lua
  rush/c160220043.lua
Owners: @ClementLouis

Update "Magnet Chameloeon"
  unofficial/c450000354.lua
Owners: @larry126

Update c450000354.lua
  unofficial/c450000354.lua
Owners: @larry126

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ
