Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Added new Rush card's script
  rush/c160012044.lua
Owners: @ClementLouis

Update "Accesscode Talker"
  official/c86066372.lua
Owners: @pyrQ

added Skysavior Witnesses
  rush/c160012053.lua
Owners: @ClementLouis

Update "Destructive Draw"
  official/c77859858.lua
Owners: @pyrQ

Update "Altergeist Memorygant"
  official/c23790299.lua
Owners: @pyrQ

Update rush scripts
  rush/c160008058.lua
  rush/c160011032.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160012000.lua
  rush/c160012008.lua
  rush/c160012028.lua
  rush/c160012035.lua
  rush/c160012037.lua
  rush/c160012044.lua
  rush/c160012046.lua
  rush/c160012048.lua
  rush/c160012060.lua
  rush/c160205018.lua
  rush/c160205023.lua
  rush/c160205027.lua
  rush/c160205028.lua
  rush/c160205030.lua
  rush/c160205043.lua
  rush/c160205061.lua
  rush/c160205108.lua
  rush/c160315011.lua
  rush/c160428094.lua
  rush/c160436002.lua
  rush/c160436004.lua
  rush/c160436005.lua
Owners: @ClementLouis

Update c511027675.lua
  unofficial/c511027675.lua
Owners: @larry126

Add files via upload
  unofficial/c511027682.lua
Owners: @larry126

Update "Altergeist Marionetter" to match rulings
  official/c53143898.lua
Owners: @pyrQ

Update "Machine Angel Absolute Ritual"
  official/c11398951.lua
Owners: @pyrQ

Fix "Shinobird's Calling"
  official/c73055622.lua
Owners: @pyrQ

Added new archetype's constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Icejade Creation Aegirocassis" fix
  official/c1295442.lua
Owners: @pyrQ

Update "Share the Pain" and "Illusion Magic"
  official/c56830749.lua
  official/c73616671.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160012053.lua
Owners: @ClementLouis

Update "Duel.SelectReleaseGroupCost"
  proc_workaround.lua
Owners: @pyrQ

"Giant Antlion" fix
  official/c39078434.lua
Owners: @pyrQ

Update "Spright Pixies"
  official/c49928686.lua
Owners: @pyrQ

Added new card's constant
  card_counter_constants.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101112015.lua
  pre-release/c101112016.lua
  pre-release/c101112017.lua
  pre-release/c101112023.lua
  pre-release/c101112059.lua
  pre-release/c101112060.lua
Owners: @pyrQ

Update "Accel Synchro Stardust Dragon"
  official/c30983281.lua
Owners: @pyrQ

Fix "The Supreme King's Soul"
  official/c92428405.lua
Owners: @pyrQ

Magical Musketeer Caspar fix wrong string
  official/c32841045.lua
Owners: @pyrQ

Rename pre-release/c100294001.lua to official/c5829717.lua
  official/c5829717.lua
Owners: @pyrQ

Rename pre-release/c100294002.lua to official/c31817415.lua
  official/c31817415.lua
Owners: @pyrQ

Rename pre-release/c100294003.lua to official/c77202120.lua
  official/c77202120.lua
Owners: @pyrQ

Rename pre-release/c100294004.lua to official/c4606229.lua
  official/c4606229.lua
Owners: @pyrQ

Rename pre-release/c100294005.lua to official/c30095833.lua
  official/c30095833.lua
Owners: @pyrQ

Update and rename pre-release/c100294006.lua to official/c77189532.lua
  official/c77189532.lua
Owners: @pyrQ

"Secret Utility Box" official release script updates
  official/c30095833.lua
  official/c31817415.lua
  official/c4606229.lua
  official/c5829717.lua
  official/c77189532.lua
  official/c77202120.lua
Owners: @pyrQ

added new rush cards
  rush/c160012030.lua
  rush/c160012045.lua
  rush/c160012047.lua
  rush/c160205040.lua
  rush/c160437001.lua
  rush/c160437010.lua
Owners: @ClementLouis

Another update to Magical Musketeer Caspar's strings
  official/c32841045.lua
Owners: @pyrQ

Fix typo in the vrains skill procedure
  proc_skill.lua
Owners: @pyrQ

Added new Rush cards' scripts
  rush/c160012030.lua
  rush/c160012045.lua
  rush/c160012047.lua
  rush/c160205040.lua
  rush/c160437001.lua
  rush/c160437010.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c101112074.lua
Owners: @pyrQ

added Ether Escape
  rush/c160012062.lua
Owners: @ClementLouis

Fix a typo in "Spool Code"
  official/c2625939.lua
Owners: @pyrQ

Update c160012062.lua
  rush/c160012062.lua
Owners: @ClementLouis

added Rush script (#878)
  rush/c160012062.lua
Owners: @ClementLouis

Fix "Spiral Discharge"
  official/c29477860.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
