Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update "Starry Night, Starry Dragon"
  official/c90835938.lua
  rush/c160010033.lua
Owners: @pyrQ, @ClementLouis

Update constant name
  constant.lua
Owners: @pyrQ

Update "Scar-Dragon Whip"
  unofficial/c511002799.lua
Owners: @larry126

Fix Melffy Hide-and-Seek
  official/c63644830.lua
Owners: @pyrQ

Fix "Speedroid Rubberband Plane"
  official/c8284390.lua
Owners: @pyrQ

Update "Stardust Assault Warrior (Manga)"
  unofficial/c511001516.lua
Owners: @larry126

Add script
  rush/c160010027.lua
Owners: @ClementLouis

Minor update to Auxiliary.cannotmatfilter
  utility.lua
Owners: @pyrQ

Update Dark Contract with the Eternal Darkness
  official/c9030160.lua
Owners: @pyrQ

fix "Daruma Dropper"
  official/c35394356.lua
Owners: @pyrQ

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

fix "Exosister Pax"
  official/c77913594.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100344104.lua
  pre-release/c101109101.lua
Owners: @pyrQ

Update c99011763.lua
  official/c99011763.lua
Owners: @pyrQ

Update "Beat Cop from the Underworld"
  official/c99011763.lua
Owners: @pyrQ

Small Fix for "Chaos Space" (#730)
  official/c99266988.lua
Owners: @pyrQ

Update cards_specific_functions.lua
  cards_specific_functions.lua
Owners: @pyrQ

Alviss of the Nordic Alfar FIX
  official/c27024795.lua
Owners: @pyrQ

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

"Structure Deck: Legend of the Crystals" + "Magikey Avatar - Astartu" + "Adularia of the Moonlit Water" official release script updates
  official/c10938846.lua
  official/c11155484.lua
  official/c12877076.lua
  official/c15464375.lua
  official/c26988374.lua
  official/c47149093.lua
  official/c58371671.lua
  official/c84544192.lua
  official/c85766789.lua
Owners: @pyrQ

Dark World Brainwashing fix
  official/c10131855.lua
Owners: @pyrQ

Fix "Shitotsu the Talismanic Warrior"
  rush/c160009029.lua
Owners: @ClementLouis

"Back Beat" fix
  rush/c160007053.lua
Owners: @ClementLouis

Add scripts
  rush/c160010035.lua
  rush/c160010041.lua
  rush/c160010042.lua
  rush/c160010043.lua
  rush/c160010045.lua
  rush/c160010055.lua
  rush/c160010056.lua
  rush/c160010064.lua
Owners: @ClementLouis

fix "Eclipse"
  rush/c160010045.lua
Owners: @ClementLouis

Add card scripts
  rush/c160010034.lua
  rush/c160313001.lua
  rush/c160314001.lua
  rush/c160315001.lua
  rush/c160316001.lua
  rush/c160317001.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101110027.lua
  pre-release/c101110049.lua
Owners: @pyrQ

Add Rush scripts
  rush/c160010057.lua
  rush/c160010060.lua
Owners: @ClementLouis

Update c68957925.lua
  official/c68957925.lua
Owners: @pyrQ

Update Parasite Fusioner (anime)
  unofficial/c511002961.lua
Owners: @larry126

Fix "Dragonic Pendulum"
  pre-release/c101110065.lua
Owners: @pyrQ

Add scripts
  rush/c160010058.lua
  rush/c160010065.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101110006.lua
  pre-release/c101110007.lua
  pre-release/c101110008.lua
  pre-release/c101110009.lua
  pre-release/c101110010.lua
  pre-release/c101110053.lua
  pre-release/c101110073.lua
Owners: @pyrQ

Update "Vanishing Heliacal Riser"
  rush/c160313001.lua
Owners: @ClementLouis

Fix "Mirror World Break"
  unofficial/c511009687.lua
Owners: @larry126

Make Hinezumi Hanabi work with Dimension Dice
  official/c71459017.lua
Owners: @pyrQ

updated Shadow Flower Purple Smoke Spray
  rush/c160008047.lua
Owners: @ClementLouis

other fixes
  rush/c160008047.lua
Owners: @ClementLouis

"Shadow Flower Purple Smoke Spray" fix
  rush/c160008047.lua
Owners: @ClementLouis

Some fixes
  official/c44478599.lua
  official/c75157704.lua
  official/c95281259.lua
  pre-release/c101110049.lua
  unofficial/c511001373.lua
Owners: @pyrQ, @larry126
