Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

updates
  official/c12670770.lua
  official/c13093792.lua
  unofficial/c100000200.lua
  unofficial/c100000304.lua
  unofficial/c100100118.lua
  unofficial/c100100156.lua
  unofficial/c150000043.lua
  unofficial/c150000077.lua
  unofficial/c150000089.lua
Owners: @pyrQ, @larry126

Archfiend Matador
  unofficial/c511000009.lua
Owners: @larry126

remnove EFFECT_FLAG_CARD_TARGET from cards that do not target
  unofficial/c511000072.lua
  unofficial/c511000073.lua
  unofficial/c511000074.lua
  unofficial/c511000075.lua
  unofficial/c511000077.lua
  unofficial/c511000078.lua
  unofficial/c511000095.lua
  unofficial/c511000122.lua
  unofficial/c511000138.lua
  unofficial/c511000181.lua
Owners: @larry126

missing operator
  unofficial/c511000077.lua
Owners: @larry126

Number 23: Lancelot, Ghost Knight of the Underworld (Anime)
  unofficial/c511000078.lua
  unofficial/c511000183.lua
Owners: @larry126

updates
  unofficial/c511000187.lua
  unofficial/c511000313.lua
  unofficial/c511000315.lua
  unofficial/c511000383.lua
  unofficial/c511000388.lua
  unofficial/c511000542.lua
Owners: @larry126

added redirection parameter
  unofficial/c511000187.lua
Owners: @larry126

Card of Variation
  unofficial/c511000542.lua
  unofficial/c511000654.lua
Owners: @larry126

"Rikka Sheet" fix
  official/c68941332.lua
Owners: @pyrQ

updates
  unofficial/c511000724.lua
  unofficial/c511001858.lua
  unofficial/c511002218.lua
  unofficial/c511002244.lua
  unofficial/c511002622.lua
  unofficial/c511003073.lua
Owners: @larry126

"Kaibacorp Research" update
  skill/c300307018.lua
Owners: @ClementLouis

"Kaibacorp Research" fix
  skill/c300307018.lua
Owners: @ClementLouis

updates
  unofficial/c511004113.lua
  unofficial/c511008003.lua
  unofficial/c511008019.lua
  unofficial/c511009087.lua
  unofficial/c511009349.lua
  unofficial/c511009378.lua
  unofficial/c511009567.lua
  unofficial/c511009736.lua
Owners: @larry126

fixed Skull Dice-related cards interaction with Maximums
  rush/c160016013.lua
  rush/c160016062.lua
  rush/c160016063.lua
Owners: @ClementLouis

Update "Explosion Wing"
  unofficial/c511000724.lua
Owners: @larry126

Update c511000724.lua
  unofficial/c511000724.lua
Owners: @larry126

updates
  unofficial/c511009957.lua
  unofficial/c511010030.lua
  unofficial/c511010062.lua
  unofficial/c511050004.lua
  unofficial/c511050008.lua
  unofficial/c511600087.lua
  unofficial/c511600219.lua
  unofficial/c513000181.lua
  unofficial/c513000182.lua
  unofficial/c513000183.lua
  unofficial/c513000185.lua
Owners: @larry126

Update c511000724.lua
  unofficial/c511000724.lua
Owners: @larry126

Update "Elemental HERO Flame Wingman - Infernal Rage"
  official/c93347961.lua
Owners: @pyrQ

update "Number C102: Archfiend Seraph (Anime)"
  unofficial/c511001429.lua
Owners: @larry126

"Eldlixir" fixes
  official/c20612097.lua
  official/c68829754.lua
  official/c94224458.lua
Owners: @pyrQ

"Magicians of Bonds and Unity" fix
  official/c15845914.lua
Owners: @pyrQ

added new rush cards
  rush/c160211040.lua
  rush/c160211041.lua
  rush/c160211042.lua
  rush/c160211043.lua
  rush/c160211047.lua
  rush/c160211048.lua
  rush/c160211050.lua
  rush/c160211051.lua
  rush/c160211052.lua
  rush/c160211054.lua
Owners: @ClementLouis

"Cutie Love Anela" fix
  rush/c160211042.lua
Owners: @ClementLouis

"Muckraker From the Underworld" fix
  official/c71607202.lua
Owners: @pyrQ

"Traptrix Cularia" + "Traptrix Holeutea" fixes
  official/c74577599.lua
  official/c952523.lua
Owners: @pyrQ

"Rise Rank-Up-Magic Raidraptor's Force" fix
  official/c38044854.lua
Owners: @pyrQ

"The Secret of Manifestation" fix
  rush/c160016051.lua
Owners: @ClementLouis

"Chronomaly Tuspa Rocket" fix
  official/c2089016.lua
Owners: @pyrQ

added Voidvelgr God Requiem
  rush/c160402037.lua
Owners: @ClementLouis

fixed Voidvelgr God Requiem
  rush/c160402037.lua
Owners: @ClementLouis

"Reawakening of the Emperor" fix
  unofficial/c420.lua
  unofficial/c511005081.lua
Owners: @larry126

update c511005081.lua
  unofficial/c511005081.lua
Owners: @larry126

Update "Summon Cloud (Anime)"
  unofficial/c511001924.lua
Owners: @larry126

Update "Big Summon Cloud"
  unofficial/c511001788.lua
Owners: @larry126

Update c511001788.lua
  unofficial/c511001788.lua
Owners: @larry126

"Dragon's Orb" fix
  unofficial/c511018020.lua
Owners: @larry126

"Millennium Cross" fix
  pre-release/c101205053.lua
Owners: @pyrQ

"White Reincarnation" fix
  official/c91434208.lua
Owners: @pyrQ

"Striker Dragon" fix
  official/c73539069.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
