Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Infernoid Onuncu/Devyaty" fix
  official/c14799437.lua
  official/c23440231.lua
Owners: @pyrQ

"Gladiator Naumachia" fix
  official/c52394047.lua
Owners: @pyrQ

"Incarnated Machine Angel" update
  official/c91946859.lua
Owners: @pyrQ

Supergeardragon Dragearstar F Ruling update
  rush/c160204022.lua
Owners: @ClementLouis

"D/D/D Contract Change" update
  official/c811734.lua
Owners: @pyrQ

"Photon Veil" update
  official/c9354555.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100284001.lua
  pre-release/c100284002.lua
  pre-release/c100284003.lua
Owners: @pyrQ

added new constant
  constant.lua
Owners: @pyrQ

Maximum Proc fix
  proc_maximum.lua
Owners: @pyrQ

old script Maximum handling fix
  rush/c160002025.lua
  rush/c160002040.lua
  rush/c160006032.lua
  rush/c160203006.lua
Owners: @ClementLouis

added new Rush Scripts
  rush/c160007000.lua
  rush/c160007014.lua
  rush/c160007035.lua
  rush/c160007036.lua
  rush/c160007046.lua
Owners: @ClementLouis

Psyphickupper fix
  rush/c160007014.lua
Owners: @ClementLouis

Psyphickupper fx
  rush/c160007014.lua
Owners: @ClementLouis

added forgotten script
  rush/c160401005.lua
Owners: @ClementLouis

Vanishing Torrent fix
  rush/c160007046.lua
Owners: @ClementLouis

Can:D Live fix
  rush/c160007035.lua
Owners: @ClementLouis

Yamiterasu the Divine Delayer fix
  rush/c160007036.lua
Owners: @ClementLouis

Can:D Live fix
  rush/c160007035.lua
Owners: @ClementLouis

Can:D Live fix
  rush/c160007035.lua
Owners: @ClementLouis

Add "Tindangle Returner"
  unofficial/c511003226.lua
Owners: @larry126

Can:D Live fix
  rush/c160007035.lua
Owners: @ClementLouis

Can:D Live fix
  rush/c160007035.lua
Owners: @ClementLouis

Charshooting Star fix
  rush/c160202047.lua
Owners: @ClementLouis

Update c511010507.lua
  unofficial/c511010507.lua
Owners: @larry126

"Drytron Gamma Eltanin" fix
  official/c60037599.lua
Owners: @pyrQ

"Toon Dark Magician Girl" fix
  official/c90960358.lua
Owners: @pyrQ

Fix "Tachyon Cannon"
  unofficial/c511001485.lua
Owners: @larry126

Update "Poseidon Wave"
  official/c25642998.lua
Owners: @pyrQ

Small Fix for "Sunvine Plunder"
  unofficial/c511027013.lua
Owners: @larry126

Update c511027013.lua
  unofficial/c511027013.lua
Owners: @larry126

Update c511027013.lua
  unofficial/c511027013.lua
Owners: @larry126

Fix "Tachyon Cannon"
  unofficial/c511001485.lua
Owners: @larry126

added new scripts
  rush/c160007011.lua
  rush/c160007038.lua
  rush/c160007051.lua
Owners: @ClementLouis

Bowing of the Graying Gauze Guild fix
  rush/c160305027.lua
Owners: @ClementLouis

Fix "Sunvine Plunder"
  unofficial/c511027013.lua
Owners: @larry126

"The Wicked Eraser (Manga)" fix
  unofficial/c513000139.lua
Owners: @larry126

"Speed Spell - Deceased Synchron" fix
  unofficial/c100100133.lua
Owners: @larry126

Update and rename pre-release/c100200202.lua to official/c78394032.lua
  official/c78394032.lua
Owners: @pyrQ

Rename pre-release/c100200203.lua to official/c49922726.lua
  official/c49922726.lua
Owners: @pyrQ

Rename pre-release/c100200204.lua to official/c15001619.lua
  official/c15001619.lua
Owners: @pyrQ
