Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update c160428092.lua
  rush/c160428092.lua
Owners: @ClementLouis

Splendid Floor Master fix
  rush/c160010044.lua
Owners: @ClementLouis

Sacrificial Summon fix
  rush/c160428094.lua
Owners: @ClementLouis

Update "Zombie Fireworks"
  rush/c160428082.lua
Owners: @ClementLouis

Fix Grapha, Dragon Overlord of Dark World
  pre-release/c100313051.lua
Owners: @pyrQ

Minor Terror Phone Number update
  rush/c160428087.lua
Owners: @ClementLouis

Update Nuvia the Wicked Mischief Maker
  rush/c160010029.lua
Owners: @ClementLouis

Fix Progress Potter
  rush/c160428035.lua
Owners: @ClementLouis

Miginagi the Talismanic Warrior fix
  rush/c160010037.lua
Owners: @ClementLouis

Update Rainy Megalopolis
  rush/c160010048.lua
Owners: @ClementLouis

Update c160428094.lua
  rush/c160428094.lua
Owners: @ClementLouis

Update Terror Phone Number
  rush/c160428087.lua
Owners: @ClementLouis

Update c160428087.lua
  rush/c160428087.lua
Owners: @ClementLouis

Fix rush cards
  rush/c160010026.lua
  rush/c160428080.lua
  rush/c160428081.lua
  rush/c160428085.lua
  rush/c160428087.lua
Owners: @ClementLouis

update "Swordsoul Blackout"
  official/c14821890.lua
Owners: @pyrQ

Fix Melo Melo Meeeg☆Uuultra Beam
  rush/c160010046.lua
Owners: @ClementLouis

Rice Terrace Ripple update
  rush/c160010038.lua
Owners: @ClementLouis

Update c160010038.lua
  rush/c160010038.lua
Owners: @ClementLouis

fix "Rice Terrace Ripple"
  rush/c160010038.lua
Owners: @ClementLouis

Update Gradually Approaching Footsteps
  rush/c160428085.lua
Owners: @ClementLouis

Number 61: Volcasaurus (Anime) fix
  unofficial/c511002088.lua
Owners: @larry126

Update "Red Reign"
  official/c5376159.lua
Owners: @pyrQ

Fix Eater of Millions
  official/c63845230.lua
Owners: @pyrQ

Fix "Red Supernova Dragon"
  official/c99585850.lua
Owners: @pyrQ

Update c160010051.lua
  rush/c160010051.lua
Owners: @ClementLouis

Add new cards' scripts
  rush/c160010022.lua
  rush/c160010023.lua
  rush/c160010024.lua
  rush/c160010025.lua
  rush/c160010031.lua
  rush/c160010032.lua
  rush/c160010050.lua
Owners: @ClementLouis

Update "Burstray Gunman"
  rush/c160010022.lua
Owners: @ClementLouis

Fix "Burstray Gunman"
  rush/c160010022.lua
Owners: @ClementLouis

fix "Twin Dust Trunade"
  official/c35479109.lua
Owners: @pyrQ

"Sunbathing Kappa" fix
  rush/c160010061.lua
Owners: @ClementLouis

Add Rush scripts
  rush/c160010000.lua
  rush/c160010036.lua
  rush/c160010039.lua
  rush/c160010054.lua
  rush/c160402017.lua
Owners: @ClementLouis

Fix Headhunters' Jaguar
  rush/c160402017.lua
Owners: @ClementLouis

Update Rush cards
  rush/c160010030.lua
  rush/c160010036.lua
Owners: @ClementLouis

Fix Rice Terrace Secure
  rush/c160402016.lua
Owners: @ClementLouis

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

Add script
  rush/c160010021.lua
Owners: @ClementLouis

Fix "Starry Night, Starry Dragon"
  official/c90835938.lua
Owners: @pyrQ

Add rush card script
  rush/c160010059.lua
Owners: @ClementLouis

Fix rush cards
  rush/c160010000.lua
  rush/c160010030.lua
Owners: @ClementLouis

Add script
  rush/c160010033.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
