Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Mausoleum of the Emperor
  official/c80921533.lua
Owners: @pyrQ

added utility for double tributing
  proc_maximum.lua
Owners: @pyrQ

Double tribute update
  proc_maximum.lua
  rush/c160001029.lua
  rush/c160005033.lua
  rush/c160007025.lua
  rush/c160202034.lua
  rush/c160203041.lua
  rush/c160402002.lua
  rush/c160414001.lua
Owners: @pyrQ, @ClementLouis

"The Iris Swordsoul" fix
  official/c62849088.lua
Owners: @pyrQ

Update c62849088.lua
  official/c62849088.lua
Owners: @pyrQ

Tiger roll fix
  rush/c160203041.lua
Owners: @ClementLouis

Storm-Calling Thunderbeat fix
  rush/c160202034.lua
Owners: @ClementLouis

Heat Hyena fix
  rush/c160006032.lua
Owners: @ClementLouis

"Qixing Long Yuan, the Swordsoul Catastrophe" fix
  pre-release/c101107041.lua
Owners: @pyrQ

"Masked HERO Anki" fix
  official/c59642500.lua
Owners: @pyrQ

"Xyz Import" fix
  official/c14602126.lua
Owners: @pyrQ

Fix Kuribabylon
  official/c70914287.lua
Owners: @pyrQ

"Melffy Playhouse" fix
  official/c82134632.lua
Owners: @pyrQ

"Sky Striker Mecha - Shark Cannon" fix
  official/c51227866.lua
Owners: @pyrQ

added new scripts
  rush/c160007013.lua
  rush/c160007021.lua
  rush/c160007033.lua
  rush/c160007049.lua
  rush/c160007058.lua
  rush/c160007059.lua
  rush/c160410003.lua
  rush/c160410004.lua
  rush/c160419001.lua
  rush/c160419003.lua
Owners: @ClementLouis

Shape of Aqua fix
  rush/c160007045.lua
Owners: @ClementLouis

Dosodon fix
  rush/c160007033.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c101107042.lua
Owners: @pyrQ

Iruqua's Raging Waves/Dolphin Counter fix
  rush/c160007058.lua
  rush/c160007059.lua
Owners: @ClementLouis

Daedalus fix
  rush/c160007000.lua
Owners: @ClementLouis

Shape of Aqua fix
  rush/c160007045.lua
Owners: @ClementLouis

shape of aqua fix
  rush/c160007045.lua
Owners: @ClementLouis

Dolphin Counter fix
  rush/c160007058.lua
Owners: @ClementLouis

Iruqua's Raging Waves fix
  rush/c160007059.lua
Owners: @ClementLouis

removed forgotten debug.message
  rush/c160007058.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c101107021.lua
Owners: @pyrQ

Updated "activate an effect that activate by detaching an Xyz Material(s)"
  unofficial/c511001363.lua
  unofficial/c511002571.lua
  unofficial/c511002868.lua
  unofficial/c511003038.lua
  unofficial/c511004123.lua
  unofficial/c511009136.lua
  unofficial/c511018510.lua
  unofficial/c511027118.lua
  unofficial/c511600191.lua
Owners: @larry126

Update "Light to the Temple"
  unofficial/c511002322.lua
Owners: @larry126

Fix "Number 62: Galaxy-Eyes Prime Photon Dragon (Anime)"
  unofficial/c511010062.lua
Owners: @larry126

Added new card's script
  pre-release/c101107046.lua
Owners: @pyrQ

Dolphin Counter fix
  rush/c160007058.lua
Owners: @ClementLouis

Update "Beasts of Phantom"
  skill/c300303014.lua
Owners: @ClementLouis

Updated official scripts
  unofficial/c511000129.lua
  unofficial/c511001004.lua
  unofficial/c511001966.lua
Owners: @larry126

Fix "Sunvine Cross Breed (Anime)"
  unofficial/c511009938.lua
Owners: @larry126

"Inion Cradel the Icejade Depths" fix
  pre-release/c101107052.lua
Owners: @pyrQ

Heavy Roller fix
  rush/c160419003.lua
Owners: @ClementLouis

Fix "Superheavy Samurai Steam Train King (Anime)"
  unofficial/c511009553.lua
Owners: @larry126

Add "Tindangle Returner" script (#655)
  unofficial/c511003226.lua
Owners: @larry126

Update c154011403.lua
  skill/c154011403.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101107022.lua
  pre-release/c101107025.lua
Owners: @pyrQ
