Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Fix for "Salamangreat Meer (Anime)"
  unofficial/c511009918.lua
Owners: @larry126

Fix "Fairy Tale"
  pre-release/c100272019.lua
Owners: @NaimSantos, @pyrQ

Fix "Afterglow"
  official/c43575579.lua
Owners: @NaimSantos, @pyrQ

Various script updates
  official/c43575579.lua
  unofficial/c511000755.lua
  unofficial/c511009918.lua
Owners: @NaimSantos, @pyrQ, @larry126

Added new Script (Rush)
  rush/c160003037.lua
  rush/c160003041.lua
  rush/c160003058.lua
  rush/c160003059.lua
Owners: @ClementLouis

Pulse of Trishula
  pre-release/c100340105.lua
Owners: @NaimSantos, @pyrQ

Fix for "Salamagreat Foxy (Anime)"
  unofficial/c511009917.lua
Owners: @larry126

Fix for "Salamagreat Foxy (Anime)" (#474)
  unofficial/c511009917.lua
Owners: @larry126

Updated "Rank-Up-Magic Numeron Force"
  official/c48333324.lua
Owners: @NaimSantos, @pyrQ

Fix for "Fury of Fire (Anime)"
  unofficial/c511030036.lua
Owners: @larry126

Fix for "Call of the Haunted (Anime)"
  unofficial/c511002048.lua
Owners: @larry126

Updated "Kesshin the Decided Death Demon General"
  rush/c160003026.lua
Owners: @ClementLouis

Unofficial script fixes
  unofficial/c511002048.lua
  unofficial/c511030036.lua
  unofficial/c511600181.lua
  unofficial/c511600182.lua
  unofficial/c513000105.lua
Owners: @larry126

Updated script in preparation for LIOV
  official/c12927849.lua
  official/c15173384.lua
  official/c35906693.lua
  official/c45082499.lua
  official/c60992364.lua
  official/c78063197.lua
  official/c89785779.lua
  unofficial/c100000168.lua
  unofficial/c420.lua
Owners: @NaimSantos, @pyrQ, @larry126

Minor edits to trigger delta flow
  official/c12927849.lua
  official/c45082499.lua
  official/c60992364.lua
Owners: @NaimSantos, @pyrQ

Fix Rush cards
  rush/c160003031.lua
  rush/c160003058.lua
Owners: @ClementLouis

Fix "Throne of Darkness"
  rush/c160202036.lua
Owners: @ClementLouis

Fix "Security Force Justify"
  official/c35334193.lua
Owners: @NaimSantos, @pyrQ

Fix for "Great Turtle of Greed"
  rush/c160003058.lua
Owners: @ClementLouis

Fix for "Great Turtle of Greed" (#477)
  rush/c160003058.lua
Owners: @ClementLouis

fix "Dual Avatar Turning"
  official/c44644529.lua
Owners: @NaimSantos, @pyrQ

minor script update
  official/c44644529.lua
Owners: @NaimSantos, @pyrQ

Updated cards from BLVO Mostly just category fixes, adding check to prevent error, adjusted to match rulings.
  official/c17063599.lua
  official/c17241941.lua
  official/c18189187.lua
  official/c18249921.lua
  official/c1906812.lua
  official/c19301729.lua
  official/c20246864.lua
  official/c20424878.lua
  official/c21368442.lua
  official/c21438286.lua
  official/c21546416.lua
  official/c34611551.lua
  official/c35334193.lua
  official/c36556781.lua
  official/c37491810.lua
  official/c37678339.lua
  official/c42517468.lua
  official/c44451698.lua
  official/c45674286.lua
  official/c55766177.lua
  official/c56518311.lua
  official/c56818977.lua
  official/c57030525.lua
  official/c58363151.lua
  official/c58589739.lua
  official/c60884672.lua
  official/c62941499.lua
  official/c69761020.lua
  official/c74889525.lua
  official/c79724755.lua
  official/c81078880.lua
  official/c83199011.lua
  official/c84425220.lua
  official/c9061682.lua
  official/c9349094.lua
  official/c94141712.lua
Owners: @NaimSantos, @pyrQ

fix typo with Dual Avatar Turning
  official/c44644529.lua
Owners: @NaimSantos, @pyrQ

Junk Berserker (anime)
  c511000517.lua
Owners: @NaimSantos, @pyrQ

Unofficial script updates
  unofficial/c511600277.lua
  unofficial/c513000080.lua
Owners: @larry126

Fix "D/D/D Abyss King Gilgamesh"
  official/c9024198.lua
Owners: @NaimSantos, @pyrQ

Fix "Zushin the Sleeping Giant (Anime)"
  unofficial/c513000162.lua
Owners: @larry126

Minor fix
  rush/c160202043.lua
Owners: @ClementLouis

fix "Dual Avatar Turning"
  official/c44644529.lua
Owners: @NaimSantos, @pyrQ

Update "Hellebore the Rikka Fairy"
  official/c60880471.lua
  official/c71002019.lua
Owners: @NaimSantos, @pyrQ

Add "Junk Berserker (anime)
  unofficial/c511027027.lua
Owners: @larry126

Add new prerelease scripts
  pre-release/c100272041.lua
  pre-release/c100272042.lua
  pre-release/c100272043.lua
  pre-release/c100272044.lua
  pre-release/c100272045.lua
  pre-release/c100272046.lua
  pre-release/c100272047.lua
  pre-release/c100272048.lua
  pre-release/c100272049.lua
  pre-release/c100273001.lua
  pre-release/c100273002.lua
  pre-release/c100273003.lua
  pre-release/c100273005.lua
  pre-release/c101104101.lua
  pre-release/c101104102.lua
  pre-release/c101104103.lua
  pre-release/c101104105.lua
  pre-release/c101104106.lua
  pre-release/c101104107.lua
  pre-release/c101104108.lua
  pre-release/c101104109.lua
Owners: @NaimSantos, @pyrQ

small fix for Exchanging Souls
  pre-release/c100273003.lua
Owners: @NaimSantos, @pyrQ

small fix for Thunderforce Attack
  pre-release/c100273001.lua
Owners: @NaimSantos, @pyrQ

Update c511027027.lua
  unofficial/c511027027.lua
Owners: @larry126

Add "Junk Berserker (anime) (#479)
  unofficial/c511027027.lua
Owners: @larry126

fix for ZS - Arms Sage
  pre-release/c101104102.lua
Owners: @NaimSantos, @pyrQ

fix "Exchanging Souls"
  pre-release/c100273003.lua
Owners: @NaimSantos, @pyrQ

Add "Edge Imp Frightfuloid (anime)"
  unofficial/c511027455.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
