Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

"Graydle Eagle/Alligator/Cobra" small update
  official/c29834183.lua
  official/c66451379.lua
  official/c93445074.lua
Owners: @pyrQ

"Pot of Duality" & "Gateway to Dark World" small update
  official/c93431518.lua
  official/c98645731.lua
Owners: @pyrQ

"Gladiator Beast" Equip Spells update
  official/c25407406.lua
  official/c52496105.lua
  official/c8730435.lua
  official/c99013397.lua
Owners: @pyrQ

""A" Cell Incubator" fix
  official/c64163367.lua
Owners: @pyrQ

fix "Dolphin Counter"
  rush/c160007058.lua
Owners: @ClementLouis

"Myutant Evolution Lab" fix
  official/c34572613.lua
Owners: @pyrQ

"Dragonmaid Downtime" fix
  official/c77515704.lua
Owners: @pyrQ

"Vampire's Curse" fix
  official/c34294855.lua
Owners: @pyrQ

"Time Thief Winder" fix
  official/c56308388.lua
Owners: @pyrQ

"Time Thief Bezel Ship" fix
  official/c82496097.lua
Owners: @pyrQ

"Thor, Lord of the Aesir" fix
  official/c30604579.lua
Owners: @pyrQ

"Artifact Ignition" & "Artifacts Unleashed" small update
  official/c29223325.lua
  official/c56611470.lua
Owners: @pyrQ

"War Rock Skyler/Meteoragon/Bashileos" fix
  official/c10497636.lua
  official/c18558867.lua
  official/c72554862.lua
Owners: @pyrQ

"Raidraptor - Readiness" fix
  official/c21648584.lua
Owners: @pyrQ

"Flourishing Frolic" fix
  official/c32887445.lua
Owners: @pyrQ

Fix "Bacon Saver (Anime)"
  unofficial/c511013031.lua
Owners: @larry126

Unofficial fixes
  unofficial/c511002487.lua
  unofficial/c511003010.lua
  unofficial/c511005711.lua
  unofficial/c810000064.lua
Owners: @larry126

update "Pot of Greed"
  official/c55144522.lua
Owners: @pyrQ

Updated Anime Neos Fusions to work with Neos Fusion
  unofficial/c511001652.lua
  unofficial/c511023006.lua
  unofficial/c511023007.lua
  unofficial/c511023010.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c101107009.lua
  pre-release/c101107010.lua
  pre-release/c101107038.lua
  pre-release/c101107039.lua
  pre-release/c101107068.lua
  pre-release/c101107069.lua
  pre-release/c101107070.lua
  pre-release/c101107071.lua
  pre-release/c101107072.lua
  pre-release/c101107073.lua
Owners: @pyrQ

"Dinoruffia Reversion" fix
  pre-release/c101107073.lua
Owners: @pyrQ

update "Dinoruffia Reversion"
  pre-release/c101107073.lua
Owners: @pyrQ

"Dinoruffia Kentregina" fix
  pre-release/c101107038.lua
Owners: @pyrQ

"Triple Tactics Talent" fix
  official/c25311006.lua
Owners: @pyrQ

"Dinoruffia Reversion" fix
  pre-release/c101107073.lua
Owners: @pyrQ

Fix "Dinoruffia Sonic"
  pre-release/c101107072.lua
Owners: @pyrQ

"Warning Point" fix
  official/c11429811.lua
Owners: @pyrQ

"Synchro Overtake" update
  official/c99243014.lua
Owners: @pyrQ

Minor update to Dinoruffia Reversion
  pre-release/c101107073.lua
Owners: @pyrQ

Update c101107073.lua
  pre-release/c101107073.lua
Owners: @pyrQ

Grand Horn of Heaven and Solemn Judgment
  official/c1637760.lua
  official/c41420027.lua
Owners: @pyrQ

Other card
  official/c11593137.lua
  official/c2572890.lua
  official/c30888983.lua
  official/c32233746.lua
  official/c40605147.lua
  official/c43340443.lua
  official/c44901281.lua
  official/c7811875.lua
Owners: @pyrQ

Remaining official cards
  official/c50323155.lua
  official/c56993276.lua
  official/c57355219.lua
  official/c59718521.lua
  official/c61459246.lua
  official/c68477598.lua
  official/c77610503.lua
  official/c82382815.lua
  official/c84749824.lua
  official/c84965420.lua
  official/c91078716.lua
  official/c92512625.lua
  official/c94662235.lua
  official/c98069388.lua
Owners: @pyrQ

Unofficial cards
  official/c1637760.lua
  unofficial/c511001666.lua
  unofficial/c511002274.lua
  unofficial/c511002457.lua
  unofficial/c511005637.lua
  unofficial/c95000027.lua
Owners: @pyrQ, @larry126

Name
  official/c92512625.lua
Owners: @pyrQ

Update c7811875.lua
  official/c7811875.lua
Owners: @pyrQ

"Warning Point" fix
  official/c11429811.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100426016.lua
  pre-release/c100426018.lua
  pre-release/c100426019.lua
  pre-release/c100426020.lua
  pre-release/c100426021.lua
  pre-release/c100426022.lua
  pre-release/c101107018.lua
  pre-release/c101107019.lua
  pre-release/c101107023.lua
  pre-release/c101107028.lua
  pre-release/c101107030.lua
  pre-release/c101107031.lua
  pre-release/c101107058.lua
  pre-release/c101107059.lua
  pre-release/c101107062.lua
  pre-release/c101107063.lua
  pre-release/c101107079.lua
  pre-release/c101107080.lua
Owners: @pyrQ

"Sea Stealth Attack" fix
  official/c19089195.lua
Owners: @pyrQ

Update "Maiden of the Aqua"
  official/c17214465.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
