Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Add "Ancient Gear Token" to listed names
  official/c44052074.lua
Owners: @pyrQ

Add "Alligator Token" to listed names
  official/c34479658.lua
Owners: @pyrQ

Add "Ancient Warriors Token" to listed names
  official/c82255872.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100417025.lua
  pre-release/c100417027.lua
  pre-release/c100417028.lua
  pre-release/c100417029.lua
  pre-release/c100417030.lua
  pre-release/c100417031.lua
  pre-release/c100417032.lua
  pre-release/c100417033.lua
  pre-release/c100417034.lua
  pre-release/c100417035.lua
  pre-release/c100417036.lua
Owners: @pyrQ

"Magicite Warrior of the Ancient Ruins" fix
  pre-release/c100417027.lua
Owners: @pyrQ

"Thunder Discharge" fix
  pre-release/c100417035.lua
Owners: @pyrQ

"Code Exporter" update
  official/c37119142.lua
Owners: @pyrQ

"Masquerade, the Crimsongleam Dragon" fix
  official/c6855503.lua
Owners: @pyrQ

"Sunavalon Melias" fix
  official/c44478599.lua
Owners: @pyrQ

"Bingo Machine, Go!!!" fix
  official/c93437091.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100281062.lua
  pre-release/c100281063.lua
  pre-release/c100281065.lua
  pre-release/c101107001.lua
  pre-release/c101107002.lua
  pre-release/c101107003.lua
  pre-release/c101107034.lua
  pre-release/c101107036.lua
Owners: @pyrQ

Update Dark Seed Planter
  unofficial/c511009396.lua
Owners: @larry126

Fix Noh P.U.N.K. Foxy Tune
  pre-release/c100417005.lua
Owners: @pyrQ

Rename pre-release/c101105151.lua to official/c2656842.lua
  official/c2656842.lua
Owners: @pyrQ

Rename pre-release/c101105081.lua to official/c40380686.lua
  official/c40380686.lua
Owners: @pyrQ

Rename pre-release/c101105082.lua to official/c77384395.lua
  official/c77384395.lua
Owners: @pyrQ

Update and rename pre-release/c101105083.lua to official/c3779493.lua
  official/c3779493.lua
Owners: @pyrQ

Rename pre-release/c101105084.lua to official/c30163008.lua
  official/c30163008.lua
Owners: @pyrQ

Update and rename pre-release/c101105085.lua to official/c76552147.lua
  official/c76552147.lua
Owners: @pyrQ

Update and rename c101105086.lua to c39041550.lua
  pre-release/c39041550.lua
Owners: @pyrQ

Update and rename pre-release/c101105087.lua to official/c65430555.lua
  official/c65430555.lua
Owners: @pyrQ

Update and rename pre-release/c101105088.lua to official/c2834264.lua
  official/c2834264.lua
Owners: @pyrQ

Update and rename pre-release/c101105089.lua to official/c38229962.lua
  official/c38229962.lua
Owners: @pyrQ

Update and rename pre-release/c101105090.lua to official/c64213017.lua
  official/c64213017.lua
Owners: @pyrQ

Update and rename pre-release/c101105091.lua to official/c1712616.lua
  official/c1712616.lua
Owners: @pyrQ

Update and rename pre-release/c39041550.lua to official/c39041550.lua
  official/c39041550.lua
Owners: @pyrQ

"Dawn of Majesty" TCG official release script updates
  official/c1712616.lua
  official/c2656842.lua
  official/c2834264.lua
  official/c30163008.lua
  official/c3779493.lua
  official/c38229962.lua
  official/c39041550.lua
  official/c40380686.lua
  official/c64213017.lua
  official/c65430555.lua
  official/c76552147.lua
  official/c77384395.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100417013.lua
  pre-release/c100417014.lua
  pre-release/c100417015.lua
  pre-release/c100417016.lua
  pre-release/c100417017.lua
  pre-release/c100417018.lua
  pre-release/c100417019.lua
  pre-release/c100417020.lua
  pre-release/c100417022.lua
  pre-release/c100417023.lua
  pre-release/c100417024.lua
Owners: @pyrQ

"Exorsister Amento" fix
  pre-release/c100417022.lua
Owners: @pyrQ

"Exorsister" fixes
  pre-release/c100417013.lua
  pre-release/c100417014.lua
  pre-release/c100417015.lua
  pre-release/c100417016.lua
Owners: @pyrQ

"Exorsister Amento" update
  pre-release/c100417022.lua
Owners: @pyrQ

"Light Dragon @Ignister" fix
  official/c61399402.lua
Owners: @pyrQ

"Exorsister Carpedibel" update
  pre-release/c100417023.lua
Owners: @pyrQ

"Frightfur Cruel Whale" fix
  official/c78778375.lua
Owners: @pyrQ

"Shatter the Darkness" update
  pre-release/c100281063.lua
Owners: @pyrQ

Small fix "Red Nova Dragon"
  official/c97489701.lua
Owners: @pyrQ

Fix "Enshrined Deity Modorina"
  rush/c160004019.lua
Owners: @ClementLouis

Fix and update "Ice Age Catapult"
  rush/c160005013.lua
Owners: @ClementLouis

Fix "Dragon's Connection"
  rush/c160304023.lua
Owners: @ClementLouis

Fix for "Astrograph Sorcerer (Anime)"
  unofficial/c511010507.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
