Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update c62892347.lua
  official/c62892347.lua
Owners: @pyrQ

Update "Salamangreat Circle"
  official/c52155219.lua
Owners: @pyrQ

Update c52155219.lua
  official/c52155219.lua
Owners: @pyrQ

Update cards
  official/c11819473.lua
  official/c15130912.lua
  official/c2196767.lua
  official/c62892347.lua
  official/c96012004.lua
Owners: @pyrQ

Update Arcana Reading
  cards_specific_functions.lua
  official/c11819473.lua
Owners: @pyrQ

Update Tour of Doom
  official/c62784717.lua
  unofficial/c511011004.lua
Owners: @pyrQ, @larry126

Update c101111004.lua
  pre-release/c101111004.lua
Owners: @pyrQ

Update c101111038.lua
  pre-release/c101111038.lua
Owners: @pyrQ

Fix "Bystial Baldrake" and "Icejade Aegirine Gymir"
  pre-release/c101111004.lua
  pre-release/c101111038.lua
Owners: @pyrQ

"Big Welcome Labrynth" update
  pre-release/c101111077.lua
Owners: @pyrQ

Update c101111077.lua
  pre-release/c101111077.lua
Owners: @pyrQ

Create MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Add Storm Access variants
  unofficial/c152000016.lua
  unofficial/c152000017.lua
  unofficial/c152000018.lua
Owners: @larry126

"Cannon Soljersey" fix
  rush/c160011016.lua
Owners: @ClementLouis

Update cards already in deltapuppet
  official/c15130912.lua
  official/c15317640.lua
  official/c16625614.lua
  official/c17032740.lua
  official/c21598948.lua
  official/c23499963.lua
  official/c23846921.lua
  official/c25551951.lua
  official/c26273196.lua
  official/c28112535.lua
  official/c34568403.lua
  official/c35781051.lua
  official/c36378044.lua
  official/c36690018.lua
  official/c37313786.lua
  official/c37812118.lua
  official/c38143903.lua
  official/c4483989.lua
  official/c49511705.lua
  official/c50470982.lua
  official/c50593156.lua
  official/c5861892.lua
  official/c58844135.lua
  official/c60953118.lua
  official/c61175706.lua
  official/c62528292.lua
  official/c62784717.lua
  official/c64538655.lua
  official/c67959180.lua
  official/c69831560.lua
  official/c70050374.lua
  official/c71625222.lua
  official/c73206827.lua
  official/c81480460.lua
  official/c82642348.lua
  official/c8396952.lua
  official/c96012004.lua
Owners: @pyrQ

update c62784717.lua
  official/c62784717.lua
Owners: @pyrQ

Update scripts
  official/c15130912.lua
  official/c44877690.lua
  official/c62528292.lua
  official/c6763530.lua
  official/c68957925.lua
  official/c70050374.lua
  official/c73206827.lua
  official/c84677654.lua
  official/c86767655.lua
  official/c87751584.lua
  official/c89718302.lua
  official/c94773007.lua
  official/c97452817.lua
  official/c97574404.lua
  official/c99189322.lua
Owners: @pyrQ

"Ancient Warriors Saga - East-by-South Winds" fix
  official/c62528292.lua
Owners: @pyrQ

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Add files via upload
  official/c8953369.lua
  official/c897409.lua
  official/c90027012.lua
  official/c91592030.lua
  official/c91749600.lua
  official/c9175957.lua
  official/c92714517.lua
  official/c92962242.lua
  official/c9597987.lua
  official/c99748883.lua
  official/c99801464.lua
Owners: @pyrQ

"Arisen Gaia the Fierce Knight" + "Sphere Kuriboh" + "Djinn" monsters fix
  official/c29904964.lua
  official/c30492798.lua
  official/c33145233.lua
  official/c33245030.lua
  official/c34358408.lua
  official/c4141820.lua
  official/c77153811.lua
  official/c8903700.lua
Owners: @pyrQ

Incorrect value in an archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

added new Rush cards + fixed piercing ruling
  cards_specific_functions.lua
  rush/c160001037.lua
  rush/c160002035.lua
  rush/c160005038.lua
  rush/c160006036.lua
  rush/c160007016.lua
  rush/c160008018.lua
  rush/c160009043.lua
  rush/c160010040.lua
  rush/c160011013.lua
  rush/c160201012.lua
  rush/c160204022.lua
  rush/c160205055.lua
  rush/c160205068.lua
  rush/c160402008.lua
Owners: @pyrQ, @ClementLouis

Added new Rush cards'scripts + fixed Rush piercing ruling
  cards_specific_functions.lua
  rush/c160001037.lua
  rush/c160002035.lua
  rush/c160005038.lua
  rush/c160006036.lua
  rush/c160007016.lua
  rush/c160008018.lua
  rush/c160009043.lua
  rush/c160010040.lua
  rush/c160011013.lua
  rush/c160201012.lua
  rush/c160204022.lua
  rush/c160205055.lua
  rush/c160205068.lua
  rush/c160402008.lua
Owners: @pyrQ, @ClementLouis

Add The Winged Dragon of Ra (TF3) and Slifer the Sky Dragon (TF3)
  unofficial/c511027028.lua
  unofficial/c511027029.lua
Owners: @larry126

Add Release Restraint (Anime)
  unofficial/c511027011.lua
Owners: @larry126

Added some new helper functions
  utility.lua
Owners: @pyrQ

Minor update to Card.GetScale
  utility.lua
Owners: @pyrQ

Move a local function next to where it's being used
  utility.lua
Owners: @pyrQ

Reorder some utility functions
  utility.lua
Owners: @pyrQ

Add Card.IsExactType
  utility.lua
Owners: @pyrQ

Update the various Card.IsXXXTrap/Spell/Monster functions to use Card.IsExactType
  utility.lua
Owners: @pyrQ

Update "Gilti-Gearfried the Magical Steel Knight"
  official/c49161188.lua
Owners: @pyrQ

Remove functions that got added to the core from the utility
  utility.lua
Owners: @pyrQ

fixed Cyber Entry
  rush/c160205029.lua
Owners: @ClementLouis

fixed Cyber Entry (#810)
  rush/c160205029.lua
Owners: @ClementLouis

Update Rule of the day
  unofficial/c777777777.lua
Owners: @larry126

Minor update to the way type is overwritten
  utility.lua
Owners: @pyrQ

Override tostring function to allow pretty printing group and card objects
  utility.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
