Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Fix "Dark Matter (VG)"
  unofficial/c511000043.lua
Owners: @larry126

Update c511000043.lua
  unofficial/c511000043.lua
Owners: @larry126

Fix "Dark Matter (VG)"
  unofficial/c511000043.lua
Owners: @larry126

added Jointech Praime Rex
  rush/c160402041.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c101206004.lua
Owners: @pyrQ

"Infernoble Knight Oliver" fix
  official/c58346901.lua
Owners: @pyrQ

Added new card constant
  card_counter_constants.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160320014.lua
  rush/c160320031.lua
  rush/c160320038.lua
Owners: @pyrQ, @ClementLouis

Update Rule of the Day
  unofficial/c777777777.lua
Owners: @larry126

"Guard Ghost" fix
  official/c56198785.lua
Owners: @pyrQ

"Guardian Chimera" fix
  official/c11321089.lua
Owners: @pyrQ

"Performage Plushfire" errata script updates
  pre-errata/c7563589.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100305018.lua
  pre-release/c100305019.lua
  pre-release/c100305020.lua
  pre-release/c100305021.lua
  pre-release/c100305022.lua
  pre-release/c100305023.lua
  pre-release/c100305024.lua
  pre-release/c100305025.lua
Owners: @pyrQ

Update "Performage Trapeze High Magician"
  pre-release/c100305024.lua
Owners: @pyrQ

update c11321089.lua
  official/c11321089.lua
Owners: @pyrQ

fixed Invitation to a Delirious Dream
  rush/c160017066.lua
Owners: @ClementLouis

Added new archetype constants
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100305013.lua
  pre-release/c101206013.lua
  pre-release/c101206019.lua
  pre-release/c101206020.lua
  pre-release/c101206039.lua
  pre-release/c101206040.lua
  pre-release/c101206058.lua
  pre-release/c101206059.lua
  pre-release/c101206060.lua
  pre-release/c101206063.lua
  pre-release/c101206076.lua
Owners: @pyrQ

added Wroughtwyvern
  rush/c160320012.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101206005.lua
  pre-release/c101206006.lua
  pre-release/c101206007.lua
  pre-release/c101206008.lua
  pre-release/c101206050.lua
  pre-release/c101206071.lua
  pre-release/c101206072.lua
Owners: @pyrQ

"Luster Pendulum, The Dracoslayer" fix
  official/c92746535.lua
Owners: @pyrQ

fixed rush cards that summon themselves by revealing
  rush/c160205037.lua
  rush/c160207036.lua
  rush/c160402034.lua
Owners: @ClementLouis

Re-script "Number 102: Star Seraph Sentry (Anime)"
  unofficial/c511002870.lua
Owners: @larry126

fixed some rush cards that last until the end of the opponent's next turn
  rush/c160007036.lua
  rush/c160013039.lua
  rush/c160015034.lua
  rush/c160015042.lua
  rush/c160015047.lua
  rush/c160016040.lua
  rush/c160205063.lua
  rush/c160207022.lua
  rush/c160207036.lua
  rush/c160208005.lua
  rush/c160208006.lua
  rush/c160208020.lua
  rush/c160209064.lua
  rush/c160210018.lua
  rush/c160210053.lua
  rush/c160210072.lua
Owners: @ClementLouis

added new rush cards
  rush/c160018003.lua
  rush/c160018006.lua
  rush/c160018038.lua
  rush/c160018039.lua
Owners: @ClementLouis

fixed Dark Matter Contact Wyvern
  rush/c160018003.lua
Owners: @ClementLouis

Update "Shifting Land"
  unofficial/c511001482.lua
Owners: @larry126

"Samsara D Lotus" fix
  official/c62318994.lua
Owners: @pyrQ

Fix "BM-4 Blast Spider"
  official/c40634253.lua
Owners: @pyrQ

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

Update "Earthbound Servant Geo Grasha (Anime)"
  unofficial/c511002721.lua
Owners: @larry126

Revert changes to "Earthbound Servant Geo Grasha (Anime)"
  unofficial/c511002721.lua
Owners: @larry126

Update "Earthbound Servant Geo Grasha (Anime)"
  unofficial/c511002721.lua
Owners: @larry126

added Dark Matter Mist
  rush/c160017021.lua
  rush/c160017023.lua
  rush/c160017026.lua
  rush/c160017048.lua
  rush/c160017049.lua
  rush/c160018005.lua
Owners: @ClementLouis

fixed Dark Matter Mist
  rush/c160018005.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c100200256.lua
  pre-release/c100200257.lua
  pre-release/c100200258.lua
  pre-release/c100305005.lua
  pre-release/c101206022.lua
  pre-release/c101206025.lua
  pre-release/c101206028.lua
  pre-release/c101206034.lua
  pre-release/c101206065.lua
Owners: @pyrQ

fixed Meteorlarva
  rush/c160317019.lua
Owners: @ClementLouis

Update "Spring of Rebirth"
  official/c94425169.lua
Owners: @pyrQ

"Abyss Shark" update
  official/c61496006.lua
Owners: @pyrQ

added Twin Ocean Tides
  rush/c160018051.lua
Owners: @ClementLouis
