Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update utility.lua
  utility.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101403001.lua
  pre-release/c101403002.lua
  pre-release/c101403003.lua
  pre-release/c101403004.lua
  pre-release/c101403030.lua
  pre-release/c101403031.lua
  pre-release/c101403051.lua
  pre-release/c101403052.lua
  pre-release/c101403072.lua
  pre-release/c101403073.lua
  pre-release/c101403130.lua
Owners: @pyrQ

use chkf when checking for available zones in fusion proc
  proc_fusion.lua
Owners: @pyrQ

add Fusion.UseZone
  proc_fusion.lua
Owners: @pyrQ

support passing the target player and zone to contact fusion procedure
  proc_fusion.lua
Owners: @pyrQ

Use updated proc The Sun God's Steelcage - Lava Golem
  pre-release/c101403031.lua
Owners: @pyrQ

added new rush cards
  rush/c160026060.lua
  rush/c160026069.lua
Owners: @ClementLouis

grab the forced zone from chkfnf flag
  proc_fusion.lua
Owners: @pyrQ

"The Immortal Sun God" update
  pre-release/c101403001.lua
  pre-release/c101403002.lua
  pre-release/c101403003.lua
  pre-release/c101403004.lua
  pre-release/c101403051.lua
Owners: @pyrQ

added Rebel's Dive
  rush/c160026062.lua
Owners: @ClementLouis

"Lunalight Gold Leo" update
  official/c8379983.lua
Owners: @pyrQ

"Cross-Sheep" update
  official/c50277355.lua
Owners: @pyrQ

Update proc_fusion.lua
  proc_fusion.lua
Owners: @pyrQ

Update c101403031.lua
  pre-release/c101403031.lua
Owners: @pyrQ

Fusion proc update
  pre-release/c101403031.lua
  proc_fusion.lua
Owners: @pyrQ

Script updates and fixes
  official/c52860176.lua
  official/c57448410.lua
  official/c73320394.lua
  official/c81965543.lua
  pre-release/c100458033.lua
  pre-release/c100458034.lua
  pre-release/c100458036.lua
  pre-release/c100458041.lua
  pre-release/c100459015.lua
Owners: @pyrQ

fix missing clock lizard check in fusion spell proc
  proc_fusion_spell.lua
Owners: @pyrQ

Added new card script
  pre-release/c100458008.lua
Owners: @pyrQ

Archetype/card constants script updates
  archetype_setcode_constants.lua
  card_counter_constants.lua
  pre-release/c100458001.lua
  pre-release/c100458002.lua
  pre-release/c100458003.lua
  pre-release/c100458004.lua
  pre-release/c100458005.lua
  pre-release/c100458006.lua
  pre-release/c100458007.lua
  pre-release/c100458008.lua
  pre-release/c100458009.lua
  pre-release/c100458010.lua
  pre-release/c100458011.lua
  pre-release/c101402009.lua
  pre-release/c101402010.lua
  pre-release/c101402011.lua
  pre-release/c101402012.lua
  pre-release/c101402039.lua
  pre-release/c101402040.lua
  pre-release/c101402057.lua
  pre-release/c101402073.lua
  pre-release/c101402074.lua
  pre-release/c101402075.lua
  pre-release/c101403001.lua
  pre-release/c101403002.lua
  pre-release/c101403003.lua
  pre-release/c101403004.lua
Owners: @pyrQ

Update "Fire Recovery (Anime)"
  unofficial/c170000120.lua
Owners: @larry126

"Fantastical Dragon Phantazmay" fix
  official/c78661338.lua
Owners: @pyrQ

Update "Ancient City"
  unofficial/c511000122.lua
Owners: @larry126

added scripts for alternate artworks
  rush/c160026002.lua
  rush/c160026111.lua
  rush/c160026119.lua
  rush/c160026124.lua
  rush/c160026133.lua
  rush/c160026135.lua
  rush/c160026138.lua
  rush/c160026143.lua
  rush/c160026158.lua
  rush/c160026170.lua
Owners: @ClementLouis

fixed some rush cards
  rush/c160025060.lua
  rush/c160026067.lua
Owners: @ClementLouis

updated Neo-Spacian Grand Mole
  rush/c160026067.lua
Owners: @ClementLouis

Update c511000127.lua
  unofficial/c511000127.lua
Owners: @larry126

Update "Ancient Gate"
  unofficial/c511000125.lua
Owners: @larry126

Update "Ancient Key"
  unofficial/c511000124.lua
Owners: @larry126

Update "Iron Cage (Anime)
  unofficial/c511001419.lua
Owners: @larry126

Update "Heraldry Catastrophe"
  unofficial/c511001452.lua
Owners: @larry126

added new rush cards
  rush/c160026069.lua
  rush/c160220001.lua
  rush/c160220008.lua
  rush/c160220015.lua
  rush/c160220016.lua
  rush/c160220021.lua
  rush/c160220022.lua
  rush/c160220024.lua
  rush/c160220025.lua
  rush/c160220027.lua
  rush/c160220029.lua
  rush/c160220030.lua
  rush/c160220031.lua
  rush/c160220032.lua
  rush/c160220034.lua
  rush/c160220085.lua
Owners: @ClementLouis

fixed cards that require 3+ different monster card types
  rush/c160220021.lua
  rush/c160220022.lua
  rush/c160220024.lua
  rush/c160220025.lua
Owners: @ClementLouis

fixed Executie Lumiere
  rush/c160205031.lua
Owners: @ClementLouis

Update c160220032.lua
  rush/c160220032.lua
Owners: @ClementLouis

Update c160220025.lua
  rush/c160220025.lua
Owners: @ClementLouis

fixed Waso Gozen Linker
  rush/c160220022.lua
Owners: @ClementLouis

"Revenge Rally" update
  official/c51686645.lua
Owners: @pyrQ

fixed Waso Gozen Linker
  rush/c160220022.lua
Owners: @ClementLouis

Added new card script
  pre-release/c100458040.lua
Owners: @pyrQ

Update "DNA Erasure Magic"
  unofficial/c511000531.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
