Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update "Cocoon of Ultra Evolution (Skill Card)"
  skill/c300104004.lua
Owners: @ClementLouis

added new rush cards
  rush/c160011015.lua
  rush/c160011016.lua
  rush/c160011017.lua
  rush/c160011031.lua
  rush/c160011039.lua
  rush/c160011046.lua
  rush/c160011047.lua
  rush/c160011058.lua
  rush/c160011060.lua
  rush/c160011063.lua
Owners: @ClementLouis

Added new Rush cards' scripts
  rush/c160011015.lua
  rush/c160011016.lua
  rush/c160011017.lua
  rush/c160011031.lua
  rush/c160011039.lua
  rush/c160011046.lua
  rush/c160011047.lua
  rush/c160011058.lua
  rush/c160011060.lua
  rush/c160011063.lua
Owners: @ClementLouis

"Black Luster Soljersey - Envoy of the Drying" fix
  rush/c160011017.lua
Owners: @ClementLouis

"Penguin Soljersey" fix
  rush/c160011015.lua
Owners: @ClementLouis

"Vaylantz Mad - Marquis" fix
  official/c87897777.lua
Owners: @pyrQ

Spirit procedure update
  proc_spirit.lua
Owners: @pyrQ

Update utility.lua
  utility.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101111004.lua
  pre-release/c101111005.lua
Owners: @pyrQ

added Music Princess's Prelude
  rush/c160011055.lua
Owners: @ClementLouis

Update c160011055.lua
  rush/c160011055.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160011055.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101111031.lua
  pre-release/c101111037.lua
  pre-release/c101111038.lua
  pre-release/c101111053.lua
  pre-release/c101111055.lua
Owners: @pyrQ

Update "Suijin (Anime)"
  unofficial/c511002507.lua
Owners: @larry126

"Fusion Tag" + "Amazoness Kaiserin" fix
  official/c23965033.lua
  official/c59432181.lua
Owners: @pyrQ

"Amazoness Kaiserin" update
  official/c23965033.lua
Owners: @pyrQ

Fix "Icejade Curse"
  official/c83670388.lua
Owners: @pyrQ

Fix "Vaylantz Genesis Grand Duke"
  official/c76075139.lua
Owners: @pyrQ

update rule of the day for the next tournament
  unofficial/c777777777.lua
Owners: @larry126

Update c777777777.lua
  unofficial/c777777777.lua
Owners: @larry126

Update utility.lua
  utility.lua
Owners: @pyrQ

fix "Performapal Turn Trooper"
  official/c220414.lua
Owners: @pyrQ

Fix "Black Luster Soljersey - Envoy of the Drying"
  rush/c160011017.lua
Owners: @ClementLouis

"The Book of the Law" fix
  official/c458748.lua
Owners: @pyrQ

fixed a mass replacing blunder
  unofficial/c777777777.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100200226.lua
  pre-release/c101110084.lua
  pre-release/c101110101.lua
  pre-release/c101110102.lua
  pre-release/c101110103.lua
  pre-release/c101110104.lua
  pre-release/c101110105.lua
  pre-release/c101110106.lua
  pre-release/c101110107.lua
  pre-release/c101111041.lua
Owners: @pyrQ

Update pre-release ID
  pre-release/c101110108.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101111025.lua
  pre-release/c101111042.lua
Owners: @pyrQ

Small update
  pre-release/c101111042.lua
Owners: @pyrQ

removed target protection
  unofficial/c777777777.lua
Owners: @larry126

Optimize D/D/D Advance
  unofficial/c511600088.lua
Owners: @larry126

Typo in previous commit
  unofficial/c511600088.lua
Owners: @larry126

"Zep, Ruby of the Ghoti" update
  pre-release/c101110103.lua
Owners: @pyrQ

prevent attaching by Number 38 and similar cards
  unofficial/c777777777.lua
Owners: @larry126

PHHY-fixes
  pre-release/c101111004.lua
  pre-release/c101111038.lua
Owners: @pyrQ

Changed variable names for clearance
  pre-release/c101111004.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101111017.lua
  pre-release/c101111036.lua
  pre-release/c101111065.lua
  pre-release/c101111069.lua
Owners: @pyrQ

fixed rush Equip Spells
  rush/c160011040.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160011043.lua
  rush/c160011044.lua
  rush/c160011050.lua
  rush/c160011051.lua
  rush/c160011052.lua
  rush/c160011053.lua
  rush/c160011058.lua
  rush/c160011059.lua
Owners: @ClementLouis

Fix for Rush Equip Spells
  rush/c160011040.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160011043.lua
  rush/c160011044.lua
  rush/c160011050.lua
  rush/c160011051.lua
  rush/c160011052.lua
  rush/c160011053.lua
  rush/c160011058.lua
  rush/c160011059.lua
Owners: @ClementLouis

fixed Tiger Sabre and Ghost Vicious
  rush/c160011033.lua
  rush/c160011058.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
