Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Typo
  official/c26357901.lua
Owners: @pyrQ

"Gemini Ablation" fix
  official/c80758812.lua
Owners: @pyrQ

added new rush constat
  card_counter_constants.lua
Owners: @pyrQ

updated script for new constant
  rush/c160003054.lua
  rush/c160007038.lua
  rush/c160007049.lua
Owners: @ClementLouis

backbeat fix
  rush/c160007053.lua
Owners: @ClementLouis

"Mechabeast Dareton" fix
  official/c86271510.lua
Owners: @pyrQ

added new rush scripts
  rush/c160007012.lua
  rush/c160007018.lua
  rush/c160007022.lua
  rush/c160007024.lua
  rush/c160007029.lua
  rush/c160007031.lua
  rush/c160007032.lua
  rush/c160007037.lua
  rush/c160007039.lua
  rush/c160007041.lua
  rush/c160007048.lua
  rush/c160007050.lua
  rush/c160007052.lua
  rush/c160007054.lua
  rush/c160007055.lua
  rush/c160007056.lua
  rush/c160007062.lua
  rush/c160007063.lua
  rush/c160007064.lua
  rush/c160007065.lua
  rush/c160421028.lua
  rush/c160421040.lua
  rush/chaotic omega.cdb
Owners: @ClementLouis

Sea Dragon Cranedross fix
  rush/c160007031.lua
Owners: @ClementLouis

"Super Roboyarou" & "Super Robolady" updates
  official/c1412158.lua
  official/c75923050.lua
Owners: @pyrQ

Lightning Speed, the Rumbling Report Warship fix
  rush/c160007037.lua
Owners: @ClementLouis

Art of Masked Fiery Noodle Scorching Burner fix
  rush/c160007050.lua
Owners: @ClementLouis

Fenrirewritter fix
  rush/c160007041.lua
Owners: @ClementLouis

Sea Dragon Cranedross fix
  rush/c160007031.lua
Owners: @ClementLouis

Royal Demon’s Break fix
  rush/c160007018.lua
Owners: @ClementLouis

Art of Masked Fiery Noodle Drawing-Out-The-Rich-Tasty-Flavor Reversal fix
  rush/c160007051.lua
Owners: @ClementLouis

Art of Masked Fiery Noodle Drawing-Out-The-Rich-Tasty-Flavor Reversal fix
  rush/c160007051.lua
Owners: @ClementLouis

maximum proc minor update
  proc_maximum.lua
Owners: @pyrQ

typo fix
  proc_maximum.lua
Owners: @pyrQ

Headbutt Cachalot fix
  rush/c160007024.lua
Owners: @ClementLouis

Dolphin Counter fix
  proc_maximum.lua
  rush/c160007058.lua
Owners: @pyrQ, @ClementLouis

Card Devastation fix
  rush/c160007055.lua
Owners: @ClementLouis

"Call of the Haunted (Anime)" fix
  unofficial/c511002048.lua
Owners: @larry126

"Monster Reborn Reborn" update
  official/c50213848.lua
Owners: @pyrQ

"Margin Trading" fix
  official/c62632427.lua
Owners: @pyrQ

Lightning Speed, the Rumbling Report Warship fix
  rush/c160007037.lua
Owners: @ClementLouis

Update c52601736.lua
  official/c52601736.lua
Owners: @pyrQ

Update c38450736.lua
  official/c38450736.lua
Owners: @pyrQ

Update c21790410.lua
  official/c21790410.lua
Owners: @pyrQ

Update c68184115.lua
  official/c68184115.lua
Owners: @pyrQ

Update c69207766.lua
  official/c69207766.lua
Owners: @pyrQ

Update c95395761.lua
  official/c95395761.lua
Owners: @pyrQ

Update c2461031.lua
  official/c2461031.lua
Owners: @pyrQ

Update c66066482.lua
  official/c66066482.lua
Owners: @pyrQ

Low Level "Inzektor" monsters fixes
  official/c21790410.lua
  official/c2461031.lua
  official/c38450736.lua
  official/c52601736.lua
  official/c66066482.lua
  official/c68184115.lua
  official/c69207766.lua
  official/c95395761.lua
Owners: @pyrQ

"Fleur Synchron" fix
  official/c19642774.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100426003.lua
Owners: @pyrQ

"Cybernetic Horizon" update
  official/c63031396.lua
Owners: @pyrQ

Update c13518809.lua
  official/c13518809.lua
Owners: @pyrQ

Update c16313112.lua
  official/c16313112.lua
Owners: @pyrQ

Update c50139096.lua
  official/c50139096.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
