Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Fix "Rainbow Kuriboh (Anime)"
  unofficial/c511020010.lua
Owners: @larry126

Some simplifications
  official/c1248895.lua
Owners: @pyrQ

Update c1248895.lua
  official/c1248895.lua
Owners: @pyrQ

"Chain Destruction" fixes
  official/c1248895.lua
Owners: @pyrQ

"Number C32: Shark Drake Leviathan" update
  pre-release/c101206204.lua
Owners: @pyrQ

fix "Procession of the Tea Jar"
  official/c12612470.lua
Owners: @pyrQ

Various card fixes
  official/c387282.lua
  official/c49094491.lua
  official/c59834564.lua
  official/c78371393.lua
  official/c99995595.lua
Owners: @pyrQ

Fix "Xyz Spiral"
  unofficial/c511001615.lua
Owners: @larry126

Update c511001615.lua
  unofficial/c511001615.lua
Owners: @larry126

added Hero Boy
  rush/c160320013.lua
Owners: @ClementLouis

"Detonating Kuriboh" official release script update
  official/c46789706.lua
Owners: @pyrQ

Update "Sephylon the Ultimate Timelord (Anime)"
  unofficial/c513000052.lua
Owners: @larry126

Update c513000052.lua
  unofficial/c513000052.lua
Owners: @larry126

"Starliege Paladynamo (Anime)" fix
  unofficial/c511002896.lua
Owners: @larry126

"Duelist Pack: Duelists of Brilliance" official release script updates
  official/c1410324.lua
  official/c18294799.lua
  official/c2133971.lua
  official/c298846.lua
  official/c33744268.lua
  official/c37405032.lua
  official/c37683441.lua
  official/c38527680.lua
  official/c44466810.lua
  official/c44698398.lua
  official/c45710945.lua
  official/c63181559.lua
  official/c6355563.lua
  official/c64804137.lua
  official/c70860415.lua
  official/c71083002.lua
  official/c72705654.lua
  official/c7477101.lua
  official/c75748977.lua
  official/c75926389.lua
  official/c99176254.lua
Owners: @pyrQ

added Luster Dragon #2 to Legend list
  proc_rush.lua
Owners: @pyrQ

Various card fixes
  official/c17616743.lua
  official/c30761649.lua
  official/c38527680.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100305001.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Acceleration" fix
  unofficial/c150000001.lua
Owners: @larry126

"Number 107: Galaxy-Eyes Tachyon Dragon (Anime)" fixes
  unofficial/c511010107.lua
Owners: @larry126

"Union Controller" fix
  official/c2133971.lua
Owners: @pyrQ

added Rising HERO Argento
  rush/c160320011.lua
Owners: @ClementLouis

fixed Rising HERO Argento
  rush/c160320011.lua
Owners: @ClementLouis

"Rising HERO Argent" fix
  rush/c160320011.lua
Owners: @ClementLouis

"Number 7: Lucky Straight (Anime)" fix
  unofficial/c511010007.lua
Owners: @larry126

fixed Dice Key Kuu
  rush/c160017011.lua
Owners: @ClementLouis

Add files via upload
  unofficial/c511027636.lua
Owners: @larry126

"The Roids are Alright" fix
  skill/c300305003.lua
Owners: @ClementLouis

"Drytron Meteonis Alpha Draconids" update
  official/c56863746.lua
Owners: @pyrQ

Update "Divine Evolution" and "Ursarctic Polar Star"
  official/c62714453.lua
  official/c7373632.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100305012.lua
Owners: @pyrQ

"Divine Evolution" fix
  official/c7373632.lua
Owners: @pyrQ

Add Dimension Guardian (Anime)
  unofficial/c511027039.lua
Owners: @larry126

"Dark Matter Jelly" fix
  rush/c160017022.lua
Owners: @ClementLouis

added Elemental HERO Thunder Giant
  rush/c160320003.lua
  rush/c160320011.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c100200255.lua
Owners: @pyrQ

"The Immortal of Thunder" fix
  official/c84926738.lua
Owners: @pyrQ

"Etude of the Branded" fix
  official/c45675980.lua
Owners: @pyrQ

"Magistus Chorozo" update
  pre-release/c100200255.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
