Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

added Future Aeromancer
  rush/c160205054.lua
Owners: @ClementLouis

Update "Boo-Boo Game"
  official/c27923575.lua
Owners: @pyrQ

Delete pre-release directory
  pre-release/c100200226.lua
  pre-release/c100293096.lua
  pre-release/c100293097.lua
  pre-release/c100293098.lua
  pre-release/c100293099.lua
  pre-release/c100293100.lua
  pre-release/c100294001.lua
  pre-release/c100294003.lua
  pre-release/c100345002.lua
  pre-release/c100345027.lua
  pre-release/c100345101.lua
  pre-release/c100345102.lua
  pre-release/c101110000.lua
  pre-release/c101110081.lua
  pre-release/c101110082.lua
  pre-release/c101110083.lua
  pre-release/c101110084.lua
  pre-release/c101110101.lua
  pre-release/c101110102.lua
  pre-release/c101110103.lua
  pre-release/c101110105.lua
  pre-release/c101110106.lua
  pre-release/c101110107.lua
  pre-release/c101110108.lua
Owners: @pyrQ

Add files via upload
  official/c2405631.lua
  official/c30748475.lua
  official/c3137279.lua
  official/c3259760.lua
  official/c38409239.lua
  official/c39522887.lua
  official/c40460013.lua
  official/c4472318.lua
  official/c65898344.lua
  official/c65910922.lua
  official/c76133574.lua
  official/c77855162.lua
  pre-release/c100200226.lua
  pre-release/c100293096.lua
  pre-release/c100293097.lua
  pre-release/c100293098.lua
  pre-release/c100293099.lua
  pre-release/c100293100.lua
  pre-release/c100294001.lua
  pre-release/c100294003.lua
  pre-release/c100345002.lua
  pre-release/c100345027.lua
  pre-release/c100345101.lua
  pre-release/c100345102.lua
Owners: @pyrQ

"Darkwing Blast-EN" official release script updates
  official/c2405631.lua
  official/c30748475.lua
  official/c3137279.lua
  official/c3259760.lua
  official/c38409239.lua
  official/c39522887.lua
  official/c40460013.lua
  official/c4472318.lua
  official/c65898344.lua
  official/c65910922.lua
  official/c76133574.lua
  official/c77855162.lua
Owners: @pyrQ

Use proper __tostring metamethods instead of overriding tostring itself
  utility.lua
Owners: @pyrQ

Print card location properties
  utility.lua
Owners: @pyrQ

Quoted strings
  utility.lua
Owners: @pyrQ

Update "Dark-Eyes Illusionist (Anime)
  unofficial/c511002416.lua
Owners: @larry126

Add Release Restraint (Anime) (#809)
  unofficial/c511027011.lua
Owners: @larry126

Add The Winged Dragon of Ra (TF3) and Slifer the Sky Dragon (TF3) (#808)
  unofficial/c511027028.lua
  unofficial/c511027029.lua
Owners: @larry126

Update c152000017.lua
  unofficial/c152000017.lua
Owners: @larry126

Add Storm Access variants (#805)
  unofficial/c152000016.lua
  unofficial/c152000017.lua
  unofficial/c152000018.lua
Owners: @larry126

Added new Rush card's script
  rush/c160205054.lua
Owners: @ClementLouis

Print original code as well
  utility.lua
Owners: @pyrQ

Add type, race and attribute formatting
  utility.lua
Owners: @pyrQ

Add Card.GetLinkMarker
  utility.lua
Owners: @pyrQ

Revert "Add Card.GetLinkMarker"
  utility.lua
Owners: @pyrQ

Print level/rank/link, link markers, atk and def
  utility.lua
Owners: @pyrQ

Missing "then"
  utility.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100295001.lua
Owners: @pyrQ

"Beetle Amalgamaton Zekstagger" official release script update
  official/c9627468.lua
Owners: @pyrQ

Fix "Elemental HERO Chaos Neos"
  official/c17032740.lua
Owners: @pyrQ

Fix error in Auxiliary.SetSkillOp
  proc_skill.lua
Owners: @pyrQ

Update It's My Lucky Day!
  skill/c300102004.lua
Owners: @ClementLouis

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Various script fixes/updates
  official/c27923575.lua
  official/c3806388.lua
  official/c44161893.lua
  official/c49296203.lua
  official/c58415502.lua
  official/c77312273.lua
  official/c99801464.lua
Owners: @pyrQ

Ritual procedure small update
  proc_ritual.lua
Owners: @pyrQ

added Heavenly Selection
  rush/c160205065.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160205065.lua
Owners: @ClementLouis

Fix "Flame Arms - Fretberge"
  rush/c160011051.lua
Owners: @ClementLouis

Fix Fake Feather
  official/c22628574.lua
Owners: @pyrQ

Update Rush cards
  rush/c160001037.lua
  rush/c160002035.lua
  rush/c160005038.lua
  rush/c160006036.lua
  rush/c160007016.lua
  rush/c160008018.lua
  rush/c160010040.lua
  rush/c160010101.lua
  rush/c160011013.lua
  rush/c160011016.lua
  rush/c160201012.lua
  rush/c160204022.lua
  rush/c160205022.lua
  rush/c160205025.lua
  rush/c160205054.lua
  rush/c160205055.lua
  rush/c160205065.lua
  rush/c160205068.lua
  rush/c160402008.lua
  rush/c160402021.lua
  rush/c160434001.lua
Owners: @ClementLouis

Fix Negative Energy Generator
  unofficial/c513000020.lua
Owners: @larry126

Fix Negate Attack (Anime)
  unofficial/c511004341.lua
Owners: @larry126

Update MODERNIZING.md
  MODERNIZING.md
Owners: @kevinlul

Fix "Galaxy Hundred"
  official/c897409.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
