Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update c100201001.lua
  pre-release/c100201001.lua
Owners: @pyrQ

fixed Tama Bond
  rush/c160021053.lua
Owners: @ClementLouis

fixed Tama Bond
  rush/c160021053.lua
Owners: @ClementLouis

fix "Night Dragolich"
  official/c88724332.lua
Owners: @pyrQ

added new rush cards
  rush/c160021043.lua
  rush/c160021044.lua
  rush/c160021049.lua
  rush/c160021059.lua
Owners: @ClementLouis

Update "Cyberdark Scheme"
  skill/c300308011.lua
Owners: @ClementLouis

added Rurigra the Eternal
  rush/c160021028.lua
Owners: @ClementLouis

fixed Legend Advent
  rush/c160021059.lua
Owners: @ClementLouis

Add files via upload
  card_counter_constants.lua
  pre-release/c100200272.lua
  pre-release/c100201001.lua
  pre-release/c100201002.lua
  pre-release/c100201003.lua
  pre-release/c100443001.lua
  pre-release/c100443003.lua
  pre-release/c100443005.lua
  pre-release/c100443007.lua
  pre-release/c100443010.lua
  pre-release/c100443101.lua
  pre-release/c100443102.lua
  pre-release/c100443103.lua
  pre-release/c100443104.lua
  pre-release/c100443105.lua
  pre-release/c100444001.lua
  pre-release/c100444002.lua
  pre-release/c100444003.lua
  pre-release/c100445001.lua
  pre-release/c100445002.lua
  pre-release/c100445003.lua
  pre-release/c100445024.lua
  pre-release/c100445025.lua
  pre-release/c100445026.lua
  pre-release/c101302101.lua
  pre-release/c101302102.lua
  pre-release/c101302103.lua
  pre-release/c101302104.lua
  pre-release/c101302105.lua
  pre-release/c101302106.lua
  pre-release/c101302107.lua
  pre-release/c101302108.lua
  pre-release/c101302109.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

added Botanical Lion
  proc_rush.lua
  rush/c160402052.lua
Owners: @pyrQ, @ClementLouis

"Coach King Giantrainer" fix
  official/c30741334.lua
Owners: @pyrQ

Various script fixes
  official/c13735899.lua
  official/c32588805.lua
  official/c42378577.lua
  official/c46382143.lua
  official/c53670497.lua
  official/c73640163.lua
  official/c78033100.lua
  official/c81846636.lua
  official/c84539520.lua
  official/c91188343.lua
  official/c95113856.lua
Owners: @pyrQ

fixed Shadow Flower Stance
  rush/c160005057.lua
Owners: @ClementLouis

Update card names in scripts
  official/c20584712.lua
  official/c21607304.lua
  official/c27642961.lua
  official/c28340377.lua
  official/c30979619.lua
  official/c37433748.lua
  official/c53989821.lua
  official/c94096018.lua
  official/c96334243.lua
Owners: @pyrQ

update c10515412.lua
  official/c10515412.lua
Owners: @pyrQ

Update c10515412.lua
  official/c10515412.lua
Owners: @pyrQ

Fix "Session Draw"
  unofficial/c511001447.lua
Owners: @larry126

Rename c100200272.lua to c83838727.lua
  official/c83838727.lua
Owners: @pyrQ

Rename c100444001.lua to c19222426.lua
  official/c19222426.lua
Owners: @pyrQ

Rename c100444002.lua to c46221535.lua
  official/c46221535.lua
Owners: @pyrQ

Rename c100444003.lua to c82616239.lua
  official/c82616239.lua
Owners: @pyrQ

"Drawbread" + "Duel Academia Selection" official release script updates
  official/c19222426.lua
  official/c46221535.lua
  official/c82616239.lua
  official/c83838727.lua
Owners: @pyrQ

"You're Finished" fix
  official/c88346805.lua
Owners: @pyrQ

"Alien Shocktrooper M-Frame" update
  official/c74974229.lua
Owners: @pyrQ

Update "Black-Winged Dragon (Anime)"
  unofficial/c511027112.lua
Owners: @larry126

Update "Black-Winged Dragon (Anime)
  unofficial/c511027112.lua
Owners: @larry126

added scripts for new alt arts
  rush/c160021121.lua
  rush/c160021122.lua
  rush/c160021126.lua
  rush/c160021128.lua
  rush/c160021140.lua
Owners: @ClementLouis

added new rush cards
  rush/c160215001.lua
  rush/c160215002.lua
  rush/c160215005.lua
  rush/c160215008.lua
  rush/c160215009.lua
  rush/c160215012.lua
  rush/c160215013.lua
  rush/c160215014.lua
  rush/c160215015.lua
  rush/c160215019.lua
  rush/c160215023.lua
  rush/c160215024.lua
  rush/c160215071.lua
Owners: @ClementLouis

"Battle Royal Mode - Joining" fix
  official/c65433790.lua
Owners: @pyrQ

missing parentheses
  official/c65433790.lua
Owners: @pyrQ

Update "Duelist Kingdom"
  unofficial/c511002621.lua
Owners: @larry126

fixed Emergency Return
  rush/c160203004.lua
Owners: @ClementLouis

fixed Star Salvation Shield
  rush/c160015065.lua
Owners: @ClementLouis

added scripts for new alt arts
  rush/c160455010.lua
  rush/c160455011.lua
Owners: @ClementLouis

"Disablaster the Negation Fortress" fix
  official/c58707981.lua
Owners: @pyrQ

"Artifact Mjollnir" fix
  official/c80237445.lua
Owners: @pyrQ

added Grace Cat
  rush/c160215022.lua
Owners: @ClementLouis

Fix earthbound release anime
  unofficial/c100000430.lua
Owners: @larry126

Update "Bonds of Hope"
  unofficial/c511005023.lua
Owners: @larry126
