Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

fix "Beast Summoner"
  rush/c160003016.lua
Owners: @ClementLouis

Update c2992036.lua
  official/c2992036.lua
Owners: @NaimSantos, @pyrQ

Fix "Destined Rivals"
  official/c22634473.lua
Owners: @NaimSantos, @pyrQ

Fix "Dragunity Purgatory"
  official/c51849216.lua
Owners: @NaimSantos, @pyrQ

Fix "Strength in Unity"
  official/c96239878.lua
Owners: @NaimSantos, @pyrQ

Minor fix "Chaos Grepher"
  pre-release/c100200189.lua
Owners: @NaimSantos, @pyrQ

Fix "Magistus Flame Zoroa" and "Magistus Master Endymion"
  pre-release/c100415002.lua
  pre-release/c100415004.lua
Owners: @NaimSantos, @pyrQ

Add timing hint for "Magistus Saint Aiwass"
  pre-release/c100415005.lua
Owners: @NaimSantos, @pyrQ

Fix "Magistus Dragon Vafram"
  pre-release/c100415006.lua
Owners: @NaimSantos, @pyrQ

Fix "Magistus Maiden Artemis"
  pre-release/c100415008.lua
Owners: @NaimSantos, @pyrQ

Fix "Evil★Twin Lilla"
  pre-release/c100415016.lua
Owners: @NaimSantos, @pyrQ

Fix "Live☆Twin Entrance"
  pre-release/c100415018.lua
Owners: @NaimSantos, @pyrQ

Fix "Evil★Twin Challenge"
  pre-release/c100415021.lua
Owners: @NaimSantos, @pyrQ

Fixes (#423)
  official/c22634473.lua
  official/c51849216.lua
  official/c96239878.lua
Owners: @NaimSantos, @pyrQ

Small fix "Cross Over"
  official/c53241226.lua
Owners: @NaimSantos, @pyrQ

Fix for "Valkyrie of the Nordic Ascendant (Anime)"
  unofficial/c511000251.lua
Owners: @larry126

Batch 1
  official/c10071151.lua
  official/c13923256.lua
  official/c16261341.lua
  official/c19959563.lua
  official/c2645637.lua
  official/c2819435.lua
  official/c28201945.lua
  official/c31629407.lua
Owners: @NaimSantos, @pyrQ

Removed unused condition
  official/c2819435.lua
Owners: @NaimSantos, @pyrQ

Batch 2
  official/c33158448.lua
  official/c35191415.lua
  official/c35488287.lua
  official/c36429703.lua
  official/c37414347.lua
  official/c40140448.lua
  official/c4179255.lua
  official/c42790071.lua
  official/c43748308.lua
  official/c44133040.lua
  official/c4896788.lua
  official/c49655592.lua
  official/c50237654.lua
Owners: @NaimSantos, @pyrQ

Batch 3
  official/c53724621.lua
  official/c55870497.lua
  official/c56166150.lua
  official/c58116537.lua
  official/c59297550.lua
  official/c66214679.lua
  official/c67045745.lua
  official/c6764709.lua
  official/c69121954.lua
Owners: @NaimSantos, @pyrQ

Batch 4
  official/c69488544.lua
  official/c7084129.lua
  official/c71696014.lua
  official/c73639099.lua
  official/c73734821.lua
  official/c75059201.lua
  official/c75676192.lua
  official/c77539547.lua
  official/c78310590.lua
  official/c83550869.lua
  official/c84673417.lua
  official/c93449450.lua
  official/c95714077.lua
Owners: @NaimSantos, @pyrQ

Added new Rush Cards
  rush/c160003049.lua
  rush/c160003055.lua
Owners: @ClementLouis

Vampire Sucker Fix
  official/c37129797.lua
Owners: @NaimSantos, @pyrQ

Fix effects that can only "activate" once per duel
  official/c11747708.lua
  official/c17484499.lua
  official/c43575579.lua
  official/c48179391.lua
  official/c86607583.lua
Owners: @NaimSantos, @pyrQ

Fix for "Valkyrie of the Nordic Ascendant (Anime)" (#425)
  unofficial/c511000251.lua
Owners: @larry126

Killer Biteball fix
  rush/c160003055.lua
Owners: @ClementLouis

Vampire Sucker Fix (#427)
  official/c37129797.lua
Owners: @NaimSantos, @pyrQ

Small fix "The Phantom Knights of Shade Brigandine"
  official/c98827725.lua
Owners: @NaimSantos, @pyrQ

fixes
  official/c34755994.lua
  official/c35877582.lua
  official/c36099130.lua
  official/c36609518.lua
  official/c61272280.lua
  official/c8083925.lua
  official/c9482987.lua
  official/c98360333.lua
Owners: @NaimSantos, @pyrQ

Minor fix "Chaos Grepher"
  pre-release/c100200189.lua
Owners: @NaimSantos, @pyrQ

Update c511009935.lua
  unofficial/c511009935.lua
Owners: @larry126

Small fix for "Stormrider Tubieloof (#430)
  unofficial/c511009935.lua
Owners: @larry126

fixes (#428)
  official/c34755994.lua
  official/c35877582.lua
  official/c36099130.lua
  official/c36609518.lua
  official/c61272280.lua
  official/c8083925.lua
  official/c9482987.lua
  official/c98360333.lua
Owners: @NaimSantos, @pyrQ

Official passcodes: VJUMP promotional cards
  pre-release/c18859369.lua
  pre-release/c33750025.lua
  pre-release/c34479658.lua
  pre-release/c81782101.lua
Owners: @NaimSantos, @pyrQ

Move scripts to the correct directory
  official/c18859369.lua
  official/c33750025.lua
  official/c34479658.lua
  official/c81782101.lua
Owners: @NaimSantos, @pyrQ

Offical passcodes: VJUMP promotional cards (#431)
  official/c18859369.lua
  official/c33750025.lua
  official/c34479658.lua
  official/c81782101.lua
Owners: @NaimSantos, @pyrQ

Small fix "The Phantom Knights of Tear Scale"
  official/c25538345.lua
Owners: @NaimSantos, @pyrQ

Update c3966653.lua
  official/c3966653.lua
Owners: @NaimSantos, @pyrQ

Fix "Crimsom Fire"
  official/c24566654.lua
  unofficial/c511010530.lua
Owners: @NaimSantos, @pyrQ, @larry126

Added scripts from Blazing Vortex
  pre-release/c101103026.lua
  pre-release/c101103042.lua
Owners: @NaimSantos, @pyrQ
