Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update "Elborz, the Sacred Lands of Simorgh"
  official/c92223430.lua
Owners: @pyrQ

added Return
  rush/c160206027.lua
Owners: @ClementLouis

"Traptrix Genlisea" fixes
  official/c88078306.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160206027.lua
Owners: @ClementLouis

"Queen Butterfly Danaus" fix
  official/c13302026.lua
Owners: @pyrQ

"Cursed Bamboo Sword" fix
  official/c42199039.lua
Owners: @pyrQ

"Libromancer Displaced" fix
  official/c88083109.lua
Owners: @pyrQ

Resolve token miscount in Kash Big Bang
  official/c33925864.lua
Owners: @pyrQ

Update "Green Ninja"
  official/c15198996.lua
Owners: @pyrQ

Script updates
  official/c23440231.lua
  official/c23790299.lua
  official/c23846921.lua
  official/c24425055.lua
  official/c24915933.lua
  official/c25209168.lua
  official/c25811989.lua
  official/c25926710.lua
  official/c25964547.lua
  official/c26034577.lua
Owners: @pyrQ

Fix "Kashtira Big Bang"
  official/c33925864.lua
Owners: @pyrQ

General polish and updates
  official/c32138660.lua
Owners: @pyrQ

Fixed filter's name
  official/c32138660.lua
Owners: @pyrQ

"Reptilianne Melusine" fix
  official/c32138660.lua
Owners: @pyrQ

added Maju Garzett
  rush/c160206004.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160206004.lua
Owners: @ClementLouis

"Chaos Grepher" fix
  official/c18859369.lua
Owners: @pyrQ

"Necrovalley" small update
  official/c47355498.lua
Owners: @pyrQ

"Millennium-Eyes Restrict" fix
  official/c41578483.lua
Owners: @pyrQ

Update the "RESETS_REDIRECT" constant
  constant.lua
Owners: @pyrQ

"Traptrix Genlisea" update
  official/c88078306.lua
Owners: @pyrQ

"Gunkan Sushipyard Seaside Supper Spot" fix
  official/c62200831.lua
Owners: @pyrQ

Script updates
  official/c27012990.lua
  official/c27134209.lua
  official/c27923575.lua
  official/c27993919.lua
  official/c28762303.lua
  official/c28798938.lua
  official/c29280589.lua
  official/c29649320.lua
  official/c29762407.lua
  official/c29884951.lua
Owners: @pyrQ

Fix Anime Cyberdarks
  unofficial/c511001117.lua
  unofficial/c511001123.lua
  unofficial/c511001124.lua
  unofficial/c511001146.lua
Owners: @larry126

Remove unneeded parameters from the SelectTargets
  unofficial/c511001117.lua
  unofficial/c511001123.lua
  unofficial/c511001124.lua
  unofficial/c511001146.lua
Owners: @larry126

Script updates
  official/c29904964.lua
  official/c30118200.lua
  official/c30492798.lua
  official/c30680659.lua
  official/c30765615.lua
  official/c30811116.lua
  official/c31123642.lua
  official/c31588572.lua
  official/c31600845.lua
Owners: @pyrQ

Added 2 new functions + small fix
  utility.lua
Owners: @pyrQ

Small updates for "Battle Shogun of the Six Samurai" and "Cosmic Slicer Zer'oll"
  official/c1487805.lua
  official/c74752631.lua
Owners: @pyrQ

r [ci skip]
  official/c74752631.lua
Owners: @pyrQ

Script updates
  official/c31629407.lua
  official/c31817415.lua
  official/c32036866.lua
  official/c32056070.lua
  official/c32542011.lua
  official/c32841045.lua
  official/c32912040.lua
  official/c33145233.lua
  official/c33900648.lua
  official/c33945211.lua
Owners: @pyrQ

"Strength in Unity" fix
  official/c96239878.lua
Owners: @pyrQ

"Soldier Gaia the Fierce Knight" fix
  official/c33318980.lua
Owners: @pyrQ

"Purrely Happy Memory" update
  official/c82105704.lua
Owners: @pyrQ

Fix "Dark Tinker (Anime)"
  unofficial/c511014001.lua
Owners: @larry126

"Behold, Gate Guardian!" fix
  skill/c300305004.lua
Owners: @ClementLouis

added Cursed Sword of the East
  rush/c160206043.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160206043.lua
Owners: @ClementLouis

Fix "Dark Tinker (Anime)"
  unofficial/c511014001.lua
Owners: @larry126

"Lancer Archfiend" fix
  official/c79418153.lua
Owners: @pyrQ

Operator replacement [ci skip]
  official/c79418153.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
