Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

Update the way Fusion.CheckAdditional is called in the fusion procedure
  proc_fusion.lua
Owners: @pyrQ

Revert "Update the way Fusion.CheckAdditional is called in the fusion procedure"
  proc_fusion.lua
Owners: @pyrQ

"Fabled Dianaira" update
  official/c53199020.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100296201.lua
  pre-release/c101206090.lua
  pre-release/c101206091.lua
  pre-release/c101206092.lua
  pre-release/c101206093.lua
  pre-release/c101206094.lua
  pre-release/c101206095.lua
Owners: @pyrQ

"Fabledswarm Leverzebul" fix
  pre-release/c100439003.lua
Owners: @pyrQ

Fix "Mimighoul Throne"
  pre-release/c101206094.lua
Owners: @pyrQ

fix "Mimighoul Fairy"
  pre-release/c101206091.lua
Owners: @pyrQ

"Necro Defender" fix
  official/c77700347.lua
Owners: @pyrQ

Update c101206091.lua
  pre-release/c101206091.lua
Owners: @pyrQ

Update c101206094.lua
  pre-release/c101206094.lua
Owners: @pyrQ

Some card fixes
  official/c22056710.lua
  official/c24545464.lua
  official/c51684157.lua
  official/c56198785.lua
  official/c83257450.lua
Owners: @pyrQ

Midterm Destruction
  skill/c300308001.lua
  skill/c300308002.lua
  skill/c300308003.lua
  skill/c300308004.lua
  skill/c300308005.lua
  skill/c300308006.lua
  skill/c300308007.lua
  skill/c300308008.lua
  skill/c300308009.lua
  skill/c300308010.lua
  skill/c300308011.lua
  skill/c300308012.lua
Owners: @ClementLouis

Rename archetype constant
  archetype_setcode_constants.lua
  official/c26548709.lua
  official/c42307760.lua
  official/c43129357.lua
  official/c4841383.lua
  official/c52543404.lua
  official/c6908161.lua
  official/c70514456.lua
  official/c75352507.lua
  official/c77573354.lua
  official/c89824842.lua
  official/c97262307.lua
  official/c99153051.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160019035.lua
  rush/c160019036.lua
  rush/c160019048.lua
  rush/c160212012.lua
  rush/c160212013.lua
  rush/c160212075.lua
Owners: @pyrQ, @ClementLouis

Added new card scripts
  pre-release/c101206081.lua
  pre-release/c101206082.lua
  pre-release/c101206083.lua
  pre-release/c101206084.lua
  pre-release/c101206085.lua
  pre-release/c101206086.lua
  pre-release/c101206087.lua
  pre-release/c101206088.lua
  pre-release/c101206089.lua
  pre-release/c101207037.lua
  pre-release/c101207079.lua
Owners: @pyrQ

added new rush cards
  rush/c160212018.lua
  rush/c160212019.lua
  rush/c160212026.lua
  rush/c160212027.lua
Owners: @ClementLouis

Added new card script
  pre-release/c101207030.lua
Owners: @pyrQ

batch1
  official/c15066114.lua
  official/c15629801.lua
  official/c1828513.lua
  official/c19636995.lua
  official/c22996376.lua
  official/c23898021.lua
  official/c28423537.lua
  official/c29303524.lua
  official/c30312361.lua
Owners: @pyrQ

batch2
  official/c32298781.lua
  official/c32752319.lua
  official/c33911264.lua
  official/c36029076.lua
  official/c38030232.lua
  official/c38525760.lua
  official/c3897065.lua
  official/c4022819.lua
  official/c4068622.lua
  official/c42155488.lua
Owners: @pyrQ

added scripts for new alt arts
  rush/c160452012.lua
  rush/c160452013.lua
  rush/c160452014.lua
  rush/c160452015.lua
Owners: @ClementLouis

batch3
  official/c32298781.lua
  official/c43530283.lua
  official/c47387961.lua
  official/c51126152.lua
  official/c51632798.lua
  official/c55713623.lua
  official/c5703682.lua
  official/c58270977.lua
  official/c60025883.lua
  official/c62325062.lua
  official/c63442604.lua
  official/c6442944.lua
  official/c64599569.lua
  official/c65384019.lua
Owners: @pyrQ, @larry126

Guardragon Andrake
  official/c6990577.lua
Owners: @pyrQ

batch4
  official/c67136033.lua
  official/c69838761.lua
  official/c70899775.lua
  official/c71278040.lua
  official/c71544954.lua
  official/c74003290.lua
  official/c75198893.lua
  official/c7841921.lua
  official/c78651105.lua
  official/c79229522.lua
  official/c81325903.lua
  official/c8198620.lua
  official/c82377606.lua
  official/c83274244.lua
  official/c86271510.lua
  official/c86605184.lua
  official/c91392974.lua
  official/c94538053.lua
  official/c95685352.lua
Owners: @pyrQ

comments
  official/c28423537.lua
  official/c29303524.lua
  official/c33911264.lua
  official/c42155488.lua
  official/c47387961.lua
  official/c51126152.lua
  official/c51632798.lua
  official/c67136033.lua
  official/c69838761.lua
  official/c7841921.lua
Owners: @pyrQ, @larry126

fix
  official/c5703682.lua
  official/c6990577.lua
Owners: @pyrQ

"CXyz Barian Hope" fix
  official/c67926903.lua
Owners: @pyrQ

Update "Gearspring Catapult"
  unofficial/c511002903.lua
Owners: @larry126

Fix "Automatic Gearspring Machine"
  unofficial/c511002904.lua
Owners: @larry126

Update c511002904.lua
  unofficial/c511002904.lua
Owners: @larry126

Update "Clear Wall (Anime)"
  unofficial/c513000165.lua
Owners: @larry126

Update "White Nightmare"
  unofficial/c511027676.lua
Owners: @larry126

added new rush cards
  rush/c160019000.lua
  rush/c160019002.lua
  rush/c160019004.lua
  rush/c160019022.lua
  rush/c160019026.lua
  rush/c160019027.lua
  rush/c160019037.lua
  rush/c160019039.lua
  rush/c160019044.lua
  rush/c160019045.lua
  rush/c160019049.lua
  rush/c160019050.lua
  rush/c160019053.lua
  rush/c160019057.lua
  rush/c160019061.lua
  rush/c160212011.lua
Owners: @ClementLouis

Add new constant
  constant.lua
  official/c50366775.lua
  proc_link.lua
Owners: @pyrQ

added new rush cards
  rush/c160212028.lua
  rush/c160212037.lua
  rush/c160212040.lua
Owners: @ClementLouis

Fix "Psi-Beast"
  official/c46291010.lua
Owners: @pyrQ

Update c46291010.lua
  official/c46291010.lua
Owners: @pyrQ

Update "The Agent of Entropy - Uranus"
  official/c97750534.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101207022.lua
  pre-release/c101207028.lua
  pre-release/c101207047.lua
Owners: @pyrQ

"Imaginary Arc Turnover" fix
  rush/c160212040.lua
Owners: @ClementLouis

"Chaos Angel" update
  official/c22850702.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
