Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Added new Rush cards' scripts
  rush/c160009038.lua
  rush/c160009056.lua
Owners: @ClementLouis

Rush card fixes
  rush/c160002042.lua
  rush/c160421022.lua
Owners: @ClementLouis

Update c28400508.lua
  official/c28400508.lua
Owners: @pyrQ

"Number 97: Draglubion" fix
  official/c28400508.lua
Owners: @pyrQ

Update c50766506.lua
  official/c50766506.lua
Owners: @pyrQ

"Ninjitsu Art of Duplication" fix
  official/c50766506.lua
Owners: @pyrQ

Fix "Cursed Ivy"
  unofficial/c511002907.lua
Owners: @larry126

"Durga the Shadow Flower Stealth Submarine" fix
  rush/c160008038.lua
Owners: @ClementLouis

Various fixes
  official/c1347977.lua
  official/c41554273.lua
  official/c5833312.lua
  official/c74519184.lua
  official/c75198893.lua
  official/c81782101.lua
  official/c8243121.lua
  official/c86049351.lua
  official/c86509711.lua
  official/c95440946.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200216.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100427014.lua
  pre-release/c100427015.lua
  pre-release/c100427017.lua
  pre-release/c100427018.lua
  pre-release/c100427019.lua
  pre-release/c100427020.lua
  pre-release/c100427021.lua
  pre-release/c100427022.lua
  pre-release/c100427023.lua
  pre-release/c100427024.lua
  pre-release/c100427025.lua
  pre-release/c100427026.lua
  pre-release/c100427037.lua
Owners: @pyrQ

fix "Labrynth Setting"
  pre-release/c100427022.lua
Owners: @pyrQ

fix "Labrynth Cuclock"
  pre-release/c100427020.lua
Owners: @pyrQ

fix "Labrynth Archfiend"
  pre-release/c100427015.lua
Owners: @pyrQ

"Labrynth Archfiend" fix
  pre-release/c100427015.lua
Owners: @pyrQ

"Labrynth Servant Arianna" fix
  pre-release/c100427017.lua
Owners: @pyrQ

Added new cards' scripts
  card_counter_constants.lua
  cards_specific_functions.lua
  pre-release/c101109016.lua
  pre-release/c101109017.lua
  pre-release/c101109018.lua
  pre-release/c101109019.lua
  pre-release/c101109061.lua
  pre-release/c101109074.lua
  pre-release/c101109075.lua
Owners: @pyrQ

fix "Magikey Unlocking"
  official/c98904974.lua
Owners: @pyrQ

"Calendar Rotation of the Vernalizer Fairy" fix
  pre-release/c101109074.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101109025.lua
  pre-release/c101109046.lua
  pre-release/c101109065.lua
  pre-release/c101109076.lua
Owners: @pyrQ

fix "Vernalizer Fairy and Flower Buds"
  pre-release/c101109075.lua
Owners: @pyrQ

"P.U.N.K. JAM Dragon Drive" fix
  pre-release/c101109046.lua
Owners: @pyrQ

fix "Exosister Litania"
  pre-release/c101109076.lua
Owners: @pyrQ

Revert "fix "Exosister Litania""
  pre-release/c101109076.lua
Owners: @pyrQ

Fusion procedure update
  proc_fusion_spell.lua
Owners: @pyrQ

Remove an additional line from the previous commit
  proc_fusion_spell.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100428030.lua
  pre-release/c100428031.lua
  pre-release/c100428033.lua
  pre-release/c100428034.lua
  pre-release/c100428035.lua
  pre-release/c100428036.lua
Owners: @pyrQ

Fusion proc small fix
  proc_fusion_spell.lua
Owners: @pyrQ

Add "Performapal Splashmammoth (Anime)"
  unofficial/c511003228.lua
Owners: @larry126

Update c511003228.lua
  unofficial/c511003228.lua
Owners: @larry126

Update c511003228.lua
  unofficial/c511003228.lua
Owners: @larry126

fix "Labrynth Stovee"
  pre-release/c100427019.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101109020.lua
  pre-release/c101109021.lua
  pre-release/c101109044.lua
  pre-release/c101109062.lua
Owners: @pyrQ

Added "RACE_GALAXY" constant
  constant.lua
Owners: @pyrQ

Fix Gem-Knight Quartz
  pre-release/c101109020.lua
Owners: @pyrQ

Various fixes
  official/c19739265.lua
  official/c22751868.lua
  official/c75198893.lua
  official/c95440946.lua
  pre-release/c100427020.lua
  pre-release/c100427112.lua
  pre-release/c100428033.lua
  pre-release/c101109020.lua
  pre-release/c101109074.lua
  pre-release/c101109075.lua
Owners: @pyrQ

Small Fix for "Marksman Heiji Type 0"
  unofficial/c511001515.lua
Owners: @larry126

Added new Rush cards' scripts
  rush/c160009000.lua
  rush/c160009013.lua
  rush/c160009014.lua
  rush/c160009017.lua
  rush/c160009022.lua
  rush/c160009025.lua
  rush/c160009026.lua
  rush/c160009036.lua
  rush/c160009050.lua
  rush/c160009051.lua
  rush/c160009062.lua
  rush/c160009063.lua
Owners: @ClementLouis

"Labrynth Labyrinth" fix
  pre-release/c100427021.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100427016.lua
Owners: @pyrQ
