Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update and rename pre-release/c100343041.lua to official/c44146295.lua
  official/c44146295.lua
Owners: @pyrQ

Update and rename pre-release/c100343042.lua to official/c70534340.lua
  official/c70534340.lua
Owners: @pyrQ

"Structure Deck: Alba Strike" official release script updates
  official/c17751597.lua
  official/c18973184.lua
  official/c19096726.lua
  official/c44146295.lua
  official/c44362883.lua
  official/c45484331.lua
  official/c70534340.lua
  official/c81767888.lua
  official/c82489470.lua
Owners: @pyrQ

Add script to detect script renaming and automatically generate the mappings.json file
  .github/generate_mappings.py
  .github/workflows/commit-delta-utopia-repo.yml
Owners: @kevinlul

"Odd-Eyes Rebellion Dragon" update
  official/c45627618.lua
Owners: @pyrQ

Fix "Corkscrew Cross"
  unofficial/c100000604.lua
Owners: @larry126

Fix "Galaxy-Eyes Cipher Dragon"
  official/c18963306.lua
Owners: @pyrQ

Small fix "Hyper Burning"
  unofficial/c511002120.lua
Owners: @larry126

"Pandemonium (GOAT)" fix
  goat/c504700165.lua
Owners: @pyrQ

"Pandemonium" fix
  official/c94585852.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200210.lua
Owners: @pyrQ

"CAN-Melo:D" fixes
  rush/c160421010.lua
Owners: @ClementLouis

Small typo from the previous commit and improving a hint message
  rush/c160421010.lua
Owners: @ClementLouis

"Zoodiac Kataroost" fix
  official/c20155904.lua
Owners: @pyrQ

Remove unused maximum proc functions
  proc_maximum.lua
  rush/c160004023.lua
  rush/c160202010.lua
  rush/c160202012.lua
Owners: @pyrQ, @ClementLouis

Added new cards' scripts
  pre-release/c100286005.lua
  pre-release/c100286006.lua
  pre-release/c100286007.lua
  pre-release/c100286008.lua
  pre-release/c100286009.lua
  pre-release/c100286010.lua
  pre-release/c100286011.lua
  pre-release/c100286012.lua
  pre-release/c100286013.lua
  pre-release/c100286014.lua
  pre-release/c100286015.lua
  pre-release/c100286016.lua
Owners: @pyrQ

Add "MR3 Pendulum Summon"
  unofficial/c511027011.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100285005.lua
  pre-release/c100285006.lua
Owners: @pyrQ

Mezame the Oni Commander fix
  rush/c160007015.lua
Owners: @ClementLouis

"Reincarnation of the Seven Emperors" fix
  pre-release/c100286014.lua
Owners: @pyrQ

add compatibility with MR3 duel settings
  unofficial/c511027011.lua
Owners: @larry126

simplify code
  unofficial/c511027011.lua
Owners: @larry126

fix identation and add credits
  unofficial/c511027011.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c101108013.lua
  pre-release/c101108014.lua
  pre-release/c101108039.lua
  pre-release/c101108040.lua
  pre-release/c101108041.lua
  pre-release/c101108060.lua
  pre-release/c101108076.lua
Owners: @pyrQ

Fix "Haunted Zombie"
  pre-release/c101108076.lua
Owners: @pyrQ

fix "Royal Rebel's Hard Rock"
  rush/c160421012.lua
Owners: @ClementLouis

fix "Dolphin Counter"
  rush/c160007058.lua
Owners: @ClementLouis

"Laundry Trap" fix
  official/c79371769.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101108015.lua
  pre-release/c101108016.lua
  pre-release/c101108020.lua
  pre-release/c101108021.lua
  pre-release/c101108042.lua
  pre-release/c101108044.lua
  pre-release/c101108045.lua
  pre-release/c101108061.lua
  pre-release/c101108062.lua
Owners: @pyrQ

Kairyu-Shin - Leviathan
  official/c23931679.lua
Owners: @pyrQ

Update c23931679.lua
  official/c23931679.lua
Owners: @pyrQ

"Symphonic Warrior Deejays" fix
  pre-release/c101108021.lua
Owners: @pyrQ

fix "Symph Amplifire"
  official/c75304793.lua
Owners: @pyrQ

Update cards that prevent player from placing monster that use EFFECT_CANNOT_SPSUMMON (#661)
  goat/c504700158.lua
  official/c23931679.lua
  official/c24207889.lua
  official/c53334471.lua
  official/c75223115.lua
  official/c90846359.lua
Owners: @pyrQ

Spear cretin
  goat/c504700095.lua
  official/c58551308.lua
Owners: @pyrQ

Gravekeeper's Priest, Lashaddoll Incarnation, Valerifawn, Mystical Beast of the Forest
  official/c21663205.lua
  official/c23912837.lua
  official/c24096499.lua
Owners: @pyrQ

Cyber Jar
  official/c34124316.lua
Owners: @pyrQ

Rewrite cyber jar
  official/c34124316.lua
Owners: @pyrQ

Dododo Witch, Subterror Nemesis Archer, Doki Doki, Madolche Puddingcess Chocolat-a-la-Mode
  official/c39432962.lua
  official/c39581190.lua
  official/c42143067.lua
  official/c44311445.lua
Owners: @pyrQ

Typos
  official/c23912837.lua
  official/c39581190.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
