Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Fix "Number S39: Utopia Prime"
  official/c86532744.lua
Owners: @pyrQ

Remove Duel.GetRitualMaterial and Duel.ReleaseRitualMaterial overrides
  proc_ritual.lua
Owners: @pyrQ

Handle EFFECT_EXTRA_RELEASE in the ritual procedure (#1002)
  proc_ritual.lua
Owners: @pyrQ

added Axetion Melody the Music Princess
  rush/c160208020.lua
Owners: @ClementLouis

"Gold Pride - Nytro Blaster" fix
  official/c58884063.lua
Owners: @pyrQ

Fix "Number 7: Lucky Straight"
  official/c82308875.lua
Owners: @pyrQ

Update Wannabe!
  official/c3248469.lua
Owners: @pyrQ

added Rush script (#1026)
  rush/c160208020.lua
Owners: @ClementLouis

Add "Vehicroid Connection Zone (Anime)"
  unofficial/c511003235.lua
Owners: @larry126

added Sansetsukontra the Music Fiend
  rush/c160208024.lua
Owners: @ClementLouis

added Rush script (#1028)
  rush/c160208024.lua
Owners: @ClementLouis

Update c511003235.lua
  unofficial/c511003235.lua
Owners: @larry126

Add temporary unofficial dummy scripts
  unofficial/c419.lua
  unofficial/c421.lua
  unofficial/c422.lua
  unofficial/rankup_functions.lua
Owners: @larry126

"Labrynth Cooclock" fix
  official/c2511.lua
Owners: @pyrQ

fixed Tributing monsters in Maximum Mode
  proc_maximum.lua
Owners: @pyrQ

added Giant Tiger Strike
  rush/c160208037.lua
Owners: @ClementLouis

Fix "Professor of Alchemy"
  skill/c300306006.lua
Owners: @ClementLouis

Update c511001038.lua
  unofficial/c511001038.lua
Owners: @larry126

Unofficial script fixes
  unofficial/c511001038.lua
  unofficial/c511600004.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Unofficial scripts clean-up
  unofficial/c511001162.lua
  unofficial/c511001307.lua
Owners: @larry126

Unofficial scripts update
  unofficial/c511009041.lua
  unofficial/c511009441.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Update "Dark Renewal (Anime)"
  unofficial/c100000073.lua
Owners: @larry126

Add "Unformed Void (Anime)"
  unofficial/c511003236.lua
Owners: @larry126

Update c511003236.lua
  unofficial/c511003236.lua
Owners: @larry126

Update c511003236.lua
  unofficial/c511003236.lua
Owners: @larry126

Fix "Dragon Capture Jar (Anime)"
  unofficial/c511001040.lua
Owners: @larry126

Update Manga Ra and De-Fusion interaction
  unofficial/c511000987.lua
  unofficial/c513000134.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

"Piri Reis Map" fix
  official/c33907039.lua
Owners: @pyrQ

"Magikey Avatar - Astartu" fix
  official/c26988374.lua
Owners: @pyrQ

"Malefic Truth Dragon" fix
  official/c37115575.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100200237.lua
  pre-release/c100295701.lua
  pre-release/c100299006.lua
  pre-release/c100299012.lua
  pre-release/c100299014.lua
  pre-release/c100299016.lua
  pre-release/c100346032.lua
Owners: @pyrQ

Update Manga Ra interaction
  unofficial/c511000987.lua
  unofficial/c513000134.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Add "Unformed Void (Anime)" (#1029)
  unofficial/c511003236.lua
Owners: @larry126

Add "Vehicroid Connection Zone (Anime)" (#1027)
  unofficial/c511003235.lua
Owners: @larry126

Minor script clean-up
  unofficial/c511003235.lua
  unofficial/c511003236.lua
Owners: @larry126

Added new anime scripts
  unofficial/c511600435.lua
  unofficial/c511600437.lua
Owners: @larry126

Remove Anime Photon Delta Wing
  unofficial/c100000240.lua
Owners: @larry126

"Daidaratant the Liquid Giant" fix
  official/c39943352.lua
Owners: @pyrQ

"Sky Striker Ace - Camellia" official release script update
  official/c63013339.lua
Owners: @pyrQ

Added new archetypes' constants
  archetype_setcode_constants.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
