Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Chemistry in Motion" update
  skill/c300305002.lua
Owners: @ClementLouis

normalize file endings
  skill/c300305001.lua
  skill/c300305002.lua
  skill/c300305003.lua
  skill/c300305004.lua
  skill/c300305005.lua
  skill/c300305006.lua
  skill/c300305007.lua
  skill/c300305008.lua
  skill/c300305009.lua
  skill/c300305010.lua
  skill/c300305011.lua
  skill/c300305012.lua
  unofficial/c511027670.lua
  unofficial/c511027673.lua
  unofficial/c511027675.lua
  unofficial/c511027676.lua
  unofficial/c511027677.lua
  unofficial/c511027680.lua
  unofficial/c511027692.lua
Owners: @ClementLouis, @larry126

"Scrapstorm" fix
  official/c48445393.lua
Owners: @pyrQ

"Fragrance Storm" fix
  official/c69584564.lua
Owners: @pyrQ

Update "Supersonic Skull Flame (Anime)" script
  unofficial/c511001202.lua
Owners: @larry126

Script updates
  official/c33964637.lua
  official/c34034150.lua
  official/c34090915.lua
  official/c34302287.lua
  official/c34358408.lua
  official/c34568403.lua
  official/c34974462.lua
  official/c35269904.lua
  official/c35781051.lua
  official/c36239585.lua
  official/c36346532.lua
  official/c36368606.lua
  official/c36429703.lua
  official/c37617348.lua
  official/c37629703.lua
  official/c37649320.lua
  official/c38143903.lua
  official/c38192988.lua
  official/c39078434.lua
  official/c39552584.lua
Owners: @pyrQ

Incorrect card name [ci skip]
  official/c34090915.lua
Owners: @pyrQ

"Tenyi Spirit - Shthana" fix
  official/c24557335.lua
Owners: @pyrQ

Added constants for "Gate Guardian"-related cards
  card_counter_constants.lua
Owners: @pyrQ

Added archetype constants
  archetype_setcode_constants.lua
Owners: @pyrQ

"Elemental HERO Necroid Shaman" fix
  official/c81003500.lua
Owners: @pyrQ

Update new constant names
  archetype_setcode_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

added cards from VS Pack
  proc_maximum.lua
  rush/c160207013.lua
  rush/c160207014.lua
  rush/c160207015.lua
  rush/c160207016.lua
  rush/c160207017.lua
  rush/c160207018.lua
  rush/c160207039.lua
  rush/c160207041.lua
  rush/c160207042.lua
Owners: @pyrQ, @ClementLouis

Update c160207042.lua
  rush/c160207042.lua
Owners: @ClementLouis

Update c160207013.lua
  rush/c160207013.lua
Owners: @ClementLouis

Update Abyss Flash
  rush/c160207042.lua
Owners: @ClementLouis

Update c160207041.lua
  rush/c160207041.lua
Owners: @ClementLouis

Update c160207018.lua
  rush/c160207018.lua
Owners: @ClementLouis

Update c160207016.lua
  rush/c160207016.lua
Owners: @ClementLouis

added Rush scripts (#942)
  proc_maximum.lua
  rush/c160207013.lua
  rush/c160207014.lua
  rush/c160207015.lua
  rush/c160207016.lua
  rush/c160207017.lua
  rush/c160207018.lua
  rush/c160207039.lua
  rush/c160207041.lua
  rush/c160207042.lua
Owners: @pyrQ, @ClementLouis

update "Abyssal Sea Dragon Abyss Kraken [L]"
  rush/c160207016.lua
Owners: @ClementLouis

Added new cards' scripts
  card_counter_constants.lua
  pre-release/c100431001.lua
  pre-release/c100431002.lua
  pre-release/c100431003.lua
  pre-release/c100431004.lua
  pre-release/c100431005.lua
  pre-release/c100431006.lua
  pre-release/c100431007.lua
  pre-release/c100431008.lua
  pre-release/c100431009.lua
  pre-release/c100431010.lua
Owners: @pyrQ

"Prey of the Jirai Gumo" fix
  pre-release/c100431010.lua
Owners: @pyrQ

"Prey of the Jirai Gumo" fix
  pre-release/c100431010.lua
Owners: @pyrQ

Script updates
  official/c40428851.lua
  official/c40522482.lua
  official/c40939228.lua
  official/c43513897.lua
  official/c43940008.lua
  official/c44026393.lua
  official/c44161893.lua
  official/c44553392.lua
  official/c44686185.lua
  official/c44760562.lua
  official/c45154513.lua
  official/c45675980.lua
  official/c46261704.lua
  official/c46497537.lua
  official/c47404795.lua
  official/c47910940.lua
  official/c48183890.lua
  official/c48214588.lua
  official/c48348921.lua
  official/c48605591.lua
Owners: @pyrQ

Added CheckUniqueOnField to filters, use filters in the equip operation check
  unofficial/c511001117.lua
  unofficial/c511001123.lua
  unofficial/c511001124.lua
  unofficial/c511001146.lua
Owners: @larry126

Fix Anime Cyberdarks (#940)
  unofficial/c511001117.lua
  unofficial/c511001123.lua
  unofficial/c511001124.lua
  unofficial/c511001146.lua
Owners: @larry126

Update "Synchro Chase"
  official/c23442438.lua
Owners: @pyrQ

fix operator
  official/c23442438.lua
Owners: @pyrQ

Update "Ancient Warriors Saga - Defense of Changban"
  official/c4810585.lua
Owners: @pyrQ

"Synchro Chase" fix
  official/c23442438.lua
Owners: @pyrQ

"Shooting Majestic Star Dragon" fix
  official/c40939228.lua
Owners: @pyrQ

"Abyssal Dragon Lord Abyss Poseidra [L]" fix
  rush/c160207013.lua
Owners: @ClementLouis

"Card.IsNotMaximumModeSide" function small fix
  proc_maximum.lua
Owners: @pyrQ

added Goddess of Whimsy
  rush/c160206011.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160206011.lua
Owners: @ClementLouis

Update "Goddess of Whimsy"
  rush/c160206011.lua
Owners: @ClementLouis

Script updates
  official/c49161188.lua
  official/c49296203.lua
  official/c49568943.lua
  official/c50237654.lua
  official/c50696588.lua
  official/c50907446.lua
  official/c51316684.lua
  official/c51409648.lua
  official/c51522296.lua
  official/c51686645.lua
  official/c52038272.lua
  official/c52083044.lua
  official/c52155219.lua
  official/c52340444.lua
  official/c52575195.lua
  official/c52709508.lua
  official/c52945066.lua
  official/c53143898.lua
  official/c53184342.lua
  official/c53754104.lua
Owners: @pyrQ

"Lady Labrynth of the Silver Castle" fix
  official/c81497285.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100430007.lua
Owners: @pyrQ
