Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update and rename pre-release/c100426037.lua to official/c19712214.lua
  official/c19712214.lua
Owners: @pyrQ

Add files via upload
  pre-release/c100000287.lua
Owners: @pyrQ

Delete c100000287.lua
  pre-release/c100000287.lua
Owners: @pyrQ

Add files via upload
  unofficial/c100000287.lua
Owners: @larry126

"Duelist Pack: Duelists of the Abyss" + "Yorishiro of the Aqua" official release script updates (#678)
  official/c19712214.lua
  official/c20934852.lua
  official/c21057444.lua
  official/c22819092.lua
  official/c23153227.lua
  official/c23931679.lua
  official/c34876719.lua
  official/c57329501.lua
  official/c57511992.lua
  official/c57541158.lua
  official/c58203736.lua
  official/c60158866.lua
  official/c61374414.lua
  official/c61496006.lua
  official/c69436288.lua
  official/c83723605.lua
  official/c84546257.lua
  official/c95602345.lua
  official/c95824983.lua
  official/c96546575.lua
  official/c97769122.lua
  official/c98881700.lua
  unofficial/c100000287.lua
Owners: @pyrQ, @larry126

added new script
  rush/c160421012.lua
  rush/c160421014.lua
Owners: @ClementLouis

"Kairyu-Shin of the Reef" fix
  official/c95602345.lua
Owners: @pyrQ

Royal Demon's Hard Rock fix
  rush/c160421012.lua
Owners: @ClementLouis

Small fixes "Mega Monarch" series
  official/c15545291.lua
  official/c23689697.lua
  official/c69230391.lua
  official/c69327790.lua
  official/c87288189.lua
  official/c87602890.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100286004.lua
  pre-release/c100286020.lua
Owners: @pyrQ

Update "Armored Xyz"
  unofficial/c511000187.lua
Owners: @larry126

"Number 47: Nightmare Shark" fix
  official/c31320433.lua
Owners: @pyrQ

"Peacelia" fix
  official/c49776811.lua
Owners: @pyrQ

Removed unused code
  official/c49776811.lua
Owners: @pyrQ

Buildream the Infinidream Mythic Sword Dragon fix
  rush/c160421014.lua
Owners: @ClementLouis

Saikyo Gold rush fix
  rush/c160421008.lua
Owners: @ClementLouis

"Setuppercut" fix
  official/c19590644.lua
Owners: @pyrQ

Add Storm Access and variant Skills
  unofficial/c152000016.lua
  unofficial/c152000017.lua
  unofficial/c152000018.lua
Owners: @larry126

Small fix "Missile Knight"
  unofficial/c511009727.lua
Owners: @larry126

Small fix "Astrograph Sorcerer"
  official/c76794549.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100343021.lua
Owners: @pyrQ

added new script
  rush/c160421010.lua
  rush/c160421018.lua
Owners: @ClementLouis

CAN-Melo:D fix
  rush/c160421010.lua
Owners: @ClementLouis

Small fix "Clear Wing Fast Dragon (Manga)"
  unofficial/c511009095.lua
Owners: @larry126

Fix "Burst Breath"
  official/c80163754.lua
Owners: @pyrQ

"Bahalutiya, the Grand Radiance" fix
  official/c53318263.lua
Owners: @pyrQ

"Majesty Hyperion" fix
  official/c91434602.lua
Owners: @pyrQ

Update "Impact Flip"
  unofficial/c511000495.lua
Owners: @larry126

Fix "Sorrowful Chain"
  unofficial/c100000099.lua
Owners: @larry126

Various fixes
  official/c15848542.lua
  official/c50855622.lua
  official/c88962829.lua
Owners: @pyrQ

added new scripts
  rush/c160421033.lua
  rush/c160422001.lua
  rush/c160422002.lua
  rush/c160422003.lua
Owners: @ClementLouis

Great Multistrike Dragon Dragias Burst fix
  rush/c160422002.lua
Owners: @ClementLouis

"Mirrorjade the Iceblade Dragon" fix
  pre-release/c100343041.lua
Owners: @pyrQ

Update and rename pre-release/c100343001.lua to official/c19096726.lua
  official/c19096726.lua
Owners: @pyrQ

Rename pre-release/c100343002.lua to official/c45484331.lua
  official/c45484331.lua
Owners: @pyrQ

Update and rename pre-release/c100343003.lua to official/c82489470.lua
  official/c82489470.lua
Owners: @pyrQ

Update and rename pre-release/c100343020.lua to official/c18973184.lua
  official/c18973184.lua
Owners: @pyrQ

Rename pre-release/c100343021.lua to official/c44362883.lua
  official/c44362883.lua
Owners: @pyrQ

Update and rename pre-release/c100343031.lua to official/c81767888.lua
  official/c81767888.lua
Owners: @pyrQ

Update and rename pre-release/c100343032.lua to official/c17751597.lua
  official/c17751597.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
