Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"T.G. Metal Skeleton" fix
  official/c66733743.lua
Owners: @pyrQ

Updated "Penguin Brave"
  official/c91397409.lua
Owners: @pyrQ

Clean-up of scripts Replaced the instances of Rice Suship's passcode with a new constant; no impact on gameplay.
  constant.lua
  official/c24393683.lua
  official/c61027400.lua
  official/c62200831.lua
  official/c75215744.lua
  pre-release/c101106022.lua
  pre-release/c101106023.lua
  pre-release/c101106048.lua
  pre-release/c101106049.lua
Owners: @pyrQ

Update "Kragen Spawn (Anime)"
  unofficial/c511001337.lua
Owners: @larry126

"Meteonis Drytron" fix
  official/c22398665.lua
Owners: @pyrQ

added new scripts
  rush/c160006015.lua
  rush/c160006017.lua
  rush/c160006025.lua
  rush/c160006033.lua
  rush/c160006040.lua
  rush/c160006041.lua
  rush/c160006060.lua
Owners: @ClementLouis

"JAM:P Set!" fixes
  rush/c160006041.lua
Owners: @ClementLouis

Updated "Metagias the Steelstriking Dragon"
  rush/c160006017.lua
Owners: @ClementLouis

Updated "Metagias the Steelstriking Dragon"
  rush/c160006017.lua
Owners: @ClementLouis

fix
  rush/c160006017.lua
Owners: @ClementLouis

Reverted regression
  rush/c160006017.lua
Owners: @ClementLouis

Update c160006060.lua
  rush/c160006060.lua
Owners: @ClementLouis

"Fist of Fate" fix
  official/c79868386.lua
Owners: @pyrQ

"Tellus the Little Angel" update
  official/c19280589.lua
Owners: @pyrQ

"Thunderforce Attack" fix
  official/c42469671.lua
Owners: @pyrQ

Thunderbold fix
  rush/c160006015.lua
Owners: @ClementLouis

Flower Fang Comeback & counteroffensive dragonstrike fix
  rush/c160005058.lua
  rush/c160302014.lua
Owners: @ClementLouis

Added back missing function
  proc_maximum.lua
Owners: @pyrQ

Update c160006060.lua
  rush/c160006060.lua
Owners: @ClementLouis

"Altergeist Kunquery" fix
  official/c52927340.lua
Owners: @pyrQ

"Metalfoes Vanisher" fix
  official/c56518311.lua
Owners: @pyrQ

Deadly duel and thunderbold fix
  rush/c160006015.lua
  rush/c160006060.lua
Owners: @ClementLouis

added new scripts
  rush/c160006014.lua
  rush/c160412001.lua
  rush/c160412002.lua
  rush/c160412003.lua
  rush/c160412004.lua
  rush/c160412005.lua
  rush/c160413001.lua
Owners: @ClementLouis

"Astral Kuriboh" official release script update
  official/c64591429.lua
Owners: @pyrQ

add new script
  rush/c160006030.lua
Owners: @ClementLouis

"Prohibition" fix
  official/c43711255.lua
Owners: @pyrQ

"Number 99: Utopia Dragner" update
  pre-release/c100342051.lua
Owners: @pyrQ

Update check in Rainbow Overdragon, Thunder Dragon Colossus and Cyberdark End Dragon
  official/c15291624.lua
  official/c37440988.lua
  official/c37542782.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100342001.lua
Owners: @pyrQ

"Numeron Gate" fixes
  official/c15232745.lua
  official/c4019153.lua
  official/c42230449.lua
  official/c78625448.lua
Owners: @pyrQ

Fixes for effects that activate and change a card's Type or Attribute in the GY
  official/c18214905.lua
  official/c19036557.lua
  official/c45064756.lua
  official/c45702014.lua
  official/c46425662.lua
  official/c70856343.lua
  official/c72819261.lua
  official/c83032858.lua
  official/c9069157.lua
Owners: @pyrQ

"Rebirth Judgment" update
  official/c45064756.lua
Owners: @pyrQ

"Duck Dummy" fix
  official/c43803845.lua
Owners: @pyrQ

Added new constants for the 3 "Poker Knight" cards
  constant.lua
Owners: @pyrQ

Fix dark calling not treating the summoned monsters as being properly special summoned
  proc_fusion_spell.lua
Owners: @pyrQ

Minor cleanup to Dimension Fusion Destruction
  official/c89190953.lua
Owners: @pyrQ

Remove unused constants
  constant.lua
Owners: @pyrQ

Leather-Life Dragon fix
  rush/c160004016.lua
Owners: @ClementLouis

Rolling never Die fix
  rush/c160203046.lua
Owners: @ClementLouis

Piercing and Greater Piercing fix
  rush/c160001037.lua
  rush/c160201012.lua
Owners: @ClementLouis
