Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

fix "Blackwing - Silverwind the Ascendant"
  official/c33236860.lua
Owners: @pyrQ

Fix "Branded Expulsion"
  official/c1041278.lua
Owners: @pyrQ

Update "Branded Expulsion"
  official/c1041278.lua
Owners: @pyrQ

Small fix "Mimesis Elephant"
  official/c10632284.lua
Owners: @pyrQ

Remove pyro clock handling from Card of Demise (Anime)
  unofficial/c511001149.lua
Owners: @larry126

"Topologina Gatsbee" fix
  unofficial/c511030051.lua
Owners: @larry126

added Rush Equip cards
  proc_maximum.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160011043.lua
  rush/c160011050.lua
  rush/c160011059.lua
Owners: @pyrQ, @ClementLouis

Update "Doom-Tune - GT19"
  official/c16769305.lua
Owners: @pyrQ

Added new Rush cards' scripts
  proc_maximum.lua
  rush/c160011041.lua
  rush/c160011042.lua
  rush/c160011043.lua
  rush/c160011050.lua
  rush/c160011059.lua
Owners: @pyrQ, @ClementLouis

Added new cards' scripts
  pre-release/c100429003.lua
  pre-release/c100429018.lua
Owners: @pyrQ

Update "Number C65: King Overfiend (Anime)"
  unofficial/c511010165.lua
Owners: @larry126

added scripts for alt arts
  rush/c160318006.lua
  rush/c160424001.lua
  rush/c160424002.lua
  rush/c160431003.lua
  rush/c160431004.lua
  rush/c160431005.lua
  rush/c160431006.lua
Owners: @ClementLouis

Update "Triamid Pulse"
  official/c96100333.lua
Owners: @pyrQ

Add new utility functions
  proc_workaround.lua
Owners: @pyrQ

update c21208154.lua
  official/c21208154.lua
Owners: @pyrQ

Update "Endymion, the Master Magician"
  official/c40732515.lua
Owners: @pyrQ

Fix "Windwitch - Diamond Bell"
  official/c73667937.lua
Owners: @pyrQ

Fix "Frightfur Sabre-Tooth"
  official/c80889750.lua
Owners: @pyrQ

Fix 2 cards which remembered their original materials (#763)
  official/c73667937.lua
  official/c80889750.lua
Owners: @pyrQ

Fix "Level Cannon"
  unofficial/c511000099.lua
Owners: @larry126

Fix "Monster Register"
  unofficial/c511001236.lua
Owners: @larry126

Fix
  unofficial/c511002435.lua
Owners: @larry126

Fix "Greed Quasar (Manga)"
  unofficial/c511009013.lua
Owners: @larry126

Fix "Eva Epsilon"
  unofficial/c511009012.lua
Owners: @larry126

Added scripts for alternate artwork Rush cards
  rush/c160318006.lua
  rush/c160424001.lua
  rush/c160424002.lua
  rush/c160431003.lua
  rush/c160431004.lua
  rush/c160431005.lua
  rush/c160431006.lua
Owners: @ClementLouis

"D/D/D Deviser King Deus Machinex" small fix
  official/c46593546.lua
Owners: @pyrQ

add utility function
  official/c1845204.lua
  utility.lua
Owners: @pyrQ

update utility function from previous commit
  utility.lua
Owners: @pyrQ

Update "Number F0: Utopic Future (Amine)"
  unofficial/c511000192.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100429032.lua
  pre-release/c101111001.lua
  pre-release/c101111002.lua
  pre-release/c101111003.lua
  pre-release/c101111043.lua
  pre-release/c101111044.lua
  pre-release/c101111051.lua
  pre-release/c101111052.lua
  pre-release/c101111071.lua
Owners: @pyrQ

update "Number F0: Utopic Future (Anime)"
  unofficial/c511000192.lua
Owners: @larry126

Update Demise/Oblivion-related cards
  official/c32828635.lua
  official/c69217334.lua
  official/c8198712.lua
  official/c95612049.lua
Owners: @pyrQ

Update auxiliary functions
  utility.lua
Owners: @pyrQ

Fix "Coordius the Triphasic Dealmon"
  official/c70219023.lua
Owners: @pyrQ

Update "Harpie's Feather Storm"
  official/c87639778.lua
Owners: @pyrQ

Fix Utopic Future
  unofficial/c511000192.lua
Owners: @larry126

added new Rush cards
  rush/c160432001.lua
  rush/c160432002.lua
  rush/c160432003.lua
Owners: @ClementLouis

Fix "Monster Register"
  unofficial/c511001236.lua
Owners: @larry126

Small fix "Greed Quasar (manga)"
  unofficial/c511009013.lua
Owners: @larry126

minor string fix
  official/c33964637.lua
  pre-release/c100429028.lua
Owners: @pyrQ
