Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

"The Dark Magicians" fix
  official/c50237654.lua
Owners: @pyrQ

Script updates
  official/c53971455.lua
  official/c54320860.lua
  official/c55990317.lua
  official/c56246017.lua
  official/c56704140.lua
  official/c56727340.lua
  official/c57736667.lua
  official/c58054262.lua
  official/c58415502.lua
  official/c58421530.lua
  official/c58844135.lua
  official/c59120809.lua
  official/c59392529.lua
  official/c59839761.lua
  official/c60023855.lua
  official/c60242223.lua
  official/c60306277.lua
Owners: @pyrQ

Update "Number 44: Sky Pegasus"
  official/c80764541.lua
Owners: @pyrQ

Fix for cards that apply a restriction during the the turn they are Summoned via their own procedure (e.g. "Lava Golem")
  official/c102380.lua
  official/c17469113.lua
  official/c79850798.lua
  official/c95291684.lua
  official/c95637655.lua
Owners: @pyrQ

"Exodius the Ultimate Forbidden Lord" fix
  official/c13893596.lua
Owners: @pyrQ

Script updates
  official/c60442460.lua
  official/c60530944.lua
  official/c60551528.lua
  official/c60619435.lua
  official/c60953118.lua
  official/c60954556.lua
  official/c60990740.lua
  official/c61175706.lua
  official/c61264008.lua
  official/c61397885.lua
  official/c61529473.lua
  official/c61818176.lua
  official/c62892347.lua
  official/c63251695.lua
  official/c63274863.lua
  official/c63626024.lua
  official/c63845230.lua
Owners: @pyrQ

Fix Spell/Trap monsters
  unofficial/c511001555.lua
  unofficial/c511001775.lua
  unofficial/c511002810.lua
Owners: @larry126

"Ninjitsu Art of Mirage-Transformation" fix
  official/c63626024.lua
Owners: @pyrQ

Forgot a ")"
  official/c63626024.lua
Owners: @pyrQ

"Live☆Twin Channel" fix
  official/c35487920.lua
Owners: @pyrQ

Added new archetype's constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100430016.lua
  pre-release/c100430017.lua
  pre-release/c100430018.lua
  pre-release/c100430019.lua
  pre-release/c100430020.lua
  pre-release/c100430021.lua
  pre-release/c100430022.lua
  pre-release/c100430024.lua
  pre-release/c100430025.lua
  pre-release/c100430026.lua
  pre-release/c100430027.lua
Owners: @pyrQ

"Vanquish Soul - Dr. Madlove" fix
  pre-release/c100430019.lua
Owners: @pyrQ

"Vanquish Soul - Dr. Madlove" fix
  pre-release/c100430019.lua
Owners: @pyrQ

Script updates
  official/c65801012.lua
  official/c66309175.lua
  official/c66699781.lua
  official/c66733743.lua
  official/c67288539.lua
  official/c67526112.lua
  official/c67922702.lua
  official/c68024506.lua
  official/c68184115.lua
  official/c68246154.lua
  official/c68957925.lua
  official/c69120785.lua
  official/c69529337.lua
  official/c69540484.lua
  official/c69831560.lua
  official/c69973414.lua
  official/c70180284.lua
  official/c70389815.lua
Owners: @pyrQ

"Vanquish Soul - Dr. Madlove" fix
  pre-release/c100430019.lua
Owners: @pyrQ

"Vanquish Soul - Kaiser Varius" fix
  pre-release/c100430021.lua
Owners: @pyrQ

"Vanquish Soul - Heavy Borger" fix
  pre-release/c100430018.lua
Owners: @pyrQ

Script updates
  official/c70458081.lua
  official/c70473293.lua
  official/c71207871.lua
  official/c71791814.lua
Owners: @pyrQ

Fix syntax
  official/c71791814.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200234.lua
Owners: @pyrQ

"Magical Musketeer Max" fix
  official/c71791814.lua
Owners: @pyrQ

Script updates
  official/c72330894.lua
  official/c72386290.lua
  official/c72656408.lua
  official/c72860663.lua
  official/c72930878.lua
  official/c73082255.lua
  official/c73104892.lua
  official/c73206827.lua
  official/c73478096.lua
  official/c73542331.lua
Owners: @pyrQ

"Traptrix Pudica" fix
  official/c49027020.lua
Owners: @pyrQ

Update "Red Supernova Dragon"
  official/c99585850.lua
Owners: @pyrQ

"Demotion" fix
  official/c72575145.lua
Owners: @pyrQ

Script updates
  official/c70825459.lua
  official/c73551138.lua
  official/c73616671.lua
  official/c73632127.lua
  official/c74018812.lua
  official/c74393852.lua
  official/c74414885.lua
  official/c74920585.lua
  official/c75147529.lua
  official/c76136345.lua
  official/c77153811.lua
  official/c77202120.lua
  official/c78836195.lua
  official/c79387392.lua
  official/c80101899.lua
  official/c80254726.lua
  official/c80893872.lua
  official/c81038234.lua
  official/c81146288.lua
Owners: @pyrQ

Fix syntax
  official/c75147529.lua
Owners: @pyrQ

"Prologue of the Destruction Swordsman" fix
  official/c33280639.lua
Owners: @pyrQ

"Fallen of Albaz" fix
  official/c68468459.lua
Owners: @pyrQ

Added new archetype constant
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card constant
  card_counter_constants.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100430036.lua
  pre-release/c101201007.lua
  pre-release/c101201008.lua
  pre-release/c101201013.lua
  pre-release/c101201014.lua
  pre-release/c101201040.lua
  pre-release/c101201046.lua
  pre-release/c101201048.lua
  pre-release/c101201053.lua
  pre-release/c101201056.lua
  pre-release/c101201057.lua
  pre-release/c101201063.lua
  pre-release/c101201072.lua
Owners: @pyrQ

added Mollusk Dragon Oumugailus
  rush/c160207037.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160207037.lua
Owners: @ClementLouis

Script updates
  official/c81172176.lua
  official/c83319610.lua
  official/c83334932.lua
  official/c83670388.lua
  official/c83723605.lua
  official/c83755611.lua
  official/c84430165.lua
  official/c84677654.lua
  official/c85551711.lua
  official/c85747929.lua
  official/c85800949.lua
  official/c86066372.lua
  official/c86379342.lua
  official/c86547356.lua
  official/c86605515.lua
  official/c87639778.lua
  official/c87988305.lua
  official/c88301393.lua
  official/c88332693.lua
  official/c88926295.lua
  official/c89789152.lua
  official/c90587641.lua
  official/c91027843.lua
  official/c91479482.lua
Owners: @pyrQ

Updated 2 scripts
  official/c27182739.lua
  official/c38459905.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101201017.lua
  pre-release/c101201018.lua
  pre-release/c101201043.lua
Owners: @pyrQ

Update "Elementsaber Lapauila Mana"
  official/c71797713.lua
Owners: @pyrQ

Fix to Pyro Clock of Destiny (#918)
  official/c1082946.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
