Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update for "Down Force"
  unofficial/c511000885.lua
Owners: @larry126

Fix "Saros Eresh Kurnugias"
  pre-release/c101103050.lua
Owners: @NaimSantos, @pyrQ

update Saros Eresh Kurnugias
  pre-release/c101103050.lua
Owners: @NaimSantos, @pyrQ

Fix doubled parameter name in Ritual.Target (#459)
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Remove unneded line from polymerization
  official/c27847700.lua
Owners: @NaimSantos, @pyrQ

Fix for "Legendary Knight Critias"
  unofficial/c170000203.lua
Owners: @larry126

Update c170000203.lua
  unofficial/c170000203.lua
Owners: @larry126

added new script
  rush/c160202021.lua
  rush/c160202022.lua
  rush/c160202023.lua
  rush/c160202024.lua
  rush/c160202033.lua
  rush/c160202034.lua
  rush/c160202035.lua
Owners: @ClementLouis

Washing Musketeer Washooter update
  rush/c160202023.lua
Owners: @ClementLouis

Add Card.AnnounceAnotherAttribute
  official/c40410110.lua
  proc_workaround.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Washing Musketeer Washooter fix
  rush/c160202023.lua
Owners: @ClementLouis

Fix for "Montage Dragon"
  official/c23303072.lua
Owners: @NaimSantos, @pyrQ

Fix for "Legendary Knight Critias (Anime)" (#462)
  unofficial/c170000203.lua
Owners: @larry126

Update for "Down Force" (#461)
  unofficial/c511000885.lua
Owners: @larry126

Fix for "Montage Dragon" (#463)
  official/c23303072.lua
Owners: @NaimSantos, @pyrQ

Fix "Darkness"
  unofficial/c511310100.lua
Owners: @larry126

Updated "Dragunity Arma Gram"
  official/c53184342.lua
Owners: @NaimSantos, @pyrQ

update "Xyz Import"
  official/c14602126.lua
Owners: @NaimSantos, @pyrQ

update "Xyz Import"
  official/c14602126.lua
Owners: @NaimSantos, @pyrQ

Update "Machine Citadel"
  official/c87074380.lua
Owners: @NaimSantos, @pyrQ

Add "Toy Parade"
  unofficial/c511003210.lua
Owners: @larry126

Updated "Virtual World Gate - Zhuangwoo"
  official/c18249921.lua
Owners: @NaimSantos, @pyrQ

Updated "Spriggun" cards Was using the beta IDs for "Vast Desert Gold Golgonda" in their scripts.
  official/c20424878.lua
  official/c23499963.lua
Owners: @NaimSantos, @pyrQ

Updated "Security Force Showdown"
  official/c69761020.lua
Owners: @NaimSantos, @pyrQ

Update security force archetype for auxiliary function
  cards_specific_functions.lua
Owners: @NaimSantos, @pyrQ

Fix for "Number 61: Volcasaurus (Anime)" (#460)
  unofficial/c511002088.lua
Owners: @larry126

Fix for "The Phantom Knights' Round Blaze"
  unofficial/c511009328.lua
Owners: @larry126

Anime "Flower Cardian" script updates
  unofficial/c511001694.lua
  unofficial/c511001696.lua
  unofficial/c511001697.lua
  unofficial/c511001699.lua
  unofficial/c511001700.lua
  unofficial/c511001724.lua
  unofficial/c511002775.lua
Owners: @larry126

"Malefic Divide" OCG/TCG/VG/Anime clean-up
  official/c81384993.lua
  unofficial/c100000093.lua
  unofficial/c513000098.lua
Owners: @NaimSantos, @pyrQ, @larry126

Fix for "The Phantom Knights' Round Blaze" (#465)
  unofficial/c511009328.lua
Owners: @larry126

Typo in Saros Eresh Kurnugias
  official/c98127546.lua
Owners: @NaimSantos, @pyrQ

Fix Dream Mirror Dreamtelling
  official/c81038234.lua
Owners: @NaimSantos, @pyrQ

Update summon gate check for clock lizard
  official/c51476410.lua
  unofficial/c511600204.lua
Owners: @NaimSantos, @pyrQ, @larry126

fix "Shadow of the Six Samurai - Shien"
  official/c1828513.lua
Owners: @NaimSantos, @pyrQ

Add "Falling Current (Anime)"
  unofficial/c511027094.lua
Owners: @larry126

fix "Security Force Justify"
  official/c35334193.lua
Owners: @NaimSantos, @pyrQ

Updated "Xyz Import"
  official/c14602126.lua
Owners: @NaimSantos, @pyrQ

update "Red-Eyes Dark Dragoon"
  official/c37818794.lua
Owners: @NaimSantos, @pyrQ

update "Xyz Import"
  official/c14602126.lua
Owners: @NaimSantos, @pyrQ
