Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

fixed Piping Hot Delivery & First Cat Search
  rush/c160022045.lua
  rush/c160022046.lua
Owners: @ClementLouis

Update the Link Summoning procedure to support checking for an additional summoning condition
  official/c10019086.lua
  proc_link.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101302004.lua
  pre-release/c101302005.lua
  pre-release/c101302018.lua
  pre-release/c101302019.lua
  pre-release/c101302023.lua
  pre-release/c101302039.lua
  pre-release/c101302040.lua
  pre-release/c101302051.lua
  pre-release/c101302055.lua
  pre-release/c101302064.lua
  pre-release/c101302068.lua
  pre-release/c101302077.lua
Owners: @pyrQ

added new rush cards
  rush/c160022039.lua
  rush/c160022056.lua
Owners: @ClementLouis

"Doom-Z Break Diactorus" fix
  pre-release/c101302046.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101302024.lua
  pre-release/c101302067.lua
Owners: @pyrQ

Updated "Cost.Discard" and some cards to use it
  official/c35595518.lua
  pre-release/c100201001.lua
  utility.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101302025.lua
  pre-release/c101302047.lua
Owners: @pyrQ

added OuTerverSe Toxic Blob
  rush/c160022028.lua
Owners: @ClementLouis

fixed OuTerverSe Detonation Fusion
  rush/c160022058.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c101302026.lua
  pre-release/c101302078.lua
Owners: @pyrQ

Fixed cards that allow themselves or another card to deal double battle damage when battling an opponent's monster
  official/c16178681.lua
  official/c21225115.lua
  official/c25919316.lua
  official/c35884610.lua
  official/c42632209.lua
  official/c66393507.lua
  official/c81524756.lua
  official/c8529136.lua
  official/c96733134.lua
Owners: @pyrQ

Fix "Number 102: Star SeraphSentry (Anime)"
  unofficial/c511002870.lua
Owners: @larry126

Update c511002870.lua
  unofficial/c511002870.lua
Owners: @larry126

fixed Jeweled Tusk Ritual
  rush/c160022056.lua
Owners: @ClementLouis

added new rush cards
  rush/c160022011.lua
  rush/c160022061.lua
Owners: @ClementLouis

Script updates
  official/c54719828.lua
  official/c94096018.lua
Owners: @pyrQ

Script updates
  official/c73244186.lua
  official/c77384395.lua
  official/c82128978.lua
  official/c82184400.lua
  official/c84366728.lua
  official/c8794055.lua
Owners: @pyrQ

Update "Kasha (Manga)"
  unofficial/c511002371.lua
Owners: @larry126

added new rush cards
  rush/c160022023.lua
  rush/c160022054.lua
Owners: @ClementLouis

"Doom-Z Break Diactorus" fix
  pre-release/c101302046.lua
Owners: @pyrQ

Update Anime "Aesir" scripts
  unofficial/c511000247.lua
  unofficial/c511000260.lua
  unofficial/c511000264.lua
Owners: @larry126

Update c511000264.lua
  unofficial/c511000264.lua
Owners: @larry126

Added new card scripts
  pre-release/c100444101.lua
  pre-release/c100444102.lua
  pre-release/c101302027.lua
  pre-release/c101302028.lua
  pre-release/c101302029.lua
  pre-release/c101302031.lua
  pre-release/c101302048.lua
  pre-release/c101302052.lua
  pre-release/c101302072.lua
  pre-release/c101302080.lua
Owners: @pyrQ

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

"Miasma Necromancer" fix
  pre-release/c101302052.lua
Owners: @pyrQ

"Odd-Eyes Rebellion Dragon (Anime)" fix
  unofficial/c511001791.lua
Owners: @larry126

Update "Solidroid" monsters
  unofficial/c511002244.lua
  unofficial/c511002245.lua
  unofficial/c511002246.lua
Owners: @larry126

"Yummy" Synchro Monster fixes
  official/c31603289.lua
  official/c67098897.lua
  official/c93192592.lua
Owners: @pyrQ

added Commanding Ritzy King Rex
  rush/c160022010.lua
Owners: @ClementLouis

Update "Clay Wrap"
  unofficial/c511000998.lua
Owners: @larry126

Update c511000998.lua
  unofficial/c511000998.lua
Owners: @larry126

Update "Cyclone Boomerang (Anime)"
  unofficial/c511023008.lua
Owners: @larry126

Scripts for "Battle City Finals" Skills
  skill/c300309001.lua
  skill/c300309002.lua
  skill/c300309003.lua
  skill/c300309004.lua
  skill/c300309005.lua
  skill/c300309006.lua
  skill/c300309007.lua
  skill/c300309008.lua
  skill/c300309009.lua
  skill/c300309010.lua
  skill/c300309011.lua
  skill/c300309012.lua
  skill/c300309013.lua
  skill/c300309014.lua
  skill/c300309015.lua
  skill/c300309016.lua
  skill/c300309017.lua
  skill/c300309018.lua
  skill/c300309019.lua
  skill/c300309020.lua
Owners: @ClementLouis

Updated more Link Monsters with special Summoning conditions
  official/c1482001.lua
  official/c2815176.lua
  official/c39752820.lua
  official/c76821171.lua
Owners: @pyrQ

added new rush cards
  rush/c160022063.lua
  rush/c160022065.lua
Owners: @ClementLouis

Update c420.lua
  unofficial/c420.lua
Owners: @larry126

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
