Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

"Ilios the Black Sun Dragon" official release script update
  official/c19438484.lua
Owners: @pyrQ

"Tri-Brigade Springans Kitt" fix
  official/c19304410.lua
Owners: @pyrQ

updated Solcier the Skysavior Lightflash
  rush/c160012038.lua
Owners: @ClementLouis

update chain.lua
  chain.lua
Owners: @pyrQ

update Cost.Choice and Cost.DetachFromSelf
  utility.lua
Owners: @pyrQ

update some cards to use chain data
  official/c14532163.lua
  official/c17151328.lua
  official/c17209452.lua
  official/c20415050.lua
  official/c21147203.lua
  official/c30271097.lua
  official/c30291086.lua
  official/c33008376.lua
  official/c34568783.lua
  official/c35697544.lua
  official/c40380686.lua
  official/c40847034.lua
  official/c41069676.lua
  official/c44190146.lua
  official/c47172959.lua
  official/c53008933.lua
  official/c58995660.lua
  official/c70088809.lua
  official/c73664385.lua
  official/c84271823.lua
  official/c88021907.lua
  official/c92269002.lua
  official/c92936364.lua
  pre-release/c100455026.lua
  pre-release/c101305051.lua
Owners: @pyrQ

update cards that use Cost.Choice
  official/c40390147.lua
  official/c45935145.lua
  official/c78114463.lua
  official/c84417082.lua
  official/c85692042.lua
  pre-release/c100455026.lua
  unofficial/c511001339.lua
Owners: @pyrQ, @larry126

Added new card scripts
  pre-release/c100455047.lua
  pre-release/c100455048.lua
  pre-release/c100455050.lua
  pre-release/c100455051.lua
  pre-release/c100455053.lua
Owners: @pyrQ

added new rush cards
  rush/c160025050.lua
  rush/c160025061.lua
  rush/c160025068.lua
Owners: @ClementLouis

Update "Clear Wing Fast Dragon (Manga)"
  unofficial/c511009095.lua
Owners: @larry126

Update "Intervention of Fate"
  unofficial/c511000600.lua
Owners: @larry126

Update "Clay Wrap"
  unofficial/c511000998.lua
Owners: @larry126

added new rush cards
  rush/c160025030.lua
  rush/c160025031.lua
  rush/c160025032.lua
  rush/c160025045.lua
  rush/c160025056.lua
  rush/c160025057.lua
  rush/c160025069.lua
Owners: @ClementLouis

Update "Photon Hurricane"
  unofficial/c511001829.lua
Owners: @larry126

Update c511001829.lua
  unofficial/c511001829.lua
Owners: @larry126

Update "Banish Reactor"
  unofficial/c511001825.lua
Owners: @larry126

Update c511001825.lua
  unofficial/c511001825.lua
Owners: @larry126

Update "Forced Change"
  unofficial/c511001740.lua
Owners: @larry126

Update "Seven Kid Goats"
  unofficial/c511000438.lua
Owners: @larry126

Update "Blue Flame Swordsman (Anime)
  unofficial/c511756000.lua
Owners: @larry126

Update "Blue Flame Swordsman (Anime)"
  unofficial/c511756000.lua
Owners: @larry126

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100200290.lua
  pre-release/c100457002.lua
  pre-release/c100457003.lua
  pre-release/c101402001.lua
  pre-release/c101402002.lua
  pre-release/c101402003.lua
  pre-release/c101402004.lua
  pre-release/c101402036.lua
  pre-release/c101402052.lua
  pre-release/c101402053.lua
  pre-release/c101402054.lua
  pre-release/c101402070.lua
  pre-release/c101402071.lua
  pre-release/c101402136.lua
Owners: @pyrQ

added Planet Survey
  rush/c160025059.lua
Owners: @ClementLouis

"Mind Shuffle" fix
  pre-release/c101305065.lua
Owners: @pyrQ

Update "Number 52: Diamond Crab King (Manga)"
  unofficial/c511002058.lua
Owners: @larry126

"Red-Eyes Black Dragon Exceed" update
  pre-release/c101402036.lua
Owners: @pyrQ

"Destiny HERO - Dreadmaster" script updates
  official/c40591390.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101402021.lua
  pre-release/c101402022.lua
  pre-release/c101402023.lua
  pre-release/c101402037.lua
  pre-release/c101402062.lua
Owners: @pyrQ

Update "Pheromone Wasp"
  unofficial/c511000889.lua
Owners: @larry126

Update "Pixie Gong"
  unofficial/c511002496.lua
Owners: @larry126

Update "Cyber Petit Angel (Anime)"
  unofficial/c511001521.lua
Owners: @larry126

Update "Extinction Fist"
  unofficial/c511001005.lua
Owners: @larry126

Update "Command Angel (Anime)"
  unofficial/c511000653.lua
Owners: @larry126

"Swift Panther Warrior" fix
  pre-release/c101402001.lua
Owners: @pyrQ

"Lord British Space Fighter" update
  official/c35514096.lua
Owners: @pyrQ

Script updates
  official/c17132130.lua
  official/c35514096.lua
  official/c63356631.lua
  pre-release/c101402001.lua
  pre-release/c101402021.lua
  pre-release/c101402036.lua
Owners: @pyrQ

Update "Gluttonous Reptolphin Greethys"
  official/c8576764.lua
Owners: @pyrQ

Added new card script
  pre-release/c100296302.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100200292.lua
  pre-release/c100200293.lua
  pre-release/c100200294.lua
Owners: @pyrQ
