Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Fix unofficial cards
  unofficial/c511000837.lua
  unofficial/c511002727.lua
Owners: @larry126

Update c511000837.lua
  unofficial/c511000837.lua
Owners: @larry126

Update c511002727.lua
  unofficial/c511002727.lua
Owners: @larry126

added Deity of Seven Treasures - Heitai
  rush/c160017042.lua
Owners: @ClementLouis

Updated old Spells/Traps that mention "Union monster" in their text
  official/c12524259.lua
  official/c21723081.lua
  official/c26931058.lua
  official/c39778366.lua
  official/c46181000.lua
  official/c66399653.lua
  official/c72083436.lua
  official/c8964854.lua
  official/c91597389.lua
  official/c95471006.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100437019.lua
  pre-release/c100437020.lua
  pre-release/c100437021.lua
  pre-release/c100437022.lua
  pre-release/c100437023.lua
  pre-release/c100437024.lua
  pre-release/c100437037.lua
Owners: @pyrQ

"Clear Vice Dragon" + "Clear World" script updates & added new constants
  card_counter_constants.lua
  constant.lua
  official/c33900648.lua
  official/c97811903.lua
Owners: @pyrQ

"Clear World" update
  official/c33900648.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100305006.lua
  pre-release/c100305007.lua
  pre-release/c100305008.lua
  pre-release/c100305009.lua
  pre-release/c100305010.lua
Owners: @pyrQ

fixed Cybersepice Queen Cinnamon
  rush/c160017046.lua
Owners: @ClementLouis

added scripts for new alt arts
  rush/c160017118.lua
  rush/c160017145.lua
  rush/c160017152.lua
  rush/c160017163.lua
  rush/c160017164.lua
Owners: @ClementLouis

update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

updates
  official/c11335209.lua
  official/c16227633.lua
  official/c17943271.lua
  official/c2333466.lua
  official/c26984177.lua
  official/c27157727.lua
  official/c32270212.lua
  official/c38505587.lua
  official/c39321065.lua
  official/c43215738.lua
  official/c47330808.lua
  official/c53008933.lua
  official/c5786513.lua
  official/c65726770.lua
  official/c74725513.lua
  official/c78679226.lua
  official/c79600447.lua
  official/c81945676.lua
  official/c84941194.lua
  official/c92110878.lua
  official/c99307040.lua
Owners: @pyrQ

Dark Magician the Ebon Sorcerer and Dark Magic Mirror Force
  pre-release/c101205006.lua
  pre-release/c101205069.lua
Owners: @pyrQ

Card constants update (#1136)
  card_counter_constants.lua
  official/c11335209.lua
  official/c16227633.lua
  official/c17943271.lua
  official/c2333466.lua
  official/c26984177.lua
  official/c27157727.lua
  official/c32270212.lua
  official/c38505587.lua
  official/c39321065.lua
  official/c43215738.lua
  official/c47330808.lua
  official/c53008933.lua
  official/c5786513.lua
  official/c65726770.lua
  official/c74725513.lua
  official/c78679226.lua
  official/c79600447.lua
  official/c81945676.lua
  official/c84941194.lua
  official/c92110878.lua
  official/c99307040.lua
  pre-release/c101205006.lua
  pre-release/c101205069.lua
Owners: @pyrQ

"Numeron Wall" update
  official/c42352091.lua
Owners: @pyrQ

Add files via upload
  pre-release/c100200254.lua
  pre-release/c100305006.lua
  pre-release/c100305007.lua
  pre-release/c100305008.lua
  pre-release/c100305009.lua
  pre-release/c100305010.lua
  pre-release/c100305061.lua
  pre-release/c100305062.lua
  pre-release/c100305063.lua
  pre-release/c100305064.lua
  pre-release/c100436300.lua
  pre-release/c100437001.lua
  pre-release/c100437002.lua
  pre-release/c100437003.lua
  pre-release/c100437004.lua
  pre-release/c100437005.lua
  pre-release/c100437007.lua
  pre-release/c100437019.lua
  pre-release/c100437020.lua
  pre-release/c100437021.lua
  pre-release/c100437022.lua
  pre-release/c100437023.lua
  pre-release/c100437024.lua
  pre-release/c100437037.lua
  pre-release/c100437051.lua
  pre-release/c100437052.lua
  pre-release/c100437053.lua
  pre-release/c100437054.lua
  pre-release/c100437055.lua
  pre-release/c100437056.lua
Owners: @pyrQ

"Millennium Cross" constant official ID
  card_counter_constants.lua
Owners: @pyrQ

Update "Clear World (VG)"
  unofficial/c511000306.lua
Owners: @larry126

Update c511000306.lua
  unofficial/c511000306.lua
Owners: @larry126

Update c511000306.lua
  unofficial/c511000306.lua
Owners: @larry126

various anime setcode update
  unofficial/c420.lua
  unofficial/c511001229.lua
  unofficial/c511001401.lua
Owners: @larry126

error fix
  unofficial/c420.lua
Owners: @larry126

fix
  unofficial/c420.lua
Owners: @larry126

another fix
  unofficial/c420.lua
Owners: @larry126

Allure Queen LV3
  official/c87257460.lua
Owners: @pyrQ

Allure Queen LV5
  official/c23756165.lua
Owners: @pyrQ

Allure Queen LV7
  card_counter_constants.lua
  official/c50140163.lua
  official/c87257460.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Update constant.lua
  constant.lua
Owners: @pyrQ

"Allure Queen" monsters fixes
  official/c23756165.lua
  official/c50140163.lua
  official/c87257460.lua
Owners: @pyrQ

"Allure Queen" monsters script updates
  constant.lua
  official/c23756165.lua
  official/c50140163.lua
  official/c87257460.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100305002.lua
  pre-release/c100305003.lua
  pre-release/c100305004.lua
  pre-release/c100305027.lua
  pre-release/c100305028.lua
  pre-release/c100305029.lua
Owners: @pyrQ

"Gusto Vedir" fix
  official/c86277379.lua
Owners: @pyrQ

added Copycat
  proc_rush.lua
  rush/c160402040.lua
Owners: @pyrQ, @ClementLouis

Add "Damage Polarizer (Anime)"
  unofficial/c511003243.lua
Owners: @larry126

Update c511003243.lua
  unofficial/c511003243.lua
Owners: @larry126

"Ogdoadic Daybreak" fix
  official/c78789356.lua
Owners: @pyrQ

"Scareclaw Tri-Heart" fix
  official/c59120809.lua
Owners: @pyrQ

Add "Damage Polarizer (Anime)" (#1139)
  unofficial/c511003243.lua
Owners: @larry126
