Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Added new constants for "Darkwing Blast"
  card_counter_constants.lua
Owners: @pyrQ

Hell Gift update
  unofficial/c511002736.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100290022.lua
  pre-release/c100290023.lua
  pre-release/c100290024.lua
  pre-release/c100290025.lua
  pre-release/c100290026.lua
  pre-release/c100290027.lua
  pre-release/c100290028.lua
  pre-release/c100290029.lua
  pre-release/c100290030.lua
  pre-release/c100290035.lua
  pre-release/c100290036.lua
  pre-release/c100290037.lua
  pre-release/c100344017.lua
  pre-release/c100344032.lua
  pre-release/c100344033.lua
  pre-release/c100428023.lua
Owners: @pyrQ

Bug Signal fix
  official/c47185546.lua
Owners: @pyrQ

"Bug Signal" fix
  official/c47185546.lua
Owners: @pyrQ

Keldo the Possessed Statue fix
  pre-release/c100428021.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c101110001.lua
  pre-release/c101110002.lua
  pre-release/c101110003.lua
  pre-release/c101110004.lua
  pre-release/c101110005.lua
  pre-release/c101110042.lua
  pre-release/c101110043.lua
  pre-release/c101110052.lua
  pre-release/c101110071.lua
  pre-release/c101110072.lua
Owners: @pyrQ

Servant of Endymion update
  official/c92559258.lua
Owners: @pyrQ

Update c92559258.lua
  official/c92559258.lua
Owners: @pyrQ

Blackwing - Vata the Knave fix
  pre-release/c101110001.lua
Owners: @pyrQ

Black-Winged Assault Dragon fix
  pre-release/c101110042.lua
Owners: @pyrQ

"Servant of Endymion" update
  official/c92559258.lua
Owners: @pyrQ

Imptailing Crisis fix
  rush/c160428098.lua
Owners: @ClementLouis

D/D/D Deviser King Deus Machinex fix
  official/c46593546.lua
Owners: @pyrQ

Update c46593546.lua
  official/c46593546.lua
Owners: @pyrQ

Tag-Up-Magic Sacrifice Force fix
  rush/c160008049.lua
Owners: @ClementLouis

Added new card's script
  pre-release/c100428002.lua
Owners: @pyrQ

Rename pre-release/c101108000.lua to official/c16312943.lua
  official/c16312943.lua
Owners: @pyrQ

Rename pre-release/c101108081.lua to official/c54656181.lua
  official/c54656181.lua
Owners: @pyrQ

Update and rename pre-release/c101108082.lua to official/c80040886.lua
  official/c80040886.lua
Owners: @pyrQ

Rename pre-release/c101108083.lua to official/c26435595.lua
  official/c26435595.lua
Owners: @pyrQ

Rename pre-release/c101108084.lua to official/c53923690.lua
  official/c53923690.lua
Owners: @pyrQ

Rename pre-release/c101108085.lua to official/c89328238.lua
  official/c89328238.lua
Owners: @pyrQ

Rename pre-release/c101108086.lua to official/c52707042.lua
  official/c52707042.lua
Owners: @pyrQ

Rename pre-release/c101108087.lua to official/c88106656.lua
  official/c88106656.lua
Owners: @pyrQ

Update and rename pre-release/c101108088.lua to official/c15590355.lua
  official/c15590355.lua
Owners: @pyrQ

Update and rename pre-release/c101108089.lua to official/c41085464.lua
  official/c41085464.lua
Owners: @pyrQ

Update and rename pre-release/c101108090.lua to official/c88083109.lua
  official/c88083109.lua
Owners: @pyrQ

Rename pre-release/c101108091.lua to official/c14478717.lua
  official/c14478717.lua
Owners: @pyrQ

"Dimension Force" official TCG release script updates
  official/c14478717.lua
  official/c15590355.lua
  official/c16312943.lua
  official/c26435595.lua
  official/c41085464.lua
  official/c52707042.lua
  official/c53923690.lua
  official/c54656181.lua
  official/c80040886.lua
  official/c88083109.lua
  official/c88106656.lua
  official/c89328238.lua
Owners: @pyrQ

"aux.RegisterClientHint" update
  utility.lua
Owners: @pyrQ

"Qardan the Great Sage" update
  pre-release/c100200218.lua
Owners: @pyrQ

"Duelist Pack: Duelists of Pyroxene" + "Qardan the Great Sage" official release script updates
  official/c1876841.lua
  official/c23965033.lua
  official/c24087580.lua
  official/c25209168.lua
  official/c25926710.lua
  official/c36148308.lua
  official/c37260946.lua
  official/c38082437.lua
  official/c50486289.lua
  official/c51208877.lua
  official/c59353647.lua
  official/c62320425.lua
  official/c63265554.lua
  official/c63542003.lua
  official/c64487132.lua
  official/c86605515.lua
  official/c86758746.lua
  official/c90659259.lua
  official/c97692972.lua
  official/c97870394.lua
  official/c98715423.lua
  official/c99937011.lua
Owners: @pyrQ

"The Arrival Cyberse @Ignister" update
  official/c11738489.lua
Owners: @pyrQ

Update "Digital Bug Registrider"
  official/c19301729.lua
Owners: @pyrQ

Update c19301729.lua
  official/c19301729.lua
Owners: @pyrQ

Added new Rush cards' scripts
  rush/c160010101.lua
  rush/c160010102.lua
  rush/c160402016.lua
  rush/c160428001.lua
  rush/c160428002.lua
  rush/c160428003.lua
  rush/c160428027.lua
  rush/c160428029.lua
  rush/c160428054.lua
  rush/c160428071.lua
  rush/c160428074.lua
  rush/c160428084.lua
  rush/c160428091.lua
  rush/c160428093.lua
  rush/c160428099.lua
  rush/c160428100.lua
Owners: @ClementLouis

Wrong file name
  rush/c160428089.lua
Owners: @ClementLouis

"U.A. Libero Spiker" update
  official/c11637481.lua
Owners: @pyrQ

Rush fixes
  rush/c160010101.lua
  rush/c160428029.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
