Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

added Gold Rush
  rush/c160208059.lua
Owners: @ClementLouis

"Vampiric Aristocracy" fix
  skill/c300306003.lua
Owners: @ClementLouis

Fix "Red Supernova Dragon"
  official/c99585850.lua
Owners: @pyrQ

Update "S-Force" cards (#1033)
  card_counter_constants.lua
  cards_specific_functions.lua
  constant.lua
  official/c20515672.lua
  official/c21368442.lua
  official/c22180094.lua
  official/c27383719.lua
  official/c35334193.lua
  official/c53782828.lua
  official/c55049722.lua
  official/c58363151.lua
  official/c58589739.lua
  official/c65479980.lua
  official/c69761020.lua
  official/c91864689.lua
  official/c95974848.lua
Owners: @pyrQ

Add EFFECT_MULTIPLE_TUNERS constant
  constant.lua
Owners: @pyrQ

Replace magic number with new constant
  official/c13455674.lua
  official/c16172067.lua
  official/c24696097.lua
  official/c25165047.lua
  official/c52352005.lua
  official/c62242678.lua
  official/c67030233.lua
  official/c7841112.lua
  official/c93157004.lua
  official/c97489701.lua
  official/c99585850.lua
  unofficial/c511000558.lua
  unofficial/c511001603.lua
  unofficial/c511009049.lua
  unofficial/c511009588.lua
  unofficial/c513000013.lua
Owners: @pyrQ, @larry126

Update "Red-Nova"
  official/c21142671.lua
Owners: @pyrQ

Fix parameter name
  cards_specific_functions.lua
Owners: @pyrQ

Update "S-Force Chase"
  official/c55049722.lua
Owners: @pyrQ

added Abysslayer Leviaknight
  rush/c160014023.lua
Owners: @ClementLouis

fixed Tubardiche the Music Princess
  rush/c160208025.lua
Owners: @ClementLouis

Modernize scripts
  official/c13455674.lua
  official/c16172067.lua
  official/c24696097.lua
  official/c25165047.lua
  official/c52352005.lua
Owners: @pyrQ

king calamity
  official/c52352005.lua
  official/c62242678.lua
Owners: @pyrQ

Majestic Red Dragon
  official/c67030233.lua
Owners: @pyrQ

Unofficial script fixes
  unofficial/c511000087.lua
  unofficial/c511001897.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Update official scripts
  unofficial/c511001200.lua
  unofficial/c511007022.lua
Owners: @larry126

Delete pre-release directory
  pre-release/c100200237.lua
  pre-release/c100295701.lua
  pre-release/c100346002.lua
  pre-release/c100346025.lua
  pre-release/c100346026.lua
  pre-release/c100346032.lua
  pre-release/c100346033.lua
  pre-release/c100346101.lua
  pre-release/c100346102.lua
  pre-release/c100346103.lua
  pre-release/c101202001.lua
  pre-release/c101202002.lua
  pre-release/c101202004.lua
  pre-release/c101202005.lua
  pre-release/c101202011.lua
  pre-release/c101202012.lua
  pre-release/c101202013.lua
  pre-release/c101202014.lua
  pre-release/c101202015.lua
  pre-release/c101202016.lua
  pre-release/c101202018.lua
  pre-release/c101202019.lua
  pre-release/c101202030.lua
  pre-release/c101202037.lua
  pre-release/c101202038.lua
  pre-release/c101202044.lua
  pre-release/c101202047.lua
  pre-release/c101202048.lua
  pre-release/c101202052.lua
  pre-release/c101202053.lua
  pre-release/c101202058.lua
  pre-release/c101202062.lua
  pre-release/c101202063.lua
  pre-release/c101202064.lua
  pre-release/c101202068.lua
  pre-release/c101202069.lua
  pre-release/c101202072.lua
  pre-release/c101202073.lua
  pre-release/c101202076.lua
  pre-release/c101202078.lua
Owners: @pyrQ

Add files via upload
  official/c24662957.lua
  official/c25784595.lua
  official/c33099732.lua
  official/c50056656.lua
  official/c51779204.lua
  official/c62991792.lua
  official/c87451661.lua
  official/c98173209.lua
  official/c98396890.lua
  pre-release/c100295701.lua
  pre-release/c101202001.lua
  pre-release/c101202002.lua
  pre-release/c101202004.lua
  pre-release/c101202005.lua
  pre-release/c101202011.lua
  pre-release/c101202012.lua
  pre-release/c101202013.lua
  pre-release/c101202014.lua
  pre-release/c101202015.lua
  pre-release/c101202016.lua
  pre-release/c101202018.lua
  pre-release/c101202019.lua
  pre-release/c101202030.lua
  pre-release/c101202037.lua
  pre-release/c101202038.lua
  pre-release/c101202044.lua
  pre-release/c101202047.lua
  pre-release/c101202048.lua
  pre-release/c101202052.lua
  pre-release/c101202053.lua
  pre-release/c101202058.lua
  pre-release/c101202062.lua
  pre-release/c101202063.lua
  pre-release/c101202064.lua
  pre-release/c101202068.lua
  pre-release/c101202069.lua
  pre-release/c101202072.lua
  pre-release/c101202073.lua
  pre-release/c101202076.lua
  pre-release/c101202078.lua
Owners: @pyrQ

"Structure Deck: Pulse of the King" + "Over Future Fusion" official release script updates
  official/c24662957.lua
  official/c25784595.lua
  official/c33099732.lua
  official/c50056656.lua
  official/c51779204.lua
  official/c62991792.lua
  official/c87451661.lua
  official/c98173209.lua
  official/c98396890.lua
Owners: @pyrQ

last bacth with official cards
  official/c7841112.lua
  official/c93157004.lua
  official/c97489701.lua
Owners: @pyrQ

Update "Wattuna"
  pre-release/c101202015.lua
Owners: @pyrQ

"Supreme Celestial King Odd-Eyes Arc-Ray Dragon" fix
  pre-release/c101202030.lua
Owners: @pyrQ

Update "Number C39: Utopia Ray"
  official/c56840427.lua
Owners: @pyrQ

Fix "Number F0: Utopic Future Dragon"
  official/c26973555.lua
Owners: @pyrQ

Fix Xyz Rescue
  unofficial/c511001874.lua
Owners: @larry126

Update "Xyz Rescue" handling
  official/c26973555.lua
  official/c56840427.lua
  unofficial/c511001874.lua
Owners: @pyrQ, @larry126

"Small World" fix
  official/c89558743.lua
Owners: @pyrQ

"Dark Ruler No More" fix
  official/c54693926.lua
Owners: @pyrQ

Fusion procedure fix
  proc_fusion_spell.lua
Owners: @pyrQ

added Legend Strike
  rush/c160014057.lua
Owners: @ClementLouis

Fix Plus Minus attack negation
  unofficial/c170000122.lua
  unofficial/c170000123.lua
  unofficial/proc_unofficial.lua
Owners: @larry126

Added new card's script
  pre-release/c101202033.lua
Owners: @pyrQ

"Purrelyeap!?" fix
  official/c82983267.lua
Owners: @pyrQ

added new rush cards
  rush/c160014008.lua
  rush/c160014043.lua
  rush/c160014058.lua
Owners: @ClementLouis

"Nightmell the Dark Bonder" fix
  official/c66569334.lua
Owners: @pyrQ

"Swordsoul Sinister Sovereign - Qixing Longyuan" fix
  official/c47710198.lua
Owners: @pyrQ

"Red-Eyes Alternative Black Dragon" fix
  official/c18491580.lua
Owners: @pyrQ

"Dark Dust Spirit" fix
  official/c89111398.lua
Owners: @pyrQ

fixes
  official/c27015862.lua
  official/c34481518.lua
  official/c41443249.lua
  official/c43227.lua
  official/c53174748.lua
  official/c55349196.lua
  official/c61292243.lua
  official/c81743801.lua
  official/c84281045.lua
  official/c85407683.lua
  official/c91286284.lua
Owners: @pyrQ

fixes
  official/c19322865.lua
  official/c33872334.lua
  official/c57134592.lua
  official/c58996839.lua
  official/c72323266.lua
  official/c84138874.lua
  official/c84384943.lua
  official/c87451661.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
