Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Add files via upload
  pre-release/c100313001.lua
  pre-release/c100313002.lua
  pre-release/c100313003.lua
  pre-release/c100313025.lua
  pre-release/c100313026.lua
  pre-release/c100313034.lua
  pre-release/c100313051.lua
  pre-release/c100313052.lua
  pre-release/c100429001.lua
  pre-release/c100429002.lua
  pre-release/c100429004.lua
  pre-release/c100429005.lua
  pre-release/c100429006.lua
  pre-release/c100429007.lua
  pre-release/c100429008.lua
  pre-release/c100429009.lua
  pre-release/c100429010.lua
  pre-release/c100429011.lua
  pre-release/c100429012.lua
Owners: @pyrQ

Add files via upload
  official/c10632284.lua
  official/c11765832.lua
  official/c45792753.lua
  official/c46037983.lua
  official/c46815301.lua
  official/c47759571.lua
  official/c72309040.lua
  official/c73244186.lua
  official/c73421698.lua
  official/c84366728.lua
  official/c8794055.lua
  official/c9416697.lua
Owners: @pyrQ

"Power of the Elements" official TCG release script updates
  official/c10632284.lua
  official/c11765832.lua
  official/c45792753.lua
  official/c46037983.lua
  official/c46815301.lua
  official/c47759571.lua
  official/c72309040.lua
  official/c73244186.lua
  official/c73421698.lua
  official/c84366728.lua
  official/c8794055.lua
  official/c9416697.lua
Owners: @pyrQ

Added new Rush card's script
  rush/c160317029.lua
Owners: @ClementLouis

Update "Elemental Hero Magma Neos (Anime)"
  unofficial/c511023006.lua
Owners: @larry126

Update "Exorsister Mikailis"
  official/c42741437.lua
Owners: @pyrQ

fix Void Veil
  rush/c160317029.lua
Owners: @ClementLouis

Fix Void Veil (#758)
  rush/c160317029.lua
Owners: @ClementLouis

Fix "Orichalcos Mirror"
  unofficial/c170000173.lua
Owners: @larry126

Delete pre-release directory
  pre-release/c100313001.lua
  pre-release/c100313002.lua
  pre-release/c100313003.lua
  pre-release/c100313025.lua
  pre-release/c100313026.lua
  pre-release/c100313034.lua
  pre-release/c100313051.lua
  pre-release/c100313052.lua
  pre-release/c100429001.lua
  pre-release/c100429002.lua
  pre-release/c100429004.lua
  pre-release/c100429005.lua
  pre-release/c100429006.lua
  pre-release/c100429007.lua
  pre-release/c100429008.lua
  pre-release/c100429009.lua
  pre-release/c100429010.lua
  pre-release/c100429011.lua
  pre-release/c100429012.lua
Owners: @pyrQ

Add files via upload
  official/c30284022.lua
  official/c3167439.lua
  official/c3289027.lua
  official/c39552584.lua
  official/c41406613.lua
  official/c65956182.lua
  official/c76672730.lua
  official/c77895328.lua
  pre-release/c100429001.lua
  pre-release/c100429002.lua
  pre-release/c100429004.lua
  pre-release/c100429005.lua
  pre-release/c100429006.lua
  pre-release/c100429007.lua
  pre-release/c100429008.lua
  pre-release/c100429009.lua
  pre-release/c100429010.lua
  pre-release/c100429011.lua
  pre-release/c100429012.lua
Owners: @pyrQ

"Structure Deck R: Devil's Gate" official release script updates
  official/c30284022.lua
  official/c3167439.lua
  official/c3289027.lua
  official/c39552584.lua
  official/c41406613.lua
  official/c65956182.lua
  official/c76672730.lua
  official/c77895328.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200221.lua
Owners: @pyrQ

Update c511023006.lua
  unofficial/c511023006.lua
Owners: @larry126

Small fix "Tesseract Hydradrive Monarch"
  unofficial/c511106014.lua
Owners: @larry126

Rush fixes
  rush/c160010044.lua
  rush/c160402018.lua
Owners: @ClementLouis

Add Debug.AddMaximumCard
  proc_maximum.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100429013.lua
  pre-release/c100429014.lua
  pre-release/c100429015.lua
  pre-release/c100429016.lua
  pre-release/c100429017.lua
  pre-release/c100429019.lua
  pre-release/c100429020.lua
  pre-release/c100429021.lua
  pre-release/c100429022.lua
  pre-release/c100429023.lua
  pre-release/c100429024.lua
  utility.lua
Owners: @pyrQ

"aux.DefaultFieldReturnOp" fix
  utility.lua
Owners: @pyrQ

Fix "Epurery Happiness"
  pre-release/c100429014.lua
Owners: @pyrQ

"Purery, My Friend" fix
  pre-release/c100429020.lua
Owners: @pyrQ

Fix "Orichalcos Deuteros"
  unofficial/c110000100.lua
Owners: @larry126

Fix "Expurery Happiness"
  pre-release/c100429017.lua
Owners: @pyrQ

"Purery Pretty Memory" fix
  pre-release/c100429022.lua
Owners: @pyrQ

"Epurery Beauty" small fix
  pre-release/c100429015.lua
Owners: @pyrQ

fix "Stray Purery Street"
  pre-release/c100429019.lua
Owners: @pyrQ

Fixes (#752)
  official/c26988374.lua
  official/c30284022.lua
  official/c58415502.lua
  official/c68304193.lua
  official/c7459919.lua
  official/c81497285.lua
Owners: @pyrQ

Update c68957925.lua
  official/c68957925.lua
Owners: @pyrQ

Link Party Fix (#733)
  official/c68957925.lua
Owners: @pyrQ

fixed Yamiruler
  rush/c160001029.lua
  rush/c160421004.lua
Owners: @ClementLouis

fixed Yamiruler the Dark Delayer (#760)
  rush/c160001029.lua
  rush/c160421004.lua
Owners: @ClementLouis

Fix Ido the Supreme Magical Force
  official/c35984222.lua
Owners: @pyrQ

Update "Tearlaments" monsters
  official/c37961969.lua
  official/c572850.lua
  official/c74078255.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100429025.lua
  pre-release/c100429026.lua
  pre-release/c100429027.lua
  pre-release/c100429028.lua
  pre-release/c100429029.lua
  pre-release/c100429030.lua
  pre-release/c100429031.lua
  pre-release/c100429033.lua
  pre-release/c100429034.lua
  pre-release/c100429035.lua
  pre-release/c100429036.lua
Owners: @pyrQ

Fix wrong sumtype checking in Fusion.ConditionMix and Fusion.OperationMix
  proc_fusion.lua
Owners: @pyrQ

Update proc_fusion.lua
  proc_fusion.lua
Owners: @pyrQ

Update Auxiliary.IsArchetypeCodeListed
  utility.lua
Owners: @pyrQ

"Miracle Contact" + "Favorite Contact" update
  official/c35255456.lua
  official/c75047173.lua
Owners: @pyrQ

Small fix "Ice Barrier"
  official/c34293667.lua
Owners: @pyrQ

fix "Blackwing - Silverwind the Ascendant"
  official/c33236860.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
