Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Rename PlayFieldSpell to ActivateFieldSpell
  deprecated_functions.lua
  official/c1050355.lua
  official/c11881272.lua
  official/c15248873.lua
  official/c19089195.lua
  official/c22900598.lua
  official/c26684111.lua
  official/c27693363.lua
  official/c32036866.lua
  official/c32912040.lua
  official/c37931734.lua
  official/c42352091.lua
  official/c48934760.lua
  official/c56773577.lua
  official/c61818176.lua
  official/c66570171.lua
  official/c69529337.lua
  official/c72332074.lua
  official/c74665651.lua
  official/c7496001.lua
  official/c75223115.lua
  official/c89208725.lua
  official/c95923441.lua
  official/c97970833.lua
  skill/c300102003.lua
  skill/c300104002.lua
  unofficial/c100000330.lua
  unofficial/c100000331.lua
  unofficial/c100000332.lua
  unofficial/c100000333.lua
  unofficial/c152000007.lua
  unofficial/c152000013.lua
  unofficial/c511002978.lua
  unofficial/c511369002.lua
  utility.lua
Owners: @pyrQ, @ClementLouis, @larry126

Rename IsCardTypeListed to HasListedCardType
  deprecated_functions.lua
  official/c72305034.lua
  utility.lua
Owners: @pyrQ

Rename HasListedSetCode to HasListedArchetype
  deprecated_functions.lua
  utility.lua
Owners: @pyrQ

Rename IsArchetypeCodeListed to HasListedCodeWithArchetype
  deprecated_functions.lua
  official/c13256226.lua
  official/c4008212.lua
  utility.lua
Owners: @pyrQ

Rename IsMaterialListSetCard to HasListedArchetypeAsMaterial
  deprecated_functions.lua
  official/c18597560.lua
  official/c20932152.lua
  official/c25148255.lua
  official/c25614410.lua
  official/c52947044.lua
  official/c55704856.lua
  official/c6172122.lua
  official/c75047173.lua
  utility.lua
Owners: @pyrQ

Rename IsMaterialListCode to HasListedCodeAsMaterial
  deprecated_functions.lua
  official/c10065487.lua
  official/c1041278.lua
  official/c10584050.lua
  official/c11913700.lua
  official/c14088859.lua
  official/c15155568.lua
  official/c17751597.lua
  official/c1784686.lua
  official/c1801154.lua
  official/c19096726.lua
  official/c21723081.lua
  official/c35255456.lua
  official/c41933425.lua
  official/c41940225.lua
  official/c42015635.lua
  official/c44146295.lua
  official/c44362883.lua
  official/c45484331.lua
  official/c48285768.lua
  official/c58415502.lua
  official/c67159705.lua
  official/c70485614.lua
  official/c71143015.lua
  official/c73239437.lua
  official/c82489470.lua
  official/c83199011.lua
  official/c92773018.lua
  pre-errata/c511003055.lua
  unofficial/c511600380.lua
  utility.lua
Owners: @pyrQ, @larry126

Fix spacing
  deprecated_functions.lua
Owners: @pyrQ

Use Card.IsSpell and Card.IsMonster
  official/c15464375.lua
  official/c3428069.lua
  official/c39109382.lua
  official/c41721210.lua
  official/c62411042.lua
  official/c79724755.lua
  official/c80275707.lua
  pre-errata/c511003054.lua
  unofficial/c511001418.lua
  unofficial/c513000089.lua
Owners: @pyrQ, @larry126

Replace functions related to counters
  deprecated_functions.lua
  official/c1487805.lua
  official/c74752631.lua
  utility.lua
Owners: @pyrQ

Use Card.IsSpell and Card.IsTrap
  goat/c504700042.lua
  goat/c504700087.lua
  official/c18809562.lua
  official/c21623008.lua
  official/c23672629.lua
  official/c24140059.lua
  official/c25733157.lua
  official/c25955749.lua
  official/c26495087.lua
  official/c32723153.lua
  official/c33776734.lua
  official/c34694160.lua
  official/c37649320.lua
  official/c39761138.lua
  official/c40933924.lua
  official/c46271408.lua
  official/c51227866.lua
  official/c52340444.lua
  official/c59344077.lua
  official/c60912752.lua
  official/c61307542.lua
  official/c63166095.lua
  official/c63288573.lua
  official/c65301952.lua
  official/c90673288.lua
  official/c97616504.lua
  official/c98338152.lua
  official/c98827725.lua
  official/c99550630.lua
  official/c99590524.lua
  proc_maximum.lua
  skill/c300303010.lua
  unofficial/c511000234.lua
  unofficial/c511000770.lua
  unofficial/c511001976.lua
  unofficial/c511004014.lua
  unofficial/c513000053.lua
  unofficial/c513000120.lua
Owners: @pyrQ, @ClementLouis, @larry126

More replacements
  official/c15939229.lua
  official/c16956455.lua
  official/c17045014.lua
  official/c17760003.lua
  official/c17810268.lua
  official/c1781310.lua
Owners: @pyrQ

Target new delta repo
  .github/workflows/check-scripts.yml
  .github/workflows/commit-delta-puppet-repo.yml
Owners: @kevinlul

fix pushing to delta with no new scripts
  .github/workflows/commit-delta-puppet-repo.yml
Owners: @kevinlul

update "Qli" functions and cards that use them
  cards_specific_functions.lua
  deprecated_functions.lua
  official/c13073850.lua
  official/c27279764.lua
  official/c37991342.lua
  official/c40061558.lua
  official/c64496451.lua
  official/c87588741.lua
  official/c90885155.lua
  official/c91907707.lua
Owners: @pyrQ

Add beta archetype's constant
  archetype_setcode_constants.lua
Owners: @pyrQ

"Aquamirror Focalization" update
  pre-release/c101111067.lua
Owners: @pyrQ

Pre-release script updates
  deprecated_functions.lua
  pre-release/c101111001.lua
  pre-release/c101111002.lua
  pre-release/c101111003.lua
  pre-release/c101111018.lua
  pre-release/c101111032.lua
  pre-release/c101111039.lua
  pre-release/c101111044.lua
  pre-release/c101111051.lua
  pre-release/c101111052.lua
  pre-release/c101111066.lua
  pre-release/c101111067.lua
  pre-release/c101111071.lua
Owners: @pyrQ

Rename unofficial/Fix "Infernity Zero (anime)" to c513000124.lua
  c513000124.lua
Owners: @pyrQ

added Seraph of Darkness
  rush/c160011030.lua
Owners: @ClementLouis

Update "Void Ogre Dragon (Manga)"
  unofficial/c511002200.lua
Owners: @larry126

Update deprecated_alias and deleted_function
  deprecated_functions.lua
Owners: @pyrQ

Don't attempt to declare function aliases if the load function is not available
  deprecated_functions.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100293096.lua
  pre-release/c100293099.lua
  pre-release/c101111006.lua
  pre-release/c101111007.lua
  pre-release/c101111008.lua
  pre-release/c101111019.lua
  pre-release/c101111020.lua
  pre-release/c101111046.lua
  pre-release/c101111047.lua
  pre-release/c101111057.lua
  pre-release/c101111058.lua
  pre-release/c101111059.lua
  pre-release/c101111060.lua
  pre-release/c101111061.lua
  pre-release/c101111068.lua
  pre-release/c101111074.lua
  pre-release/c101111075.lua
Owners: @pyrQ

"Stardust Dragon" small update
  official/c44508094.lua
Owners: @pyrQ

"Tearlaments Kshatri-La" update
  pre-release/c101111008.lua
Owners: @pyrQ

"Laevateinn, Generaider Boss of Shadows" fix
  pre-release/c101111047.lua
Owners: @pyrQ

"Wicked Shadow Dark Lurker" fix
  rush/c160002030.lua
Owners: @ClementLouis

Fix Unleash Your Power!
  official/c73567374.lua
Owners: @pyrQ

Add HINTMSG_ATTACH
  constant.lua
Owners: @pyrQ

Add files via upload
  unofficial/c511027665.lua
  unofficial/c511027667.lua
Owners: @larry126

Bug fixes
  official/c39303359.lua
  unofficial/c511001673.lua
Owners: @pyrQ, @larry126

Update "Dimer Synthesis"
  official/c90965652.lua
Owners: @pyrQ

added Descent of the Sweeping Spirit
  rush/c160011057.lua
Owners: @ClementLouis

Dark Valkyria: it was missing a parameter when evaluating the ATK Chemicritter Oxy Ox: it was calling an undeclared variable Evolsaur Diplo: prevent script error if it didn't target a card
  official/c17045014.lua
  official/c18993198.lua
  official/c83269557.lua
Owners: @pyrQ

fix "Catalyst Field"
  official/c65959844.lua
Owners: @pyrQ

"Shock Troops of the Ice Barrier" fix
  official/c38528901.lua
Owners: @pyrQ

Update "Ancient Gear Engineer"
  official/c17045014.lua
  official/c1953925.lua
  official/c38528901.lua
  official/c44508094.lua
  unofficial/c511002200.lua
Owners: @pyrQ, @larry126

Added new Rush card's script
  rush/c160011030.lua
Owners: @ClementLouis

Added new Rush card's script
  rush/c160011057.lua
Owners: @ClementLouis

Update "Seraph of Darkness"
  rush/c160011030.lua
Owners: @ClementLouis
