Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Small fix "The Calm After the Ice Barrier’s Storm"
  pre-release/c100340026.lua
Owners: @NaimSantos, @pyrQ

Added scripts for new cards
  cards_specific_functions.lua
  pre-release/c101103011.lua
  pre-release/c101103012.lua
  pre-release/c101103013.lua
  pre-release/c101103014.lua
  pre-release/c101103015.lua
  pre-release/c101103025.lua
  pre-release/c101103028.lua
  pre-release/c101103034.lua
  pre-release/c101103041.lua
  pre-release/c101103045.lua
  pre-release/c101103048.lua
  pre-release/c101103050.lua
  pre-release/c101103057.lua
  pre-release/c101103058.lua
  pre-release/c101103071.lua
Owners: @NaimSantos, @pyrQ

Added TCG scripts Missed the cards from PHRA during first upload.
  pre-release/c101102081.lua
  pre-release/c101102082.lua
  pre-release/c101102083.lua
  pre-release/c101102095.lua
  pre-release/c101102096.lua
Owners: @NaimSantos, @pyrQ

Updated "Periallis, Empress of Blossoms"
  pre-release/c101102083.lua
Owners: @NaimSantos, @pyrQ

Minor update for "Myutant" cards IDs were mixed up for the scripts.
  pre-release/c101102095.lua
  pre-release/c101102096.lua
Owners: @NaimSantos, @pyrQ

Updated "Security Force Orifice"
  pre-release/c101103013.lua
Owners: @NaimSantos, @pyrQ

Small fix "Graveyard Rebound"
  unofficial/c513000080.lua
Owners: @larry126

Updated "Living Fossil"
  official/c34959756.lua
Owners: @NaimSantos, @pyrQ

fix "Royal Demon's Shout"
  rush/c160201018.lua
Owners: @ClementLouis

Small fix "Vision HERO Gravito"
  official/c54185227.lua
Owners: @NaimSantos, @pyrQ

Updated "Ancient Warriors – Rebellious Lu Feng"
  pre-release/c101103025.lua
Owners: @NaimSantos, @pyrQ

fix "Myutant Clash"
  pre-release/c101102095.lua
Owners: @NaimSantos, @pyrQ

Small fix "Ancient Warriors – Rebellious Lu Feng"
  pre-release/c101103025.lua
Owners: @NaimSantos, @pyrQ

Updated "Myutant Expansion"
  pre-release/c101102096.lua
Owners: @NaimSantos, @pyrQ

Fix "Vision Fusion"
  official/c57425061.lua
Owners: @NaimSantos, @pyrQ

"Level Award" fix
  unofficial/c511000728.lua
Owners: @larry126

fix "Security Force Specimen"
  pre-release/c101103071.lua
Owners: @NaimSantos, @pyrQ

Small fix "Security Force Specimen"
  pre-release/c101103071.lua
Owners: @NaimSantos, @pyrQ

Small fix "Yellow Gurnard Duonigis"
  pre-release/c101103034.lua
Owners: @NaimSantos, @pyrQ

Fix Security Force Specimen
  pre-release/c101103071.lua
Owners: @NaimSantos, @pyrQ

Updated "Security Force Justify"
  pre-release/c101103048.lua
Owners: @NaimSantos, @pyrQ

Updated "El Rey Conquista Eldlich"
  pre-release/c101103040.lua
Owners: @NaimSantos, @pyrQ

Small fix "Myutant Clash"
  pre-release/c101102095.lua
Owners: @NaimSantos, @pyrQ

Updated "Security Force Showdown"
  pre-release/c101103058.lua
Owners: @NaimSantos, @pyrQ

fix "Indiora Doom Volt the Cubic Emperor"
  official/c3775068.lua
Owners: @NaimSantos, @pyrQ

Added "Miradora, Skywing of the Whirlwind" (script)
  pre-release/c101103029.lua
Owners: @NaimSantos, @pyrQ

Update proc_ritual.lua
  proc_ritual.lua
Owners: @NaimSantos, @pyrQ

Updated "Myutant Ultimus"
  pre-release/c101102091.lua
Owners: @NaimSantos, @pyrQ

Unofficial cards script updates
  unofficial/c511001050.lua
  unofficial/c511002765.lua
  unofficial/c511015103.lua
  unofficial/c511015107.lua
  unofficial/c511600371.lua
  unofficial/c511600373.lua
Owners: @larry126

added new scripts
  rush/c160003040.lua
  rush/c160003057.lua
Owners: @ClementLouis

Unofficial cards script fixes
  unofficial/c511000239.lua
  unofficial/c511002765.lua
Owners: @larry126

Update Turbo Duel handling
  unofficial/c110000000.lua
Owners: @larry126

Fix Ancient Warriors
  official/c13923256.lua
  official/c40140448.lua
  official/c77539547.lua
Owners: @NaimSantos, @pyrQ

fix "Saros Eresh Kurnugias"
  pre-release/c101103050.lua
Owners: @NaimSantos, @pyrQ

Fix "Lunalight Dance"
  unofficial/c511001292.lua
Owners: @larry126

Unofficial cards script fixes
  unofficial/c511002765.lua
  unofficial/c511007006.lua
Owners: @larry126

Fix for "Number 61: Volcasaurus (Anime)"
  unofficial/c511002088.lua
Owners: @larry126

Update c511002088.lua
  unofficial/c511002088.lua
Owners: @larry126

Unofficial cards script fixes
  unofficial/c100000110.lua
  unofficial/c511015107.lua
Owners: @larry126

Fix "Number 15: Gimmick Puppet Giant Grinder (Anime)"
  unofficial/c511001999.lua
Owners: @larry126
