Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

Fix for "Orichalcos Kyutora" (#448)
  unofficial/c170000166.lua
Owners: @larry126

Update "Orichalcos Shunoros (Anime)" (#451)
  unofficial/c170000167.lua
Owners: @larry126

Add "Vorticular Drumgon (Anime)" (#415)
  unofficial/c511003206.lua
Owners: @larry126

Add "Mimimic (Anime)" (#385)
  unofficial/c511027093.lua
Owners: @larry126

Add "Tasuke Knight (Anime)" (#384)
  unofficial/c511027091.lua
Owners: @larry126

updated Throne of Darkness and Dayu ID
  rush/c160202036.lua
  rush/c160202037.lua
Owners: @ClementLouis

Re-add "Clock Lizard (Anime)"
  unofficial/c511600204.lua
Owners: @larry126

Minor update Added description to "Blue-Eyes Alternative Dragon", description for "Phantom Knights' Fog Blade" now should work.
  official/c25542642.lua
  official/c38517737.lua
Owners: @NaimSantos, @pyrQ

Added Client String to "Tasuke Knight (Anime)"
  unofficial/c511027091.lua
Owners: @larry126

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

Update c511003207.lua
  unofficial/c511003207.lua
Owners: @larry126

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

added new scripts
  pre-release/c100272101.lua
  pre-release/c100272102.lua
  pre-release/c100272103.lua
  pre-release/c100272104.lua
  pre-release/c100272105.lua
  pre-release/c101103040.lua
  pre-release/c101103062.lua
  rush/c160003053.lua
  rush/c160202041.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Small fix "Galaxy-Eyes Cipher Ex Dragon"
  pre-release/c100272103.lua
Owners: @NaimSantos, @pyrQ

Small fix "Hellshaddoll Void"
  pre-release/c100272102.lua
Owners: @NaimSantos, @pyrQ

Small fix "Timelord Progenitor Vorpgate"
  official/c67508932.lua
Owners: @NaimSantos, @pyrQ

Update "Timelord Progenitor Vorpgate" based on ruling
  official/c67508932.lua
Owners: @NaimSantos, @pyrQ

Updated "Collapse Chair"
  rush/c160202041.lua
Owners: @ClementLouis

Updated "Seven Realms of the Golden Land"
  pre-release/c101103062.lua
Owners: @NaimSantos, @pyrQ

Updated "Hellshaddoll Void"
  pre-release/c100272102.lua
Owners: @NaimSantos, @pyrQ

Small fix "El Rey Conquista Eldlich"
  pre-release/c101103040.lua
Owners: @NaimSantos, @pyrQ

Updated "Collapse Chair"
  rush/c160202041.lua
Owners: @ClementLouis

added new rush scripts
  rush/c160003014.lua
  rush/c160003018.lua
  rush/c160003024.lua
Owners: @ClementLouis

error message Utility update
  utility.lua
Owners: @NaimSantos, @pyrQ

Fix "Sparkhearts Girl"
  rush/c160003014.lua
Owners: @ClementLouis

Fix "Sparkhearts Girl"
  rush/c160003014.lua
Owners: @ClementLouis

Fix "Sparkhearts Girl" (#454)
  rush/c160003014.lua
Owners: @ClementLouis

Add "Zero Potential"
  unofficial/c511003209.lua
Owners: @larry126

Add script "Altar for Tribute (GOAT)"
  goat/c504700180.lua
Owners: @NaimSantos, @pyrQ

adding new scripts
  pre-release/c100272107.lua
  pre-release/c100272108.lua
  pre-release/c100272109.lua
  pre-release/c100272110.lua
  pre-release/c100272111.lua
  pre-release/c100272112.lua
  pre-release/c100272113.lua
  pre-release/c100272114.lua
  pre-release/c100272115.lua
  pre-release/c100272116.lua
  pre-release/c100272117.lua
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Sunvine/avalon fixes
  pre-release/c100272107.lua
  pre-release/c100272108.lua
  pre-release/c100272110.lua
  pre-release/c100272111.lua
Owners: @NaimSantos, @pyrQ

Small fixes "Sunavalon" cards
  pre-release/c100272110.lua
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

More small fixes "Sunavalon" cards
  pre-release/c100272110.lua
  pre-release/c100272116.lua
  pre-release/c100272118.lua
Owners: @NaimSantos, @pyrQ

Even more small fixes "Sunavalon" cards
  pre-release/c100272114.lua
  pre-release/c100272115.lua
  pre-release/c100272117.lua
Owners: @NaimSantos, @pyrQ

small fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Small fix "Sunvine Healer"
  pre-release/c100272115.lua
Owners: @NaimSantos, @pyrQ

Fix "Sunvine Gardna"
  pre-release/c100272114.lua
Owners: @NaimSantos, @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
