Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

"Destruction Sword Memories" update
  official/c32104431.lua
Owners: @pyrQ

added Support Unit - Kumamimi
  rush/c160019032.lua
Owners: @ClementLouis

"Chaos Allure Queen" fix
  official/c29925614.lua
Owners: @pyrQ

"Second Coin Toss" fix
  official/c36562627.lua
Owners: @pyrQ

added new rush cards
  rush/c160019055.lua
  rush/c160019062.lua
Owners: @ClementLouis

fix "Recette de Viande (Meat Recipe)"
  official/c14166715.lua
Owners: @pyrQ

Fix "Dark Contract with the Eternal Darkness (Anime)"
  unofficial/c511247000.lua
Owners: @larry126

added Super Graphagas Plasma Saber
  rush/c160019038.lua
Owners: @ClementLouis

Fix for cards that can place other monsters from the field in the Spell & Trap Zone
  official/c24081957.lua
  official/c27260347.lua
  official/c40680521.lua
  official/c42493140.lua
  official/c48452496.lua
  official/c58071334.lua
  official/c63017368.lua
  official/c72444406.lua
  official/c74906081.lua
  official/c75952542.lua
  official/c78888899.lua
  official/c81696879.lua
  official/c84281045.lua
  official/c91870448.lua
  unofficial/c511009928.lua
  unofficial/c511310028.lua
  unofficial/c511600343.lua
Owners: @pyrQ, @larry126

Fix small typo from the previous commit
  official/c40680521.lua
Owners: @pyrQ

fixed Gear Section
  rush/c160212014.lua
Owners: @ClementLouis

Update "Damage Interest"
  unofficial/c511000463.lua
Owners: @larry126

fixed Gear Section
  rush/c160212014.lua
Owners: @ClementLouis

added new rush cards
  proc_rush.lua
  rush/c160019005.lua
  rush/c160019006.lua
  rush/c160019007.lua
  rush/c160019009.lua
  rush/c160019040.lua
  rush/c160019064.lua
Owners: @pyrQ, @ClementLouis

Use github_token
  .github/workflows/commit-delta-puppet-repo.yml
Owners: none

Revert "Use github_token"
  .github/workflows/commit-delta-puppet-repo.yml
Owners: none

"Principug" fix
  official/c11496832.lua
Owners: @pyrQ

added new rush cards
  rush/c160019021.lua
  rush/c160019030.lua
  rush/c160019066.lua
Owners: @ClementLouis

"Spellbook Library of the Crescent" update
  official/c40230018.lua
Owners: @pyrQ

Added new helper functions
  utility.lua
Owners: @pyrQ

"Megalith" fixes + Ritual proc update
  official/c25726386.lua
  official/c36849933.lua
  official/c63056220.lua
  official/c63233638.lua
  official/c90444325.lua
  official/c99628747.lua
  proc_ritual.lua
Owners: @pyrQ

Fix a new function using an outdated constant
  utility.lua
Owners: @pyrQ

added Celeb Rose Incognito Magician
  rush/c160019041.lua
Owners: @ClementLouis

Added new card script
  pre-release/c100200263.lua
Owners: @pyrQ

added new rush cards
  proc_rush.lua
  rush/c160019010.lua
  rush/c160019042.lua
  rush/c160019065.lua
Owners: @pyrQ, @ClementLouis

fix "Triple Tactics Thrust"
  official/c35269904.lua
Owners: @pyrQ

Fix "Light Barrier (Anime)"
  unofficial/c511005633.lua
Owners: @larry126

Added new card scripts
  pre-release/c100439072.lua
  pre-release/c100439073.lua
  pre-release/c100439074.lua
  pre-release/c100439075.lua
Owners: @pyrQ

Update "Masterking Archfiend"
  official/c35606858.lua
Owners: @pyrQ

added new rush cards
  rush/c160019029.lua
  rush/c160019033.lua
  rush/c160019046.lua
Owners: @ClementLouis

"Statue of Anguish Pattern" update
  official/c23626223.lua
Owners: @pyrQ

added Time Machine
  proc_maximum.lua
  rush/c160019058.lua
Owners: @pyrQ, @ClementLouis

fixed Time Machine's interaction with Maximum Gadget
  rush/c160019058.lua
Owners: @ClementLouis

added Boot-Up Pulverize - Gear Crusher
  rush/c160019051.lua
Owners: @ClementLouis

added Dice Key Retra
  rush/c160019008.lua
  rush/c160019064.lua
Owners: @ClementLouis

add Cost table and Cost.AND function
  utility.lua
Owners: @pyrQ

update aux.dxmcostgen
  utility.lua
Owners: @pyrQ

add aliases to other cost helper functions
  utility.lua
Owners: @pyrQ

add Cost.OncePerChain
  utility.lua
Owners: @pyrQ

update scripts that use aux.AND with dxmcostgen
  official/c3814632.lua
  official/c46772449.lua
  official/c64414267.lua
Owners: @pyrQ

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
