Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Update "Pinpoint Guard (Anime)"
  unofficial/c511024005.lua
Owners: @larry126

Update "Handbook to the Spiritual Arts"
  rush/c160218019.lua
Owners: @ClementLouis

Update c160218019.lua
  rush/c160218019.lua
Owners: @ClementLouis

Update "Odd-Eyes Fusiongate"
  unofficial/c511015104.lua
Owners: @larry126

"Wind Unicorn Parallel, the Dracoslayer" fix
  official/c39016067.lua
Owners: @pyrQ

added Draco the Palm Greaser
  rush/c160218067.lua
Owners: @ClementLouis

"Knightmare Gryphon" update
  official/c65330383.lua
Owners: @pyrQ

Update "Odd-Eyes Synchrogate"
  unofficial/c511015105.lua
Owners: @larry126

Update "Odd-Eyes Xyzgate"
  unofficial/c511015106.lua
Owners: @larry126

Update c511015106.lua
  unofficial/c511015106.lua
Owners: @larry126

Added new card scripts
  pre-release/c100200288.lua
  pre-release/c100295121.lua
  pre-release/c101305042.lua
  pre-release/c101305076.lua
Owners: @pyrQ

"Clown Crew Hat" fix
  pre-release/c100295121.lua
Owners: @pyrQ

Update "Dimension Wanderer (Anime)"
  unofficial/c511003081.lua
Owners: @larry126

"Clown Crew Drish" fix
  pre-release/c101305042.lua
Owners: @pyrQ

"Plasma Eel" fix
  unofficial/c511000163.lua
Owners: @larry126

added new rush cards
  rush/c160218013.lua
  rush/c160218014.lua
  rush/c160218015.lua
  rush/c160218016.lua
  rush/c160218020.lua
  rush/c160218036.lua
  rush/c160218037.lua
  rush/c160218038.lua
  rush/c160218043.lua
  rush/c160218049.lua
  rush/c160218050.lua
Owners: @ClementLouis

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

added Over Rush Volcano
  rush/c160218076.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100452019.lua
  pre-release/c100452020.lua
  pre-release/c100452021.lua
  pre-release/c100452022.lua
  pre-release/c100452023.lua
  pre-release/c100452026.lua
  pre-release/c100452027.lua
  pre-release/c100452028.lua
Owners: @pyrQ

Update "Piri Reis Map (Anime)"
  unofficial/c511001757.lua
Owners: @larry126

Update "Extra Blast"
  unofficial/c511002538.lua
Owners: @larry126

fixed Spiritualization Training
  rush/c160218020.lua
Owners: @ClementLouis

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101305005.lua
  pre-release/c101305006.lua
  pre-release/c101305007.lua
  pre-release/c101305008.lua
  pre-release/c101305009.lua
  pre-release/c101305029.lua
  pre-release/c101305047.lua
  pre-release/c101305048.lua
  pre-release/c101305049.lua
  pre-release/c101305066.lua
  pre-release/c101305067.lua
  pre-release/c101305129.lua
Owners: @pyrQ

Update archetype_setcode_constants.lua
  archetype_setcode_constants.lua
Owners: @pyrQ

"Destruction Chant of the Sacred Beast" fix
  pre-release/c101305066.lua
Owners: @pyrQ

"The Orchestrator of the Sacred Beasts" fix
  pre-release/c101305008.lua
Owners: @pyrQ

"Limit Over Collection: The Heroes" official release script updates
  official/c1186447.lua
  official/c12908094.lua
  official/c13021682.lua
  official/c13243124.lua
  official/c14965712.lua
  official/c31114334.lua
  official/c32236916.lua
  official/c37458564.lua
  official/c40237839.lua
  official/c41350417.lua
  official/c48171151.lua
  official/c48393693.lua
  official/c49415281.lua
  official/c4993187.lua
  official/c5125629.lua
  official/c64865.lua
  official/c68508433.lua
  official/c68721020.lua
  official/c73443672.lua
  official/c74665150.lua
  official/c75787708.lua
  official/c76504386.lua
  official/c76636978.lua
  official/c847217.lua
  official/c87758525.lua
  official/c88570003.lua
  pre-release/c101305008.lua
Owners: @pyrQ

Some script fixes
  official/c10000040.lua
  official/c10736540.lua
  official/c38459905.lua
  official/c4215636.lua
  official/c42502956.lua
  official/c55742055.lua
  official/c66970385.lua
  official/c81223446.lua
  official/c85638822.lua
  official/c95772051.lua
Owners: @pyrQ

Update "Tri-Slice"
  unofficial/c511001359.lua
Owners: @larry126

Update "Number 33: Chronomaly Machu Mech (Anime)"
  unofficial/c511002091.lua
Owners: @larry126

added Miraculous Swordsman - Buster Blader
  rush/c160218065.lua
Owners: @ClementLouis

Added new card scripts
  pre-release/c100452015.lua
  pre-release/c100452018.lua
  pre-release/c101305010.lua
  pre-release/c101305011.lua
  pre-release/c101305012.lua
  pre-release/c101305013.lua
  pre-release/c101305014.lua
  pre-release/c101305018.lua
  pre-release/c101305019.lua
  pre-release/c101305037.lua
  pre-release/c101305050.lua
  pre-release/c101305051.lua
  pre-release/c101305052.lua
  pre-release/c101305057.lua
  pre-release/c101305068.lua
  pre-release/c101305069.lua
  pre-release/c101305073.lua
Owners: @pyrQ

Update card_counter_constants.lua
  card_counter_constants.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100455001.lua
  pre-release/c100455002.lua
  pre-release/c100455003.lua
  pre-release/c100455005.lua
  pre-release/c100455006.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c100452008.lua
  pre-release/c100452011.lua
Owners: @pyrQ

Added new card script
  pre-release/c100452005.lua
Owners: @pyrQ

added new rush cards
  rush/c160218023.lua
  rush/c160218024.lua
  rush/c160218028.lua
  rush/c160218029.lua
  rush/c160218033.lua
  rush/c160218035.lua
Owners: @ClementLouis

fixed Dead Lock the Mad Fiend of Despair
  rush/c160218028.lua
Owners: @ClementLouis
