Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
# TODO: To be decided.

# Default card script reviewers
*.lua         @pyrQ

# Anime card script reviewers
c511*.lua     @larry126

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

added Drowning Mirror Force
  proc_rush.lua
  rush/c160213084.lua
Owners: @pyrQ, @ClementLouis

"Maliss <Q> Hearts Crypter" update
  official/c21848500.lua
Owners: @pyrQ

"Eternal Sunshine" fix
  pre-release/c101208071.lua
Owners: @pyrQ

Fix "Blue Flame Swordsman"
  official/c50903514.lua
Owners: @pyrQ

fixed cards that place multiple cards on the bottom of the Deck as a requirement
  rush/c160003017.lua
  rush/c160017053.lua
  rush/c160020006.lua
  rush/c160320014.lua
Owners: @ClementLouis

added Balloon Bahtia
  rush/c160020037.lua
Owners: @ClementLouis

added Dead Line the Mad Fiend of Despair
  rush/c160020035.lua
Owners: @ClementLouis

script updates
  official/c8963089.lua
  official/c89907227.lua
  official/c90164606.lua
  official/c90241276.lua
  official/c90411554.lua
  official/c90465153.lua
  official/c91749600.lua
  official/c92530005.lua
  official/c92714517.lua
  official/c92812851.lua
  official/c92962242.lua
  official/c93039339.lua
  official/c93053159.lua
  official/c93347961.lua
  official/c94292987.lua
  official/c94392192.lua
  official/c952523.lua
  official/c9551692.lua
  official/c95637655.lua
  official/c95937545.lua
  official/c95973569.lua
  official/c9608555.lua
  official/c96223501.lua
  official/c96402918.lua
  official/c97051536.lua
  official/c97417863.lua
  official/c97520532.lua
  official/c97682931.lua
  official/c97783338.lua
  official/c9785661.lua
  official/c97864322.lua
  official/c98049934.lua
  official/c9839115.lua
  official/c98715423.lua
  official/c99937011.lua
Owners: @pyrQ

"Cyber Emergency" fix
  official/c60600126.lua
Owners: @pyrQ

fixed Galactica Lost Oblivion
  rush/c160020042.lua
Owners: @ClementLouis

added Whispurring Fairy
  rush/c160020047.lua
Owners: @ClementLouis

added New Start
  rush/c160020061.lua
Owners: @ClementLouis

Update "The World of Spirits"
  pre-release/c101208055.lua
Owners: @pyrQ

added Miracle Contact
  rush/c160020066.lua
Owners: @ClementLouis

added new rush cards
  rush/c160020046.lua
  rush/c160213022.lua
Owners: @ClementLouis

added scripts for new alt arts
  rush/c160452016.lua
  rush/c160452017.lua
  rush/c160452018.lua
  rush/c160452019.lua
  rush/c160452020.lua
Owners: @ClementLouis

added new rush cards
  rush/c160020064.lua
  rush/c160213051.lua
Owners: @ClementLouis

Fixed "Mementotlan Tatsunootoshigo"
  official/c81677154.lua
Owners: @pyrQ

Fixed "Mementotlan Tatsunootoshigo" (#1167)
  official/c81677154.lua
Owners: @pyrQ

"Possessed Partnerships" fix
  official/c65046521.lua
Owners: @pyrQ

"Gladiator Beast Claudius" fix
  official/c48958757.lua
Owners: @pyrQ

functions
  card_counter_constants.lua
  cards_specific_functions.lua
Owners: @pyrQ

Update c48958757.lua
  official/c48958757.lua
Owners: @pyrQ

"Evo-" cards
  official/c13046291.lua
  official/c14154221.lua
  official/c16480084.lua
  official/c17045014.lua
  official/c20855340.lua
  official/c23234094.lua
  official/c28877602.lua
  official/c3283679.lua
  official/c34026662.lua
  official/c39672388.lua
  official/c5338223.lua
  official/c54266211.lua
  official/c55488859.lua
  official/c56240989.lua
  official/c69633792.lua
  official/c80651316.lua
  official/c81873903.lua
  official/c8632967.lua
  official/c88095331.lua
Owners: @pyrQ

Evolsaur Cerato
  official/c80651316.lua
Owners: @pyrQ

Added new card scripts
  pre-release/c101207081.lua
  pre-release/c101207083.lua
  pre-release/c101208005.lua
  pre-release/c101208020.lua
  pre-release/c101208030.lua
  pre-release/c101208031.lua
  pre-release/c101208032.lua
  pre-release/c101208037.lua
  pre-release/c101208043.lua
  pre-release/c101208050.lua
  pre-release/c101208053.lua
  pre-release/c101208062.lua
  pre-release/c101208066.lua
  pre-release/c101208079.lua
Owners: @pyrQ

"Gordian Schneider" fix
  pre-release/c101208066.lua
Owners: @pyrQ

"Gordian Schneider" fix
  pre-release/c101208066.lua
Owners: @pyrQ

"Evil HERO Vicious Claws" fix
  pre-release/c101208005.lua
Owners: @pyrQ

Fix "Lyrilusc - Celestine Wagtail"
  official/c46576366.lua
Owners: @pyrQ

Fix "Lyrilusc - Ensemblue Robin"
  official/c72971064.lua
Owners: @pyrQ

Added new constant
  constant.lua
  official/c21915012.lua
  official/c30765615.lua
  official/c34568783.lua
  official/c67441879.lua
  official/c89809665.lua
  official/c9839115.lua
  proc_synchro.lua
Owners: @pyrQ

added scripts for new alt arts
  rush/c160213032.lua
  rush/c160213169.lua
Owners: @ClementLouis

Fix "Odd-Eyes Revolution Dragon (Manga)"
  unofficial/c511600090.lua
Owners: @larry126

"Dark Necromancer" fix
  pre-release/c101207081.lua
Owners: @pyrQ

Update c101207081.lua
  pre-release/c101207081.lua
Owners: @pyrQ

added new rush cards
  rush/c160020020.lua
  rush/c160020021.lua
  rush/c160020022.lua
  rush/c160020023.lua
  rush/c160020048.lua
  rush/c160020062.lua
Owners: @ClementLouis

added Tail Swipe
  proc_rush.lua
  rush/c160020059.lua
Owners: @pyrQ, @ClementLouis

"Speedroid Clear Wing Wander" fix
  official/c66002986.lua
Owners: @pyrQ

fixed IsLegend for Red-Eyes alt art
  proc_rush.lua
Owners: @pyrQ
