Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @NaimSantos, @pyrQ, @larry126, @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @NaimSantos @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis

Dayu fix
  rush/c160202100.lua
Owners: @ClementLouis

Small fix "Jinzo - Layered"
  official/c99666430.lua
Owners: @NaimSantos, @pyrQ

Fix for "Frightfur Meister (Manga)"
  unofficial/c511600064.lua
Owners: @larry126

Fix "Trap Request"
  unofficial/c511000583.lua
Owners: @larry126

Update c511600064.lua
  unofficial/c511600064.lua
Owners: @larry126

added Fairy Archer Ingunar
  pre-release/c101103030.lua
Owners: @NaimSantos, @pyrQ

added BLVO scripts
  pre-release/c101103020.lua
  pre-release/c101103021.lua
  pre-release/c101103039.lua
  pre-release/c101103049.lua
Owners: @NaimSantos, @pyrQ

added new scripts
  pre-release/c101103061.lua
  rush/c160003022.lua
  rush/c160003023.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

Fix "Metalfoes Vanisher"
  pre-release/c101103021.lua
Owners: @NaimSantos, @pyrQ

Fix "Metalfoes Vanisher" (#447)
  pre-release/c101103021.lua
Owners: @NaimSantos, @pyrQ

Fix for "Orichalcos Kyutora"
  unofficial/c170000166.lua
Owners: @larry126

Update c170000166.lua
  unofficial/c170000166.lua
Owners: @larry126

Update c170000166.lua
  unofficial/c170000166.lua
Owners: @larry126

Fix "Metalfoes Vanisher"
  pre-release/c101103021.lua
Owners: @NaimSantos, @pyrQ

Fix "Parametalfoes Azothles"
  pre-release/c101103039.lua
Owners: @NaimSantos, @pyrQ

Fix "Parametalfoes Azothles" (#449)
  pre-release/c101103039.lua
Owners: @NaimSantos, @pyrQ

Fix "Metalfoes Vanisher" (#450)
  pre-release/c101103021.lua
Owners: @NaimSantos, @pyrQ

Small fix "Clear Ice Dragon"
  rush/c160003022.lua
Owners: @ClementLouis

Update "Orichalcos Shunoros (Anime)"
  unofficial/c170000167.lua
Owners: @larry126

Update c170000167.lua
  unofficial/c170000167.lua
Owners: @larry126

Update c170000166.lua
  unofficial/c170000166.lua
Owners: @larry126

Update c511600424.lua
  unofficial/c511600424.lua
Owners: @larry126

Fix for "Frightfur Meister (Manga)" (#446)
  unofficial/c511600064.lua
Owners: @larry126

Fix for "Yubel - The Ultimate Nightmare (Anime)" (#444)
  unofficial/c511600424.lua
Owners: @larry126

Update c511027091.lua
  unofficial/c511027091.lua
Owners: @larry126

Update c511027093.lua
  unofficial/c511027093.lua
Owners: @larry126

Cleaned up c101103047.lua (#445)
  pre-release/c101103047.lua
Owners: @NaimSantos, @pyrQ

Fix "The Weather Painter Thunder"
  official/c91299846.lua
Owners: @NaimSantos, @pyrQ

Minor updates Changed the strings being called for the following cards: * Sorciere de Fleur * Frightfur Leo * Morpheus, the Dream Mirror White Knight
  official/c10383554.lua
  official/c1872843.lua
  official/c36405256.lua
Owners: @NaimSantos, @pyrQ

Fix "News Flash Machine Toughroid"
  rush/c160003032.lua
Owners: @ClementLouis

Fix "News Flash Machine Toughroid" (#452)
  rush/c160003032.lua
Owners: @ClementLouis

Updated "Grozer the Thunderclap Tyrant"
  pre-release/c100200190.lua
Owners: @NaimSantos, @pyrQ

Update c170000166.lua
  unofficial/c170000166.lua
Owners: @larry126

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Update c511003208.lua
  unofficial/c511003208.lua
Owners: @larry126

Updated "Action Magic - Full Turn"
  official/c99004583.lua
Owners: @NaimSantos, @pyrQ

Update utility.lua
  utility.lua
Owners: @NaimSantos, @pyrQ

added new cards
  pre-release/c100340001.lua
  pre-release/c100340026.lua
  rush/c160003015.lua
Owners: @NaimSantos, @pyrQ, @ClementLouis

script upload test
  pre-release/c100340001.lua
  pre-release/c100340026.lua
Owners: @NaimSantos, @pyrQ

Update "Chaos Dragon Levianeer"
  official/c55878038.lua
Owners: @NaimSantos, @pyrQ
