Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update "Crystron Quan"
  official/c93665266.lua
Owners: @pyrQ

added new rush cards
  rush/c160012031.lua
  rush/c160012032.lua
Owners: @ClementLouis

Update c160012031.lua
  rush/c160012031.lua
Owners: @ClementLouis

Update c160012032.lua
  rush/c160012032.lua
Owners: @ClementLouis

Added new Rush cards' scripts
  rush/c160012031.lua
  rush/c160012032.lua
Owners: @ClementLouis

Added new cards' scripts
  pre-release/c101112037.lua
  pre-release/c101112044.lua
  pre-release/c101112052.lua
  pre-release/c101112053.lua
  pre-release/c101112066.lua
  pre-release/c101112070.lua
  pre-release/c101112080.lua
Owners: @pyrQ

Update "Black Feather Whirlwind" and "Gishki Icemirror"
  official/c36982581.lua
  official/c7602800.lua
Owners: @pyrQ

Update "Black Shadow Squall"
  official/c96367119.lua
Owners: @pyrQ

"Genex Ally Triforce" fix
  official/c52709508.lua
Owners: @pyrQ

Update constant name
  constant.lua
  official/c96637156.lua
Owners: @pyrQ

added new rush cards
  rush/c160012056.lua
  rush/c160012057.lua
  rush/c160012058.lua
Owners: @ClementLouis

added new rush scripts (#890)
  rush/c160012056.lua
  rush/c160012057.lua
  rush/c160012058.lua
Owners: @ClementLouis

Update cards using EFFECT_TRAP_ACT_IN_HAND and EFFECT_QP_ACT_IN_NTPHAND (#889)
  official/c23002292.lua
  official/c74577599.lua
  official/c85551711.lua
  unofficial/c511000427.lua
Owners: @pyrQ, @larry126

Update "Qardan the Great Sage"
  official/c86605515.lua
Owners: @pyrQ

Update c511027673.lua
  unofficial/c511027673.lua
Owners: @larry126

Update c511027677.lua
  unofficial/c511027677.lua
Owners: @larry126

Update c511027673.lua
  unofficial/c511027673.lua
Owners: @larry126

Update c511027675.lua
  unofficial/c511027675.lua
Owners: @larry126

Add "D/D Zero Surveyor" script (#869)
  unofficial/c511027675.lua
Owners: @larry126

Add "Sharp Pendulum Strike" script (#863)
  unofficial/c511027677.lua
Owners: @larry126

Add "Exchange of The Mirror World" script (#858)
  unofficial/c511027673.lua
Owners: @larry126

added Traditional Tax
  rush/c160012063.lua
Owners: @ClementLouis

Add files via upload
  unofficial/c511027670.lua
Owners: @larry126

Added new Rush card's script
  rush/c160012063.lua
Owners: @ClementLouis

Update c511027670.lua
  unofficial/c511027670.lua
Owners: @larry126

Add files via upload
  unofficial/c511027680.lua
Owners: @larry126

Fix "Supreme King Dragon Starving Venom (Anime)"
  unofficial/c511009528.lua
Owners: @larry126

added new rush cards
  proc_maximum.lua
  rush/c160012010.lua
  rush/c160012014.lua
  rush/c160012015.lua
  rush/c160012017.lua
  rush/c160012049.lua
  rush/c160012057.lua
  rush/c160012061.lua
Owners: @pyrQ, @ClementLouis

Added new Rush cards' scripts
  proc_maximum.lua
  rush/c160012010.lua
  rush/c160012014.lua
  rush/c160012015.lua
  rush/c160012017.lua
  rush/c160012049.lua
  rush/c160012057.lua
  rush/c160012061.lua
Owners: @pyrQ, @ClementLouis

Add files via upload
  unofficial/c511027679.lua
Owners: @larry126

"Heroic Champion - Jarngreipr" fix
  official/c23848752.lua
Owners: @pyrQ

added Jointech Tinplatesaurus + fix Purple-Eyes Star Cat
  rush/c160012006.lua
  rush/c160012014.lua
Owners: @ClementLouis

Update "Gravekeeper's Trap"
  official/c98715423.lua
Owners: @pyrQ

Added new Rush card's script + small fix for "Purple-Eyes Star Cat"
  rush/c160012006.lua
  rush/c160012014.lua
Owners: @ClementLouis

Update "Gravekeeper's Trap"
  official/c98715423.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100200229.lua
  pre-release/c101112038.lua
  pre-release/c101112077.lua
  pre-release/c101112079.lua
Owners: @pyrQ

"Rainbowlution Lab" fix
  official/c1259814.lua
Owners: @pyrQ

"Brave Beauty of Ruby Regard - Bradamante" official release script update
  official/c91479482.lua
Owners: @pyrQ

Update "Galatea, the Orcust Automaton"
  official/c30741503.lua
Owners: @pyrQ

fix typo
  rush/c160012014.lua
Owners: @ClementLouis

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
