Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Update Angel O1
  official/c82243738.lua
Owners: @pyrQ

Update Exorsister monsters to use EVENT_LEAVE_GRAVE
  constant.lua
  pre-release/c100417013.lua
  pre-release/c100417014.lua
  pre-release/c100417015.lua
  pre-release/c100417016.lua
Owners: @pyrQ

Update some procedures to use new Group.Match
  proc_link.lua
  proc_normal.lua
  proc_pendulum.lua
  proc_workaround.lua
Owners: @pyrQ

Revert "Update some procedures to use new Group.Match"
  proc_link.lua
  proc_normal.lua
  proc_pendulum.lua
  proc_workaround.lua
Owners: @pyrQ

Update some procedures to use new Group.Match
  proc_link.lua
  proc_normal.lua
  proc_pendulum.lua
  proc_workaround.lua
Owners: @pyrQ

Fix xyz procedure
  proc_xyz.lua
Owners: @pyrQ

Proper fix xyz summon when summoning with forced materials
  proc_xyz.lua
Owners: @pyrQ

Fix Junk Gardna (Anime)
  unofficial/c511600105.lua
Owners: @larry126

Update Junk Warrior anime and manga
  official/c60800381.lua
  unofficial/c511009416.lua
Owners: @pyrQ, @larry126

Typo in previous commit
  official/c60800381.lua
Owners: @pyrQ

Update cards that make you look at up to N cards in the deck
  official/c16768387.lua
  official/c25824484.lua
  official/c31525442.lua
  official/c4474060.lua
  official/c52112003.lua
  official/c57261568.lua
  official/c62017867.lua
  official/c95239444.lua
Owners: @pyrQ

Another update to Junk Warrior (Anime)
  unofficial/c511009416.lua
Owners: @larry126

Fix typo in Flower Cardian Peony with Butterfly
  official/c57261568.lua
Owners: @pyrQ

Fix Noble Knights of the Round Table
  official/c55742055.lua
Owners: @pyrQ

Fix Card Advance
  official/c52112003.lua
Owners: @pyrQ

Fix cards that allowed to look cards from the deck allowing to look at the whole deck
  official/c16768387.lua
  official/c25824484.lua
  official/c31525442.lua
  official/c69394324.lua
Owners: @pyrQ

Move an anime card script in the "unofficial" folder
  unofficial/c511003221.lua
Owners: @larry126

Small fix "Koa'ki Meiru Supplier"
  official/c80839052.lua
Owners: @pyrQ

Counteroffensive Dragonstrike and Can:reD fix
  rush/c160005019.lua
  rush/c160302014.lua
Owners: @ClementLouis

Fix "Papa-Corn (Manga)"
  unofficial/c511005008.lua
Owners: @larry126

Added new card's script
  pre-release/c100417006.lua
Owners: @pyrQ

Minor update to Iron Dragon Tiamaton
  official/c46247282.lua
Owners: @pyrQ

Maximum proc fix
  proc_maximum.lua
Owners: @pyrQ

"Red Supernova Dragon" fix
  official/c99585850.lua
Owners: @pyrQ

"Antihuman Intelligence ME-PSY-YA" fix
  official/c58844135.lua
Owners: @pyrQ

Fix "Command Silencer"
  unofficial/c511000439.lua
Owners: @larry126

Added new card's script
  pre-release/c100417026.lua
Owners: @pyrQ

Fix "Sky Illusion"
  unofficial/c511009404.lua
Owners: @larry126

Update "T.G. Tank Grub"
  official/c74627016.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100417021.lua
Owners: @pyrQ

"Gagagaga Magician" fix
  official/c86331741.lua
Owners: @pyrQ

"Number iC1000: Numeronius Numeronia (Anime)" fix
  unofficial/c511000296.lua
Owners: @larry126

Fixes
  official/c17827173.lua
  official/c18940725.lua
  official/c21293424.lua
  official/c28126717.lua
  official/c32138660.lua
  official/c38229962.lua
  official/c38529357.lua
  official/c4008212.lua
  official/c54334420.lua
  official/c64213017.lua
  official/c65430555.lua
  official/c76552147.lua
  official/c80433039.lua
  official/c80611581.lua
  official/c91434602.lua
  official/c93672138.lua
  pre-release/c100281062.lua
  pre-release/c100417010.lua
  pre-release/c100417035.lua
Owners: @pyrQ

Update c32138660.lua
  official/c32138660.lua
Owners: @pyrQ

Update c64213017.lua
  official/c64213017.lua
Owners: @pyrQ

Update c91434602.lua
  official/c91434602.lua
Owners: @pyrQ

Update c93672138.lua
  official/c93672138.lua
Owners: @pyrQ

Various fixes and updates
  official/c17827173.lua
  official/c18940725.lua
  official/c21293424.lua
  official/c28126717.lua
  official/c32138660.lua
  official/c38229962.lua
  official/c38529357.lua
  official/c4008212.lua
  official/c54334420.lua
  official/c64213017.lua
  official/c65430555.lua
  official/c76552147.lua
  official/c80433039.lua
  official/c80611581.lua
  official/c93672138.lua
  pre-release/c100281062.lua
  pre-release/c100417010.lua
  pre-release/c100417035.lua
Owners: @pyrQ

"Detonation Code" fix
  official/c41348446.lua
Owners: @pyrQ

Update "Engagement Destiny"
  unofficial/c511002491.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
