Repository ProjectIgnis/CardScripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kevinlul, @pyrQ, @larry126, @ClementLouis

Rename pre-release/c101106086.lua to official/c88962829.lua
  official/c88962829.lua
Owners: @pyrQ

Rename pre-release/c101106087.lua to official/c14357527.lua
  official/c14357527.lua
Owners: @pyrQ

Rename pre-release/c101106088.lua to official/c50855622.lua
  official/c50855622.lua
Owners: @pyrQ

Rename pre-release/c101106089.lua to official/c87240371.lua
  official/c87240371.lua
Owners: @pyrQ

Rename pre-release/c101106090.lua to official/c13234975.lua
  official/c13234975.lua
Owners: @pyrQ

Update and rename pre-release/c101106091.lua to official/c40633084.lua
  official/c40633084.lua
Owners: @pyrQ

Add draft utility function Auxiliary.AddSummonWatcherEffect
  utility.lua
Owners: @pyrQ

Update union hangar and cynet codec with new utility
  official/c60018643.lua
  official/c66399653.lua
Owners: @pyrQ

"Burst of Destiny" official TCG release script updates
  official/c13234975.lua
  official/c14357527.lua
  official/c20295753.lua
  official/c25573115.lua
  official/c40633084.lua
  official/c48784854.lua
  official/c50855622.lua
  official/c51578214.lua
  official/c56790702.lua
  official/c82184400.lua
  official/c87240371.lua
  official/c88962829.lua
Owners: @pyrQ

"Stairway to a Fabled Realm" fix
  official/c22555834.lua
Owners: @pyrQ

"Penguin Squire" fix
  official/c14761450.lua
Owners: @pyrQ

"Psychic Fervor" fix
  official/c26773909.lua
Owners: @pyrQ

Fix soundproofed
  official/c42314669.lua
Owners: @pyrQ

Added new card's script
  pre-release/c100200209.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100426001.lua
  pre-release/c100426002.lua
  pre-release/c100426005.lua
  pre-release/c100426006.lua
  pre-release/c100426007.lua
  pre-release/c100426033.lua
Owners: @pyrQ

"Barian's Chaos Draw" fix
  pre-release/c100426005.lua
Owners: @pyrQ

"Sea Stealth II" fix
  pre-release/c100426021.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100343031.lua
  pre-release/c100343032.lua
  pre-release/c100343041.lua
  pre-release/c100343042.lua
Owners: @pyrQ

"Lyrilusc - Beryl Canary" fix
  official/c10182251.lua
Owners: @pyrQ

Added new cards' scripts
  pre-release/c100285003.lua
  pre-release/c100285004.lua
Owners: @pyrQ

"D/D/D Wave High King Caesar" fix
  official/c79559912.lua
Owners: @pyrQ

Various fixes
  official/c39964797.lua
  official/c62022479.lua
  official/c69394324.lua
  official/c79724755.lua
  official/c93595154.lua
Owners: @pyrQ

Various fixes/updates
  official/c21915012.lua
  official/c27036706.lua
  official/c48832775.lua
  official/c65046521.lua
  official/c77610503.lua
Owners: @pyrQ

"Judge of the Ice Barrier" fix
  official/c53535814.lua
Owners: @pyrQ

added new script
  rush/c160421019.lua
  rush/c160421020.lua
  rush/c160421022.lua
  rush/c160421024.lua
  rush/c160421039.lua
Owners: @ClementLouis

added new scripts
  rush/c160421009.lua
  rush/c160421011.lua
  rush/c160421013.lua
Owners: @ClementLouis

Unfulfilled Goblin fix
  rush/c160421039.lua
Owners: @ClementLouis

Star Battle Knight Pholus fix
  rush/c160421020.lua
Owners: @ClementLouis

Attolashoot Highdron fix
  rush/c160421013.lua
Owners: @ClementLouis

Kimeterasu the Rising Luna
  rush/c160421011.lua
Owners: @ClementLouis

ancient Arrive Dragon fix
  rush/c160421009.lua
Owners: @ClementLouis

Daigyakutenno Megami fix
  rush/c160421019.lua
Owners: @ClementLouis

Small fix "Fancy Footwork"
  unofficial/c100000602.lua
Owners: @larry126

Added new cards' scripts
  pre-release/c100426004.lua
  pre-release/c101108001.lua
  pre-release/c101108002.lua
  pre-release/c101108034.lua
  pre-release/c101108052.lua
  pre-release/c101108069.lua
Owners: @pyrQ

Update proc_xyz.lua
  proc_xyz.lua
Owners: @pyrQ

Unofficial script fixes
  unofficial/c100000045.lua
  unofficial/c100000602.lua
  unofficial/c511000629.lua
  unofficial/c511001188.lua
  unofficial/c511002825.lua
  unofficial/c511009383.lua
  unofficial/c511010062.lua
  unofficial/c511015100.lua
  unofficial/c511015115.lua
  unofficial/c511030065.lua
  unofficial/c511600414.lua
  unofficial/c513000063.lua
Owners: @larry126

Update proc_xyz.lua
  proc_xyz.lua
Owners: @pyrQ

Update proc_xyz.lua
  proc_xyz.lua
Owners: @pyrQ

Update xyz proc to allow filter for EFFECT_XYZ_MATERIAL (#677)
  proc_xyz.lua
Owners: @pyrQ

Fixed "CXyz Barian Hope (Anime)"
  unofficial/c511001363.lua
Owners: @larry126

.github/CODEOWNERS:

# Repository documentation, configuration, and continuous integration
*             @kevinlul

# Default card script reviewers
*.lua         @pyrQ

/unofficial/  @larry126
/rush/        @ClementLouis
/skill/       @ClementLouis
