Repository ProjectIgnis/CardScripts, pull requests merged in 2020-05, with the labels that each got.

#242 Update handling for "Numeron" Xyz Monsters
  cards_specific_functions.lua
  constant.lua
  official/c57314798.lua
Labels: enhancement

#244 Unofficial Rank-Up Overhaul
  unofficial/c511000685.lua
  unofficial/c511001363.lua
  unofficial/c511001371.lua
  unofficial/c511001372.lua
  unofficial/c511001429.lua
  unofficial/c511001430.lua
  unofficial/c511001431.lua
  unofficial/c511001659.lua
  unofficial/c511001777.lua
  unofficial/c511001781.lua
  unofficial/c511002482.lua
  unofficial/c511002855.lua
  unofficial/c511002866.lua
  unofficial/c511002871.lua
  unofficial/c511002872.lua
  unofficial/c511010165.lua
  unofficial/c511010192.lua
  unofficial/c511010196.lua
  unofficial/c511010205.lua
  unofficial/c511010207.lua
  unofficial/c511010238.lua
  unofficial/c511010239.lua
  unofficial/c511015134.lua
  unofficial/c511600284.lua
  unofficial/c513000059.lua
  unofficial/c513000060.lua
  unofficial/c513000063.lua
  unofficial/rankup_functions.lua
Labels: enhancement, unofficial

#249 Add "Gorgonic Guardian (Anime)"
  unofficial/c511027117.lua
Labels: new card, unofficial

#245 Add "Vain Betrayer (anime)
  unofficial/c511027018.lua
Labels: new card, unofficial

#247 Add "ZW - Phoenix Bow (anime)
  unofficial/c511027101.lua
Labels: new card, unofficial

#250 Add "ZW - Eagle Claw (anime)
  unofficial/c511027102.lua
Labels: new card, unofficial

#252 Add "Overlay Wedge"
  unofficial/c511027118.lua
Labels: new card, unofficial

#258 Add "ZW - Sleipnir Mail (anime)"
  unofficial/c511027107.lua
Labels: new card, unofficial

#254 Add "ZW - Lightning Blade (anime)"
  unofficial/c511027103.lua
Labels: new card, unofficial

#256 Add "ZW - Tornado Bringer (anime)"
  unofficial/c511027106.lua
Labels: new card, unofficial

#253 Add "ZW - Asura Strike (anime)"
  unofficial/c511027104.lua
Labels: new card, unofficial

#262 Add "Acorno (Anime)"
  unofficial/c511027110.lua
Labels: new card, unofficial

#263 Small fix for "Utopic Future (Anime)"
  unofficial/c511000192.lua
Labels: bug, unofficial

#264 Add Rocket Arrow and Night Express (Anime)
  unofficial/c511027120.lua
  unofficial/c511027121.lua
Labels: new card, unofficial

#266 Add "Double Bind"
  c511027048.lua
Labels: new card, unofficial
