Repository ProjectIgnis/CardScripts, pull requests merged in 2020-10, with the labels that each got.

#446 Fix for "Frightfur Meister (Manga)"
  unofficial/c511600064.lua
Labels: bug, unofficial

#444 Fix for "Yubel - The Ultimate Nightmare (Anime)"
  unofficial/c511600424.lua
Labels: bug, unofficial

#448 Fix for "Orichalcos Kyutora"
  unofficial/c170000166.lua
Labels: bug, unofficial

#451 Update "Orichalcos Shunoros (Anime)"
  unofficial/c170000167.lua
Labels: enhancement, unofficial

#415 Add "Vorticular Drumgon (Anime)"
  unofficial/c511003206.lua
Labels: new card, unofficial

#385 Add "Mimimic (Anime)"
  unofficial/c511027093.lua
Labels: new card, unofficial

#384 Add "Tasuke Knight (Anime)"
  unofficial/c511027091.lua
Labels: new card, unofficial

#426 Bug fixes
  official/c10071151.lua
  official/c13923256.lua
  official/c16261341.lua
  official/c19959563.lua
  official/c2645637.lua
  official/c2819435.lua
  official/c28201945.lua
  official/c31629407.lua
  official/c32841045.lua
  official/c33158448.lua
  official/c35191415.lua
  official/c35488287.lua
  official/c36429703.lua
  official/c37414347.lua
  official/c40140448.lua
  official/c4179255.lua
  official/c42790071.lua
  official/c43748308.lua
  official/c44133040.lua
  official/c4896788.lua
  official/c49655592.lua
  official/c50237654.lua
  official/c5230799.lua
  official/c53724621.lua
  official/c55870497.lua
  official/c56166150.lua
  official/c58116537.lua
  official/c59297550.lua
  official/c66214679.lua
  official/c67045745.lua
  official/c6764709.lua
  official/c68024506.lua
  official/c68246154.lua
  official/c69121954.lua
  official/c69488544.lua
  official/c7084129.lua
  official/c71095768.lua
  official/c71696014.lua
  official/c73639099.lua
  official/c73734821.lua
  official/c75059201.lua
  official/c75676192.lua
  official/c77539547.lua
  official/c78310590.lua
  official/c83550869.lua
  official/c84673417.lua
  official/c93449450.lua
  official/c94418111.lua
  official/c95714077.lua
Labels: enhancement

#458 Fix "Traplin"
  unofficial/c511005041.lua
Labels: bug, unofficial

#455 Add "Zero Potential"
  unofficial/c511003209.lua
Labels: new card, unofficial

#434 Add "Hyper-Ancient Shark Megalodon (Anime)"
  unofficial/c511003207.lua
Labels: new card, unofficial

#435 Add "Ido the Supreme Magical Force (Anime)"
  unofficial/c511003208.lua
Labels: new card, unofficial
