Repository ProjectIgnis/CardScripts, pull requests merged in 2020-06, with the labels that each got.

#275 Small Fix for "Battle City"
  unofficial/c511004014.lua
Labels: bug, unofficial

#276 Fix "Ledger of Legerdemain"
  official/c56256517.lua
Labels: bug

#283 Unofficial cards "MoveToField" update
  unofficial/c100000304.lua
  unofficial/c110000000.lua
  unofficial/c511000146.lua
  unofficial/c511000275.lua
  unofficial/c511000321.lua
  unofficial/c511000369.lua
  unofficial/c511000610.lua
  unofficial/c511000693.lua
  unofficial/c511000716.lua
  unofficial/c511000718.lua
  unofficial/c511000760.lua
  unofficial/c511000770.lua
  unofficial/c511000786.lua
  unofficial/c511000847.lua
  unofficial/c511000919.lua
  unofficial/c511000984.lua
  unofficial/c511001122.lua
  unofficial/c511001499.lua
  unofficial/c511001665.lua
  unofficial/c511001750.lua
  unofficial/c511001793.lua
  unofficial/c511002094.lua
  unofficial/c511002322.lua
  unofficial/c511004322.lua
  unofficial/c511005057.lua
  unofficial/c511005060.lua
  unofficial/c511005063.lua
  unofficial/c511005642.lua
  unofficial/c511009338.lua
  unofficial/c511010207.lua
  unofficial/c511015119.lua
  unofficial/c511025001.lua
  unofficial/c511027013.lua
  unofficial/c511600108.lua
  unofficial/c513000055.lua
  unofficial/c810000002.lua
  unofficial/c95000015.lua
  unofficial/c95000028.lua
  unofficial/c95200000.lua
Labels: bug, unofficial

#278 Add "Poison Chain (Anime)"
  unofficial/c511027135.lua
Labels: new card, unofficial

#267 Add "Dododo Witch (Anime)
  unofficial/c511027111.lua
Labels: new card, unofficial

#288 Fix cards with battle damage related effects
  official/c13611090.lua
  official/c16178681.lua
  official/c20281581.lua
  official/c20858318.lua
  official/c23187256.lua
  official/c23792058.lua
  official/c27352108.lua
  official/c28120197.lua
  official/c28427869.lua
  official/c2948263.lua
  official/c31444249.lua
  official/c31801517.lua
  official/c31812496.lua
  official/c32617464.lua
  official/c32933942.lua
  official/c35884610.lua
  official/c36076683.lua
  official/c37083210.lua
  official/c37364101.lua
  official/c39299733.lua
  official/c40384720.lua
  official/c40473581.lua
  official/c41546.lua
  official/c41753322.lua
  official/c42632209.lua
  official/c44968687.lua
  official/c47870325.lua
  official/c49678559.lua
  official/c49684352.lua
  official/c50823978.lua
  official/c52977572.lua
  official/c53701457.lua
  official/c54446813.lua
  official/c54569495.lua
  official/c56574543.lua
  official/c59642500.lua
  official/c60312997.lua
  official/c60953118.lua
  official/c63053267.lua
  official/c64145892.lua
  official/c66393507.lua
  official/c67508932.lua
  official/c72083436.lua
  official/c74069667.lua
  official/c75253697.lua
  official/c81524756.lua
  official/c85008676.lua
  official/c8529136.lua
  official/c8763963.lua
  official/c92246806.lua
  official/c92481084.lua
  official/c94793422.lua
  official/c9603356.lua
  official/c96733134.lua
  official/c981540.lua
  official/c98637386.lua
  official/c99004583.lua
  official/c99795159.lua
  official/c99861526.lua
  utility.lua
Labels: bug, draft, enhancement

#291 Small Fix for "Performapal Sky Ring"
  unofficial/c511009403.lua
Labels: bug, unofficial

#292 Small fix for "Ancient Gear Double Imitation"
  unofficial/c511009080.lua
Labels: bug, unofficial

#289 Add scripts for Vrains Skills
  unofficial/c152000000.lua
  unofficial/c152000001.lua
  unofficial/c152000002.lua
  unofficial/c152000003.lua
  unofficial/c152000004.lua
  unofficial/c152000005.lua
  unofficial/c152000006.lua
  unofficial/c152000007.lua
  unofficial/c152000008.lua
  unofficial/c152000009.lua
  unofficial/c152000010.lua
  unofficial/c152000011.lua
  unofficial/c152000012.lua
  unofficial/c152000013.lua
  unofficial/c152000014.lua
  unofficial/c152000015.lua
Labels: new card, unofficial

#294 Small fix for "Bahamut Shark (manga)"
  unofficial/c511002075.lua
Labels: bug, unofficial

#296 Small Fix for "Summon Sorceress"
  official/c61665245.lua
Labels: bug
