Repository ProjectIgnis/CardScripts, pull requests merged in 2020-08, with the labels that each got.

#364 Fixes
  official/c12930501.lua
  pre-release/c100200184.lua
  pre-release/c100311001.lua
  pre-release/c100311051.lua
  pre-release/c101102002.lua
  pre-release/c101102004.lua
  pre-release/c101102005.lua
  pre-release/c101102014.lua
  pre-release/c101102015.lua
  pre-release/c101102017.lua
  pre-release/c101102031.lua
  pre-release/c101102033.lua
  pre-release/c101102034.lua
  pre-release/c101102040.lua
  pre-release/c101102043.lua
  pre-release/c101102044.lua
  pre-release/c101102045.lua
  pre-release/c101102047.lua
  pre-release/c101102060.lua
Labels: bug

#367 Fixes and updates for "Earthbound Tundra"
  unofficial/c150000000.lua
Labels: bug, unofficial

#371 Fix for "Odd-Eyes Phantom Dragon (Manga)"
  unofficial/c511002702.lua
Labels: bug, unofficial

#359 Add "Galaxy-Eyes Photon Dragon (Anime)"
  unofficial/c511003205.lua
Labels: new card, unofficial

#373 Added MP20 scripts
  pre-release/c100268246.lua
  pre-release/c100268247.lua
  pre-release/c100268248.lua
Labels: new card

#374 Fix for "Raidraptor - Pain Lanius (Anime)"
  unofficial/c511002045.lua
Labels: bug, unofficial

#370 Fix Xyz Proc for "Xyz Crown"-based effects
  proc_xyz.lua
Labels: bug, unofficial

#378 Fix for "DZW - Chimera Clad (Anime)"
  unofficial/c513000083.lua
Labels: bug, unofficial

#380 Update "Flash Fang"
  unofficial/c511007006.lua
Labels: bug, unofficial

#379 Fix for "D/D/D Duo-Dawn King Kali Yuga (Anime)"
  unofficial/c511001376.lua
Labels: bug, unofficial

#382 Add CODEOWNERS [ci skip]
  .github/CODEOWNERS
Labels: documentation

#388 Fix for "Performapal Sky Ring"
  unofficial/c511009403.lua
Labels: bug, unofficial

#381 Fixes for "Disconnect Linker"
  unofficial/c511600358.lua
Labels: bug, unofficial

#387 Add pull request template [ci skip]
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#389 Update Fusion effects to match rulings for Predaplant Verte Anaconda
  cards_specific_functions.lua
  official/c12015000.lua
  official/c12071500.lua
  official/c13293158.lua
  official/c21225115.lua
  official/c21947653.lua
  official/c22160245.lua
  official/c50282757.lua
  official/c58332301.lua
  official/c59419719.lua
  official/c59531356.lua
  official/c70369116.lua
  official/c85808813.lua
  official/c86165817.lua
  official/c86520461.lua
  official/c86676862.lua
  official/c94820406.lua
  official/c96897184.lua
Labels: draft, enhancement

#393 Fix "Malevolent Malpractice"
  unofficial/c152000005.lua
Labels: bug, unofficial
