Repository ProjectIgnis/CardScripts, pull requests merged in 2020-09, with the labels that each got.

#397 Add DBGI scripts
  pre-release/c100415013.lua
  pre-release/c100415014.lua
  pre-release/c100415015.lua
  pre-release/c100415016.lua
  pre-release/c100415017.lua
  pre-release/c100415018.lua
  pre-release/c100415019.lua
  pre-release/c100415021.lua
  pre-release/c100415022.lua
  pre-release/c100415023.lua
Labels: new card

#396 Fix "Red Hared Hasty Horse"
  official/c19636995.lua
Labels: bug

#402 Fix for "The Arrival Cyberse @Ignister (Anime)"
  unofficial/c511600300.lua
Labels: bug, unofficial

#403 Fix for "Deck Destruction Virus"
  unofficial/c511001119.lua
Labels: bug, unofficial

#400 Fix for interaction with "Lair of Darkness"
  official/c15717011.lua
  official/c20951752.lua
  official/c52101615.lua
  official/c59160188.lua
  official/c63972571.lua
  official/c88696724.lua
  proc_workaround.lua
  unofficial/c511002661.lua
  unofficial/c800000000.lua
  unofficial/c95000022.lua
Labels: bug

#406 Fix for "Plate Salvage"
  unofficial/c511001170.lua
Labels: bug, unofficial

#414 Fix for "Number Karma"
  unofficial/c511001792.lua
Labels: bug, unofficial

#416 Fix for "The Shallow Grave (Anime)"
  unofficial/c511002531.lua
Labels: bug, unofficial

#420 Fix Toon cards
  official/c15270885.lua
  official/c16392422.lua
  official/c21296502.lua
  official/c28112535.lua
  official/c31733941.lua
  official/c38369349.lua
  official/c53183600.lua
  official/c61190918.lua
  official/c64116319.lua
  official/c70560957.lua
  official/c7171149.lua
  official/c79875176.lua
  official/c83629030.lua
  official/c91842653.lua
Labels: bug

#425 Fix for "Valkyrie of the Nordic Ascendant (Anime)"
  unofficial/c511000251.lua
Labels: bug, unofficial

#431 Offical passcodes: VJUMP promotional cards
  official/c18859369.lua
  official/c33750025.lua
  official/c34479658.lua
  official/c81782101.lua
Labels: product release
