Repository ProjectIgnis/CardScripts, pull requests merged in 2020-07, with the labels that each got.

#297 Fix "T.G. Recipro Dragonfly (Anime)"
  unofficial/c511001973.lua
Labels: bug, unofficial

#298 Fix for "Ancient Gear Hunting Hound (anime)"
  unofficial/c511001539.lua
Labels: bug, unofficial

#301 Small "Fix" for Predaprime Fusion
  official/c8148322.lua
Labels: enhancement

#304 Add support for new card "Prank-Kids Mew"
  cards_specific_functions.lua
  constant.lua
  official/c17382973.lua
  official/c18514525.lua
  official/c43886072.lua
  official/c44509529.lua
  official/c70875686.lua
  official/c81997228.lua
Labels: enhancement, new card

#305 Small fix for "Shadow's Light"
  unofficial/c511000359.lua
Labels: bug, unofficial

#307 Fix "Destiny HERO - Dreamer (Anime)"
  unofficial/c511004407.lua
Labels: bug, unofficial

#308 Update script for "Sand Fortress"
  unofficial/c511000467.lua
Labels: bug, unofficial

#311 Give control update
  official/c15308295.lua
  official/c25774450.lua
  official/c35262428.lua
  official/c36898537.lua
  official/c39622156.lua
  official/c52702748.lua
  official/c71652522.lua
  official/c7672244.lua
  official/c85101097.lua
  official/c91148083.lua
  official/c9547962.lua
  official/c97452817.lua
  pre-release/c101102035.lua
  unofficial/c100000274.lua
  unofficial/c100100053.lua
  unofficial/c511000253.lua
  unofficial/c511002109.lua
  unofficial/c511002970.lua
  unofficial/c511004104.lua
  unofficial/c95000001.lua
Labels: enhancement

#312 Fix for "Odd-Eyes Fusiongate"
  unofficial/c511015104.lua
Labels: bug, unofficial

#314 Fix for "Odd-Eyes Xyzgate"
  unofficial/c511015106.lua
Labels: bug, unofficial

#313 Fix for "Odd-Eyes Synchrogate"
  unofficial/c511015105.lua
Labels: bug, unofficial

#315 Fix for "Clockwork Night"
  unofficial/c511000405.lua
Labels: bug, unofficial

#320 Update cards that trigger when detached
  official/c13032689.lua
  official/c13647631.lua
  official/c21565445.lua
  official/c28884172.lua
  official/c32542011.lua
  official/c32696942.lua
  official/c32999573.lua
  official/c35394356.lua
  official/c37104630.lua
  official/c45184165.lua
  official/c45483489.lua
  official/c55067058.lua
  official/c59913418.lua
  official/c62968263.lua
  official/c68392533.lua
  official/c706925.lua
  official/c74311226.lua
  official/c76722334.lua
  official/c83880087.lua
  official/c85668449.lua
  official/c98918572.lua
Labels: enhancement

#318 Fixes for "Odd-Eyes Xyzgate"
  unofficial/c511015106.lua
Labels: bug, unofficial

#309 Fixes for "Astrograph Sorcerer (Anime)"
  unofficial/c511010507.lua
Labels: bug, unofficial

#321 Fix for "Sunavalon Melias"
  unofficial/c511027002.lua
Labels: bug, unofficial

#319 Fix for "Ultra C"
  unofficial/c511001064.lua
Labels: bug, unofficial

#324 Fix for "Sunavalon Bloom"
  unofficial/c511009700.lua
Labels: bug, unofficial

#326 Fix for "Sunbloom Doom"
  unofficial/c511600207.lua
Labels: bug, unofficial

#340 Update "Fossil Machine Skull Convoy"
  unofficial/c100000023.lua
Labels: bug, unofficial

#339 Update "Fossil Machine Skull Wagon"
  unofficial/c100000622.lua
Labels: bug, unofficial

#338 Update "Fossil Machine Skull Buggy"
  unofficial/c100000620.lua
Labels: bug, unofficial

#344 Update "Contact Soul"
  unofficial/c100000551.lua
Labels: bug, unofficial

#345 Update "Contact Soul"
  unofficial/c100000551.lua
Labels: bug, unofficial

#346 Add "Heraldic Beast Basilisk/Unicorn (Anime)"
  unofficial/c511003202.lua
  unofficial/c511003203.lua
Labels: new card, unofficial

#342 Replace values by their constant names
  official/c12219047.lua
  official/c12444060.lua
  official/c13685271.lua
  official/c14087893.lua
  official/c14812659.lua
  official/c22628574.lua
  official/c24068492.lua
  official/c24508238.lua
  official/c25789292.lua
  official/c28369508.lua
  official/c28651380.lua
  official/c31785398.lua
  official/c35027493.lua
  official/c35330871.lua
  official/c3580032.lua
  official/c39163598.lua
  official/c4178474.lua
  official/c42055234.lua
  official/c44472639.lua
  official/c44595286.lua
  official/c47264717.lua
  official/c4931121.lua
  official/c52558805.lua
  official/c56769674.lua
  official/c58242947.lua
  official/c61397885.lua
  official/c66322203.lua
  official/c67037924.lua
  official/c76004142.lua
  official/c77505534.lua
  official/c79059098.lua
  official/c80163754.lua
  official/c83831356.lua
  official/c84401683.lua
  official/c85352446.lua
  official/c85555787.lua
  official/c86120751.lua
  official/c8628798.lua
  official/c86396750.lua
  official/c87188910.lua
  official/c88240999.lua
  official/c90036274.lua
  official/c92958307.lua
  official/c93356623.lua
  official/c99185129.lua
  pre-errata/c511000824.lua
  pre-errata/c511000825.lua
  unofficial/c511000048.lua
  unofficial/c511000898.lua
  unofficial/c511001569.lua
  unofficial/c511002348.lua
  unofficial/c511009701.lua
Labels: draft, enhancement

#316 Add "Black-Winged Dragon (Anime)"
  unofficial/c511027112.lua
Labels: new card, unofficial

#347 Replace target functions
  unofficial/c100000099.lua
  unofficial/c100000168.lua
  unofficial/c100000223.lua
  unofficial/c511000445.lua
  unofficial/c511000535.lua
  unofficial/c511000544.lua
  unofficial/c511000645.lua
  unofficial/c511000915.lua
  unofficial/c511001242.lua
  unofficial/c511004437.lua
  unofficial/c511004438.lua
  unofficial/c511004441.lua
  unofficial/c511004443.lua
Labels: enhancement, unofficial

#303 Add "Doppler Demon Dowsing"
  unofficial/c511003200.lua
Labels: new card, unofficial

#325 Add "Arcana Force EX - The Light Ruler (Anime)"
  unofficial/c511003201.lua
Labels: new card, unofficial

#349 Update "Arcana Force EX - The Light Ruler (anime)"
  unofficial/c511003201.lua
Labels: enhancement, unofficial

#358 Fix for "Soprano the Melodious Songstress (Anime)"
  unofficial/c511002485.lua
Labels: bug, unofficial

#354 Update "Arcana Force VII - The Chariot (Anime)"
  unofficial/c511016000.lua
Labels: enhancement, unofficial

#357 Add "Empress's Crown (Anime)"
  unofficial/c511003204.lua
Labels: new card, unofficial

#355 Update "Arcana Force VIII - The Strength (Anime)"
  unofficial/c513000126.lua
Labels: enhancement, unofficial

#361 Fix for "The World of True Darkness"
  unofficial/c511002451.lua
Labels: bug, unofficial

#360 Fixes for "Arcana Force XII - The Hangman (Anime)"
  unofficial/c513000163.lua
Labels: bug, unofficial
